<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Voucher page</title>
    </head>
    <body>
        <div id="voucherContent">

            #if( !$page.redeemed )
            <button class="btn btn-success" data-toggle="modal" data-target="#redeemVoucherModal">Redeem</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#allocateVoucherModal">Allocate</button>
            #end
            <button class="btn btn-danger" data-toggle="modal" data-target="#changeStatusModal">Change status</button>

            <div class="btn-group" role="group" aria-label="...">
                <a href="?goto=" target="_blank" class="btn btn-info">Preview As HTML</a>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        #foreach($entry in $page.availableWebsites.entrySet())
                        #foreach($wb in $entry.value)
                        <li><a href="?goto=${entry.key.name}-${wb.name}" target="_blank">$formatter.firstNotNull($entry.key.title, $entry.key.name) ($formatter.firstNotNull($wb.title, $wb.name))</a></li>
                        #end
                        #end
                    </ul>
                </div>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <a href="?goto=&pdf" target="_blank" class="btn btn-info">Preview As PDF</a>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        #foreach($entry in $page.availableWebsites.entrySet())
                        #foreach($wb in $entry.value)
                        <li><a href="?goto=${entry.key.name}-${wb.name}&pdf" target="_blank">$formatter.firstNotNull($entry.key.title, $entry.key.name) ($formatter.firstNotNull($wb.title, $wb.name))</a></li>
                        #end
                        #end
                    </ul>
                </div>
            </div>

            <hr/>

            <div>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col style="width: 200px"/>
                        <col/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>$page.name</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>$!page.statusText</td>
                        </tr>
                        <tr>
                            <th>Status date</th>
                            <td><abbr title="$formatter.formatDateISO8601($page.statusDate)" class="timeago">$!page.statusDate</abbr></td>
                        </tr>
                        <tr>
                            <th>Allocated to</th>
                            <td>$!page.allocatedToId</td>
                        </tr>
                        #foreach($customField in $page.customFields)
                        <tr>
                            <th>$customField.text</th>
                            <td>$!page.customFieldValue($customField.name)</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>

            <hr/>

            <h3>History</h3>

            <table class="table table-striped">
                <tr>
                    <td>Created</td>
                    <td><abbr title="$formatter.formatDateISO8601($page.createdDate)" class="timeago">$page.createdDate</abbr></td>
                    <td><a href="$page.createdBy.href">$page.createdBy.name</a></td>
                    <td></td>
                </tr>
                #foreach($c in $page.changeLog)
                <tr>
                    <td>$page.statusText( $c.status )</td>
                    <td><abbr title="$formatter.formatDateISO8601($c.changeDate)" class="timeago">$c.changeDate</abbr></td>
                    <td><a href="$c.changeBy.href">$c.changeBy.name</a></td>
                    <td>$!c.notes</td>
                </tr>
                #end
            </table>
        </div>

        <div class="modal fade" id="redeemVoucherModal" tabindex="-1" role="dialog" aria-labelledby="redeemVoucherModal" aria-hidden="true">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Redeem voucher</h4>
            </div>
            <form class="form-horizontal" method="POST" action="$page.href" id="redeemVoucherForm">
                <div class="modal-body">
                    <p>Redeeming a voucher means it has been used for a purchase and cannot be used again.</p>
                    <i>Optional, you may enter any notes here</i>
                    <div class="form-message alert alert-danger" style="display: none;"></div>

                    <textarea name="notes" id="notes" rows="5" style="width: 100%"></textarea>
                    <input type="hidden" name="redeem"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Redeem</button>
                </div>
            </form>
        </div>

        <div class="modal fade" id="allocateVoucherModal" tabindex="-1" role="dialog" aria-labelledby="allocateVoucherModal" aria-hidden="true">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Allocate voucher</h4>
            </div>
            <form class="form-horizontal" method="POST" action="$page.href" id="redeemVoucherForm">
                <div class="modal-body">
                    <p>Allocating a voucher means it has been purchased by that user and cant be offered to anyone else.</p>
                    <div class="form-group">
                        <label for="numVouchers" class="col-sm-3 control-label">Allocated to:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="allocatedToId" name="allocatedToId"  />
                            <small><i>Optional. If specified, should be a name, email address or member ID</i></small>
                        </div>
                    </div>
                    <i>Optional, you may enter any notes here</i>

                    <textarea name="notes" id="notes" rows="5" style="width: 100%"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Allocate</button>
                </div>
            </form>
        </div>

        <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModal" aria-hidden="true">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Force status change</h4>
            </div>
            <form class="form-horizontal" method="POST" action="$page.href" id="redeemVoucherForm">
                <div class="modal-body">
                    <p>You can fix mistakes or undo transactions by forcing the voucher to a different status. Note that all changes are logged.</p>

                    <div class="form-message alert alert-danger" style="display: none;"></div>

                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">New status:</label>
                        <div class="col-sm-8">
                            <select name="status" id="status">
                                <option value="">Not assigned</option>
                                #foreach( $st in $page.statuses.entrySet() )
                                <option value="$st.key">$st.value</option>
                                #end
                            </select>
                        </div>
                    </div>

                    <textarea name="notes" id="notes" rows="5" style="width: 100%"></textarea>
                    <small><i>Optional, you may enter any notes here</i></small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </form>
        </div>



        <script type="text/javascript">
            $(function () {
                $('abbr.timeago').timeago();
                var redeemModal = $("#redeemVoucherModal");
                $("#redeemVoucherForm").forms({
                    callback: function (e) {
                        Msg.info("Redeemed ok");
                        reloadVouchers();
                        closeFuseModal(redeemModal);
                    }
                });

                var allocateVoucherModal = $("#allocateVoucherModal");
                allocateVoucherModal.find("form").forms({
                    callback: function (e) {
                        Msg.info("Allocated ok");
                        reloadVouchers();
                        closeFuseModal(allocateVoucherModal);
                    }
                });

                var changeStatusModal = $("#changeStatusModal");
                changeStatusModal.find("form").forms({
                    callback: function (e) {
                        Msg.info("Changed ok");
                        reloadVouchers();
                        closeFuseModal(changeStatusModal);
                    }
                });

            });
            function reloadVouchers() {
                $("#voucherContent").reloadFragment({
                    whenComplete: function () {
                        $('abbr.timeago').timeago();
                    }
                });
            }
        </script>
    </body>
</html>