<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Calendar</label>
        <div class="col-sm-12">
            <select class="form-control select-calendar">
                <option value="" selected="selected">- None -</option>
                #foreach($calendar in $rootFolder.find("/Calendars").children.ofType.calendar)
                <option value="$calendar.name">$calendar.title</option>
                #end
            </select>
        </div>
    </div>
</form>