#if( !$page.attendees.isEmpty() )
<div class='attendees'>
    <h3>$page.attendees.size() attending</h3>
    <ul class='attendees'>
        #foreach($profile in $page.attendees)
        <li>
            <a href="$profile.href" class="profilePic">
                #if( $profile.photoHash )
                <img alt="" src="/_hashes/files/$profile.photoHash">
                #else
                <img alt="" src="/templates/apps/user/profile.png">
                #end
            </a>
            <a href="$profile.href" class="user" title="$profile.name">$profile.name</a>
        </li>
        #end
    </ul>
</div>
#end