<div class="ktile-wrapper col-xl-3 col-lg-4 col-md-4 col-sm-3">
    <div class="ktile">
        <div class="ktile-inner">
            <div class="ktile-body">
                <div class="ktile-front bgm-blue">
                    <div class="ktile-content">
                        <div class="row" style="margin: 0">
                            <a href="/shopping-carts/" class="c-white">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$applications.shoppingCart.unfulfilledOrders</div>
                                    <div>unfilled orders</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
