<div class="ktile-wrapper col-xl-3 col-lg-4 col-md-4 col-sm-3">
    <div class="ktile">
        <div class="ktile-inner">
            <div class="ktile-body">
                <div class="ktile-front ktile-single-value">
                    <div class="ktile-content">
                        <a href="/shopping-carts/">
                            <div class="ktile-single-value-icon">
                                <i class="fa fa-shopping-cart fa-4x"></i>
                            </div>
                            <div class="ktile-single-value-text">
                                <div class="lead" title="New orders in selected period">$applications.shoppingCart.countOfOrders</div>
                                <div class="small">$applications.shoppingCart.unfulfilledOrders unfilled</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
