<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Product Details</title>
        <link rel="stylesheet" type="text/css" href="reward-store.css" />
        <script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" >//</script>
    </head>
    <body class="">
        <div class="container">

            TODO

            <script type="text/javascript">
                $(function () {
                });

            </script>

        </div>
    </body>
</html>