<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Product Details</title>
        <link rel="stylesheet" type="text/css" href="reward-store.css" />
        <script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" >//</script>
    </head>
    <body class="">
        <div class="container">

            <h1>Checkout</h1>
            <div class="contentForm">
                <div class="htmleditor" id="body"> 
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">1. Items</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">2. Shipping Address</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">3. Confirm and Order</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <br/>
                                <p>Please review your selected items below:</p>
                                <br/>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Item Description</th>
                                            <th>Quantity</th>
                                            <th>Points</th>
                                            <th>Sub-total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="/images/cosmo.jpeg" style="max-width: 200px; max-height: 200px"/>
                                            </td>
                                            <td>Sophisticated, glamorous and inspirational, Cosmopolitan is a monthly magazine for the young woman who wants it all, good looks, a successful career and great relationships. All the latest fashion and beauty news as well as advice on career, relationships and health issues. Please note that it may take six to eight weeks for your first issue to be delivered.</td>
                                            <td>1</td>
                                            <td>1000</td>
                                            <td>1000</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="submit" class="btn btn-lg btn-success wizard-btn">Next >></button>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Address line 1</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="123 Somewhere Place"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Address line 2</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="Unit 10"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Suburb</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="Parnell"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Postcode</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="0900"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">City</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="Auckland"/>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-success wizard-btn">Next >></button>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div class="row">
                                    <div class="col-md-8">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Item Description</th>
                                                    <th>Quantity</th>
                                                    <th>Points</th>
                                                    <th>Sub-total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/images/cosmo.jpeg" style="max-width: 200px; max-height: 200px"/>
                                                    </td>
                                                    <td>Sophisticated, glamorous and inspirational, Cosmopolitan is a monthly magazine for the young woman who wants it all, good looks, a successful career and great relationships. All the latest fashion and beauty news as well as advice on career, relationships and health issues. Please note that it may take six to eight weeks for your first issue to be delivered.</td>
                                                    <td>1</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>
                                            </tbody>
                                        </table>                        
                                    </div>
                                    <div class="col-md-4" style="border-left: 1px solid #dddddd">
                                        <div class="">
                                            <p class="lead">
                                                123 Somewhere Place<br/>
                                                Unit 10<br/>
                                                Parnell<br/>
                                                0900<br/>
                                                Auckland<br/>
                                            </p>
                                        </div>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success wizard-btn">Place order</button>
                            </div>
                        </div>


                        <script type="text/javascript">
                            $(function () {
                            });

                        </script>

                    </div>
                    </body>
                    </html>