<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Rewards</title>
    </head>
    <body>
        <section id="manageReward">
            <p class="clearfix">
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addRewardModal"><i class="fa fa-plus"></i> Add new points system</button>
                <a href="points/" class="pull-right btn btn-sm btn-info">Review points</a>
            </p>
            <div id="addRewardModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="." method="POST" class="addReward">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Add new reward</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="newTitle">Enter reward name</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="newTitle" id="newTitle" placeholder="Reward title" class="form-control required" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <colgroup>
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="150px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="title" rel="asc">Title</th>
                                    <th>Groups/Org types</th>
                                    <th>Total points</th>
                                    <th># records</th>
                                    <th>Total debits</th>
                                    <th># records</th>
                                    <th>Total Liability</th>
                                    <th class="action"></th>
                                </tr>
                            </thead>
                            <tbody id="table-pointsSystems">
                                #foreach($r in $page.children.ofType.manageReward)
                                    <tr>
                                        <td><a href="$r.name">$r.rewardTitle</a></td>
                                        <td>
                                            #if( $r.pointsType == "POINTS_ORG" )
                                        $r.pointsOrgType
                                        #else
                                                #foreach($g in $r.selectedGroups)
                                                    #genGroup($g)
                                                #end
                                            #end
                                        </td>
                                        <td>$formatter.formatUnits($r.totalPoints($queryManager.commonStartDate, $queryManager.commonFinishDate)) points</td>
                                        <td>$r.countPointsRecs($queryManager.commonStartDate, $queryManager.commonFinishDate)</td>
                                        <td>$formatter.formatUnits($r.totalDebits($queryManager.commonStartDate, $queryManager.commonFinishDate)) points</td>
                                        <td>$r.countDebitsRecs($queryManager.commonStartDate, $queryManager.commonFinishDate)</td>
                                        <td>$formatter.formatUnits($r.totalLiability($queryManager.commonStartDate, $queryManager.commonFinishDate)) points</td>
                                        <td class="action">
                                            <div class="btn-group btn-group-sm">
                                                <a href="$r.name" class="btn btn-sm btn-primary btn-sm"> <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="$r.name" class="Edit EditReward"><i class="fa fa-edit"></i> Edit</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="$r.name" class="Delete DeleteReward"><i class="fa fa-times"></i> Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        #macro(genGroup $group)
            #set($gc = "label label-info")
            #set($gIcon = "")
            #if( $group.groupType == "P" || !$group.groupType)
                #set($gc = "label label-success")
                #set($gIcon = "clip-users")
            #elseif( $group.groupType == "S" )
                #set($gc = "label label-info")
                #set($gIcon = "fa fa-trophy")
            #elseif( $group.groupType == "M" )
                #set($gc = "label label-info")
                #set($gIcon = "fa fa-envelope")
            #end
            <div class="$gc" style="margin-right: 2.5px; margin-bottom: 5px; display: inline-block;">
                <i class="$gIcon"></i>
                <span class="block-name" title="$group.name">$group.name</span>
            </div>
        #end
        
        <script type="text/javascript" src="/theme/apps/rewardstore/managePointsSystems.js?_=101">//</script>
        <script type="text/javascript">
            $(function () {
                initManagePointsSystems();
            });
        </script>
    </body>
</html>
