<html>
    <head>
        <title>$page.title</title>
    </head>
    <body>
        <h1>Points expiring report</h1>

		<section>
			<div class="container-bg">
				<div class="container-layout container-fluid">
					<div class="container-content-wrapper">
						<div class="row">
							<div class="col-sm-6" data-type="container-content">
								<section data-type="component-queryTable" data-query="ExpiringPoints" data-items-per-page="100" data-height="200" data-title="fff" data-query-type="queryTable">
									<div data-dynamic-href="_components/queryTable" id="keditor-dynamic-element-1486872714227"></div>
								</section>
							</div>
							<div class="col-sm-6" data-type="container-content">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    </body>
</html>
