<html>
    <head>
        <title></title>
        <script type="text/javascript" src="/static/ace/1.2.0/src-noconflict/ace.js">//</script>
        <script type="text/javascript" src="/static/js/keymap.js">//</script>
        <style>
            .expressionEditor {
                height: 150px;
                border: 1px solid #DDD;
                border-radius: 4px;
                border-bottom-right-radius: 0px;
            }
        </style>
    </head>
    <body class="add-container">
        <form name="frmDetails" id="frmDetails" action="." method="post" class="form-horizontal">
            <div class="pull-right page-action">
                <button class="btn btn-sm btn-primary" type="submit">Save changes</button>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs tab-bricky">
                    <li class="active"><a data-toggle="tab" href="#general">General</a></li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane active">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="title">Title</label>
                            <div class="col-md-8">
                                <input type="text" name="title" id="title" value="$page.rule.title" placeholder="Title" class="required form-control" required="required" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" for="name">Name</label>
                            <div class="col-md-3">
                                <input type="hidden" disabled="disabled" value="$page.rule.name" id="originalName"/>
                                <input type="text" name="name" id="name" value="$page.rule.name" placeholder="Name" class="required simpleChars form-control" required="required" />
                            </div>

                            <label class="control-label col-md-2" for="title">Points Bucket</label>
                            <div class="col-md-3">
                                <select name="rewardDest" class="form-control">
                                    #foreach($p in $page.pointsBuckets)
                                    $formatter.option($p.name, $p.title, $page.rule.rewardDest.name)
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="startDate">Start Date</label>
                            <div class="col-md-3">
                                <input type="text" name="startDate" id="startDate" value="$!formatter.formatDateTime($page.rule.startDate, $rootFolder.organisation.timezone)" placeholder="Start Date" data-date-format="DD/MM/YYYY HH:mm" class="form-control date-time-picker" />
                            </div>

                            <label class="control-label col-md-2" for="endDate">End Date</label>
                            <div class="col-md-3">
                                <input type="text" name="endDate" id="endDate" value="$!formatter.formatDateTime($page.rule.startDate, $rootFolder.organisation.timezone)" placeholder="End Date" data-date-format="DD/MM/YYYY HH:mm" class="form-control date-time-picker" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="issueTo">When awarded To<small>Will apply to everyone if blank.</small></label>
                            <div class="col-md-8">
                                <input type="text" name="issueTo" id="issueTo" value="$!page.rule.issueTo.entityName" placeholder="User ID or Org ID" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="transferTo">Award To<small>Points will be awarded to this account</small></label>
                            <div class="col-md-8">
                                <input type="text" name="transferTo" id="transferTo" value="$!page.rule.transferTo.entityName" placeholder="User ID or Org ID" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="addValue">Add Value</label>
                            <div class="col-md-3">
                                <input type="text" name="addValue" id="addValue" value="$!page.rule.addValue" placeholder="Add Value" class="numeric form-control" />
                            </div>

                            <label class="control-label col-md-2" for="multValue">Multiplier Value</label>
                            <div class="col-md-3    ">
                                <input type="text" name="multValue" id="multValue" value="$!page.rule.multValue" placeholder="Multiplier Value" class="numeric form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3" for="expression2Editor">Reason<small>Mvel expressions allowed</small></label>
                            <div class="col-md-8">
                                <textarea class="hide" id="reasonMvel" name="reasonMvel"></textarea>
                                <div id="expression2Editor" class="expressionEditor" style="display:none;">$formatter.htmlEncode($page.rule.reasonMvel)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="expressionEditor">MVEL Expression</label>
                            <div class="col-md-8">
                                <textarea class="hide" id="mvelExpression" name="mvelExpression"></textarea>
                                <div id="expressionEditor" class="expressionEditor" style="display:none;">$formatter.htmlEncode($page.rule.mvelExpression)</div>
                                <!--<textarea cols="100" name="mvelExpression" id="mvelExpression" rows="10" placeholder="" class="form-control">$!page.rule.mvelExpression</textarea>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="notes">Notes<small>For internal use.</small></label>
                            <div class="col-md-8">
                                <textarea cols="100" name="notes" id="notes" rows="10" placeholder="" class="form-control">$!page.rule.notes</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- End content of General tab -->
                </div>
            </div>
        </form>
        <script>
            (function () {
                var mvelExpressionEditor;
                var reasonExpressionEditor;
                function initMvelExpression() {
                    mvelExpressionEditor = ace.edit('expressionEditor');
                    mvelExpressionEditor.getSession().setMode("ace/mode/javascript");
                    mvelExpressionEditor.setOptions({
                        minLines: mvelExpressionEditor.getSession().$rowLengthCache.length
                    });
                    $('#expressionEditor').show();
                }

                function initReasonMvel() {
                    reasonExpressionEditor = ace.edit('expression2Editor');
                    reasonExpressionEditor.getSession().setMode("ace/mode/javascript");
                    reasonExpressionEditor.setOptions({
                        minLines: reasonExpressionEditor.getSession().$rowLengthCache.length
                    });
                    $('#expression2Editor').show();
                }

                function initForm() {
                    $('#frmDetails').forms({
                        postUrl: window.location.pathname,
                        validate: function (form) {
                            var editorVal = mvelExpressionEditor.getValue();
                            $('#mvelExpression').val(editorVal);

                            var reasonMvelVal = reasonExpressionEditor.getValue();
                            $('#reasonMvel').val(reasonMvelVal);
                            return true;
                        },
                        onSuccess: function (resp) {
                            if (resp.status) {
                                Msg.success(resp.messages[0]);
                                var originalName = $('#originalName').val();
                                var newName = resp.nextHref;
                                if (originalName !== newName) {
                                    window.location.href = newName;
                                }
                            }
                        }
                    });

                    $(document.body).on('keydown', function (e) {
                        if (e.ctrlKey && e.keyCode === keymap.S) {
                            e.preventDefault();
                            $('#frmDetails').trigger('submit');
                        }
                    });
                }

                $(function () {
                    initMvelExpression();
                    initReasonMvel();
                    initForm();
                });
            })();
        </script>
    </body>
</html>
