/*.table-fixed {*/
    /*width: 100%;*/
/*}*/
/*.table-fixed tbody {*/
    /*height: 200px;*/
    /*overflow-y: auto;*/
    /*width: 100%;*/
/*}*/
/*.table-fixed thead,*/
/*.table-fixed tbody,*/
/*.table-fixed tr,*/
/*.table-fixed td,*/
/*.table-fixed th {*/
    /*display: block;*/
/*}*/
/*.table-fixed tbody td {*/
    /*float: left;*/
/*}*/
/*.table-fixed thead tr th {*/
    /*float: left;*/
/*}*/


.table-wrap {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
}

.table-wrap .table {
    margin-bottom: 0;
}