#foreach($reward in $allPoints.keySet() )
#set( $rs = $page.find("/reward-store/").child($reward.name) )

<h1><a href="/points-buckets/$reward.name">$reward.title</a></h1>
<table class="table table-striped">
    <tr>
        <th>Current balance</th>
        <td colspan="3">
            #set( $current = $rs.balance($page.thisProfile) )
            #set( $avail = $rs.availableBalance($page.thisProfile) )
            $current pts
            #if( $current != $avail )
            (available $avail)
            #end
        </td>
    </tr>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Credits</th>
            <th>Date</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        #foreach($p in $allPoints.get($reward))
        <tr>
            <td>
                #if( $p.txType == "C" )
                <span class="label label-success">+ $p.numPoints</span>
                #else
                <span class="label label-warning">- $p.numPoints</span>
                #end
            </td>
            <td>$p.date</td>
            <td>$p.description</td>
        </tr>
        #end
    </tbody>
</table>

#end

