<script src="/theme/apps/rewardstore/managePointsBucketTab.js">//</script>


#foreach($reward in $applications.rewardStore.pointsBuckets )
#set( $participants = $applications.rewardStore.findParticipantsForReward($page.profile, $reward) )
#foreach($participant in $participants )
<div class="tx-container">
    <div class="btn-group pull-right" role="group">
        <button data-reward="$reward.name" data-userid="$participant.entityName" type="button" class="btn btn-success btn-add-points">
            <i class="fa fa-plus"></i>
            Add points
        </button>
        <button data-reward="$reward.name" data-userid="$participant.entityName" type="button" class="btn btn-warning btn-debit-points">
            <i class="fa fa-minus"></i>
            Debit points
        </button>
        <button data-href="/points-buckets/$reward.name/" data-userid="$participant.entityName" type="button" class="btn btn-info btn-refresh-pb">
            <i class="fa fa-refresh"></i>
            Refresh balance
        </button>
    </div>


    <h2>
        <a href="/points-buckets/$reward.name/">
            $reward.title
        </a>
        #if( $participants.size() > 1 )
        ( $participant.formattedName  )
        #end
    </h2>

    <table class="table table-striped">
        <colgroup>
            <col width="250px"/>
            <col />
            <col width="10%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Date</th>
                <th>Tag/Code</th>
                <th>Reason</th>
                <th>Credits</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="transactions-${participant.id}-${reward.id}">
            #set( $txs = $applications.rewardStore.transactions($participant, $reward ) )
            #if( $txs.isEmpty() )
            <tr>
                <td colspan="4">
                    <i>No transactions :(</i>
                </td>
            </tr>
            #else
            #foreach($p in $txs)
            <tr>
                <td>$formatter.formatDateTime($p.date, $page.organisation.timezone)</td>
                <td>$p.code</td>
                <td>
                    $p.description
                    #if( $p.related )
                    <i>
                        - used
                        $p.related</i>
                    #end
                </td>
                <td>
                    #if( $p.txType == "C" )
                    <span class="label label-success">$p.numPoints</span>
                    #else
                    <span class="label label-warning">-$p.numPoints</span>
                    #end
                </td>
                <td>
                    #if( $p.completelyUsed )
                    <span class="label label-info">Used</span>
                    #end
                    #if( $p.expired )
                    <span class="label label-warning">Expired</span>
                    #end
                </td>
            </tr>
            #end
            #end
            <tr>
                <td></td>
                <td class="text-right">
                    <span>Total Points:</span>
                </td>
                <td colspan="2">
                    <strong>$!applications.rewardStore.balance($page.profile, $reward)</strong>
                </td>
                <td></td>
            </tr>
            #set( $avail = $applications.rewardStore.availableBalance($page.profile, $reward) )
            #if($current != $avail)
            <tr>
                <td></td>
                <td class="text-right">
                    <span>Available Points:</span>
                </td>
                <td colspan="2">
                    <strong>$avail</strong>
                </td>
                <td></td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#end
#end
<!--
<hr/>

<h2><a href="/points-buckets/">Points</a></h2>

<p>This shows all points which have been issued for the current user. Note that this
    is sometimes different to points issued to a user as shown in the table above, such
    as when team points are being used.</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Reward</th>
                <th>Issued to / for</th>
                <th>Points</th>
                <th>Reason</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            #if( $points.isEmpty() )
            <tr>
                <td colspan="6">This user has not earned any points</td>
            </tr>
            #else
            #foreach($p in $points)
            <tr>
                <td><a href="/points-buckets/$p.reward.name">$p.reward.name</a></td>
                <td>
                    #if( $p.issuedTo.type == "P" )
                    <a href="/manageUsers/$p.issuedTo.id">$p.issuedTo.formattedName</a>
                    #else
                    <a href="/organisations/$p.issuedTo.orgId/viewDetails">$p.issuedTo.formattedName</a>
                    #end

                    /

                    #if( $p.issuedFor.type == "P" )
                    <a href="/manageUsers/$p.issuedFor.id">$p.issuedFor.formattedName</a>
                    #else
                    <a href="/organisations/$p.issuedFor.orgId/viewDetails">$p.issuedFor.formattedName</a>
                    #end
                </td>
                <td>$p.numPoints</td>
                <td>$p.reason</td>
                <td>
                    <abbr class="timeago" title="$formatter.formatDateISO8601($p.issuedDate)">$p.issuedDate</abbr>
                </td>
            </tr>
            #end
            #end
        </tbody>
    </table>
</div>
-->


<div id="modal-new-points" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Assign points to</h4>
            </div>
            <form method="post" action="/rewards/points/" class="form-horizontal" id="new-points-form">
                <div class="modal-body">
                    <p class="alert alert-danger">Please note that any applicable allocation rules will also be processed.</p>

                    <input type="hidden" name="awardToEmail" value=""/>
                    <input type="hidden" name="awardedReward" value=""/>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="awardNumPoints">No. of points</label>
                        <div class="col-md-9">
                            <input type="text" name="awardNumPoints" required="true" id="awardNumPoints" class="numeric required form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pointsTag" class="col-md-3 control-label">Tag</label>
                        <div class="col-md-9">
                            <select name="awardPointsTag" class="form-control input-sm">
                                <option value="">[None]</option>
                                #foreach($pointTag in $page.find("/pointTags").children )
                                <option value="$pointTag.name">$pointTag.title</option>
                                #end
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="reason">Reason</label>
                        <div class="col-md-9">
                            <input type="text" name="reason" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-sm btn-primary" data-type="form-submit" type="button">Save</button>
                </div>
            </form>
        </div>
    </div>


</div>

<div id="modal-debit-points" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/rewards/points/" class="form-horizontal" id="new-points-form">

                <input type="hidden" name="debitPoints" value="debitPoints"/>
                <input type="hidden" name="email" value=""/>
                <input type="hidden" name="awardedReward" value=""/>

                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">Debit points from a user</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="numPoints">No. of points</label>
                        <div class="col-md-9">
                            <input type="text" name="numPoints" required="true" class="numeric required form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="reason">Reason</label>
                        <div class="col-md-9">
                            <input type="text" name="reason" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="reasonCode">
                            Reason Code
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" name="reasonCode" class="form-control" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Codes
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right reason-codes" >
                                        <li><a href="P">Purchase (P)</a></li>
                                        <li><a href="E">Expired (E)</a></li>
                                        #foreach( $reasonCodePair in $applications.rewardStore.reasonCodes )
                                        <li><a href="$reasonCodePair.key">$reasonCodePair.value ($reasonCodePair.key)</a></li>
                                        #end
                                    </ul>
                                </div><!-- /btn-group -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-sm btn-primary" data-type="form-submit" type="button">Debit</button>
                </div>
            </form>
        </div>
    </div>


</div>