<html>
    <head>
        <title>$page.title</title>
        <script src="/static/d3/d3.v3.js">//</script>
        <script src="/static/nvd3/nv.d3.js">//</script>
        <link href="/static/nvd3/1.8.2/nv.d3.min.css" rel="stylesheet" type="text/css"/>
        <style>
            #histogram {
                height: 250px;
            }
        </style>
    </head>
    <body>
        <div style="padding-top: 15px">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <i class="fa fa-bar-chart-o"></i> Reporting
                </div>
                <div class="panel-body">
                    <div class="clearfix">
<!--                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    Report entity: rootorg
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/reporting/$page.name">This organisation - $page.organisation.formattedName</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    #foreach( $website in $page.websites)
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/reporting/$website.name/$page.name">website - $website.name</a></li>
                                    #end
                                    #if( $page.orgSelection )
                                        <li role="presentation" class="divider"></li>
                                        #foreach( $org in $page.find("/organisations").children.ofType.organisation )
                                            <li role="presentation">
                                                <a role="menuitem" class="toggle-select-org" tabindex="-1" href="$org.thisId">
                                                    <span class="fa fa-play-circle"></span>
                                                    $org.title
                                                </a>
                                            </li>
                                        #end
                                    #end
                                </ul>
                            </div>
                        </div>-->

                        <p class="btn-group pull-left">
                            <a class="btn btn-orange dated" href="pointsBalance.csv">Export as CSV</a>
                        </p>
                    </div>

                    <div class="no-data alert alert-danger" style="display: none;">No data was found for the given criteria</div>

                    <div id="reportResult" class="row">

                        <div class="col-lg-9">
                            <div id="histogram">
                                <svg></svg>
                            </div>

                            <div class="details-items-wrapper" style="display: none">
                                <h4>Detailed items</h4>
                                <hr class="hr-sm" />
                                <div id="items"></div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="aggregations">                          
                            #if( $page.report.aggregations )
                                <table class="table">
                                #foreach($agg in $page.report.aggregations )
                                    #showAggregation($agg)
                                #end
                                </table>
                            #end
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <script id="item-template" type="text/html">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Email</th>
                        <th>Points Balance</th>
                    </tr>
                </thead>

                <tbody id="items-tbody">
                    {{#each .}}
                    <tr>
                        <td>{{_type}}</td>
                        <td>
                            {{\#if _source.title}}
                            {{_source.title}}
                            {{else}}
                            {{_source.nickName}}
                            {{/if}}
                        </td>
                        <td>{{_source.email}}</td>
                        <td>{{generatePb _source.points}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </script>

        #macro( showAggregation $agg )
            <tbody id="agg-$agg.name">
                <tr>
                    <td colspan="2">$agg.title&nbsp;<span style="float: right">
                        #if ( $agg.name != "action" && $agg.buckets.size() > 5 )
                            <span class="input-group input-group-sm">
<!--                                <input id="$agg.name" class="agg-filter form-control" type="text" name="$agg.name" placeholder="Search / Filter" value="$agg.filter" />-->
<!--                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" data-type="clearer" data-target="#$agg.name"><i class="fa fa-times"></i></button>
                                </span>-->
                            </span>
                        #end
                    </span></td>
                </tr>
                #foreach($b in $agg.buckets )
                    #showFacetBucket($b, 0)
                #end
            </tbody>
        #end

        #macro( showFacetBucket $b $indent )
            #set($termParamName = "term-" + $b.aggName)
            <tr class="agg-row $formatter.paramSelected($termParamName, $b.termName, 'success')">
                <td>
                    <div class="col-md-offset-$indent">
                        <a href="$page.href?$formatter.toggleParamVal( $termParamName, $b.termName )" class="dated term-select">$b.termTitle</a>
                    </div>
                </td>
                <td align="right">$b.count</td>
            </tr>
            #foreach($sub in $b.buckets)
                #showFacetBucket($sub, $formatter.addNum($indent, 1) )
            #end
        #end
        <script src="/theme/apps/rewardstore/managePointsBalanceReport.js" type="text/javascript"></script>
    </body>
</html>
