<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Reward</title>
        <link rel="stylesheet" type="text/css" href="manageReward.css" />
        <link rel="stylesheet" type="text/css" href="/static/quiz/quiz.css"  />
       	<script type="text/javascript" src="managePointsSystem.js">//</script>
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
        <script type="text/javascript" src="/static/quiz/quiz.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js">//</script>
    </head>
    <body>
        <form action="" method="POST" class="managePointsSystem" role="form">
            <div id="manageReward" class="MainContent tabbable">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>

                        <button class="btn btn-sm btn-warning Cancel" type="button">
                            Cancel
                        </button>

                    </div>
                    <ul class="TabNav nav nav-tabs tab-bricky pull-left">
                        <li class=""><a href="#details" data-toggle="tab">Details</a></li>
                        <li class=""><a href="#rewardContent" data-toggle="tab">Content</a></li>
                        <li class=""><a href="#groups" data-toggle="tab">Groups</a></li>
                        <li class=""><a href="#points" data-toggle="tab">Points</a></li>
                        <li class=""><a href="#debits" data-toggle="tab">Debits</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane Details" id="details">
                        <input type="hidden" id="backgroundImageHash" name="backgroundImageHash" value="$!page.backgroundImageHash" />
                        <table class="Details form-horizontal">
                            <colgroup>
                                <col width="20%" />
                                <col width="80%" />
                            </colgroup>

                            <tbody>
                                <tr>
                                    <td>Points title</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" name="title" placeholder="Enter a name here" value="$page.reward.title" class="form-control required" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Points system</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="pointsType" class="pointsType form-control">
                                                    #foreach($st in $page.pointsOptionsMap.entrySet())
                                                    $formatter.option($st.key, $st.value, $page.pointsType)
                                                    #end
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="pointsOrgType">To organisation type:</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="pointsOrgType" class="pointsOrgType form-control" style="float: none">
                                                    $formatter.option("", "[Any]", $page.pointsOrgType)
                                                    #foreach($orgType in $page.orgTypes)
                                                    $formatter.option($orgType.name, $orgType.displayName, $page.pointsOrgType)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Notes
                                        <br /><small><i>These notes are for internal purposes only.</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea cols="100" class="form-control" name="notes" rows="10" placeholder="Enter your notes here">$!page.notes</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane Details" id="rewardContent">
                        <textarea cols="120" name="details" rows="10" class="htmleditor" placeholder="Enter the details here">$formatter.htmlEncode($page.details)</textarea>
                    </div>

                    <div class="tab-pane" id="groups">
                        <button class="btn btn-sm btn-primary Add AddGroup" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus"></i> Add/remove groups</button>
                        <div class="well margin-top-10">Add user groups to rewards to allow these users to directly enter the competition. These users will see the reward on their dashboard when it is active.</div>
                        <div class="GroupList">
                            #foreach($g in $page.selectedGroups)
                            <button class="btn btn-sm btn-default reset-margin-bottom" type="button">$g.name</button>
                            #end
                        </div>
                    </div>

                    <div class="tab-pane" id="points">
                        <div class="pull-right">
                            <a class="btn btn-sm btn-default periods-delete" href="points.csv" download="points.csv">
                                <span class="glyphicon glyphicon-download"></span>
                                Save Points CSV
                            </a>
                        </div>
                        <br/>

                        <p>Shows points allocated with this tag</p>

                        <table class="table table-bordered table-striped" id="table-periods">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>Points</th>
                                    <th>Issued Date</th>
                                    <th>Issued To</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($points in $page.awardedPoints)
                                <tr>
                                    <td>$points.numPoints</td>
                                    <td>$formatter.formatDateTime($points.issuedDate)</td>
                                    <td>$points.issuedTo.formattedName</td>
                                    <td>$!points.reason</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="debits">
                        <div class="pull-right">
                            <a class="btn btn-sm btn-default periods-delete" href="debits.csv" download="debits.csv">
                                <span class="glyphicon glyphicon-download"></span>
                                Save Debits CSV
                            </a>
                        </div>
                        <br/>

                        <p>Shows debits allocated with this tag</p>

                        <table class="table table-bordered table-striped" id="table-periods">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>Points</th>
                                    <th>Issued Date</th>
                                    <th>Rewarded To</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($debit in $page.debitPoints)
                                <tr>
                                    <td>$debit.numPoints</td>
                                    <td>$formatter.formatDateTime($debit.issuedDate)</td>
                                    <td>$debit.points.issuedTo.formattedName</td>
                                    <td>$!debit.reason</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </form>

        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            var quiz = $formatter.toJson($page.quiz);
            $(function () {
                $("select.pointsType").click(function () {
                    showHidePointsOrgType();
                });
                showHidePointsOrgType();
                $("form.managePointsSystem").forms({
                    callback: function (resp) {
                        flog("done");
                        if (resp.status) {
                            Msg.info("Saved");
                        } else {
                            Msg.error("Sorry, couldnt save");
                        }

                    }
                });
            });

            function showHidePointsOrgType() {
                if ($("select.pointsType").val() == "POINTS_ORG") {
                    $(".pointsOrgType").show();
                } else {
                    $(".pointsOrgType").hide();
                }
            }
        </script>
    </body>
</html>