<html>
    <head>
        <title></title>
    </head>
    <body class="add-container">
        <form name="frmDetails" id="frmDetails" action="." method="post" class="form-horizontal">
            <div class="pull-right page-action">
                <button class="btn btn-sm btn-primary" type="submit">Save changes</button>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs tab-bricky">
                    <li class="active"><a data-toggle="tab" href="#general">General</a></li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane active">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="name">Name</label>
                            <div class="col-md-8">
                                <input type="hidden" disabled="disabled" value="$page.rule.name" id="originalName"/>
                                <input type="text" name="name" id="name" value="$page.rule.name" placeholder="Name" class="required simpleChars form-control" required="required" />
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-md-3" for="title">Title</label>
                            <div class="col-md-8">
                                <input type="text" name="title" id="title" value="$page.rule.title" placeholder="Title" class="required form-control" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="title">Points Bucket</label>
                            <div class="col-md-8">
                                <select name="rewardDest" class="form-control">
                                    $formatter.option("", "[None]", null)
                                    #foreach($p in $page.pointsBuckets)
                                    $formatter.option($p.name, $p.title, $page.rule.rewardDest.name)
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="addValue">Add Value</label>
                            <div class="col-md-8">
                                <input type="number" name="addValue" id="addValue" value="$!page.rule.addValue" placeholder="Add Value" class="numeric form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="multValue">Multiplier Value</label>
                            <div class="col-md-8">
                                <input type="number" name="multValue" id="multValue" value="$!page.rule.multValue" placeholder="Multiplier Value" class="numeric form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="mvelExpression">MVEL Expression</label>
                            <div class="col-md-8">
                                <textarea cols="100" name="mvelExpression" id="mvelExpression" rows="10" placeholder="" class="form-control">$!page.rule.mvelExpression</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="notes">Notes<small>For internal use.</small></label>
                            <div class="col-md-8">
                                <textarea cols="100" name="notes" id="notes" rows="10" placeholder="" class="form-control">$!page.rule.notes</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- End content of General tab -->
                </div>
            </div>
        </form>
        <script>
            $(function () {
                $('#frmDetails').forms({
                    postUrl: window.location.pathname,
                    callback: function (resp) {
                        if (resp.status) {
                            Msg.success(resp.messages.first());
                            var originalName = $('#originalName').val();
                            var newName = resp.nextHref;
                            if (originalName !== newName) {
                                window.location.href = newName;
                            }
                        }
                    }
                });
            });
        </script>
    </body>
</html>
