<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Voucher page</title>
        <style>
            .search, .search-group {
                float: left;
            }

            .product-inreward-details {
                display: none;
            }

            .in-reward-true .product-inreward-details {
                display: block;
            }
        </style>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.1.0/css/bootstrap-toggle.min.css" rel="stylesheet" />
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.1.0/js/bootstrap-toggle.min.js">//</script>
    </head>
    <body>
        <div id="rewardStoreContent">
            <div class="tabbable">
                <ul class="nav nav-tabs tab-bricky">
                    <li><a data-toggle="tab" href="#products">Products</a></li>
                    <li><a data-toggle="tab" href="#general">General</a></li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane">

                        <div class="row">
                            <div class="col-md-7">
                                <form name="frmDetails" action="$page.href" method="post" class="form-horizontal rewardStoreForm">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="name">Name/code</label>
                                        <div class="col-md-9">
                                            <input type="text" name="name" id="name" value="$page.rewardStore.name" placeholder="" class="required form-control" required="true" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="title">Title</label>
                                        <div class="col-md-9">
                                            <input type="text" name="title" id="title" value="$page.rewardStore.title" placeholder="" class="required form-control" required="true" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="reward">Points bucket</label>
                                        <div class="col-md-9">
                                            <select name="reward" class="form-control">
                                                #foreach($pb in $page.availableRewards)
                                                $formatter.option($pb.name, $pb.title, $page.pointsBucket.name)
                                                #end
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="website">Website</label>
                                        <div class="col-md-9">
                                            <select name="website" class="form-control">
                                                #foreach($website in $page.find("/websites").children.ofType.website)
                                                $formatter.option($website.name, $website.title, $page.rewardWebsite.name)
                                                #end
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="gstRate">GST</label>
                                        <div class="col-md-9">
                                            <input type="text" name="gstRate" id="gstRate" value="$!page.rewardStore.gstRate" placeholder="0.15" class="form-control" />
                                            <span class="help-block">
                                                <i>The default tax rate.</i>
                                            </span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="pointsMultiplier">Points Multiplier</label>
                                        <div class="col-md-9">
                                            <input type="text" name="pointsMultiplier" id="pointsMultiplier" value="$!page.rewardStore.pointsMultiplier" placeholder="" class="form-control" />
                                            <span class="help-block">
                                                <i>Multiply buy price by this to get the points value</i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="margin">Your margin</label>
                                        <div class="col-md-9">
                                            <input type="text" name="margin" id="margin" value="$!page.rewardStore.margin" placeholder="0.20 for 20%" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="margin2">Client margin</label>
                                        <div class="col-md-9">
                                            <input type="text" name="margin2" id="margin2" value="$!page.rewardStore.margin2" placeholder="0.05 for 5%" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="cashDivisor">Cash Divisor</label>
                                        <div class="col-md-9">
                                            <input type="text" name="cashDivisor" id="cashDivisor" value="$!page.rewardStore.cashDivisor" placeholder="2, to halve points to get cash equivalent" class="form-control" />
                                            <span class="help-block">
                                                <i>Used to calculate an equivalent cash value of points. Points are divided by this value</i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success">
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>


                        </div>
                    </div>
                    <!-- End content of General tab -->

                    <div id="products" class="tab-pane">
                        <div class="clearfix form-horizontal">
                            <a href="$page.href?goto" class="btn btn-info pull-right" target="_blank">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                View
                            </a>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="input-group search input-group-sm col-sm-12">
                                        <input type="text" id="product-query" class="form-control" placeholder="Search for products here" value="" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-default" type="button" data-type="clearer" data-target="#product-query">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="search-group" class="col-sm-2 control-label">Products:</label>
                                        <div class="col-sm-10">
                                            <select name="filterType" class="filterType form-control input-sm">
                                                <option value="false">Included</option>
                                                <option value="true">All</option>
                                                <option value="notInStore">Not In Store</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="search-group" class="col-sm-2 control-label">Library:</label>
                                        <div class="col-sm-10">
                                            <select name="searchOrg" id="search-library" class="form-control input-sm">
                                                <option value="">My library</option>
                                                #foreach($org in $page.parentOrgsWithProducts)
                                                    <option value="$org.id">$org.title</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table id="table-products" class="table table-striped table-hover">
                                <colgroup>
                                    <col width="15%" />
                                    <col width="" />
                                    <col width="" />
                                    <col width="15%" />
                                    <col width="16%" />
                                    <col data-sort="false" width="100px" />
                                    <col width="30px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th>Margin</th>
                                        <th>Pts Multiplier</th>
                                        <th></th>
                                        <th class="text-center">
                                            <input class="product-all-toggle" type="checkbox" />
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                #set( $products = $page.searchProducts( $request.params.q, $request.params.all, $request.params.l ))
                                <tbody id="products-list">
                                    #if( $products.isEmpty() )
                                        <tr>
                                            <td colspan="6">No products were found matching the critieria</td>
                                        </tr>
                                    #else
                                        #foreach($p in $products )
                                            <tr class='in-reward-$p.inReward' id='product-$p.productId'>
                                                <td><a href='/products/$p.productId'>$p.name</a></td>
                                                <td>$formatter.htmlEncode($p.title)</td>
                                                <td>$!p.margin</td>
                                                <td>$!p.multiplier</td>
                                                <td></td>
                                                <td class="text-center">
                                                    <input $formatter.ifTrue( $p.inReward, "checked",
                                                        "" ) data-pid="$p.productId" class="product-toggle" type="checkbox" value="true" />
                                                </td>
                                                <td>
                                                    <a href="$p.productId" class="product-inreward-details">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        #end
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="editProductInRewardModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Product in Reward Details</h4>
                    </div>
                    <form action="$page.href" method="POST" class="form-horizontal createProduct">
                        <div class="modal-body">
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-content"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Create product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $(".rewardStoreForm").forms({
                    callback: function (resp) {
                        if (resp.status) {
                            Msg.info("Saved ok");
                        } else {
                            Msg.error("An error occured saving: " + resp);
                        }
                    }
                });
                initSearchProduct();
                //$(".product-toggle").bootstrapToggle();
                $("#table-products").on("change", ".product-toggle", function (e) {
                    var target = $(e.target);
                    var productName = target.closest("tr").find("a").html();
                    var v = target.prop("checked");
                    updateProductIncluded(target.data('pid'), productName, v);
                });
                var productInRewardModal = $("#editProductInRewardModal");
                $("#table-products").on("click", ".product-inreward-details", function (e) {
                    e.preventDefault();
                    var target = $(e.target).closest("a");
                    loadProductInReward(target.prop("href"), productInRewardModal);
                });
                productInRewardModal.find("form").forms({
                    callback: function () {
                        Msg.info("Saved");
                        productInRewardModal.modal("hide");
                    }
                });

                $('body').on('change', '.product-all-toggle', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    Msg.info('Updating all products');
                    var isChecked = btn.is(':checked');
                    var ids = [];
                    var allIds = $('.product-toggle');
                    allIds.each(function (count, item) {
                        ids.push($(item).data('pid'));
                    });

                    updateProductSelected(ids.join(','), isChecked);
                });
            });

            function loadProductInReward(href, productInRewardModal) {
                $.ajax({
                    type: 'GET',
                    url: href,
                    success: function (data) {
                        flog("success", data);
                        var $fragment =
                        $(data).find("#product-in-reward-fields");
                        flog("frag", $fragment);
                        var form = productInRewardModal.find("form");
                        form.find('.form-content').html($fragment);
                        form.attr("action", href);
                        productInRewardModal.modal("show");
                    },
                    error: function (resp) {
                        Msg.error("An error occured doing the user search. Please check your internet connection and try again");
                    }
                });
            }

            function initSearchProduct() {
                $("#product-query").keyup(function () {
                    typewatch(function () {
                        flog("do search");
                        doProductSearch();
                    }, 500);
                });
                $('body').on('change', '.filterType', function (e) {
                    doProductSearch();
                });
                $("#search-library").change(function () {
                    doProductSearch();
                });
            }

            function doProductSearch() {
                flog("doProductSearch");
                var query = $("#product-query").val();
                var orgId = $("#search-library").val();
                var all = $('.filterType').val();
                flog("doSearch", query, orgId);
                var newUrl = window.location.pathname + "?q=" + query + "&l=" + orgId + "&all=" + all + "#products-tab";
                window.history.replaceState("", "", newUrl);
                $.ajax({
                    type: 'GET',
                    url: newUrl,
                    success: function (data) {
                        flog("success", data);
                        var fragment = $(data).find("#products-list");
                        flog("frag", fragment, $("#products-list"));
                        $("#products-list").replaceWith(fragment);
                        //$(".product-toggle").bootstrapToggle();
                    },
                    error: function (resp) {
                        Msg.error("An error occured doing the user search. Please check your internet connection and try again");
                    }
                });
            }

            function updateProductIncluded(productId, productName, included) {
                $.ajax({
                    type: "POST",
                    url: window.location.pathname,
                    datatype: "json",
                    data: {
                        productId: productId,
                        included: included
                    },
                    success: function (response) {
                        flog("response", response, response.status);
                        if (response.status) {
                            if (included) {
                                Msg.info("Added " + productName);
                                $("#product-" + productId).addClass("in-reward-true");
                            } else {
                                Msg.info("Removed " + productName);
                                $("#product-" + productId).removeClass("in-reward-true");
                            }
                        } else {
                            Msg.error("There was an error changing the product inclusion status");
                        }
                    },
                    error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                        flog('error saving moduleStatus', event, XMLHttpRequest, ajaxOptions, thrownError);
                        Msg.error("There was an error changing the product inclusion status");
                    }
                });
            }

            function updateProductSelected(productIds, included) {
                var data = {};
                if (included) {
                    data['addProductIds'] = productIds;
                } else {
                    data['removeProductIds'] = productIds;
                }
                $.ajax({
                    type: "POST",
                    url: window.location.pathname,
                    datatype: "json",
                    data: data,
                    success: function (response) {
                        flog("response", response, response.status);
                        if (response.status) {
                            Msg.info(response.messages[0]);
                            var ids = productIds.split(',');
                            $.each(ids, function (val) {
                                $('.product-toggle[data-pid=' + val + ']').prop('checked', included);
                            });
                        } else {
                            Msg.error("There was an error changing the product status");
                        }
                    },
                    error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                        flog('error saving moduleStatus', event, XMLHttpRequest, ajaxOptions, thrownError);
                        Msg.error("There was an error changing the product inclusion status");
                    }
                });
            }
        </script>
    </body>
</html>