<div class="form-group" >
    <label class="control-label col-md-2" for="defaultReward">Default Reward: </label>
    <div class="col-md-10">
        <select id="defaultReward" name="defaultReward" class="form-control">
            <option value="">[No Default Reward]</option>
            #foreach($pb in $applications.rewardStore.pointsBuckets)
            <option value="$pb.name">
                $formatter.firstNotNull($pb.title, $pb.name)
            </option>
            #end
        </select>
    </div>
</div>