#if ( !$height )
    #set ( $height = 100 )
#end

#set ($pointBucket = $rootFolder.find("/rewards/").child($bucket))

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-table"></i>
        Recent points in <a href="$pointBucket.href" target="_blank">$pointBucket.title</a>
    </div>
    <div class="panel-body" style="height: ${height}px; overflow-y: auto;">
        #set( $minusDays = $formatter.toInteger($days) * -1)

        #set( $points = $pointBucket.myPointsInfo(1000, $formatter.addDays( $formatter.now, $minusDays), $formatter.now) )
        #set( $recentPoints = $points.myPoints )

        #if( $recentPoints.size() > 0 )
            <p>You have been awarded $recentPoints.size() times in the last $days days</p>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>No. Points</th>
                        <th>Awarded date/time</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                    <tbody>
                    #foreach( $pt in $recentPoints )
                        <tr>
                            <td>$pt.numPoints</td>
                            <td>$formatter.formatDateTime($pt.awardedDate, $page.organisation.timezone)</td>
                            <td>$pt.reason</td>
                        </tr>
                    #end
                </tbody>
            </table>
        #else
            <p>
                <i>You have not been awarded any points in the last $days days</i>
            </p>
        #end
    </div>
</div>
