<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Reward store</title>
        <link rel="stylesheet" type="text/css" href="reward-store.css" />
    </head>
    <body>
        <div class="row">
            #foreach($cat in $page.children.ofType.category)
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 square-box">
                <a href="$cat.name">
                    <span>$cat.title</span>
                </a>
            </div>
            #end
        </div>

        <script type="text/javascript">
            $(function () {
            });
        </script>
    </body>
</html>