<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Reward store</title>
        <link rel="stylesheet" type="text/css" href="reward-store.css" />
    </head>
    <body>
        <div class="row">
            <div style="padding-left: 30px;padding-right: 30px">
            #foreach($cat in $page.children.ofType.category)
            #set($bg = "")
            #if( $cat.imageHref )
            #set($bg = "url($cat.imageHref)")
            #end
            <a class="col-md-3 product-tile" href="$cat.name" style="background-image: $bg">
                <div class="product-tile-inner">
                    <span>$cat.title</span>
                </div>
            </a>
            #end
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
            });
        </script>
    </body>
</html>