// Cerulean 3.3.7
// Bootswatch
// -----------------------------------------------------

.btn-shadow(@color) {
  #gradient > .vertical-three-colors(lighten(@color, 8%), @color, 60%, darken(@color, 4%));
  filter: none;
  border-bottom: 1px solid darken(@color, 10%);
}

// Navbar =====================================================================

.navbar {
  &-default {
    .btn-shadow(@navbar-default-bg);
    filter: none;
    .box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {
    #gradient > .vertical-three-colors(lighten(@navbar-inverse-bg, 8%), lighten(@navbar-inverse-bg, 4%), 60%, darken(@navbar-inverse-bg, 2%));
    filter: none;
    border-bottom: 1px solid darken(@navbar-inverse-bg, 10%);

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }

  .navbar-nav > li > a,
  &-brand {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: @grid-float-breakpoint-max) {

  .navbar {

    .dropdown-header {
      color: #fff;
    }

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}

// Buttons ====================================================================

.btn {

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .caret {
    border-top-color: #fff;
  }
}

.btn-default {
  
  .btn-shadow(@btn-default-bg);

  &:hover {
    color: @btn-default-color;
  }

  .caret {
    border-top-color: @text-color;
  }
}

.btn-default {
  .btn-shadow(@btn-default-bg);
}

.btn-primary {
  .btn-shadow(@btn-primary-bg);
}

.btn-success {
  .btn-shadow(@btn-success-bg);
}

.btn-info {
  .btn-shadow(@btn-info-bg);
}

.btn-warning {
  .btn-shadow(@btn-warning-bg);
}

.btn-danger {
  .btn-shadow(@btn-danger-bg);
}

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {

  .panel-heading,
  .panel-title {
    color: #fff;
  }

  > .panel-heading .badge {
    background-color: #fff;
  }
}


/*ktoolbar*/

#ktoolbar {
  position: fixed;
  left: 0;
  top: -30px;
  width: 100%;
  height: 30px;
  background: #000;
  z-index: 999999;
  transition: top ease-in-out 250ms;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#ktoolbar.showed {
  top: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#ktoolbar .btn-link {
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
#ktoolbar .ktoolbarToggle {
  border-radius: 0 0 3px 3px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  margin-top: -2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 0;
}
#ktoolbar .ktoolbarToggleWrap {
  background-color: transparent;
  height: 0;
}
#ktoolbar-sidebar {
  background: #fff;
  border-left: 1px solid #ccc;
  z-index: 999999;
  transition: all ease-in-out 250ms;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 0;
  bottom: 0;
  right: -360px;
  width: 360px;
  position: fixed;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#ktoolbar-sidebar.showed {
  right: 0;
}
#ktoolbar.showed + #ktoolbar-sidebar {
  top: 30px;
}
#ktoolbar-sidebar .sidebar-title {
  padding: 5px 15px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
#ktoolbar-sidebar .sidebar-content {
  height: calc(100% - 32px - 52px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px 15px 0;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .colorpicker-container {
  position: relative;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .control-label,
#ktoolbar-sidebar .sidebar-content .form-horizontal .form-control {
  font: 12px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .control-label {
  text-align: left;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .form-control {
  height: 32px;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .text-muted {
  color: #ccc;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal hr {
  margin: 20px 0;
}
#ktoolbar-sidebar .sidebar-action {
  padding: 10px 15px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}
#ktoolbar-sidebar .sidebar-action button {
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  font-size: 12px;
}
#ktoolbar-sidebar .sidebar-action button.btn-save {
  background: #000;
  color: #fff;
}
#ktoolbar-sidebar .sidebar-action button.btn-close {
  background: #fff;
  color: #000;
  padding: 4px 8px;
}
@media (max-width: 767px) {
  #ktoolbar {
    display: none;
  }
}
/*loading img display none*/
form img.ajax-loader{display: none}