#set( $cart = $page.find("/storeCheckout") )
#if( $cart.numItems > 0 )
#set( $cartDisplay = "" )
#else
#set( $cartDisplay = "none" )
#end
<span id="cart-link">
    <a href="/storeCheckout/" class="pull-right btn-sm btn btn-primary">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        $cart.numItems Items
    </a>
</span>
<style>
    #cart-link a{
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px 15px;
        display: $cartDisplay;
    }
    @media (max-width: 767px) {
        #cart-link{
            display: block;
            min-height: 1px;
        }
        #cart-link a{
            float: none !important;
            margin-left: 0 !important;
            margin-top: 15px;
        }
    }
</style>
