<html>
    <head>
        <title>$view.title</title>

    </head>
    <body>
        <a href="$page.href#pricing-tab" class="btn btn-info pull-right">
            <i class="fa fa-arrow-circle-left"></i>
            Back to pricing rules
        </a>
        #set( $rules = $services.pricingRulesService.rules($page.storeWebsite) )
        #if( $params.ruleNum == "new" )
            #set( $rule = false )
            #set( $ruleNum = "new" )
            <h1>Create pricing rule</h1>
        #else
            #set( $ruleNum = $formatter.toInteger($params.ruleNum) - 1 )
            #if( $ruleNum <= $rules.rules.size() )
            #set( $rule = $rules.rules[$ruleNum] )
            <h1>Edit pricing rule: $params.ruleNum</h1>
            #else
            <h1 class="text-danger">Couldnt find pricing rule: $params.ruleNum</h1>
            #break
            #end
        #end

        <hr/>

        <form id="detailsForm" name="frmDetails" action="$page.href" method="post" class="form-horizontal">
            <input type="hidden" name="ruleNum" value="$ruleNum" />

            <h2>Activation</h2>
            <p class="lead">These parameters control when this rule is applied.</p>
            <div class="form-group">
                <label class="control-label col-md-2" for="promotionName">promotionName</label>
                <div class="col-md-10">
                    <select name="promotionName" class="form-control">
                        <option value="">[Not selected]</option>
                        #foreach( $reward in $services.cartManager.promotions(true, $formatter.now) )
                        $formatter.option($reward.name, $reward.title, $rule.promotionName)
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="userId">User Id</label>
                <div class="col-md-4">
                    <input type="text" name="userId" value="$!rule.userId" placeholder="" class="form-control entity-select" data-entity-type="profile" />
                </div>

                <label class="control-label col-md-2" for="groupName">User group</label>
                <div class="col-md-4">
                    <select name="groupName" class="form-control">
                        <option value="">[Not selected]</option>
                        #foreach( $group in $services.userManager.groups() )
                        $formatter.option($group.name, $group.title, $rule.groupName)
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="orgId">Organisation ID</label>
                <div class="col-md-4">
                    <input type="text" name="orgId" value="$!rule.orgId" placeholder="" class="form-control entity-select" data-entity-type="organisation"/>
                </div>

                <label class="control-label col-md-2" for="orgType">Org type</label>
                <div class="col-md-4">
                    <select name="orgType" class="form-control">
                        <option value="">[Not selected]</option>
                        #foreach( $orgType in $services.userManager.orgTypes() )
                        $formatter.option($orgType.name, $orgType.title, $rule.orgType)
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="minQuantity">min quantity</label>
                <div class="col-md-4">
                    <input type="text" name="minQuantity" value="$!rule.minQuantity" placeholder="" class="form-control" />
                </div>

                <label class="control-label col-md-2" for="maxQuantity">max quantity</label>
                <div class="col-md-4">
                    <input type="text" name="maxQuantity" value="$!rule.maxQuantity" placeholder="" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="categoryName">Product category</label>
                <div class="col-md-4">
                    <input type="text" name="categoryName" value="$!rule.categoryName" placeholder="" class="form-control" />
                    <i>Enter the category code, not title</i>
                </div>

                <label class="control-label col-md-2" for="baseProductCode">Product code</label>
                <div class="col-md-4">
                    <input type="text" name="baseProductCode" value="$!rule.baseProductCode" placeholder="" class="form-control" />
                    <i>Note that this is the base product code, not SKU codes</i>
                </div>
            </div>
            <hr/>

            <h2>Pricing adjustments</h2>
            <p class="lead">These parameters control how the product price is changed when the rule is applied.</p>

            <div class="form-group">
                <label class="control-label col-md-2" for="mvelExpression">Expression (MVEL)</label>
                <div class="col-md-10">
                    <textarea name="mvelExpression" class="form-control" >$!rule.mvelExpression</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="addValue">Add value</label>
                <div class="col-md-4">
                    <input type="text" name="addValue" value="$!rule.addValue" placeholder="" class="form-control" />
                    <i>Use a negative value for discounts</i>
                </div>

                <label class="control-label col-md-2" for="multValue">Multiplier</label>
                <div class="col-md-4">
                    <input type="text" name="multValue" value="$!rule.multValue" placeholder="" class="form-control" />
                    <i>Enter a decimal multiplier, eg 0.80 to give a 20% discount</i>
                </div>
            </div>

            <hr/>

            <h2>Notes</h2>
            <textarea name="notes" placeholder="" class="form-control" >$!rule.notes</textarea>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-lg btn-success pull-right">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>

        <script>
            $(function () {
                var detailsForm = $('#detailsForm');
                detailsForm.forms({
                    onSuccess: function (resp) {
                        if (resp.status) {
                            Msg.info(resp.messages[0]);
                        }
                    }
                });
            });
        </script>
    </body>
</html>
