
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Product in Store</title>
    </head>
    <body>
        <form action="$page.href" method="POST" class="form-horizontal details-form">
            <div id='product-in-store-fields'>
                <p>You an override the default margin and gst for this product:</p>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="margin">Margin</label>
                    <div class="col-md-8">
                        <input value='$!page.productInStore.margin' class="form-control required-if numeric" type="text" name="margin" maxlength="250" placeholder="Margin as decimal, eg 0.05 for 5%" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="gstRate">GST</label>
                    <div class="col-md-8">
                        <input value='$!page.productInStore.gstRate' class="form-control required-if numeric" type="text" name="gstRate" maxlength="250" placeholder="Margin as decimal, eg 0.05 for 5%" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="costOverride">Final cost</label>
                    <div class="col-md-8">
                        <input value='$!page.productInStore.costOverride' class="form-control required-if numeric" type="text" name="costOverride" maxlength="20" placeholder="Final cost value, optional"/>
                    </div>
                </div>
            </div>
            <button type='submit'>Save</button>
        </form>
        <script type="text/javascript">
            $(function () {
                $("form.details-form").forms({});
            });
        </script>        
    </body>
</html>