#set( $cat = $rootFolder.find($store).child($category) )
#set( $prods = $cat.myTopProducts ) $website
#if( $prods.size() > 0 )
    #if ($prods.size() > $numberOfProducts)
        #set( $prods = $prods.truncate($numberOfProducts))
    #end

    <div class="row products-list">
        #set ($clsName = "col-md-4")
        #if ($productsPerRow == 1)
            #set ($clsName = "col-md-12")
        #elseif ($productsPerRow == 2)
            #set ($clsName = "col-md-6")
        #elseif ($productsPerRow == 3)
            #set ($clsName = "col-md-4")
        #elseif ($productsPerRow == 4)
            #set ($clsName = "col-md-3")
        #end

        #foreach( $prod in $prods )
            <div class="$clsName product">

            </div>
        #end
    </div>
#else
    <p>Sorry, we couldnt find any products for you</p>
#end