<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>eCommerce Store</title>
        <link rel="stylesheet" type="text/css" href="ecommerce-store.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                #foreach($cat in $page.children.ofType.category)
                <div class="col-sm-3">
                    #set($bg = "")
                    #if( $cat.imageHref )
                    #set($bg = "url($cat.imageHref/alt-300-300.png)")
                    #end
                    <a class="product-tile product-tile2" href="$cat.href">
                        <div style="background-image: $bg;" class="bg-img"></div>
                        <div class="product-tile-inner">
                            <span>$cat.title</span>
                        </div>
                    </a>
                </div>
                #end
            </div>

        </div>

        <script type="text/javascript">
            $(function () {
            });
        </script>
    </body>
</html>