.item-row .btn-remove-item{
    color: black;
}

.item-row {
    margin: 0 !important;
    padding: 5px 0;
}

.item-row + .item-row {
    border-top: 1px solid #dddddd;
}

.item-row .item-photo > div {
    width: 80px;
    height: 80px;
    background: no-repeat 50% 50%;
    background-size: cover;
}

.payment-option img{
    max-height: 50px;
    max-width: 100px;
}

.center-content {
    height: 80px;
}

.center-content > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 15px;
}

.btn-login {
    text-align: left !important;
}

.btn-login i {
    line-height: 20px;
}

.cart-total {
    background: #202020 !important;
    color: #fff;
    font-size: 20px;
}