<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Show Current Course Description</label>
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <input type="radio" name="showCourseBody" value="true" checked>
                    Show
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="showCourseBody" value="false">
                    Dont show
                </label>
            </div>
        </div>
    </div>
</form>