
#if($page)
    <div class="my-learning-container">
        <div class="btn-group program-course-module-mix" style="z-index: 2">
            #set($programs = $page.find("/programs"))
            #if($page.is("course"))
            #set($curCourse = $page)
            #set($curProgram = $curCourse.parent)
            #else
            #set($curCourse = $programs.bestCourse)
            #if( $curCourse )
            #set($curProgram = $curCourse.parent)
            #else
            #set($curProgram = $programs.bestProgram)
            #set($curCourse = $curProgram.children.ofType.course.first)
            #end
            #end

            <button class="btn btn-primary btn-lg course-selector btn-show-mix dropdown-toggle">
                <span class="current-module">$curProgram.title / $curCourse.title modules </span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu container">
                <ul role="menu" class="row list-unstyled">
                    <li id="programs-wrapper" class="col-md-4">
                        <p>Programs</p>
                        <div class="programs-list">
                            #foreach($program in $programs.availPrograms)
                            <a class="program ${formatter.ifEqual('active','', $curProgram.href, $program.href)}" href="$program.href" >$program.title</a>
                            #end
                        </div>
                    </li>
                    <li id="courses-wrapper" class="col-md-4">
                        <p>Courses</p>
                        <div class="courses-list">
                            #foreach($course in $curProgram.availCourses)
                            <a class="course ${formatter.ifEqual('active','', $curCourse.href, $course.href)}" href="$course.href" class="">$course.title</a>
                            #end
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        #if ($formatter.toBool($showCourseBody))
        <hr/>

        <div class="lead">
            $!curCourse.body
            #if (!$curCourse.body)
            <p>No description for current course</p>
            #end
        </div>
        #end

        <div class="" id="myLearningDiv">
            <div class="">
                #portlets("myLearning")
            </div>
        </div>
    </div> <!-- end container-fluid -->

    <script type="text/javascript">
        var courseHref = "$curCourse.href";
        jQuery(document).ready(function() {
            initMyLearning();
            storeCurrentCookie();
        });
        function storeCurrentCookie() {
            storeCourseCookie(courseHref);
        }
    </script>
#else
    <div class="my-learning-container">
        <div class="btn-group program-course-module-mix" style="z-index: 2">
            <button class="btn btn-primary btn-lg course-selector btn-show-mix dropdown-toggle">
                <span class="current-module">Example Program Title / Example Module Title </span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu container">
                <ul role="menu" class="row list-unstyled">

                </ul>
            </div>
        </div>
    </div>
#end


