<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Dashboard Messages</title>
	    <link rel="stylesheet" type="text/css" href="manageDashboardMessages.css" />
	    <script type="text/javascript" src="manageDashboardMessages.js">//</script>
    </head>
    <body class="manageModulePages">
        <p class="alert alert-info">
	        <a href="#" role="button" class="close" data-dismiss="alert">&times;</a>
	        You can set messages to appear on the dashboards for different groups in each website. Just click on the group below to go to the edit page.
        </p>

        #foreach($website in $page.parent.child("websites").children.ofType.website)
	        <div class="panel panel-default">
		        <div class="panel-heading">
			        <i class="clip-users"></i>
			        Website: <span class="label label-success">$formatter.htmlEncode($website.name)</span>
		        </div>
		        <div class="panel-body">
					<h4>Groups: select a group to manage</h4>
			        <hr class="hr-sm" />
			        #set($live = $website.live)
			        #set($groups = $live.selectedGroups)
			        #if( $groups.isEmpty() )
			            <p class="text-muted">No groups are active in this website. Please go to the manage websites page and give access to one or more groups
				            <a class="btn btn-sm btn-primary" href="websites/${website.name}">Manage website</a>
			            </p>
			        #else
				        #foreach($group in $live.selectedGroups)
					        #set($dash = $page.getManageDashboardPage($live, $group))
					        <a href="$dash.path" class="btn btn-sm btn-orange btn-squared">$formatter.htmlEncode($group.name)</a>
				        #end
			        #end
		        </div>
	        </div>
        #end
    </body>
</html>