<html>
    <head>
        <title>View Blog Article</title>
        <style>
            .horiz-image-container {
                margin-left: auto;
                margin-right: auto;
                max-height: 200px;
                overflow: hidden;
                width: 80%;
            }
            .horiz-image {
                margin-left: auto;
                margin-right: auto;                
            }
            .blog-article-body {
                margin-top: 30px;
            }
        </style>
    </head>    
    <body class="blog-article add-container">        
        <div class="blog-article">
            <h2><a href="$article.href">$page.title</a></h2>
            <div class="clearfix">
                <span class="pull-left timeago" title="$formatter.formatDateISO8601($page.articleDate)">$page.articleDate</span>
                <div class="pull-right">
                    #if( $page.category )
                    <span class="label label-primary">$page.category</span>
                    #end
                    #foreach($tag in $page.tags)
                    	#if ($page.isSelectedTag($tag))
                    	<span class="label label-primary">$tag</span>
                    	#end
                    #end
                    #if($page.featured)
                    <span class="label label-success">Featured</span>
                    #end
                </div>                
            </div>    

            <hr/>            

            #set($horizImage = $page.horizontalImageHref)
            #if($horizImage)
            <div class="horiz-image-container">
                <img src="$horizImage" class="img-responsive horiz-image" />
            </div>

            #end

            <div class="blog-article-body">
                $page.body
            </div>

            <hr/>
            
            <div class='row'>
                <div style="margin: auto" class='col-lg-12 blog-comments'> <!-- start comments -->
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <a href="#postQuestion" class="btn btn-success pull-right post-question">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Ask
                            </a>
                            <h4>Questions and answers</h4>                               
                        </div>
                        <div class="panel-body">
                            <div class="commentArea edifyViewMode">            
                                <div id="comments">
                                    <div class="comments-stream">
                                        <img src="/static/common/ajax-loader.gif" />
                                    </div>  

                                    <div class="clr"></div>            

                                    <form action="#" method="post" id="postComment">
                                        <div class="commentContainer">

                                            <textarea id="postQuestion" class="form-control col-md-12" rows="1" placeholder="Ask a question, or offer an answer"></textarea>
                                            <div class="commentControls">
                                                <button class="btn requiresUser btn-primary" type="submit">Post</button>
                                            </div>
                                        </div>                            
                                    </form>
                                </div>

                                <br/><br/>
                            </div>                    

                        </div>
                    </div>                     
                </div> <!-- end comments -->
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $(".timeago").timeago();
                initComments(window.location.pathname);
            });
        </script>            
    </body>
</html>