<html>
    #parse("/theme/masterTemplate.html")
    <head>
        #@themeHeader( $page.title )
        #end
    </head>
    <body>
        #@themeBody()
        <div class="fw-boxed">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="teamTable" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="leadBody">
                                    #set($sr = $page.searchUsers)
                                    #if($sr.size() > 0)
                                    #foreach($m in $sr)
                                    <tr>
                                        <td>
                                            #if($m.fields.firstName.value)
                                            $m.fields.firstName.value $!m.fields.surName.value
                                            #elseif($m.fields.nickName.value)
                                            $m.fields.nickName.value
                                            #else
                                            $m.fields.userName.value
                                            #end
                                        </td>
                                        <td>$!m.fields.email.value</td>
                                        <td><a href="$m.fields.userId.value" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    #end
                                    #else
                                    <tr class="text-center">
                                        <td colspan="6">No Team members found...</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        #end
    </body>
</html>
