<div class="row feedback-title">
    <div class="col-xs-8">
        <h3>
            {{survey.name}}
        </h3>
    </div>
    <p class="col-xs-4 text-right">
        <a ui-sref="surveys.list" class="btn btn-primary btn-sm" title="Back to surveys list">Back to list</a>
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-line-chart"></i>
        Analytic
    </div>
    <div class="panel-body">
        <highchart id="chart-{{survey.slug}}" config="chartOption"></highchart>
    </div>
</div>

<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text-o"></i>
                Details
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Question</label>

                        <div class="col-md-10">
                            <p class="form-control-static">{{survey.question}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Website url</label>

                        <div class="col-md-10">
                            <p class="form-control-static"><code>{{survey.website}}</code></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Options</label>

                        <div class="col-md-10">
                            <div class="row" ng-repeat="option in survey.options">
                                <div class="col-md-3">
                                    <img ng-src="{{option.emoji}}" width="40" alt="{{option.title}}" />
                                    <span>{{option.title}}</span>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input id="option-{{option.slug}}" type="text" class="form-control form-copied" readonly="readonly" value="{{survey.website}}{{kApp}}{{option.slug}}" />
                                        <a class="input-group-addon" href="#" data-clipboard-target="#option-{{option.slug}}"><i class="fa fa-clipboard"></i></a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-code"></i>
                HTML template
            </div>
            <div class="panel-body">
                <p>
                    <textarea rows="10" class="form-control" id="htmlcode" readonly="readonly">{{htmlcode}}</textarea>
                </p>
                <p class="text-center">
                    <a class="btn btn-lg btn-danger" data-clipboard-target="#htmlcode" href="javascript:;"><i class="fa fa-clipboard"></i> Copy Survey to Email</a>
                </p>
            </div>
        </div>
    </div>
</div>
