<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Logo</label>
        <div class="col-sm-12">
            <p><img src="/static/images/photo_holder.png" class="img-responsive img-thumbnail logo-previewer" /></p>
            <button type="button" class="btn btn-block btn-primary logo-edit">Change Background Image</button>
            <button type="button" class="btn btn-block btn-xs btn-danger logo-delete">Remove Background Image</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Layout</label>
        <div class="col-sm-12">
            <select class="form-control select-layout">
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
            </select>
            <em class="help-block small text-muted">It's layout for login form with Social Login panel</em>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Username Placeholder</label>
        <div class="col-sm-12">
            <input type="text" class="form-control txt-username-placeholder" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Password Placeholder</label>
        <div class="col-sm-12">
            <input type="text" class="form-control txt-password-placeholder" />
        </div>
    </div>
</form>
