#if ($userResource)
<div class="panel-user-wrapper">
    <div class="panel panel-default panel-user">
        <div class="panel-body">
            #set ($ava = '/theme/img/default_avatar.png')
            #if ($userResource.profilePicHref)
                #set ($ava = $userResource.profilePicHref)
            #end

            #set ($name = "User")
            #if ($user.firstName)
                #set ($name = $user.firstName)
            #end

            <div class="profile-avatar-wrapper">
                <span class="profile-avatar" style="background-image: url($ava)"></span>
            </div>

            <div class="profile-welcome text-center">
                <span>Welcome back</span>

                <h2><b>$name</b></h2>
            </div>

            #if ($rewards != "")
                #set ($rewards = $rewards.split(","))
                #set ($rewardsTitles = $rewardsTitles.split(","))
                #set( $rewardStoreApp = $applications.rewardStore )

                #set ($availablePanel = 0)
                #foreach($reward in $rewards)
                    #set( $myPoint = false )
                    #set( $myPoint =  $rewardStoreApp.calcPointsBalance($profile, $reward) )
                    #if ($myPoint)
                        #set ($availablePanel = $availablePanel + 1)
                    #end
                #end

                #set ($panelClass = '')
                #if ($availablePanel == 1)
                    #set ($panelClass = 'col-sm-12')
                #elseif ($availablePanel == 2)
                    #set ($panelClass = 'col-sm-6')
                #elseif ($availablePanel == 3)
                    #set ($panelClass = 'col-sm-4')
                #elseif ($availablePanel == 4)
                    #set ($panelClass = 'col-sm-3')
                #end

                #if ($availablePanel > 0)
                    <div class="row">
                        #foreach($reward in $rewards)
                            #set ($rewardPath = "/" + $reward)
                            #set( $rewardFolder = $page.find($rewardPath))
                            #set( $myPoint = false )
                            #set( $myPoint =  $rewardStoreApp.calcPointsBalance($profile, $reward) )

                            #if ($myPoint)
                                #set( $myPointString = $formatter.formatCurrency($myPoint, false) )
                                <div class="$panelClass">
                                    <div class="user-total-points bg-primary text-center">
                                        <h1>
                                            <strong id="user-total-points" title="$myPointString">$myPointString</strong>
                                        </h1>
                                        <small>
                                            #if ($rewardsTitles[$foreach.index] && $rewardsTitles[$foreach.index] != " ")
                                                $rewardsTitles[$foreach.index]
                                            #else
                                                Points
                                            #end
                                        </small>
                                    </div>
                                </div>
                            #end
                        #end
                    </div>
                #end

            #end
        </div>
    </div>
</div>
#else
<p class="alert alert-warning">Please login to view this panel</p>
#end