<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage reward entries</title>
        <link rel="stylesheet" type="text/css" href="manageReward.css" />
        <link rel="stylesheet" type="text/css" href="/static/common/jquery-ui-1.8.11.custom.css" />
       	<script type="text/javascript" src="manageReward.js">//</script>        
        <link href="/static/common/fileuploader.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/fileuploader.js">//</script>    
        <script type="text/javascript" src="/static/paginator/1.0.0/jquery.paginator-1.0.0.js">//</script>     
    </head>
    <body>
        <section id="manageReward" class="MainContent">
            <header class="clearfix">

                <div class="row">
                    <div class="col-md-2">
                        <h4>$page.title</h4>
                    </div>
                    <div class="col-md-3 form-horizontal">
                        <label for="rewardEntriesStatus" class="control-label col-md-2">Status</label>
                        <div class="col-md-10">
                            <select id="rewardEntriesStatus" class="form-control">
                                <option value="">[NONE]</option>
                                $formatter.option("PENDING", "Pending", $request.params.status)
                                $formatter.option("ACCEPTED", "Accepted", $request.params.status)
                                $formatter.option("REJECTED", "Rejected", $request.params.status)
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="pull-right">
                            <a href="$page.reward.name/photos.html" class="export btn btn-primary btn-sm">
                                <span class="fa fa-photo"></span>
                                Photo entries
                            </a>
                            <a href="${page.reward.name}/entries.csv?status=$!request.params.status" data-href="${page.reward.name}/entries.csv" class="rewardentries-csv export btn btn-primary btn-sm">
                                <span class="fa fa-table"></span>
                                Export as CSV
                            </a>
                            <button class="btn btn-danger btn-sm removeUsers" style="margin-left: 30px">
                                <span class="fa fa-times"></span>
                                Remove Selected
                            </button>

                        </div>
                    </div>
                </div>


            </header>
            <div class="Content Details">
                <div class="table-responsive">
                    <table class="entries table table-striped table-hover table-full-width pagination-container">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Full name</th>
                                <th>Organisation</th>
                                <th>Email</th>
                                <th>Date awarded</th>
                                <th>For</th>
                                <th class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" name="toRemoveId" class="grey entries selectAll"/>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="rewardentries-resultsbody" class="pagination-results" >
                            #foreach($entry in $page.paginator.records)
                            <tr data-entryid="$entry.id">
                                <td>
                                    #if($entry.approvalStatus == "PENDING")
                                    <i title="Pending Approval" class="text-info fa fa-hourglass-half fa-lg fa-fw"></i>    
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" title="Accept Entry" class="btn btn-success btn-rewardentry-accept"><i class="fa fa-check"></i></button>
                                        <button type="button" title="Reject Entry" class="btn btn-danger btn-rewardentry-reject"><i class="fa fa-times"></i></button>
                                    </div>        
                                    #elseif($entry.approvalStatus == "REJECTED")
                                    <span class="text-danger" title="Entry Rejected"><i class="fa fa-times fa-2x fa-fw"></i></span>
                                    #else
                                    <span class="text-success" title="Entry Accepted"><i class="fa fa-check fa-2x fa-fw"></i></span>
                                    #end
                                </td>
                                <td>$entry.awardedTo.formattedName</td>
                                <td>$page.orgForEntry($entry)</td>
                                <td>$entry.awardedTo.email</td>
                                <td>$formatter.formatDate($entry.awardedDate)</td>
                                <td>$page.awardedForTitle($entry)</td>
                                <td class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" name="toRemoveId" value="$entry.id"/>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="details">
                                <td></td>
                                <td colspan="6">
                                    <div class="blocks-wrapper">
                                        #foreach($m in $member.memberships)
                                        #foreach($f in $m.fields.nvPairs)
                                        <div class="block"><b>$f.name</b> : $f.propValue</div>
                                        #end
                                        #end  
                                    </div>
                                </td>
                            </tr>

                            #end
                        </tbody>
                        <tfoot id="pointsFooter">
                            <tr>
                                <td colspan="8">
                                    $!page.paginator.html
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>                                                
            </div>			
        </section>

        <hr/>

        <section  class="MainContent">
            <header class="clearfix">
                <h4 class="col-sm-5">Submissions and answers</h4>
                <div class="pull-right">
                    <a href="${page.reward.name}/submissions.csv" class="export btn btn-primary btn-sm">
                        <span class="fa fa-table"></span>
                        Export as CSV
                    </a>
                    <button class="btn btn-danger btn-sm removeAnswers" type="button" style="margin-left: 30px">
                        <span class="fa fa-times"></span>
                        Remove Selected
                    </button>
                </div>

            </header>
            <div class="Content Details">
                <div class="table-responsive">
                    <table class="entries table table-striped table-hover table-full-width">
                        <thead>
                            <tr>
                                <th>Full name</th>
                                #foreach($answerKey in $page.submissionAnswerKeys)
                                <th>$answerKey</th>
                                #end
                                <th class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" name="removeAnswer" class="grey answers selectAll" autocomplete="off"/>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($sub in $page.allSubmissions)
                            <tr>
                                <td>$sub.profile.formattedName()</td>
                                #foreach($answerKey in $page.submissionAnswerKeys)
                                <th>$!sub.answers.get( $answerKey )</th>
                                #end
                                <td class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" class="removeAnswer" name="removeAnswer" value="$sub.id" autocomplete="off"/>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            function initRemoveEntries() {
                $(".removeUsers").click(function (e) {
                    var node = $(e.target);
                    log("removeEntries", node, node.is(":checked"));
                    var checkBoxes = node.closest(".MainContent").find("table.entries tbody td input[name=toRemoveId]:checked");
                    if (checkBoxes.length == 0) {
                        Msg.error("Please select the entries you want to remove by clicking the checkboxs to the right");
                    } else {
                        if (confirm("Are you sure you want to remove " + checkBoxes.length + " entries?")) {
                            doRemoveEntries(checkBoxes);
                        }
                    }
                });
            }

            function initRemoveAnswers() {
                $('body').on('click', '.removeAnswers', function (e) {
                    e.preventDefault();
                    var selected = $('.removeAnswer:checked');
                    if (selected.length === 0) {
                        Msg.error("Please select the entries you want to remove by clicking the checkboxs to the right");
                    } else {
                        if (confirm("Are you sure you want to remove " + selected.length + " entries?")) {
                            doRemoveEntries(selected);
                        }
                    }
                });
            }

            function initAcceptEntry() {
                $('body').on('click', '.btn-rewardentry-accept', function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var row = btn.closest('tr');
                    var entryid = row.data('entryid');

                    Kalert.confirm('Do you want to accept this entry?', 'Yes', function () {
                        flog('Accept it!', entryid);

                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                acceptEntry: entryid
                            },
                            success: function (resp) {
                                if (resp.status) {
                                    Kalert.success(resp.messages);
                                    refreshEntriesStatus();
                                } else {
                                    Kalert.warning(resp.messages);
                                }
                            },
                            error: function () {
                                Kalert.warning('Oh No!', 'Something went wrong with your request!');
                            }
                        });
                    });
                });
            }

            function initRejectEntry() {
                $('body').on('click', '.btn-rewardentry-reject', function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var row = btn.closest('tr');
                    var entryid = row.data('entryid');

                    Kalert.confirm('Do you want to reject this entry?', 'Yes', function () {
                        flog('Reject it!', entryid);

                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                rejectEntry: entryid
                            },
                            success: function (resp) {
                                if (resp.status) {
                                    Kalert.success(resp.messages);
                                    refreshEntriesStatus();
                                } else {
                                    Kalert.warning(resp.messages);
                                }
                            },
                            error: function () {
                                Kalert.warning('Oh No!', 'Something went wrong with your request!');
                            }
                        });
                    });
                });
            }

            function doRemoveEntries(checkBoxes) {
                $.ajax({
                    type: 'POST',
                    data: checkBoxes,
                    dataType: "json",
                    url: "",
                    success: function (data) {
                        log("success", data)
                        if (data.status) {
                            Msg.success("Removed entries ok");
                            window.location.reload();
                        } else {
                            Msg.error("There was a problem removing entries. Please try again and contact the administrator if you still have problems");
                        }
                    },
                    error: function (resp) {
                        Msg.error("An error occurred removing entries. You might not have permission to do this");
                    }
                });
            }

            function initStatusFilter() {
                //URI.parseQuery(location.search)
                $('body').on('change', '#rewardEntriesStatus', function (e) {
                    e.preventDefault();

                    var sel = $(this);
                    var query = URI.parseQuery(location.search);

                    query.status = sel.val();

                    refreshEntriesStatus(query);
                });
            }

            function refreshEntriesStatus(query) {
                if (!query) {
                    query = URI.parseQuery(location.search);
                }

                $('#rewardentries-resultsbody').reloadFragment({
                    url: window.location.pathname + '?' + URI.buildQuery(query),
                    whenComplete: function () {
                        var csv = $('.rewardentries-csv');
                        var href = csv.data('href');
                        csv.attr('href', href + '?' + URI.buildQuery(query));
                    }
                });
            }

            $(function () {
                initRemoveEntries();
                initRemoveAnswers();
                initSelectAll();
                initAcceptEntry();
                initRejectEntry();
                initStatusFilter();
            });
        </script>
    </body>
</html>