.programs-list {
    min-width: 200px;
}

.programs-list li.program > a {
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 20px;
    clear: none;
}

.programs-list li.program:hover > a {
    background: #f5f5f5;
}

.programs-list li.program aside {
    padding: 3px 5px 0 0;
}

.programs-list li.last {
    padding-top: 5px;
}

.courses-list,
.modules-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses-list li.course,
.modules-list li.module,
.modules-list li.splitter {
    margin-bottom: 10px;
    cursor: move;
}

.courses-list li.course,
.modules-list li.module,
.modules-list li.splitter > span {
    border-radius: 3px;
}

.courses-list li.course {
    background: #555;
}

.courses-list li.course.active,
.modules-list li.module {
    background: #5BC0DE;
}

.courses-list li.course > a,
.modules-list li.module > span,
.modules-list li.splitter > span {
    display: block;
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
}

.courses-list li.course aside,
.modules-list li.module aside,
.modules-list li.splitter aside {
    padding: 5px 5px 0 0;
}

.modules-list li.splitter > span {
    color: #555;
    background: #f0f0f0;
}