#manageCertificate > header {
	padding-bottom: 8px;
	border-bottom: 1px solid #dadada;
	color: #333;
	font-size: 11px;
	line-height: 24px;
	height: 24px;
}
/**
#manageCertificate form.Certificate {
	margin-bottom: 15px;
	border-bottom: 1px solid #dadada;
}
*/
#manageCertificate .Content table {
	width: 100%;
	margin-top: 10px;
	line-height: 30px;
}
#manageCertificate .Content table th {
	text-align: left;
	width: 180px;
}
#manageCertificate .Content table th, #manageCertificate .Content table td {
	padding-bottom: 10px;
	vertical-align: top;
}
#manageCertificate .Content table small {
	display: block;
	font-style: italic;
	font-size: 11px;
	line-height: normal;
	padding-top: 5px;
}
#manageCertificate .Content .Medium {
	margin-right: 10px;
}
#manageCertificate div.Certificate {
	float: left;
	width: 50%;
	margin-top: 10px;
}
#manageCertificate div.Certificate div.CertificateList {
	padding-right: 10px;
}
#manageCertificate div.Certificate div.CertificateList ul {
	border-radius: 3px;
	border: 1px solid #dedede;
	padding: 0 3px 3px;
        list-style-type: none;
        margin-left: 0;
}
#manageCertificate div.Certificate div.CertificateList ul li {
	border-radius: 3px;
	border: 1px solid #ededed;
	margin-top: 4px;
	padding: 4px 3px 4px 8px;
	background: #ededed;
	height: 25px;
	line-height: 25px;
}
#manageCertificate div.Certificate div.CertificateList ul li aside { float: right; }
#manageCertificate div.Certificate div.CertificateList ul li aside a {
	float: left;
	display: block;
	height: 23px;
	width: 23px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 4px;
	border-radius: 2px;
	padding: 1px;
}
#manageCertificate div.Certificate div.CertificateList ul li aside a:hover { background-color: #FFF; }
#manageCertificate div.Certificate div.Preview {
	padding: 30px 30px 10px;
	background: #e4e4e4;
	border-radius: 3px;
}
#manageCertificate div.Certificate div.Preview .Btn {
	margin-top: 12px;
	position: relative;
	right: -19px;
	float: right;
}
#manageCertificate div.Certificate div.Preview div.ContentPreview {
	background: #c4c4c4;
	color: #2e2e2e;
	vertical-align: middle;
	text-align: center;
}

#manageCertificate #fileupload {
    margin: 0;
    padding: 0;
}
#manageCertificate .muploadBtn {        
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;                
    position: relative;    
    cursor: pointer;
    width: 30%;    
    background-color: #45AFDF;
    background-image: none; /** reset style imported by ckeditor **/
    padding: 0;    
}
#manageCertificate .muploadBtn span {
    position: absolute;
    top: 2px;
    left: 28px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#manageCertificate .fileupload-buttonbar .progress {
    border: 1px solid #51A351;
    border-radius: 5px 5px 5px 5px;
    display: none;
    width: 65%;
    float: right;
}
#manageCertificate .fileupload-buttonbar .progress div {
    background-color: #51A351;
    height: 2em;
    width: 0;
    padding: 0;
    margin: 0;
}

a.Cancel {
    display: block;
    float: right;
    margin-left: 10px;    
}

#manageCertificate .Right .Btn {
    float: right;
    margin-left: 10px;
}