<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$page.title</title>
        <script src="/static/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js">//</script>
        <link href="manageCourses.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageCourses.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin2/prompt.js">//</script>
    </head>
    <body class="manage-course">
        #set($currentBranch = $page.closest("branch"))
        <div class="btn-group publishing pull-right">
            #if( $currentBranch.live )
            <a href="${currentBranch.href}../manageBranches" class="islive btn btn-sm btn-danger">
                <i class="fa fa-gear"></i>
                LIVE
            </a>
            #else
            <a href="${currentBranch.href}publish" class="publish btn btn-sm btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                PUBLISH
            </a>
            <a href="${currentBranch.href}../manageBranches" class="btn btn-sm btn-primary">
                <i class="fa fa-gear"></i>
                Manage versions
            </a>
            #end

            <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <b>Editing version:</b>
                $currentBranch.name
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu list branches">
                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                <li role="presentation" class="list-item">
                    <aside class="list-item-controller">
                        <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                        #if( $b.live )

                        #else
                        <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                        #end
                    </aside>
                    <a href="${b.href}manageCourses" class="branch noclear">
                        $b.name
                    </a>
                </li>
                #end
            </ul>
        </div>

        <div class="btn-group" #if (!$page.externalUrl) title="Please add at least 1 course to View website" #end>
            #if ($page.externalUrl)
            <a target='_blank' href='${page.externalUrl}' class='btn btn-sm btn-success'>
                <i class="fa fa-arrow-circle-right"></i>
                View website
            </a>
            #else
            <a class="btn btn-sm btn-success disabled" title="Please add at least 1 course to View website">
                <i class="fa fa-arrow-circle-right"></i>
                View website
            </a>
            #end
            <div class="btn-group" title="">
                <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Change website:</b> $page.closest("website").name
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu list">
                    #foreach($w in $page.closest("website").parent.children)
                    <li class="list-item">
                        #if ($applicationManager.isActive($applications.learning, $w.website.liveBranch()))
                        <a href="${w.href}manageCourses"><i class="fa fa-fw fa-check text-success"></i> $w.name</a>
                        #else
                        <a title="Learning app is disabled!" style="color: #bbb;"><i class="fa fa-exclamation fa-fw text-danger"></i> $w.name</a>
                        #end
                    </li>
                    #end
                </ul>
            </div>
        </div>

        <hr />

        <div id="manage-course">
            <p class="well">This page will allow you to create and edit the flow of modules and control how your users progress through your learning content. Simply click the + button to add a new item, drag an item up or down to reposition it or click on the down arrow in an item for more options.</p>
        </div>

        #set($program = $page.closest("program"))
        #set($programs = $page.closest("programs"))
        <div class="btn-group programs-wrapper">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <span><b>Program:</b> $!program.title</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu list programs-list" id="programs-list" role="menu">
                #foreach($otherProg in $programs.children.ofType.program)
                <li class="program clearfix list-item" id="prog-${otherProg.name}">
                    <aside class="list-item-controller">
                        <a class="btn btn-xs btn-success btn-edit-program" title="Edit program" href="$otherProg.href"><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-xs btn-danger btn-delete-program" title="Delete program" href="$otherProg.href"><i class="glyphicon glyphicon-remove"></i></a>
                    </aside>
                    <a href="${otherProg.href}">$otherProg.title</a>
                </li>
                #end
                <li class="clearfix list-action">
                    <a class="btn-add-program" role="button" href="#"><i class="fa fa-plus"></i> New program</a>
                </li>
            </ul>
        </div><br /><br />

        #if($page.program)
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book"></i>
                        Courses
                    </div>
                    <div class="panel-body courses-wrapper clearfix">
                        <ul id="courses-list" class="courses-list">
                            #set($levels = $page.closest("program").children.ofType.folder.sortByIntField("order").groupByField("level") )
                            #foreach($level in $levels.values())
                            #foreach($course in $level)
                            <li class="course clearfix" id="course-${course.name}">
                                <aside class="pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a class="btn-edit-course" href="${course.href}">Edit details</a></li>
                                            <li><a href="${course.href}?format=pdf" target="_blank">Export to PDF</a></li>
                                            <li><a href="${course.href}?format=text" target="_blank">Export to text</a></li>
                                            <li><a href="#" class="btn-add-splitter">Add splitter below</a></li>
                                            <li><a href="#" class="btn-copy-course">Copy this course</a></li>
                                            <li><a href="#" class="btn-cut-course">Cut this course</a></li>
                                            <li class="divider"></li>
                                            <li><a class="btn-delete-course" href="${course.href}">Delete this course</a></li>
                                        </ul>
                                    </div>
                                </aside>
                                <a href="$course.href">$course.name - $course.title</a>
                            </li>
                            #end
                            <li class="course splitter clearfix">
                                <aside class="pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="" class="btn-delete-splitter">Delete splitter</a></li>
                                        </ul>
                                    </div>
                                </aside>
                                <span>Level Splitter</span>
                            </li>
                            #end
                        </ul>
                        <p class="pull-right">
                            <a href="#" role="button" class="btn btn-sm btn-warning btn-paste-course hide"><i class="clip-paste"></i> Paste course</a>
                            <a href="#" role="button" class="btn btn-sm btn-success btn-add-course"><i class="fa fa-plus"></i> New course</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-file-o"></i>
                        Modules
                    </div>
                    <div class="panel-body modules-wrapper clearfix">
                        #set($levels = $page.closest("course").children.ofType.folder.sortByIntField("order").groupByField("level") )

                        <ul id="modules-list" class="modules-list">
                            #foreach($level in $levels.values())
                            #foreach($module in $level)
                            <li class="module clearfix" data-author-notes="$!module.notes" id="${module.name}">
                                <aside class="pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="${module.name}">Manage this module</a></li>
                                            <li><a href="${module.name}" class="btn-edit-module" role="button">Module properties</a></li>                                            
                                            <li><a href="${module.name}?goto=" target="_blank">View module</a></li>
                                            <li><a href="#" class="btn-add-splitter">Add splitter below</a></li>
                                            <li><a href="#" class="btn-duplicate-module">Duplicate</a></li>
                                            <li><a href="${module.name}?format=pdf" target="_blank">Export to PDF</a></li>
                                            <li><a href="${module.name}?format=text" target="_blank">Export to text</a></li>
                                            <li><a href="#" class="btn-copy-module">Copy this module</a></li>
                                            <li><a href="#" class="btn-cut-module">Cut this module</a></li>
                                            <li class="divider"></li>
                                            <li><a class="btn-delete-module" href="${module.name}">Delete this module</a></li>
                                        </ul>
                                    </div>
                                </aside>
                                <a href="$module.href">$module.name - $module.title</a>
                            </li>
                            #end
                            <li class="module splitter clearfix">
                                <aside class="pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="" class="btn-delete-splitter">Delete splitter</a></li>
                                        </ul>
                                    </div>
                                </aside>
                                <span>Level Splitter</span>
                            </li>
                            #end
                        </ul>
                        <p class="pull-right">
                            <a href="#" role="button" class="btn btn-sm btn-warning btn-paste-module hide"><i class="clip-paste"></i> Paste module</a>
                            <a href="#" role="button" class="btn btn-sm btn-success btn-add-module"><i class="fa fa-plus"></i> New module</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        #end

        <div id="programModal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Program Details</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="${parentOrg.path}/programs/" class="form-horizontal">
                            <input type="hidden" name="originalProgramName" value=""  />
                            <div class="form-group">
                                <label for="programTitle" class="control-label col-sm-3">Program code</label>
                                <div class="col-sm-8">
                                    <input type="text" name="programName" id="programName" maxlength="30" value="" placeholder="A unique program code" class="form-control required reallySimpleChars" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="programTitle" class="control-label col-sm-3">Program title</label>
                                <div class="col-sm-8">
                                    <input type="text" name="programTitle" id="programTitle" maxlength="30" value="" placeholder="Title to appear on certificates etc" class="form-control required simpleChars" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="programNotes" class="control-label col-sm-3">Author notes</label>
                                <div class="col-sm-8">
                                    <textarea name="programNotes" id="programNotes" placeholder="Author notes" maxlength="255" cols="2" rows="2" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="control-label col-sm-3">Search fields</label>
                            </div>

                            <div class="form-group">
                                <label for="itemType" class="control-label col-sm-3">Type</label>
                                <div class="col-sm-4">
                                    <input type="text" id="itemType" class="form-control" name="itemType" value="" placeholder="Top level category" />
                                </div>
                                <label for="category" class="control-label col-sm-2">Category</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="category" id="category" value=""/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tags" class="control-label col-sm-3">Tags</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  name="tags" id="tags" value=""/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-sm btn-primary" type="submit" data-type="form-submit" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="courseModal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form method="post" action="." class="form-horizontal">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                            <h4 class="modal-title">Course Details</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="originalCourseName" value=""  />
                            <div class="form-group">
                                <label for="programTitle" class="control-label col-sm-2">Course code</label>
                                <div class="col-sm-10">
                                    <input type="text" name="courseName" id="courseName" maxlength="30" value="" placeholder="A unique course code" class="form-control required reallySimpleChars" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="courseTitle" class="control-label col-sm-2">Course title</label>
                                <div class="col-sm-10">
                                    <input type="text" name="courseTitle" id="courseTitle" maxlength="30" value="" placeholder="Course title" class="required form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="courseNotes" class="control-label col-sm-2">Author notes</label>
                                <div class="col-sm-10">
                                    <textarea name="courseNotes" id="courseNotes" placeholder="Author notes" maxlength="" cols="2" rows="2" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="courseDescription" class="control-label col-sm-2">Course description</label>
                                <div class="col-sm-10">
                                    <textarea name="courseDescription" id="courseDescription" placeholder="Displayed to users" maxlength="" cols="4" rows="2" class="form-control  htmleditor"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-sm-2">Search fields</label>

                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label for="itemType" class="control-label col-sm-3">Type</label>

                                        <div class="col-sm-4">
                                            <input type="text" id="itemType" class="form-control" name="itemType" value="" placeholder="Top level category for search" />
                                        </div>
                                        <label for="category" class="control-label col-sm-2">Category</label>

                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" name="category" id="category" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="tags" class="control-label col-sm-3">Tags</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="tags" id="tags" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" data-type="form-submit" type="button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="moduleModal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form method="post" action="." class="form-horizontal">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                            <h4 class="modal-title">Module Details</h4>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" name="originalModuleName" value=""  />
                            <div class="form-group">
                                <label for="moduleName" class="control-label col-sm-3">Module code</label>
                                <div class="col-sm-8">
                                    <input type="text" name="moduleName" id="moduleName" maxlength="30" value="" placeholder="Module code" class="required form-control reallySimpleChars" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="moduleTitle" class="control-label col-sm-3">Module title</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control required" placeholder="Module title" value="" maxlength="60" id="moduleTitle" name="moduleTitle" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="moduleNotes" class="control-label col-sm-3">Author notes</label>
                                <div class="col-sm-8">
                                    <textarea name="moduleNotes" id="moduleNotes" placeholder="Author notes" maxlength="255" cols="4" rows="2" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit" data-type="form-submit" type="button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        #set($programs = $page.closest("programs"))
        <script type="text/javascript">
            $(function () {
                initManageCourse("${programs.href}", "$!{program.href}");
            });
        </script>
    </body>
</html>