<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage modules</title>
        <link href="manageModule.css" rel="stylesheet" type="text/css" />
        <link href="/static/quiz/quiz.css" rel="stylesheet" type="text/css" />
        <link href="/static/history/jquery.history.css" rel="stylesheet" type="text/css" />
        <link href="/static/js/milton-image-select.css" rel="stylesheet" type="text/css" />
        
        <script type="text/javascript" src="/static/history/jquery.history.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-image-select.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-tree.js">//</script>
        <script type="text/javascript" src="manageModule.js">//</script>
        <script type="text/javascript" src="/static/quiz/quiz.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
    </head>
    <body class="manageModulePages">
        #set($currentBranch = $page.closest("branch"))
        <div class="btn-group publishing pull-right">
            #if( $currentBranch.live )
            <a href="../manageBranches" class="islive btn btn-danger">
                <i class="fa fa-gear"></i>
                LIVE
            </a>
            #else
            <a href="${currentBranch.href}publish" class="publish btn btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                PUBLISH
            </a>
            <a href="../manageBranches" class="btn btn-primary">
                <i class="fa fa-gear"></i>
                Manage versions
            </a>
            #end

            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <b>Editing version:</b>
                $currentBranch.name
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu list branches">
                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                <li role="presentation" class="list-item">
                    <aside class="list-item-controller">
                        <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                        #if( $b.live )

                        #else
                        <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                        #end
                    </aside>                    
                    <a href="${b.href}" class="branch noclear">
                        $b.name
                    </a>
                </li>
                #end
            </ul>
        </div>

        <div class="btn-group">
            <a target='_blank' href='${page.externalUrl}' class='btn btn-success'>
                <i class="fa fa-arrow-circle-right"></i>
                View website
            </a>
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Change website:</b> $page.closest("website").name
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu list">
                    #foreach($w in $page.closest("website").parent.children)
                    <li class="list-item"><a href="${w.href}">$w.name</a></li>
                    #end
                </ul>
            </div>
        </div>

        <hr/>
        <section id="manageModule" class="MainContent">
            <header>
                <div class="DropdownControl publishing">
                    <div class="DropdownWrapper">
                        #set($currentBranch = $page.closest("branch"))
                        <span>
                            <b>Version:</b> 
                            $currentBranch.name
                            #if( $currentBranch.live )
                            <strong class="islive">LIVE</strong>
                            #else
                            <a href="${currentBranch.href}publish" class="publish">PUBLISH</a>
                            #end

                        </span> 
                        <a href="#" class="Control"><span class="Hidden">Change version</span></a>
                    </div>
                    <div class="DropdownContent Hidden">
                        <div class="Content">
                            <ul class="Program branches">
                                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                                <li>
                                    <a href="#" class="copy"><span>Copy</span></a>
                                    #if( $b.live )
                                    <strong class="islive">LIVE</strong>
                                    #else
                                    <a href="#" class="hide" title="Hide this version. Can be restored from the manage versions screen"><span>Hide</span></a>
                                    #end

                                    <a href="${b.href}manageModules" class="branch">
                                        $b.name
                                    </a>                                    
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="DropdownControl">
                    <div class="DropdownWrapper">
                        <span><b>Website:</b> $page.closest("website").name</span> 
                        <a href="#" class="Control"><span class="Hidden">Change website</span></a>
                    </div>
                    <div class="DropdownContent Rows3 Hidden">
                        <div class="Content ClearFix">
                            <section rel="program">
                                #foreach($w in $page.closest("website").parent.children)
                                <a href="${w.href}manageModules">$w.name</a>
                                #end
                            </section>
                        </div>
                    </div>
                </div>
                <div class="DropdownControl selectModule">                    
                    <div class="DropdownWrapper">
                        <span><b>Module:</b> $!folder.title / $!page.title</span>
                        <a href="#" class="Control"><span class="Hidden">Change module</span></a>
                    </div>
                    <div class="DropdownContent Rows3 Hidden">
                        <header>
                            <h3>Programs</h3>
                            <h3>Courses</h3>
                            <h3>Modules</h3>
                        </header>
                        <div class="Content ClearFix">
                            <section rel="program" class="programList">                                
                                #set($parentProgram = $page.closest("program"))
                                #foreach($program in $page.closest("programs").children.ofType.program)                                
                                <a href="$program.href" class="${formatter.ifEqual('Active','', $parentProgram, $program)}">$program.title</a>
                                #end
                            </section>
                            <section rel="course" class="coursesList">
                                #set($parentCourse = $page.closest("course"))
                                #foreach($course in $page.closest("program").children.ofType.course)
                                <a href="$course.href" class="${formatter.ifEqual('Active','', $parentCourse, $course)}">$course.title</a>
                                #end                                
                            </section>
                            <section rel="module" class="modulesList">
                                #set($selectedModule = $page.closest("module"))
                                #foreach($mod in $page.closest("course").children.ofType.module)
                                <a href="$mod.href" class="${formatter.ifEqual('Active','', $selectedModule, $mod)}">$mod.title</a>
                                #end                                                                
                            </section>
                        </div>
                    </div>
                </div>
            </header>
            #if($page.module)
            <nav class="TabNav ClearFix">
                <a href="#list">Module pages</a>
                <a href="#detail">Module details</a>
            </nav>
            <div class="Content TabContent" rel="#list" style="position: relative">
                <h4>$page.title</h4>
                <a title="Add Page" class="SmallBtn Add NoText AddModulePage" href=""><span>Add</span></a>
                <a title="Add Quiz" class="SmallBtn Add NoText AddQuizPage" href=""><span>Quiz</span></a>
                <form method="POST" action="" class="modulePages">
                    <div class="MainContent filesList">
                        #set($order = 0)

                        #foreach($modulePage in $page.children.ofType.Page.sortByIntField("order"))
                        #set($order = $order +1)
                        #set($classes = "modulePage")
                        #if($modulePage.html.is("quizPage"))
                        #set($classes = $classes + " Quiz")
                        #end
                        <article class="$classes">
                            <input type="hidden" name="${modulePage.name}" value="$order"/>
                            <span>$modulePage.title</span>
                            <aside class="Hidden">
                                <a href="${modulePage.name}" class="Edit" title="Edit page"><span class="Hidden">Edit page</span></a>
                                <a href="${modulePage.name}?goto" target="_blank" class="View" title="View page"><span class="Hidden">View page</span></a>
                                <a href="" class="Move" title="Move up or down"><span class="Hidden">Move up or down</span></a>
                                <a href="${modulePage.path}" class="Delete" title="Delete page"><span class="Hidden">Delete page</span></a>
                            </aside>    
                        </article>

                        #end

                    </div>                
                </form>
            </div>
            <div class="Content TabContent" rel="#detail">
                <form name="frmDetails" action="" method="post" class="Details" id="moduleDetailsForm">
                    <div class="pageMessage">.</div>
                    <table>
                        <tbody>
                            <tr>
                                <th>Code</th>
                                <td><input type="text" name="name" value="$!page.name" placeholder="Module code Eg MOD001" /></td>
                            </tr>
                            <tr>
                                <th>Module title</th>
                                <td><input type="text" name="title" value="$!page.title" placeholder="Here is a module page title" /></td>
                            </tr>                            
                            
                            <tr>
                                <th>Learning time (mins)</th>
                                <td><input type="text" name="learningTimeMins" value="$!page.learningTimeMins" placeholder="Approximate number of minutes to complete the module" /></td>
                            </tr>                            
                            <tr>
                                <th>Thumbnail (image)</th>
                                <td>
                                    <input class="thumbnail" type="text" name="thumb" value="$!page.rawThumb" placeholder="Path to a thumbnail for the module. Eg thumb.png" />
                                </td>
                            </tr>                            

                            <tr>
                                <th>Description</th>
                                <td>
                                    <textarea class="smaller" name="brief" id="brief">$!page.brief</textarea>
                                </td>
                            </tr>                            
                            <tr>
                                <th>Completion message <small>Enter a message that will appear at the end of this module once completed.</small></th>
                                <td>
                                    <textarea class="htmleditor" cols="100" id="message" name="message" rows="10" placeholder="Enter your completion message here">$!page.completionMessage</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                            <tr rel="email">
                                <th>
                                    Email confirmation 
                                    <small class="Hidden">Enter a message that will appear in an email that get's sent to the user after this module is completed.</small>
                                </th>
                                <td>
                                    <label for="emailConfirm">Send an email confirmation upon module completion</label>
                                    $formatter.checkbox("emailConfirm", "emailConfirm", $page.emailConfirm, "true" )                                    
                                    <div class="EmailMessage Hidden">
                                        <textarea cols="100" id="email_message" class="htmleditor" name="emailCompletionMessage" rows="10" placeholder="Enter your email message here">$!page.emailConfirmMessage</textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                            <tr>
                                <th>Choose a certificate <a href="${page.closest('organisation').href}certificates">Edit certificates</a></th>
                                <td rel="certificate" class="editList">
                                    #foreach($action in $page.actions("certificate"))
                                    <div class="Certificate ClearFix First editRow">
                                        <select name="certificate$foreach.index" class="requiredIf" data-basename="certificate">
                                            <option value="">[No certificate]</option>
                                            #foreach($cert in $page.certificates)
                                            $formatter.option($cert.id, $cert.title, $action.itemId)
                                            #end
                                        </select> 
                                        <label for="points$foreach.index">CPD points</label> 
                                        <input type="text" class="Small" value="$!action.number" id="points$foreach.index" name="points$foreach.index" data-basename="points" /> 
                                        <a href="#" class="previewCertPdf Btn">Preview</a>
                                    </div>
                                    #end
                                    <button class="SmallBtn Add addFirst" title="Add certificate" id="addCert"><span>Add</span></button>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                            <tr>
                                <th>Choose a reward <a href="${page.closest('organisation').href}rewards">Edit rewards</a></th>
                                <td rel="reward" class="editList">                                    
                                    #foreach($action in $page.actions("reward"))
                                    <div class="Reward ClearFix First editRow">                                                 
                                        <select name="reward$foreach.index" class="requiredIf" data-basename="reward">                                            
                                            <option value="">[No reward]</option>
                                            #foreach($r in $page.rewards)
                                            $formatter.option($r.id, $r.title, $action.itemId)
                                            #end

                                        </select> 
                                        <label for="numRewards$foreach.index">No. of rewards</label> 
                                        <input type="text" class="Small requiredIf" value="$!action.number" id="numRewards$foreach.index" name="numRewards$foreach.index" data-basename="numRewards"/> 
                                    </div>
                                    #end

                                    <button class="SmallBtn Add addFirst" title="Add reward" id="addRewards"><span>Add</span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button class="Btn">Save Changes</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            #end
        </section>


        <div id="modalCreatePage" class="Modal wide">
            <header>
                <h3>Add/edit module page</h3>                
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="POST" action=".">
                    <input type="hidden" name="pageName" />
                    <input type="hidden" name="template" value="learner/modulePage" />
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="name">Enter page title</label></th>
                            <td>
                                <input type="text" name="pageTitle" id="pageTitle" class="required" value="" placeholder="A title for the new page" />                                
                                <button class="Btn pageBtn" type="submit">
                                    Save page
                                    <img class='ajax-loader' src='/static/common/loading.gif'/>
                                </button>
                                <button class="Btn historyBtn" type="button">History</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea name="body" id="body" class="htmleditor toolbar-Full" style="width: 800px"></textarea>
                            </td>
                        </tr>                        
                    </table>
                </form>
            </div>
        </div>        
        <div id="modalCreateQuiz" class="Modal wide">
            <header>
                <h3>Add/edit quiz</h3>                
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="POST" action="." class="quizContainer">
                    <input type="hidden" name="pageName" />
                    <input type="hidden" name="template" value="learner/quizPage" />
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="name">Enter quiz title</label></th>
                            <td>
                                <input type="text" name="pageTitle" id="pageTitle" class="required" value="" placeholder="A title for the new page" />
                                <select class="newQuestionType">
                                    <option value="">Add a question</option>
                                    <option value="multi">Multiple choice</option>
                                    <option value="textbox">Textbox</option>
                                </select>
                                <button class="Btn pageBtn" type="submit">Save page</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">                                
                                <div id="quizQuestions">

                                </div>
                            </td>
                        </tr>                        
                    </table>
                </form>
            </div>
        </div>           
        <script type="text/javascript" >
            var themePath = "${page.themePath}";
            jQuery(function() {
                initManageModule("../../..", themePath);
            });            
        </script>        
    </body>
</html>