.manage-certificate-details form .form-group {
    width: 600px;
}

.manage-certificate-details form .form-group.editor-wrapper {
    width: auto;
}

.manage-certificate-details form .form-group .col-md-8 {
    position: relative;
}

.manage-certificate-details form .form-group .col-md-8 > span {
    position: absolute;
    left: 100%;
    top: 50%;
    margin: -9px 0 0 0;
}

#btn-upload {
    width: 150px;
    height: 34px;
}