<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="manageReward.css" />
        <link href="/static/quiz/quiz.css" rel="stylesheet" type="text/css" />
       	<script type="text/javascript" src="manageReward.js">//</script>        
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>        
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
        <script type="text/javascript" src="/static/quiz/quiz.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js">//</script>        
    </head>
    <body>
        <form action="" method="POST" class="manageRewardForm">
            <section id="manageReward" class="MainContent">
                <div class="pull-right">
                    <button class="Btn">Save changes</button>
                    <button class="Btn Cancel" type="button">Cancel</button>
                </div>
                <nav class="TabNav ClearFix">
                    <a href="#details">Details</a>
                    <a href="#groups">Groups</a>
                    <a href="#entryForm">Entry Form</a>
                    <a href="#restrictions">Restrictions</a>
                    <a href="#entries">Entries</a>
                </nav>                

                <div class="Content Details TabContent" rel="#details">
                    <input type="hidden" id="backgroundImageHash" name="backgroundImageHash" value="$!page.backgroundImageHash" />
                    <table class="Details">
                        <tbody>
                            <tr>
                                <th>Reward title</th>
                                <td><input type="text" name="title" placeholder="Enter a name here" value="$page.reward.title" class="required" /></td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    <select name="status">
                                        #foreach($st in $page.statusList.entrySet())
                                        $formatter.option($st.key, $st.value, $page.status)
                                        #end
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>Points system</th>
                                <td>
                                    <select name="pointsType" class="pointsType">
                                        $formatter.option("", "No points system", $page.reward.pointsType)

                                        #foreach($st in $page.pointsOptionsMap.entrySet())
                                        $formatter.option($st.key, $st.value, $page.pointsType)
                                        #end
                                    </select>
                                    <span class="pointsOrgType">To organisation type:</span>
                                    <select name="pointsOrgType" class="pointsOrgType" style="float: none">
                                        $formatter.option("", "[Any]", $page.pointsOrgType)
                                        #foreach($orgType in $page.orgTypes)
                                        $formatter.option($orgType.name, $orgType.displayName, $page.pointsOrgType)
                                        #end
                                    </select>
                                </td>
                            </tr>     
                            <tr>
                                <th>One per recipient</th>
                                <td>
                                    $formatter.checkbox("onePerRecipient", $page.onePerRecipient)
                                    <small>If selected this reward will only be issued once to a user, or their organisation if using an organisation points system </small>
                                </td>
                            </tr>     

                            <script type="text/javascript">
                                $(function() {
                                    $("select.pointsType").click(function() {
                                        showHidePointsOrgType();
                                    });
                                    showHidePointsOrgType();
                                });
                                function showHidePointsOrgType() {
                                    if ($("select.pointsType").val() == "POINTS_ORG") {
                                        $(".pointsOrgType").show();
                                    } else {
                                        $(".pointsOrgType").hide();
                                    }
                                }
                            </script>

                            <tr>
                                <th>Notes <small>These notes are for internal purposes only.</small></th>
                                <td><textarea cols="100" name="notes" rows="10" placeholder="Enter your notes here">$!page.notes</textarea></td>
                            </tr>

                            <tr>
                                <th>Choose a start date</th>
                                <td><input type="text" name="startDate" placeholder="Start date" value="$!page.startDate" class="DateTime" /></td>
                            </tr>
                            <tr>
                                <th>Choose a end date</th>
                                <td><input type="text" name="endDate" placeholder="End date" value="$!page.endDate" class="DateTime" /></td>
                            </tr>							
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                            <tr>
                                <th>Email confirmation</th>
                                <td>
                                    $formatter.checkbox("emailConfirm", $page.emailConfirm)
                                    <label for="email">Send an email confirmation to the user when they are awarded.</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>

                            <tr>
                                <th>
                                    Details
                                    <small>This copy will sit next to the image and tell the user about the competition or reward.</small>
                                </th>
                                <td>
                                    <textarea cols="100" name="details" rows="10" class="htmleditor" placeholder="Enter the details here">$!page.details</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>                        
                </div>                    

                <div class="Content TabContent" rel="#groups">
                    <header class="ClearFix">
                        <button class="SmallBtn Add AddGroup"><span>Add/remove groups</span></button>
                    </header>
                    <article class='Note'>Add user groups to rewards to allow these users to directly enter the competition. These users will
                        see the reward on their dashboard when it is active.</article>
                    <ul class="GroupList ClearFix">
                        #foreach($g in $page.selectedGroups)
                        <li>$g.name</li>
                        #end
                    </ul>
                </div>


                <div class="Content TabContent" rel="#entryForm">
                    <article class='Note'>
                        You can add entry form items here. Just enable the item you want and 
                        fill in its required fields.
                    </article>
                    <div class="entryFormItem">
                        $formatter.checkbox("staticMessageEnabled", "staticMessageEnabled", $page.staticMessageEnabled)
                        <label for="staticMessageEnabled">Display static message</label>

                        <div class="entryFormItemDetails">
                            <label for="staticMessage">Please enter the message to display here</label>
                            <textarea id="staticMessage" name="staticMessage">$!page.staticMessage</textarea>
                        </div>
                    </div>
                    <div class="entryFormItem">
                        $formatter.checkbox("userTextEnabled", "userTextEnabled", $page.userTextEnabled)
                        <label for="userTextEnabled">User enters text</label>

                        <div class="entryFormItemDetails">
                            <label for="userTextMessage">Please enter some instructions for the user</label>
                            <textarea id="userTextMessage" name="userTextMessage">$!page.userTextMessage</textarea>                                
                        </div>
                    </div>

                    <div class="entryFormItem">
                        $formatter.checkbox("userUploadEnabled", "userUploadEnabled", $page.userUploadEnabled)
                        <label for="userUploadEnabled">User uploads image</label>
                    </div>

                    <div class="entryFormItem">
                        $formatter.checkbox("quizEnabled", "quizEnabled", $page.quizEnabled)
                        <label for="quizEnabled">Quiz</label>

                        <div class="entryFormItemDetails quizContainer">
                            <div class="pageMessage">.</div>
                            <select class="newQuestionType">
                                <option value="">Add a question</option>
                                <option value="multi">Multiple choice</option>
                                <option value="textbox">Textbox</option>
                            </select>
                            <div id="quizQuestions">

                            </div>
                        </div>
                        <input type="hidden" name="quizHtml" value=""/>
                    </div>                        
                </div>

                <div class="Content TabContent" rel="#restrictions">
                    <article class='Note' style="float: right">Add restrictions which will prevent rewards from being given unless they have been ment.</article>                    
                    <header class="ClearFix">
                        <button class="SmallBtn Add addRestriction"><span>Add a restriction</span></button>
                    </header>
                    <ul class="restrictionList ClearFix">
                        #foreach($r in $page.restrictions)
                        <li>
                            $r.description
                            <input type="hidden" name="restrictionType${foreach.count}" value="$r.type"/>
                            <input type="hidden" name="restrictionItem${foreach.count}" value="$r.item"/>
                            <a class='remove' href='#'>Remove</a>
                        </li>
                        #end
                    </ul>
                </div>                

                <div class="Content TabContent" rel="#entries">
                    <article class='Note'>
                        <table class="entriesLinks">
                            <tr>
                                <th>Entries</th>
                                <td>$page.numEntries entries <a href="../entries-${page.name}.html" class="Btn">View</a></td>
                            </tr>
                            <tr>
                                <th>Export</th>
                                <td><a href="entries.csv" class="Btn">Export as CSV</a></td>
                            </tr>
                            <tr>
                                <th>Photos</th>
                                <td><a href="photos.html" class="Btn">View photo entries</a>  (for photo upload comps)</td>
                            </tr>

                        </table>
                    </article>
                </div>
            </section>
        </form>

        <div id="modalGroup" class="Modal">
            <header>
                <h3>Choose groups</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td colspan="2">
                            <ul class="ListItem">
                                #foreach($g in $page.allGroups)
                                <li>
                                    <span>$g.name</span>
                                    <aside>
                                        $formatter.checkbox($g.name, $page.isSelected($g) )
                                    </aside>
                                </li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        

        <div id="modalAddRestriction" class="Modal">
            <header>
                <h3>Add a restriction</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form class="addRestrictionForm">
                    <table>
                        <tr>
                            <td>Select a type of restriction</td>
                            <td>$formatter.select("type", $page.availableRestrictionTypes)</td>
                        </tr>
                        <tr>
                            <td>Select an item</td>
                            <td>$formatter.select("item", $page.availableRestrictionItems)</td>
                        </tr>            
                        <tr>
                            <td></td>
                            <td><button type="submit">Add</button></td>
                        </tr>                       
                    </table>
                </form>
            </div>
        </div>        

        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>                
        <script>
            var quiz = $formatter.toJson($page.quiz);
            jQuery(function() {
                initEditReward(quiz);
            });
        </script>
    </body>
</html>