<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="manageCertificate.css" rel="stylesheet" type="text/css" />
       	<script type="text/javascript" src="manageCertificate.js">//</script>
    </head>
    <body>
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <section id="manageCertificate" class="MainContent">
            <header class="Controller">
                <div class="Left">
                    <a href="#" onclick="return showAddCert(this)" class="SmallBtn Add">Add New Certificate</a>
                    <div class="Modal">
                        <header>
                            <h3>Add new certificate</h3>
                            <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
                        </header>

                        <div class="ModalContent">
                            <form action="." method="POST" class="addCert">
                                <table>
                                    <tr>
                                        <th><label for="newTitle">Enter certificate name</label></th>
                                        <td><input type="text" name="newTitle" id="newTitle" placeholder="Certificate name" class="required" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="BtnBar">
                                            <button class="Btn">Save changes</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>                    
                    </div>
                </div>                              
            </header>
            <div class="Content ClearFix">
                <div class="Certificate">
                    <div class="CertificateList">
                        <ul>
                            #foreach($cert in $page.children)
                            <li>
                                <span class="title">$cert.title</span>
                                <aside>
                                    <a class="Edit EditCert" title="Edit" href="$cert.name"><span class="Hidden">Edit</span></a>
                                    <a class="Delete DeleteCert" title="Delete" href="$cert.name"><span class="Hidden">Delete</span></a>
                                </aside>
                            </li>
                            #end
                        </ul>
                    </div>
                </div>                
            </div>	
        </section>
        <script type="text/javascript">
            jQuery(function() {
                initManageCertificate();
            });
        </script>
    </body>
</html>