<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="manageCertificate.css" rel="stylesheet" type="text/css" />
       	<script type="text/javascript" src="manageCertificate.js">//</script>
    </head>
    <body class="manage-certificates">
        <p>
            <a href="#" class="btn btn-sm btn-success btn-add-cert"><i class="fa fa-plus"></i> Add new certificate</a>
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-folder"></i>
                Certifications
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <colgroup>
                            <col />
                            <col style="width: 100px;" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($cert in $page.children)
                            <tr>
                                <td class="name">$cert.title</td>
                                <td class="action">
                                    <div class="btn-group btn-group-sm">
                                        <a href="$cert.name/?useHash=true" class="btn btn-sm btn-primary btn-sm">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                        <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="$cert.name/?useHash=true"><i class="fa fa-edit"></i> Edit</a></li>
                                            <li><a href="$cert.name" class="btn-delete-cert"><i class="fa fa-times"></i> Delete</a></li>
                                        </ul>
                                    </div>                                    
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="modal-add-cert" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Add new certificate</h4>
                    </div>
                    <div class="modal-body">
                        <form action="." method="POST" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3" for="newTitle">Certificate name</label>
                                <div class="col-md-8">
                                    <input type="text" name="newTitle" id="newTitle" placeholder="Certificate name" class="required form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-sm btn-primary" data-type="form-submit" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                initManageCertificates();
            });
        </script>
    </body>
</html>