.program-course-module-mix .dropdown-menu {
	padding-left: 15px;
}

.program-course-module-mix .dropdown-menu li {
	padding: 0 15px 0 0;
	min-height: 130px;
}

.program-course-module-mix .dropdown-menu li.loading {
	background: (/static/images/loading.gif) 50% 50% no-repeat;
}

.program-course-module-mix .dropdown-menu li.loading table tbody {
	display: none;
}

.program-course-module-mix .dropdown-menu tr td,
.program-course-module-mix .dropdown-menu tr th {
	padding: 0;
}

.program-course-module-mix .dropdown-menu tr a,
.program-course-module-mix .dropdown-menu tr span {
	text-decoration: none;
	display: block;
	padding: 5px;
}

.program-course-module-mix .dropdown-menu tr.active a {
	color: #fff;
}