<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Reward</title>
        <link rel="stylesheet" type="text/css" href="manageReward.css" />
        <link rel="stylesheet" type="text/css" href="/static/quiz/quiz.css" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.1.0/css/bootstrap-toggle.min.css" rel="stylesheet" />
        <script type="text/javascript" src="manageReward.js">//</script>
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin2/prompt.js">//</script>
        <script type="text/javascript" src="/static/quiz/quiz.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-upcrop-image/1.0/bootstrap-upcrop-image.js">//</script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.1.0/js/bootstrap-toggle.min.js">//</script>

        <style>
            .form-actions {
                display: none !important;
            }
        </style>
    </head>
    <body>
        <form action="" method="POST" class="manageRewardForm form-horizontal" role="form" novalidate="true" enctype="multipart/form-data">
            <div id="manageReward" class="MainContent tabbable">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>

                        <div class="btn-group">
                            <a class="btn btn-sm btn-default article-preview" target="_blank" href="$page.href?goto=">Preview</a>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a>Select a version:</a></li>
                                <li class="divider"></li>
                                #foreach($version in $page.parent.branches)
                                <li><a target="_blank" href="$page.href?goto=$version.repository.name:$version.name">$version.repository.name - $version.name</a></li>
                                #end
                            </ul>
                        </div>

                        <button class="btn btn-sm btn-warning Cancel" type="button">
                            Cancel
                        </button>

                    </div>
                    <ul class="TabNav nav nav-tabs tab-bricky pull-left">
                        <li class=""><a href="#details" data-toggle="tab">Details</a></li>
                        <li class=""><a href="#rewardContent" data-toggle="tab">Content</a></li>
                        <li class=""><a href="#groups" data-toggle="tab">Groups</a></li>
                        <li class=""><a href="#entryForm" data-toggle="tab">Competition</a></li>
                        <li class=""><a href="#checkout" data-toggle="tab">Checkout</a></li>
                        <li class=""><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
                        <li class=""><a href="#entries" data-toggle="tab">Entries</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane Details" id="details">
                        <input type="hidden" id="backgroundImageHash" name="backgroundImageHash" value="$!page.backgroundImageHash" />
                        <table class="Details form-horizontal">
                            <colgroup>
                                <col width="20%" />
                                <col width="80%" />
                            </colgroup>

                            <tbody>
                                <tr>
                                    <td>Reward title</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" name="title" placeholder="Enter a name here" value="$page.reward.title" class="form-control required" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sub title</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" name="subTitle" placeholder="Enter a name here" value="$!page.reward.subTitle" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="website" class="form-control">
                                                    #foreach($st in $page.organisation.websites())
                                                    $formatter.option($st.name, $st.name, $page.website.name)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <select name="status" class="form-control">
                                                    #foreach($st in $page.statusList.entrySet())
                                                    $formatter.option($st.key, $st.value, $page.status)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Require Approval</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                $formatter.checkbox("requireApproval", $page.requireApproval)
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>One per recipient</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        $formatter.checkbox("onePerRecipient", $page.onePerRecipient)
                                                        <i>If selected this reward will only be issued once to a user, or their organisation if using an organisation points system</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Template</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" name="template" value="$!page.template" />
                                                <i>Leave blank for default, otherwise a path to a template, eg /learner/competition.html</i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Notes
                                        <br />
                                        <small><i>These notes are for internal purposes only.</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea cols="100" class="form-control" name="notes" rows="10" placeholder="Enter your notes here">$!page.notes</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Choose a start date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" name="startDate" placeholder="Start date" data-format="DD/MM/YYYY" value="$formatter.formatDate($page.startDate)" class="form-control DateTime" />
                                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Choose an end date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" name="endDate" placeholder="End date" data-format="DD/MM/YYYY" value="$formatter.formatDate($page.endDate)" class="form-control DateTime" />
                                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!--
                                <tr>
                                    <td>Email confirmation</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        $formatter.checkbox("emailConfirm", $page.emailConfirm)
                                                        Send an email confirmation to the user when they are awarded.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane Details" id="rewardContent">
                        <textarea id="body" name="body" class="contenteditor" cols="100" rows="5" autocomplete="off" data-base-path="$!page.find("/repositories/rewards/").live.href" data-page-path="$!page.find("/repositories/rewards/").live.href" data-preview="?goto=">$!page.body</textarea>

                        <br />
                        <i>This copy will be displayed to the winners.</i>
                        <textarea cols="120" name="winners" rows="10" class="htmleditor" placeholder="Enter the winners here">$formatter.htmlEncode($page.winners)</textarea>
                        <hr />

                        <i>The image to be used with competition copy.</i>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-pictures"></i>Image
                            </div>
                            <div class="panel-body">
                                <div>
                                    #set($image = $page.imageHref )
                                    #if( $image )
                                    <div id="reward-image">
                                        <a href="$image" target="_blank" class="thumbnail"><img style="width: 150px" src="$image/alt-150-150.png" /></a>
                                        <!--
                                <a id="delete-image" class="btn btn-xs btn-danger" href="$image">
                                        <span class="fa fa-times"></span>
                                </a>
                                        -->
                                    </div>
                                    <button id="btn-change-img" class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-add-image">Change image</button>
                                    #else
                                    <button id="btn-change-img" class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-add-image">Add image</button>
                                    #end
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="groups">
                        <button class="btn btn-sm btn-primary Add AddGroup" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus"></i> Add/remove groups</button>
                        <div class="well margin-top-10">Add user groups to rewards to allow these users to directly enter the competition. These users will see the reward on their dashboard when it is active.</div>
                        <div class="GroupList">
                            #foreach($g in $page.selectedGroups)
                            <button class="btn btn-sm btn-default reset-margin-bottom" type="button">$g.name</button>
                            #end
                        </div>
                    </div>

                    <div class="tab-pane" id="entryForm">
                        <div class="entryFormItem">
                            $formatter.checkbox("userUploadEnabled", "userUploadEnabled", $page.userUploadEnabled)
                            <label for="userUploadEnabled" class="control-label">User uploads image</label>
                        </div>

                        <div class="entryFormItem">
                            $formatter.checkbox("quizEnabled", "quizEnabled", $page.quizEnabled)
                            <label for="quizEnabled" class="control-label">Provide an entry form</label>

                            <hr />
                            <p>
                                <label for="" class="control-label">
                                    $formatter.checkbox("allowAnon", $page.allowAnon)
                                    Anonymous entries.
                                </label>
                                <br />
                                Check this if you want to allow non-logged in users to submit entries
                            </p>

                            <p>
                                <label for="" class="control-label">
                                    $formatter.checkbox("selectProduct", $page.selectProduct)
                                    Select product. Users will be required to select a product.
                                </label>
                            </p>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Product categories</label>

                                <div class="col-sm-10">
                                    <input type="text" name="productCategories" class="form-control" value="$!page.productCategories" placeholder="Enter a list of product category codes" />
                                    <i>If supplied, the user will need to select a product from these categories</i>
                                </div>
                            </div>


                            <p>
                                <label for="" class="control-label">
                                    $formatter.checkbox("selectOrg", $page.selectOrg)
                                    Select organisation. Users will select an organisation (eg a store)
                                </label>
                            </p>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Organisation type</label>

                                <div class="col-sm-10">
                                    <select name="selectOrgType" class="form-control">
                                        <option value="">Any type of organisation</option>
                                        #foreach( $ot in $page.organisation.orgTypes )
                                        $formatter.option($ot.name, $ot.displayName, $page.selectOrgType)
                                        #end
                                    </select>
                                    <i>If selected, the user will be required to select an organisation of this type, eg "store"</i>
                                </div>
                            </div>

                            <hr />
                            <h3>Custom fields:</h3>

                            <p>If you would like to collect further information drag inputs from the right to the panel below.</p>
                            <textarea style="display: none" name="quizHtml" id="quizHtml">$!page.quizHtml</textarea>

                            <div id="entryFormBuilder"></div>
                        </div>

                        <hr />

                        <h3>Terms and conditions</h3>

                        <textarea cols="120" name="terms" rows="10" class="htmleditor">$!page.terms</textarea>
                    </div>

                    <div class="tab-pane" id="checkout">
                        <h2>Checkout promotion</h2>
                        <p>Allow customers to get discounts and free gifts when they checkout from your store</p>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Select your store</label>

                            <div class="col-sm-10">
                                <select name="storeName" class="form-control">
                                    <option value="">No store</option>
                                    #foreach( $store in $page.stores )
                                    $formatter.option($store.name, $store.title, $page.storeName)
                                    #end
                                </select>
                                <i>If selected, this checkout promotion will be active for the selected store. Manage <a href="/reward-store/">stores here</a></i>
                            </div>
                        </div>

                        <h3>Choose which products and categories to include</h3>
                        <div class="form-group">
                            <label for="promoProductCodes" class="col-sm-2 control-label">Product codes</label>

                            <div class="col-sm-10">
                                <textarea name="promoProductCodes" class="form-control">$!page.promoProductCodes</textarea>
                                <i>Note that these are <a href="/products/">product codes</a>, not <a href="/skus/">SKUs</a>.</i>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="promoCategoryCodes" class="col-sm-2 control-label">Category codes</label>

                            <div class="col-sm-10">
                                <textarea name="promoCategoryCodes" class="form-control">$!page.promoCategoryCodes</textarea>
                                <i>Manage <a href="/categories/">product categories here</a></i>
                            </div>
                        </div>

                        <hr />

                        <h3>Promotion offer:</h3>

                        <p>
                            <label for="" class="control-label">
                                $formatter.checkbox("promoDiscountEnabled", $page.promoDiscountEnabled)
                                Discount
                            </label>
                        </p>

                        <div class="form-group">
                            <label for="promoDiscountAmount" class="col-sm-2 control-label">Discount amount</label>

                            <div class="col-sm-4">
                                <input name="promoDiscountAmount" class="form-control" value="$!page.promoDiscountAmount" />
                            </div>
                        </div>

                        <p>
                            <label for="" class="control-label">
                                $formatter.checkbox("promoGiftEnabled", $page.promoGiftEnabled)
                                Gift with purchase
                            </label>
                        </p>

                        <div class="form-group">
                            <label for="promoGiftSku" class="col-sm-2 control-label">Gift SKU</label>

                            <div class="col-sm-4">
                                <input name="promoGiftSku" class="form-control" value="$!page.promoGiftSku" />
                            </div>
                        </div>

                        <h3>Promotion codes</h3>

                        <div class="form-group">
                            <label for="promoEntryCodes" class="col-sm-2 control-label">Codes</label>

                            <div class="col-sm-10">
                                <textarea name="promoEntryCodes" class="form-control">$!page.promoEntryCodes</textarea>
                                <i>If provided, users will be required to enter a code to activate the promotion</i>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="restrictions">
                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary addRestriction" data-toggle="modal" data-target="#modalAddRestriction">
                                <i class="fa fa-plus"></i> Add a restriction
                            </button>
                        </div>
                        <br />

                        <div class="well">Add restrictions which will prevent rewards from being given unless they have been met.</div>
                        <ul class="restrictionList clearfix" style="padding-left: 0px;">
                            #foreach($r in $page.restrictions)
                            <li>
                                $r.description
                                <input type="hidden" name="restrictionType${foreach.count}" value="$r.type" />
                                <input type="hidden" name="restrictionItem${foreach.count}" value="$r.item" />
                                <button data-dismiss="alert" class="close remove">&times;</button>
                            </li>
                            #end
                        </ul>
                    </div>


                    <div class="tab-pane" id="entries">
                        <div class="well reset-margin-bottom">
                            <table class="entriesLinks">
                                <tr>
                                    <th>Entries</th>
                                    <td>$page.numEntries entries <a href="../entries-${page.name}.html" class="btn btn-primary btn-sm">View</a></td>
                                </tr>
                                <tr>
                                    <th>Export</th>
                                    <td><a href="entries.csv" class="btn btn-primary btn-sm">Export as CSV</a></td>
                                </tr>
                                <tr>
                                    <th>Photos</th>
                                    <td><a href="photos.html" class="btn btn-primary btn-sm">View photo entries</a> (for photo upload comps)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="modalGroup" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose groups</h4>
                    </div>
                    <div class="modal-body">
                        <div class="ListItem">
                            #foreach($g in $page.allGroups)
                            <div class="panel panel-default">
                                <div class="panel-body membership">
                                    <label for="$g.name">$g.name</label>
                                    <label class="pull-right">$formatter.checkbox($g.name, $page.isSelected($g))</label>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalAddRestriction" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="addRestrictionForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add a restriction</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label" for="type">Select a type of restriction</label>

                                        <div class="col-sm-7">$formatter.select("type", $page.availableRestrictionTypes)</div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label" for="item">Select an item</label>

                                        <div class="col-sm-7">$formatter.select("item", $page.availableRestrictionItems)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            var quiz = $formatter.toJson($page.quiz);
            $(function () {
                $("select.pointsType").click(function () {
                    showHidePointsOrgType();
                });
                showHidePointsOrgType();

                initEditReward(quiz);
                //function to initiate bootstrap-datepicker
                $('.date-picker').datepicker({
                    autoclose: true
                });
                $('.TabNav a:first').tab('show');

                initRewardImages();
            });
        </script>
    </body>
</html>