<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageCertificate.css" rel="stylesheet" type="text/css" />
        <link href="/static/common/fileuploader.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/fileuploader.js">//</script>
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-image-select.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-tree.js">//</script>

        <script type="text/javascript" src="manageCertificate.js">//</script>
    </head>
    <body id="manageCertificate">
        <div class="manage-certificate-details">
            <div class="clearfix">
                <p class="pull-right">
<!--                     <button class="btn btn-sm btn-danger btn-delete-cert" data-name="$page.title">Delete</button> -->
                    <button class="btn btn-sm btn-primary btn-save-cert">Save changes</button>
                    <a href="../" class="btn btn-sm btn-default">Cancel</a>
                </p>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="title" class="control-label col-sm-2">Certificate name</label>
                    <div class="col-sm-8">
                        <input type="text" value="$page.title" name="title" id="title" placeholder="Certifcate name" class="form-control" />
                    </div>
                    <span class="checkbox-inline badge badge-info">id: $page.certificate.id</span>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Background image</label>
                    <div class="col-sm-8">
                        <div id="uploaded-image-container">
                        #if($page.imageHash.length() > 0)
                            <a target="_blank" href="/_hashes/files/${page.imageHash}" class="btn-view-img pull-left" style="margin-right: 20px">
                                <img src="/_hashes/files/${page.imageHash}" style="width: 100px" />
                            </a>
                            #end
                            <input type="hidden" id="imageHash" name="backgroundImageHash" value="$!page.imageHash" />
                        </div>

                        <div id='btn-upload' class="pull-left"></div>
                        <br style="clear: both"/>
                        <p><small><i>Please ensure the image you upload is a JPEG, 710 pixels wide by 1004 pixels in height.</i></small></p>

                    </div>
                </div>

                <div class="form-group editor-wrapper">
                    <div class="col-sm-12">
                        <textarea cols="100" id="editContent" name="text" rows="10" class="htmleditor">$!page.text</textarea>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            $(function() {
                initManageCertificateDetails("$!page.imageHash");
            });
        </script>
    </body>
</html>