.courses-list,
.modules-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses-list li.course,
.courses-list li.splitter,
.modules-list li.module,
.modules-list li.splitter {
    margin-bottom: 10px;
    cursor: move;
}

.courses-list li.course,
.courses-list li.splitter > span,
.modules-list li.module,
.modules-list li.splitter > span {
    border-radius: 3px;
}

.courses-list li.course {
    background: #252836;
}

.courses-list li.course.cut {
    background: rgba(37, 40, 54, 0.5);
}

.courses-list li.course.active,
.modules-list li.module {
    background: #3988b7;
}

.courses-list li.course.active.cut,
.modules-list li.module.cut {
    background: rgba(57, 136, 183, 0.5);
}

.courses-list li.course > a,
.courses-list li.splitter > span,
.modules-list li.module > a,
.modules-list li.splitter > span {
    display: block;
    color: #fff;
    padding: 11px 10px;
    text-decoration: none;
    font-weight: bold;
}

.courses-list li.course aside,
.courses-list li.splitter aside,
.modules-list li.module aside,
.modules-list li.splitter aside {
    padding: 5px 5px 0 0;
}

.courses-list li.splitter > span,
.modules-list li.splitter > span {
    color: #555;
    background: #f0f0f0;
}