<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageCertificate.css" rel="stylesheet" type="text/css" />
        <link href="/static/common/fileuploader.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/fileuploader.js">//</script>
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>
        <script type="text/javascript" src="manageCertificate.js">//</script>        
    </head>
    <body class="manage-certificate-details">
        <div class="clearfix">
            <p class="pull-right">
                <button class="btn btn-primary btn-save-cert">Save changes</button>
                <a href="../" class="btn btn-danger">Cancel</a>
            </p>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="title" class="control-label col-md-4">Certificate name</label>
                <div class="col-md-8">
                    <input type="text" value="$page.title" name="title" id="title" placeholder="Certifcate name" class="form-control" /> <span class="badge badge-info">id: $page.certificate.id</span>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Background image</label>
                <div class="col-md-8">
                    <div class="btn btn-primary" id='btn-upload'></div>
                    <p><small>Please ensure the image you upload is a JPEG, 710 pixels wide by 1004 pixels in height.</small></p>
                    <input type="hidden" id="imageHash" name="backgroundImageHash" value="$!page.imageHash" />
                    #if($page.imageHash.length() > 0)
                        <a target="_blank" href="/_hashes/files/${page.imageHash}" class="btn btn-orange btn-view-img">View</a>
                    #end
                </div>
            </div>
            <div class="form-group editor-wrapper">
                <div class="col-md-12">
                    <textarea cols="100" id="editContent" name="text" rows="10" class="htmleditor">$!page.text</textarea>
                </div>
            </div>
        </form>     
        
        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>        
        <script type="text/javascript">
            Bob.onDOMReady(function () {
                initManageCertificateDetails("$!page.imageHash");
            });
        </script>        
    </body>
</html>