.rewards td {
    border-bottom: 1px solid #DBDADA;
    vertical-align: middle;
}
.rewards tbody tr.even td {
    background-color: #F2F2F2;
}
.rewards tbody td {
    padding: 15px 5px;
}
.rewards td.title {    
    padding-left: 8px;
    font-size: 14.4px;
    font-weight: 700;
}

.content .rewards a.button {
    padding: 3px 10px;
    margin: 0;
}

a.status.Active {
    color: @text1;
    background-color: #C6EC59;
}

a.status.Expired {
    color: @text1;
    background-color: #DFDFDF;
}

div.helpBox {
    padding: 5px 15px;
    .box;
    .bordered;
}

div.viewUploaded {
    width: 150px;    
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

div.viewUploaded p {
    position:absolute; 
    top:40%;
    display: block;
    height: 150px;
    width: 100%;
    line-height: normal;
}

div.viewUploaded img {
    vertical-align: middle;
}

div.viewQuiz {
    padding: 0px 20px;
    
    ol.quiz {
        margin: 0;
    }
}

.content form button.enter {
    float: right;
    padding: 12px 35px;
    background-color:@hero1;
}

ul.photos {
    list-style-type: none;
    margin: 0;

    .muploadBtn {
        margin: 0;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 110px;
        span {
            position: absolute;
            top: 0.9em;
            left: 32px;
            color: white;
            text-decoration: none;
            font-size: 12px;
        }
    }
    li {
        float: left;
        display: block;
        padding: 0;
        width: 150px;
        height: 150px;
        margin-right: 12px;
        text-align: center;
        background-image: none;

        img {
            -moz-box-shadow: 3px 3px 4px #555;
            -webkit-box-shadow: 3px 3px 4px #555;
            box-shadow: 3px 3px 4px #555;
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')"; /* For IE 8 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555'); /* For IE 5.5 - 7 */
        }
    }
    li.first {
        height: 200px;
        div.viewUploaded.noImage {
            line-height: 100px;
            border: solid 1px lightgray;
        }
    }
}

.entryFormItem {
    margin-bottom: 10px;
    background-color: #F1F1F1;
    padding: 15px 20px;
    .box;
    .bordered;    
}




div.uploadItem {
    max-height: 350px;
    overflow-y: auto;
}