#if ($page)
    #set($app = $applications.salesDataClaimer )
    <form class="form-horizontal form-new-claim well" action="/salesDataClaims/" method="post" enctype="multipart/form-data" style="background-color: $formBgColor;">
        #if ($formTitle && $formTitle != "")
            <h3>$formTitle</h3>
        #end
        #if ($formDescription && $formDescription != "")
            <p>$formDescription</p>
        #end
        <div class="form-message alert alert-danger" style="display: none;"></div>
        <input type="hidden" name="createClaim" value="true" class="modal-action" />
        <input type="hidden" name="soldBy" value="$!userResource.name" />
        <input type="hidden" name="soldById" value="$!userResource.userId" />
        
        <div class="form-group">
            <label for="amount" class="control-label sr-only">Amount</label>
            
            <div class="col-sm-12">
                <input type="number" id="amount" class="form-control required" name="amount" placeholder="Sale amount" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="soldDate" class="control-label sr-only">Date</label>
            
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" name="soldDate" id="soldDate" placeholder="Purchase date" data-format="DD/MM/YYYY HH:mm" class="form-control date-time-picker required" />
                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="productSku" class="control-label sr-only">Product SKU</label>
            
            <div class="col-sm-12">
                <input name="productSku" id="productSku" class="form-control" placeholder="Product name" value="" />
            </div>
        </div>
        
        #foreach($xf in $app.call("getSalesDataExtreFields", $page))
        <div class="form-group">
            <label for="field_${xf.name}" class="control-label sr-only">$formatter.firstNotNull($xf.title, $xf.name)</label>
            
            <div class="col-sm-12">
                $xf.html
            </div>
        </div>
        #end
        
        <div class="form-group">
            <label class="control-label sr-only">Receipt</label>
            
            <div class="col-sm-12">
                <p class="thumbnail">
                    <img src="/static/images/photo_holder.png" class="img-responsive" />
                </p>
                <button type="button" class="btn btn-sm btn-info btn-upload-receipt btn-block"><i class="fa fa-file-picture-o"></i> Upload receipt</button>
                <span class="text-danger img-error" style="display: none;">Selected file is not image!</span>
                <input type="file" name="receiptImage" class="form-control" style="display: none !important;" />
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Save claim</button>
    </form>
#else
    <form class="form-horizontal well" style="background-color: $formBgColor;">
        #if ($formTitle && $formTitle != "")
            <h3>$formTitle</h3>
        #end
        #if ($formDescription && $formDescription != "")
            <p>$formDescription</p>
        #end
        <div class="form-group">
            <label for="amount" class="control-label sr-only">Amount</label>
            
            <div class="col-sm-12">
                <input type="number" id="amount" class="form-control required" name="amount" placeholder="Sale amount" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="soldDate" class="control-label sr-only">Date</label>
            
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" name="soldDate" id="soldDate" placeholder="Purchase date" data-format="DD/MM/YYYY HH:mm" class="form-control date-time-picker required" />
                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="productSku" class="control-label sr-only">Product SKU</label>
            
            <div class="col-sm-12">
                <input name="productSku" id="productSku" class="form-control" placeholder="Product name" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label sr-only">Receipt</label>
            
            <div class="col-sm-12">
                <p class="thumbnail">
                    <img src="/static/images/photo_holder.png" class="img-responsive" />
                </p>
                <button type="button" class="btn btn-sm btn-info btn-upload-receipt btn-block"><i class="fa fa-file-picture-o"></i> Upload receipt</button>
                <span class="text-danger img-error" style="display: none;">Selected file is not image!</span>
                <input type="file" name="receiptImage" class="form-control" style="display: none !important;" />
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="button">Save claim</button>
    </form>
#end