#macro( createModals )
<div class="modal fade" id="newLeadModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Enter a new lead</h4>
            </div>
            <form method="post" action="/leads/" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="newUserFirstName">Source</label>
                        <div class="col-md-4">
                            <input type="text" name="source" id="source" class="form-control" placeholder="Referring source" />
                        </div>
                        <label class="control-label col-md-2" for="newUserNickName">Lead type</label>
                        <div class="col-md-4">
                            <select name="funnel" class="form-control">
                                #foreach($entry in $leadsPage.funnels.entrySet())
                                <option value="$entry.key">$entry.value.title</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group org-field">
                        <label class="control-label col-md-2" for="newOrgTitle">Company</label>
                        <div class="col-md-5">
                            <input type="hidden" name="newOrgId"/>
                            <input type="text" name="newOrgTitle" id="newOrgTitle" class="form-control" placeholder="Title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="newUserFirstName">Name</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" name="firstName" id="newUserFirstName" class="form-control" placeholder="First name" />
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="surName" id="newUserSurName" class="form-control" placeholder="Surname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="newUserEmail">Contact</label>
                        <div class="col-md-5">
                            <input type="text" name="email" id="newUserEmail" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="newUserNickName">Notes</label>
                        <div class="col-md-10">
                            <textarea name="notes" class="form-control" style="height: 90px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="datetimepickerFollowup">Follow-up</label>
                        <div class="col-md-4">
                            <div id="dueDate" class="input-group">
                                <input type="text" name="dueDate" class="form-control date-time">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <br/>

                            <input type="text" name="title" id="title" class="form-control" placeholder="Task" />
                        </div>

                        <div class="col-md-6">
                            <textarea name="taskDescription" class="form-control" style="height: 95px" placeholder="Follow-up task details"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary btnCreateAndClose" type="submit">Create and close</button>
                    <button class="btn btn-primary" type="submit">Create and view</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Enter a new contact</h4>
            </div>
            <form method="post" action="/leads/" class="form-horizontal">
                <input type="hidden" name="orgId" value="$currentOrg.orgId"/>
                <div class="modal-body">
                    <p>Create contact in $currentOrg.title</p>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserNickName">Nick name</label>
                        <div class="col-md-9">
                            <input type="text" name="nickName" id="newUserNickName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserFirstName">Name</label>
                        <div class="col-md-4">
                            <input type="text" name="firstName" id="newUserFirstName" class="form-control" placeholder="First name" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="surName" id="newUserSurName" class="form-control" placeholder="Surname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserEmail">Contact</label>
                        <div class="col-md-4">
                            <input type="text" name="email" id="newUserEmail" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="phone" id="newUserEmail" class="form-control" placeholder="Phone" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                    <button class="btn btn-primary" type="submit">Create and view</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="newNoteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Enter a note on a lead</h4>
            </div>
            <form method="post" action="" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <select name="action" class="form-control">
                                <option value="">[Select what the note is for]</option>
                                <option value="phone-false">Call to customer</option>
                                <option value="phone-true">Call from customer</option>
                                <option value="email-false">Email to customer</option>
                                <option value="email-true">Email from customer</option>
                                <option value="note-false">General note</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea name="newNote" class="form-control" style="height: 120px"></textarea>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label for="note_newTask">
                            <input type="checkbox" name="newTask" value="true" id="note_newTask" /> Create a new task
                            <input type="hidden" value="false" name="newTask_checkbox" />
                        </label>
                    </div>
                    <div class="row newLeadForm">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" name="title" placeholder="Next follow-up task" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-pencil"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right autoFillText">
                                        <li><a href="#">Call customer</a></li>
                                        <li><a href="#">Email customer</a></li>
                                        <li><a href="#">Send documents</a></li>
                                        <li><a href="#">Arrange a meeting</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div>
                            <br/>
                            <div class="input-group">
                                <input type="text" name="dueDate" class="form-control date-time" value="$formatter.formatDateTime($formatter.addDays($page.dueDate, 7))">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <textarea name="taskDescription" class="form-control required-if-shown" style="height: 100px" placeholder="Describe the next follow-up task"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                    <button class="btn btn-primary" type="submit">Save note</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalEditTask" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Edit task</h4>
            </div>
            <form method="post" action="" class="form-horizontal">
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="closeDealModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Deal closed successfully</h4>
            </div>
            <form method="post" action="$page.href" class="form-horizontal">
                <input type="hidden" name="closeDeal"/>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label col-md-3" for="closedDate">Closed Date</label>
                        <div class="col-md-9">
                            <input type="text" name="closedDate" id="closedDate" class="required form-control" placeholder="closedDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="dealAmount">Sale amount</label>
                        <div class="col-md-9">
                            <input type="text" name="dealAmount" id="dealAmount" class="required form-control" placeholder="dealAmount" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Exit</button>

                    <button class="btn btn-success" type="submit">Mark deal as closed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="cancelDealModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Deal canceled</h4>
            </div>
            <form method="post" action="$page.href" class="form-horizontal">
                <input type="hidden" name="closeDeal"/>
                <div class="modal-body">
                    <p>Cancel this lead if you are sure it will not go ahead. The lead will be marked as closed without a sale.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Exit</button>

                    <button class="btn btn-primary" type="submit">Cancel this lead</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="cancelTaskModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Cancel Task</h4>
            </div>
            <form method="post" action="" class="form-horizontal">
                <input type="hidden" name="cancelTask"/>
                <div class="modal-body">
                    <p>Cancel this task if it is no longer required to be done.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Exit</button>

                    <button class="btn btn-primary" type="submit">Cancel this task</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="newQuickLeadModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Enter a new lead</h4>
            </div>
            <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
                <input type="hidden" name="quickLead"/>
                <input type="hidden" name="geoLocation"/>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserNickName">Image</label>
                        <div class="col-md-9">
                            <input type="file" name="image" class="form-control" accept="image/*" capture="camera"/>
                        </div>
                    </div>

                    <div class="form-group voiceMemo">
                        <label class="control-label col-md-3" for="newUserNickName">Voice Memo</label>
                        <div class="col-md-9">
                            <button id="recordMemo" type="button" class="btn btn-sm btn-success"><i class="fa fa-2x fa-microphone"></i></button>
                            <span class="recording" style="display: none;">Recording...</span>
                            <span class="audio-rec" style="display: none;"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="notes">Notes</label>
                        <div class="col-md-9">
                            <textarea name="notes" class="form-control" style="height: 100px" placeholder="Notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>

                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

#end


#macro( showLead $lead $hideButtons )
<div class="media">
    <div class="media-left">
        <div class="avatar avatar-away">
            <img alt="..." src="/theme/images/user/02.jpg" class="img img-circle" style="width: 100px" />
            <i class="avatar avatar-busy"></i>
        </div>
    </div>
    <div class="media-body" style="padding-left: 20px; position: relative">
        <h3 class="media-heading">
            <a href="/leads/$lead.id/">
                #if($lead.organisation)
                $lead.organisation.formattedName
                #elseif( $lead.profile )
                $lead.profile.formattedName
                #else
                No contact information
                #end
            </a>
            <small class="pull-right">
                Lead created: <abbr title="$formatter.formatDateISO8601($lead.createDate)" class="timeago">$lead.createDate</abbr>
            </small>
        </h3>
        #if($lead.organisation)
        <p>
            <i aria-hidden="true" class="fa fa-map-marker"></i>
            #if($lead.organisation.address)
            $lead.organisation.address
            #end

            #if($lead.organisation.addressLine2)
            , $lead.organisation.addressLine2
            #end
            #if($lead.organisation.AddressState)
            , $lead.organisation.AddressState
            #end
            #if($lead.organisation.postcode)
            , $lead.organisation.postcode
            #end
        </p>
        #end
        #if( $lead.profile )
        #if( $lead.profile.email )
        <p>
            <i aria-hidden="true" class="fa fa-envelope"></i>
            $lead.profile.email
        </p>
        #end
        #if( $lead.profile.phone )
        <p>
            <i aria-hidden="true" class="fa fa-mobile"></i>
            $lead.profile.phone
        </p>
        #end
        #end

        <div class="lead">
            <div class="leadInner">
                $formatter.textToHtml($lead.description)
            </div>
        </div>

        #if( $lead.profile )
        <div class="text-muted leadContactMethods">
            <a href="mailto:$lead.profile.email" class="text-muted">
                <em aria-hidden="true" class="fa fa-envelope"></em>
            </a>
            <a href="$lead.profile.phone" class="text-muted">
                <em aria-hidden="true" class="fa fa-mobile"></em>
            </a>
            <a href="javascript:void(0)" class="text-muted">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a href="javascript:void(0)" class="text-muted">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
        </div>
        #end

        #if( $hideButtons )
        #else
        <div class="leadActions">
            <ul class="list-inline" style="right: 0">
                <li>
                    <a href="/leads/$lead.id" class="btn btn-success closeLead" title="Sold, close the deal">
                        <span class="fa fa-check"></span>
                    </a>
                </li>
                <li>
                    <a href="/leads/$lead.id" class="btn btn-danger cancelLead" title="Deal cancelled">
                        <span class="fa fa-remove"></span>
                    </a>
                </li>
                <li>
                    <a href="/leads/$lead.id/" class="btn btn-primary createNote" title="Add note or contact">
                        <span class="fa fa-lightbulb-o"></span>
                    </a>
                </li>

            </ul>
        </div>
        #end
        <!--
        <ul class="list-inline" style="bottom: 0; position: absolute">
            <li><a class="link-black text-sm" href="#"><i class="fa fa-share margin-r-5"></i> Share</a></li>
            <li><a class="link-black text-sm" href="#"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
            </li>
            <li class="pull-right">
                <a class="link-black text-sm" href="#"><i class="fa fa-comments-o margin-r-5"></i> Comments
                    (5)
                </a>
            </li>
        </ul>
        -->
    </div>
</div>
#end