#showTimeline($page.timelineItems)

#macro( showTimeline, $timelineItems )
<ul class="timeline">
    #set( $month = "" )
    #set( $lastMonth = "" )
    #foreach( $action in $timelineItems )
    #if( $action.actionDate )
    #set( $month = $formatter.getMonthName($action.actionDate) )
    #if( $month != $lastMonth )
    <li class="tldateLi"><div class="tldate"><span>$month $formatter.getYear($action.actionDate)</span></div></li>
    #end
    #set( $lastMonth = $month )
    <li class="$formatter.ifTrue($action.inbound, '', 'timeline-inverted')">
        <div class="timeline-badge $action.category"><i class="fa $action.itemType"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                #if( $action.actionDate)
                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>
                    <abbr title="$formatter.formatDateISO8601($action.actionDate)" class="info timeago">$action.actionDate</abbr>
                </small>
                #end
                <h4 class="timeline-title">$action.itemTitle</h4>
            </div>
            <div class="timeline-body">
                <p>$!action.actionDesc</p>
                #if($action.path)
                <p>
                    <a href="$action.path" class="btn btn-sm btn-info pull-right">
                        View <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </p>
                #end
            </div>
        </div>
    </li>
    #end
    #end

</ul>
#end
