#table-result table tbody tr:first-child td{
    border-top: none;
}
#table-result .table-responsive{
    max-height: 195px;
}
#dashLeadsList .lead-desc{
    margin-bottom: 45px;
}
#tasksList abbr.timeago{
    margin-left: 5px;
}
table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting:after{
    content: '' !important;
}
.funnel-wrap{
    padding: 40px 30px 0;
}
@media (max-width: 767px) {
    .form-group [class^="col-md"] + div{
        margin-top: 10px;
    }

    .btn-fullwidth-mobile{
        width: 100%;
        margin-left: 0 !important;
    }
    .btn-fullwidth-mobile + button{
        margin-top: 10px;
    }

    .leadActions{
        position: relative;
    }
    #dashLeadsList .media-heading a, #searchResults .media-heading a{
        display: block;
    }
    #dashLeadsList .media-heading small.pull-right, #searchResults .media-heading small.pull-right{
        display: block;
        float: none !important;
    }

    #tasksList .takeTask{
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    #myWizard .actions{
        position: relative;
    }

    #dashLeadsList .lead-desc{
        margin-bottom: 35px;
    }
}

@media (max-width: 991px) {
    .form-group [class^="col-md"] + div{
        margin-top: 15px;
    }
}