#parse("/theme/apps/leadman/leadManIncludes.html")
<style>
    .infoBox {
        height: 100px;
    }
    .infoBox h1 {
        margin-top: 0;
    }
    .leadContactMethods a {
        margin-right: 10px;
    }
    .leadActions {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .leadContactMethods {
        position: absolute;
        bottom: 0;
        left: 20px;
    }
    .lead {
        margin-bottom: 40px;
    }
</style>
<div class="fw-boxed">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-4">
                <div class="row text-muted m0">
                    <div data-ripple="" class="col-xs-3 col-md-6 bb br pv-xxl infoBox" >
                        <h1 class="text-thin">150</h1>
                        <div class="text-right text-sm text-muted">Leads</div>
                    </div>
                    <div data-ripple="" class="col-xs-3 col-md-6 bb br pv-xxl infoBox" >
                        <h1 class="text-thin">34</h1>
                        <div class="text-right text-sm text-muted">Response time, mins</div>
                    </div>
                    <div data-ripple="" class="col-xs-3 col-md-6 bb-lg br pv-xxl infoBox" >
                        <h1 class="text-thin">472k</h1>
                        <div class="text-right text-sm text-muted">Pipeline value</div>
                    </div>
                    <div data-ripple="" class="col-xs-3 col-md-6 bb-lg br pv-xxl infoBox" >
                        <h1 class="text-thin">5</h1>
                        <div class="text-right text-sm text-muted">Tasks due today</div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="p">
                            <div class="row row-flush text-center">
                                <div class="col-xs-6">
                                    <p class="mt-lg">Task completion</p>
                                    <div data-percent="75" class="easypie"><span>75</span></div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="mt-lg">Conversion rate</p>
                                    <div data-percent="22" class="easypie"><span>22</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="p">
                            Weekly sales target
                            <div class="progress progress-xs">
                                <div style="width: 10%" class="progress-bar progress-bar-warning"></div>
                            </div>
                            Monthly sales target
                            <div class="progress progress-xs">
                                <div style="width: 82%" class="progress-bar progress-bar-info"></div>
                            </div>
                            Annual sales target
                            <div class="progress progress-xs m0">
                                <div style="width: 70%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="">
    #set( $leadsPage = $page.find("/leads") )

    <br/>

    <div role="tabpanel" id="all_contacts" class="tab-pane animation-fade active">
        #set( $leads = $leadsPage.search($currentOrg) )

        #if( $leads.size() > 0 )
        <ul class="list-group leadsList" id="dashLeadsList">
            #foreach($lead in $leads)
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-away">
                            <img alt="..." src="/images/user/02.jpg" class="img img-circle" style="width: 100px" />
                            <i class="avatar avatar-busy"></i>
                        </div>
                    </div>
                    <div class="media-body" style="padding-left: 20px; position: relative">
                        <h3 class="media-heading">
                            <a href="/leads/$lead.id/">
                            #if( $lead.profile )
                            $lead.profile.formattedName
                            #else
                            No contact information
                            #end
                            </a>
                            <small class="pull-right">
                                <abbr title="$formatter.formatDateISO8601($lead.createDate)" class="timeago">Created $lead.createDate</abbr>
                            </small>
                        </h3>
                        #if( $lead.profile )
                        <p>
                            <i aria-hidden="true" class="fa fa-map-marker"></i>
                            Street 1391 Depaul Dr

                            #if( $lead.profile.email )
                            , $lead.profile.email
                            #end

                            #if( $lead.profile.phone )
                            , $lead.profile.phone
                            #end
                        </p>
                        #end

                        <p class="lead">$!lead.description</p>

                        #if( $lead.profile )
                        <div class="text-muted leadContactMethods">
                            <a href="mailto:$lead.profile.email" class="text-muted">
                                <em aria-hidden="true" class="fa fa-envelope"></em>
                            </a>
                            <a href="$lead.profile.phone" class="text-muted">
                                <em aria-hidden="true" class="fa fa-mobile"></em>
                            </a>
                            <a href="javascript:void(0)" class="text-muted">
                                <i aria-hidden="true" class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:void(0)" class="text-muted">
                                <i aria-hidden="true" class="fa fa-facebook"></i>
                            </a>
                        </div>
                        #end

                        <div class="leadActions">
                            <ul class="list-inline" style="right: 0">
                                <li>
                                    <a href="/leads/$lead.id" class="btn btn-success closeLead" title="Sold, close the deal">
                                        <span class="fa fa-check"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/leads/$lead.id" class="btn btn-danger cancelLead" title="Deal cancelled">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/leads/$lead.id/" class="btn btn-primary createNote" title="Add note or contact">
                                        <span class="fa fa-lightbulb-o"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--
                        <ul class="list-inline" style="bottom: 0; position: absolute">
                            <li><a class="link-black text-sm" href="#"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            <li><a class="link-black text-sm" href="#"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                                <a class="link-black text-sm" href="#"><i class="fa fa-comments-o margin-r-5"></i> Comments
                                    (5)
                                </a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </li>
            #end
        </ul>
        #else
        <p class="lead">Couldnt find any leads</p>
        #end
    </div>


</div>


#createModals()

<script type="text/javascript">
    $(function () {
        $('abbr.timeago').timeago();
        $('#leadQuery').keyup(function () {
            typewatch(function () {
                flog('do search');
                doLeadSearch($('#leadQuery').val());
            }, 500);
        });

        function doLeadSearch(q) {
            var href = window.location.pathname + "?q=" + q
            $("#leadsBody").reloadFragment({
                url: href,
                whenComplete: function () {
                    window.history.pushState("", href, href);
                    $('abbr.timeago').timeago();
                }
            });
        }
    });
</script>

