<div class="container">
    <p class='lead'>Leads</p>
    #set( $leadsPage = $page.find("/leads") )

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group" id="voucher-query-container">
                <input type="text" id="leadQuery" name="q" class="form-control" placeholder="Search for a lead" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user-plus"></i> Create a lead
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    #foreach($funnel in $leadsPage.funnels)
                    <li class="presentation" role="menuitem"><a href="$funnel.name" class="createLead">$funnel.name - $!funnel.title</a></li>
                    #end
                </ul>
            </div>
        </div>
    </div>

    #set( $leads = $leadsPage.search($params.q) )

    #if( $leads.size() > 0 )
    <div class="table-responsive">
        <table id="vouchers-table" class="table table-striped table-hover" style="width: 100%">
            <colgroup>
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="280px" />
            </colgroup>
            <thead>
                <tr>
                    <th>Last reached goal</th>
                    <th>Next goal</th>
                    <th>Profile</th>
                    <th>Date</th>
                    <th>By</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody id="leadsBody">
                #foreach($lead in $leads)
                <tr>
                    <td><a href='/leads/$lead.id'>$lead.lastAttainedGoal</a></td>
                    <td><a href='/leads/$lead.id'>$lead.currentGoal</a></td>
                    <td>$!lead.profile.email</td>
                    <td>$!lead.assignedToProfile.email</td>
                    <td>$lead.createDate</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    #end


</div>


<div class="modal fade" id="newLeadModal" tabindex="-1" role="dialog" aria-labelledby="redeemVoucherModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Enter a new lead</h4>
            </div>
            <form method="post" action="/leads/" class="form-horizontal">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserNickName">Nick name</label>
                        <div class="col-md-9">
                            <input type="text" name="nickName" id="newUserNickName" class="required form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserFirstName">Name</label>
                        <div class="col-md-4">
                            <input type="text" name="firstName" id="newUserFirstName" class="form-control" placeholder="First name" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="surName" id="newUserSurName" class="form-control" placeholder="Surname" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserEmail">Contact</label>
                        <div class="col-md-4">
                            <input type="text" name="email" id="newUserEmail" class="required form-control" placeholder="Email" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="phone" id="newUserEmail" class="required form-control" placeholder="Phone" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="newUserNickName">Lead type</label>
                        <div class="col-md-9">
                            <select name="funnel" class="form-control">
                                #foreach($funnel in $leadsPage.funnels)
                                <option value="$funnel.name">$funnel.name - $!funnel.title</option>
                                #end
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                    <button class="btn btn-primary" type="submit">Create and view</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script type="text/javascript">
    $(function () {
        $('abbr.timeago').timeago();
        initNewUserForm();
        $('#leadQuery').keyup(function () {
            typewatch(function () {
                flog('do search');
                doLeadSearch($('#leadQuery').val());
            }, 500);
        });

        function doLeadSearch(q) {
            var href = window.location.pathname + "?q=" + q
            $("#leadsBody").reloadFragment({
                url: href,
                whenComplete: function () {
                    window.history.pushState("", href, href);
                    $('abbr.timeago').timeago();
                }
            });
        }

        function initNewUserForm() {
            var modal = $('#newLeadModal');
            var form = modal.find('form');

            $(".createLead").click(function (e) {
                flog("click");
                e.preventDefault();
                var funnelName = $(e.target).closest("a").attr("href");
                form.find("select").val(funnelName);
                modal.modal("show");
            });

            form.forms({
                callback: function (resp) {
                    flog('done new user', resp);
                    if (resp.nextHref) {
                        window.location.href = resp.nextHref;
                    }
                    Msg.info('Saved');
                }
            });
        }

    });
</script>

