
<html xmlns="http://www.w3.org/1999/xhtml">
    #parse("/theme/masterTemplate.html")
    <head>
        #@themeHeader( "Search contacts" )
        <script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" type="text/javascript" >//</script>
        <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet"/>
        <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js">//</script>
        #end
    </head>
    <body class='add-container'>
        #@themeBody()
        <div class="row fuelux">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="search-user">
                            <input type="text" id="user-query" class="form-control" placeholder="Search for user here" value="" />
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="btn-group pull-right" style="margin-bottom: 10px">
                            <a href="#" class="btn btn-success createContact"><i class="fa fa-user-plus"></i> Add a new contact</a>
                            <a href="#importerWizard" class="btn btn-success importerWizard" data-toggle="collapse" ><i class="fa fa-user-plus"></i> Import</a>
                            <a href="#" class="btn btn-danger btn-del-contacts" ><i class="fa fa-user-plus"></i> Delete contacts</a>
                        </div>
                    </div>
                </div>
                <div class="row collapse"  id="importerWizard" style="margin-bottom:30px">
                    <div class="col-lg-12">
                        <div class="wizard" id="myWizard">
                            <div class="steps-container">
                                <ul class="steps">
                                    <li data-step="1" data-name="upload" class="active">
                                        <span class="badge">1</span>Upload
                                        <span class="chevron"></span>
                                    </li>
                                    <li data-step="2">
                                        <span class="badge">2</span>Select columns
                                        <span class="chevron"></span>
                                    </li>
                                    <li data-step="3" data-name="import">
                                        <span class="badge">3</span>Import
                                        <span class="chevron"></span>
                                    </li>
                                    <li data-step="4" data-name="processing">
                                        <span class="badge">4</span>Processing
                                        <span class="chevron"></span>
                                    </li>
                                    <li data-step="5" data-name="complete">
                                        <span class="badge">5</span>Complete
                                        <span class="chevron"></span>
                                    </li>

                                </ul>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-default btn-prev">
                                    <span class="glyphicon glyphicon-arrow-left"></span>Prev
                                </button>
                                <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                            <form method="post" action="$page.href">
                                <div class="step-content">
                                    <div class="step-pane active sample-pane alert" data-step="1">
                                        #if($page.saleGroup)
                                        <h4>Upload CSV File</h4>
                                        <div id='btn-upload' class="pull-left"></div>
                                        <div class="clearfix"></div>
                                        #else
                                        <div class="alert">Sale Group hasn't been set in global Leadman app settings. Please contact administrator for assistant.</div>
                                        #end
                                    </div>
                                    <div class="step-pane sample-pane alert" data-step="2">
                                        <h4>Select columns</h4>

                                        <input type="hidden" name="fileHash" value=""/>

                                        <p>Please select which destination field each column should be imported into:</p>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-1" for="startRow">Start row</label>
                                                        <div class="controls col-md-2">
                                                            <input type="text" name="startRow" id="startRow" class="form-control" value=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive" style="max-height: 300px">
                                            <table class="table table-bordered table-striped" id="importerTable" >
                                                <thead>
                                                    <tr id="importerHead">
                                                        <th>Please wait...</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="importerBody">
                                                    <tr>
                                                        <td>Loading...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="step-pane sample-pane alert" data-step="3">
                                        <h4>Start importing</h4>
                                        <p>Press the button here to begin importing. This process imports at a rate of about 1000 rows per minute,
                                            so may take some time depending on the size of the file</p>
                                        <p class="beforeImportInfo text-info" style="margin-bottom: 5px">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                            <span class="sr-only">Loading...</span>
                                        </p>

                                        <button type="submit" class="btn btn-success">Import now</button>
                                        <br/>
                                        <i>Any invalid records are displayed below. If you proceed these will not be imported, but you can download a list at the end to correct and reupload</i>
                                        <div class="table-responsive" style="max-height: 300px">
                                            <table class="table table-bordered table-striped">
                                                <tbody class="beforeImportInvalidRows">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="step-pane sample-pane alert" data-step="4">
                                        <h4>Import running</h4>
                                        <div class="process-results">
                                            <p>
                                                <strong>Process Status:</strong>
                                                <strong id='job-status'></strong>
                                            </p>

                                            <button class="btn btn-danger" name="cancel" type="button" id="btn-cancel-import">Cancel Import</button>
                                        </div>

                                    </div>
                                    <div class="step-pane sample-pane alert" data-step="5">
                                        <h4>Profiles updated: <span class="updatedProfiles"></span></h4>
                                        <h4>Profiles created: <span class="createdProfiles"></span></h4>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 lead-contacts-wrap" id="searchResults">
                        #set($searchResults = $page.searchResults)
                        #if( $searchResults.isEmpty() )
                        <p class="lead">No results matched the search</p>
                        #else
                        <ul class="list-group">
                            #foreach($p in $searchResults)
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left hidden-xs">
                                        <div class="avatar avatar-away">
                                            <img alt="..." src="/theme/apps/leadman/user-placeholder.png" class="img img-circle" style="width: 100px" />
                                            <i class="avatar avatar-busy"></i>
                                        </div>
                                    </div>
                                    <div class="media-body" style="padding-left: 20px; position: relative">
                                        <h3 class="media-heading">
                                            #if($p.fields.firstName.value)
                                            <a href="$p.fields.userName.value">
                                                $formatter.htmlEncode($p.fields.firstName.value)
                                                #if($p.fields.surName.value)
                                                $formatter.htmlEncode($p.fields.surName.value)
                                                #end
                                            </a>
                                            #else
                                            <a href="$p.fields.userName.value">No Name</a>
                                            #end
                                        </h3>
                                        <div class="pull-right">
                                            <input type="checkbox" name="select-contact" data-userid="$p.fields.userId.value"/>
                                        </div>
                                        <p>
                                            <i aria-hidden="true" class="fa fa-map-marker"></i>
                                            #if( $p.fields.email.value )
                                            $p.fields.email.value
                                            #end

                                            #if( $p.fields.phone.value )
                                            , $p.fields.phone.value
                                            #end
                                        </p>

                                        #set( $leads = $page.leads($p.fields.userName.value) )
                                        #if( $leads.size() > 0 )
                                        <p>$leads.size() leads in progress</p>
                                        #else
                                        <p>
                                            <i>No leads in progress</i>
                                        </p>
                                        #end

                                        #if( $page.getLastContactDate($p.fields.userName.value) )
                                        #set($cd = $page.getLastContactDate($p.fields.userName.value))
                                        <small class="pull-right">Last contact: <abbr class="timeago" title="$formatter.formatDateISO8601($cd, $page.organisation.timezone)">$formatter.formatDateISO8601($cd, $page.organisation.timezone)</abbr></small>
                                        #end

                                        <div class="text-muted leadContactMethods">
                                            #if($p.fields.email.value)
                                            <a href="mailto:$p.fields.email.value" class="text-muted">
                                                <em aria-hidden="true" class="fa fa-envelope"></em>
                                            </a>
                                            #end
                                            #if( $p.fields.phone.value )
                                            <a href="tel:$p.fields.phone.value" class="text-muted">
                                                <em aria-hidden="true" class="fa fa-mobile"></em>
                                            </a>
                                            #end
                                        </div>
                                    </div>
                                </div>
                            </li>
                            #end
                        </ul>
                        #end
                    </div> <!-- End results table -->
                </div>
            </div>
            <div class="col-lg-3" id="aggregationsContainer">
                #if( $page.aggregations )
                <table class="table">
                    #foreach($agg in $page.aggregations )
                    #showAggregation($agg)
                    #end
                </table>
                #end
            </div> <!-- end aggregations -->

        </div>

        <script type="text/javascript" src="/static/uri/1.15.1/URI.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript" src="/theme/apps/leadman/leadProfiles.js">//</script>
        <script type="text/javascript">
            $(function () {
                initSearchLead();
                initUploads();
                initDelContacts();
                doCheckProcessStatus();
            });
            function doCheckProcessStatus() {
                checkProcessStatus("$page.taskName");
            }

        </script>
        #end
    </body>
</html>
