#membershipsContainer > * {
    display: inline-block;
    vertical-align: top;
}

#membershipsContainer .twitter-typeahead {
    float: none;
    width: auto;
    line-height: 16px;
}

#searchbox-wrap {
    position: relative;
}

#searchbox-wrap i {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 2;
}

#searchbox-wrap .tt-suggestion.tt-selectable + .tt-suggestion.tt-selectable {
    border-top: 1px solid #eee;
}
