#membershipsContainer > * {
    display: inline-block;
    vertical-align: top;
}

#membershipsContainer .twitter-typeahead {
    float: none;
    width: auto;
    line-height: 16px;
}

#searchbox-wrap {
    position: relative;
}

#searchbox-wrap i {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 2;
}

#searchbox-wrap .tt-suggestion.tt-selectable + .tt-suggestion.tt-selectable {
    border-top: 1px solid #eee;
}

.lead-note-author {
    margin-right: 10px;;
}

.note-item {
    padding: 15px;
}

.note-item > div + div {
    margin-top: 15px;
}

.note-item:nth-child(2n+1) {
    background: #f0f5f8;
}


.field-name{
    overflow: hidden;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 13px;     /* fallback */
    max-height: 26px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}