<style type="text/css">
    .panel-tasks-list .list-group .list-group-item:first-child {
        border-top: 1px solid #f1f2f3;
    }

    .panel-tasks-list .no-mgt {
        margin-top: 0;
    }
</style>
<div class="panel panel-default panel-tasks-list">
    <div class="panel-body" #if ($height) style="height: ${height}px; overflow-y: auto;" #end>
        #if( !$leadsPage )
            #set( $leadsPage = $rootFolder.find("/leads") )
        #end
        #parse( "/theme/apps/leadman/tasksDash.html" )
    </div>
</div>
