<html xmlns="http://www.w3.org/1999/xhtml">
    #parse("/theme/masterTemplate.html")
    <head>
        #@themeHeader( "View lead" )
        <link rel="stylesheet" href="/static/timeline/timeline.css">
            #end
    </head>
    <body class='add-container'>
        #@themeBody()

        <div class="">
            <div style="background:url(/theme/images/infiniti-bg.jpg) center center; background-size:cover; height: 160px" class="unwrap">
                <div class="container container-lg p-lg">
                    <div class="pull-right">

                        #if( $page.completed)
                        #if( $page.cancelled)
                        <div class="alert alert-warning">
                            <p class="lead">
                                <span class="fa fa-remove"></span>
                                Lead cancelled <abbr title="$formatter.formatDateISO8601($page.closedDate)" class="timeago">$page.closedDate</abbr>
                            </p>
                        </div>
                        #else
                        <div class="alert alert-success">
                            <p class="lead">
                                <span class="fa fa-check"></span>
                                Lead closed <abbr title="$formatter.formatDateISO8601($page.closedDate)" class="timeago">$page.closedDate</abbr>
                            </p>
                        </div>
                        #end
                        #else
                        <div class="btn-group mb-sm mr dropdown">
                            <button id="assignedBlock" class="btn btn-lg dropdown-toggle btn-info" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" >
                                <span>
                                    #if( $page.assignedTo )
                                    Assigned to: $!page.assignedTo.firstName $!page.assignedTo.surName
                                    #else
                                    Not assigned
                                    #end
                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="assignToMenu" role="menu">
                                <li><a href="$user.name">Assign to me</a></li>
                                <li><a href="">Clear</a></li>
                                <li role="separator" class="divider"></li>
                                #foreach($user in $page.find("/leads").teamMembers)
                                <li><a href="$user.name">$user.name</a></li>
                                #end
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary btn-lg" data-target="#newTaskModal" data-toggle="modal">Add new Task</button>

                            <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#cancelDealModal">
                                <span class="fa fa-remove"></span>
                                Cancel
                            </button>

                            <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#closeDealModal">
                                <span class="fa fa-dollar"></span>
                                Close deal
                            </button>
                        </div>
                        #end
                    </div>
                    <div class="media mt-lg">
                        <div class="media-left media-middle"><a href=""><img src="/theme/images/user/02.jpg" class="media-object thumb96 img-circle"></a></div>
                        <div class="media-body text-white">
                            <h2 class="mv-lg media-heading">
                                #if( $page.profile )
                                <a href="/custs/$page.profile.name" style="color: white">$page.customerDescription</a>
                                #else
                                No contact profile
                                #end
                            </h2>
                            <button type="button" class="btn btn-info btn-xs mr-sm"> <em class="fa fa-twitter fa-fw"></em></button>
                            <button type="button" class="btn btn-primary btn-xs mr-sm"> <em class="fa fa-facebook fa-fw"></em></button>
                            <button type="button" class="btn btn-danger btn-xs"> <em class="fa fa-google-plus fa-fw"></em></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container-lg">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel">
                            <div class="panel-heading no-shadow">
                                <a class="btn btn-success createNote pull-right" href="$page.href">
                                    <span class="fa fa-plus"></span>
                                </a>
                                Recent contacts
                            </div>
                            <div class="panel-body">
                                #set( $notes = $page.notes )
                                #if( $notes.size() > 0 )
                                <ul class="list-block">
                                    #foreach($note in $page.notes)
                                    <li class="media">
                                        <div class="pull-left">
                                            <div class="point-pin"><a href=""><img src="/theme/images/user/05.jpg" alt="Image" class="media-object img-circle thumb32"></a>
                                                <div class="point point-success point-lg"></div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <p>
                                                    <a href="/users/$note.createdBy.name">$note.createdBy.formattedName</a>

                                                    #if( $note.inbound )
                                                    <small class="text-muted fa fa-arrow-left"></small>
                                                    <small class="text-muted fa fa-${note.icon}"></small>
                                                    #else
                                                    <small class="text-muted fa fa-${note.icon}"></small>
                                                    <small class="text-muted fa fa-arrow-right"></small>
                                                    #end

                                                </p>

                                                <p>
                                                    $note.notes
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    #end
                                </ul>
                                #else
                                <p>
                                    <span class="label label-warning">No contact with the lead yet</span>
                                </p>
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel">
                            <div class="panel-body">
                                <ul role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
                                    <li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                                    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="details" role="tabpanel" class="tab-pane fade active in">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Estimated deal value:</label>
                                                <div class="col-md-3">
                                                    <input type="number" value="$!page.dealAmount" name="dealAmount" class="form-control immediateUpdate"/>    
                                                </div>
                                            </div>                                            
                                        </div>

                                        <hr/>

                                        <textarea id="description" class="form-control" name="description" style="height: 400px">$!page.description</textarea>
                                    </div>

                                    <div id="activity" role="tabpanel" class="tab-pane fade">
                                        #showTimeline($page.timelineItems)
                                    </div>
                                    <div id="profile" role="tabpanel" class="tab-pane fade">
                                        <h4 class="page-header">Contact information</h4>
                                        <div class="row">
                                            <form method="post" action="$page.href" class="form-horizontal" id="leadDetails">
                                                <div class="modal-body">
                                                    #set( $p = $page.leadProfile )
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="nickName">Customer</label>
                                                        <div class="col-md-3">
                                                            <input type="text" name="nickName" id="nickName" class="form-control" placeholder="nickName" value="$!p.nickName" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" value="$!p.firstName" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" name="surName" id="surName" class="form-control" placeholder="Surname" value="$!p.surName" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="newUserEmail">Contact</label>
                                                        <div class="col-md-5">
                                                            <input type="text" name="email" id="email" class="form-control" placeholder="Email" value="$!p.email" />
                                                        </div>
                                                        <div class="col-md-5">
                                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="$!p.phone" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="notes">Notes</label>
                                                        <div class="col-md-10">
                                                            <textarea name="notes" class="form-control" style="height: 100px">$!page.description</textarea>
                                                        </div>
                                                    </div>


                                                    #if( $page.completed)
                                                    #else
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-md-offset-2">
                                                            <button class="btn btn-sm btn-default" type="reset">Reset</button>

                                                            <button class="btn btn-primary" type="submit">Save details</button>

                                                        </div>
                                                    </div>
                                                    #end
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="tasks" role="tabpanel" class="tab-pane fade">
                                        <div class="task-item-list">
                                            <div id="tasksList" role="tablist" aria-multiselectable="true" class="panel-group">
                                                <div class="panel panel-default">
                                                    #foreach($task in $page.children)
                                                    <div id="headingOne" role="tab" class="panel-heading">
                                                        <h4 class="panel-title clearfix task-item">
                                                            <div class="pull-left">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                    <span class="task-title">$task.title</span>
                                                                </a>
                                                            </div>
                                                            <a href="$task.href" class="pull-left" data-target="#modalEditTask" data-toggle="modal">
                                                                <span class="task-edit fa fa-pencil"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            #if( $task.is("open") )
                                                            <div class="btn-group pull-right">
                                                                <a class="btn btn-danger btn-lg btnCancelTask" title="Cancel task" href="$task.href">
                                                                    <span class="fa fa-remove"></span>
                                                                </a>
                                                                <a href="$task.href" class="mr btn btn-success btn-lg" data-target="#modalEditTask" data-toggle="modal">
                                                                    <span class="fa fa-check"></span>
                                                                </a>
                                                            </div>
                                                            Due in <abbr title="$formatter.formatDateISO8601($task.dueDate)" class="timeago">$task.dueDate</abbr>
                                                            #elseif( $task.is("canceled") )
                                                            <span class="label label-warning">
                                                                Canceled
                                                            </span>
                                                            - 
                                                            <abbr title="$formatter.formatDateISO8601($task.completedDate)" class="timeago">$task.completedDate</abbr>
                                                            #else
                                                            <span class="label label-success">
                                                                Completed 
                                                            </span>
                                                            <abbr title="$formatter.formatDateISO8601($task.completedDate)" class="timeago">$task.completedDate</abbr>
                                                            #end

                                                            -
                                                            $task.taskDescription
                                                        </div>
                                                    </div>
                                                    #end
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fw-boxed">
            <div class="panel panel-default">

            </div>
        </div>


        <hr/>



        <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="">Create a task</h4>
                    </div>
                    <form method="post" action="$page.href" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-md-3" for="newTaskTitle">Description</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="title" placeholder="Next follow-up task" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-pencil"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right autoFillText">
                                                <li><a href="#">Call customer</a></li>
                                                <li><a href="#">Email customer</a></li>
                                                <li><a href="#">Send documents</a></li>
                                                <li><a href="#">Arrange a meeting</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="dueDate">Task Due</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" name="dueDate" class="form-control date-time" value="$formatter.formatDateTime($formatter.addDays($formatter.now, 7))">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                    </div>                                      
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3" for="taskDescription">Description</label>
                                <div class="col-md-9">
                                    <textarea name="taskDescription" id="taskDescription" class="form-control" placeholder="Enter task details here"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                            <button class="btn btn-primary" type="submit">Create and view</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>


        #createModals()

        <script type="text/javascript">
            $(function () {
                var form = $("#leadDetails");
                form.forms({
                    callback: function (resp) {
                        Msg.info('Saved');
                        reloadTable();
                    }
                });

                initNewTaskModal();

                $("#assignToMenu").on("click", "a", function (e) {
                    e.preventDefault();
                    var name = $(e.target).attr("href");
                    assignTo(name);
                });
                $("body").on("change", ".dealValue", function (e) {
                    var val = $(e.target).val();
                    setDealAmount(val);
                });
                $("body").on("change", "#description", function (e) {
                    var val = $(e.target).val();
                    setLeadDescription(val);
                });

            });
            function reloadTable() {
                $("#tasksTableBody").reloadFragment({
                    whenComplete: function () {
                        $('abbr.timeago').timeago();
                    }
                });
            }

            function initNewTaskModal() {
                var modal = $("#newTaskModal");
                var form = modal.find("form");
                form.forms({
                    callback: function (resp) {
                        Msg.info('Created new task');
                        reloadTasks();
                        modal.modal("hide");
                    }
                });
            }

            function assignTo(name) {
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {
                        assignToName: name
                    },
                    dataType: 'json',
                    success: function (resp) {
                        if (resp && resp.status) {
                            Msg.info("Assigned");
                            $("#assignedBlock").reloadFragment();
                        } else {
                            Msg.error("Sorry, we couldnt change the assignment");
                        }
                    },
                    error: function (resp) {
                        flog('error', resp);
                        Msg.error('Sorry couldnt set the visibility ' + resp);
                    }
                });
            }

            function setDealAmount(val) {
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {
                        dealAmount: val
                    },
                    dataType: 'json',
                    success: function (resp) {
                        if (resp && resp.status) {
                            Msg.info("Updated");
                        } else {
                            Msg.error("Sorry, we couldnt change the deal amount");
                        }
                    },
                    error: function (resp) {
                        flog('error', resp);
                        Msg.error('Sorry couldnt set the visibility ' + resp);
                    }
                });
            }

            function setLeadDescription(val) {
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {
                        description: val
                    },
                    dataType: 'json',
                    success: function (resp) {
                        if (resp && resp.status) {
                            Msg.info("Updated");
                        } else {
                            Msg.error("Sorry, we couldnt change the description");
                        }
                    },
                    error: function (resp) {
                        flog('error', resp);
                        Msg.error('Sorry couldnt set the visibility ' + resp);
                    }
                });
            }

        </script>
        #end
    </body>
</html>