<html xmlns="http://www.w3.org/1999/xhtml">
    #parse("/theme/masterTemplate.html")
    <head>
        #@themeHeader( "View lead" )
        <script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" type="text/javascript" >//</script>
        #end
    </head>
    <body class='add-container'>
        #@themeBody()

        <h1>Lead: $page.title</h1>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newTaskModal">
            Create task
        </button>

        <h2>Tasks - $page.children.size()</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody id="tasksTableBody">
                #foreach($task in $page.children)
                <tr>
                    <td>
                        <a href="$task.href">$task.taskDescription</a>
                    </td>
                    <td>$task.dueDate</td>
                </tr>
                #end
            </tbody>
        </table>

        <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="redeemVoucherModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="">Create a task</h4>
                    </div>
                    <form method="post" action="$page.href" class="form-horizontal">
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="control-label col-md-3" for="dueDate">dueDate</label>
                                <div class="col-md-9">
                                    <input type="text" name="dueDate" id="dueDate" class="required form-control" placeholder="dueDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="taskDescription">taskDescription</label>
                                <div class="col-md-9">
                                    <input type="text" name="taskDescription" id="taskDescription" class="required form-control" placeholder="taskDescription" />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                            <button class="btn btn-primary" type="submit">Create and view</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <script type="text/javascript">
            $(function () {
                var modal = $('#newTaskModal');
                var form = modal.find('form');

                form.forms({
                    callback: function (resp) {
                        Msg.info('Saved');
                        $("#tasksTableBody").reloadFragment();
                    }
                });

            });
        </script>
        #end
    </body>
</html>