#parse("/theme/apps/leadman/leadManIncludes.html")
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="hideOnComplete">
        <input type="text" value="$page.title" name="title" class="form-control immediateUpdate input-lg" data-href="$page.href" />
        <hr/>
        <textarea name="taskDescription" class="form-control immediateUpdate" data-href="$page.href" style="height: 100px">$!page.taskDescription</textarea>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label col-md-4" for="datetimepickerFollowup">Task due</label>

                <div class="input-group">
                    <input type="text" name="dueDate" class="form-control date-time immediateUpdate" data-href="$page.href" data-original-value="$formatter.formatDateTime($page.dueDate)" value="$formatter.formatDateTime($page.dueDate)">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right" role="group">
                    <button class="btn btn-success btnTaskDone" type="button" aria-expanded="false" data-toggle="#completeTaskDiv" title="Mark as complete" >
                        <span class="fa fa-check"></span>
                    </button>

                    <div class="btn-group mb-sm mr dropdown">
                        <button id="assignedBlockTask" class="btn dropdown-toggle btn-info" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" title="Assign this task to someone" >
                            <i class="fa fa-user"></i>
                            <span>
                                #if( $page.assignedTo )
                                $page.assignedTo.name
                                #else
                                Not assigned
                                #end
                            </span>
                        </button>
                        <ul class="dropdown-menu" data-href="$page.href" id="assignToMenuTask" role="menu">
                            <li><a href="$user.name">Assign to me</a></li>
                            <li><a href="">Assign to nobody</a></li>
                            #set($teamMembers = $page.find("/leads").teamMembers)
                            #if($teamMembers && $teamMembers.size() > 0)
                            <li role="separator" class="divider"></li>
                            #foreach($user in $teamMembers)
                            <li><a href="$user.name">$!user.firstName $!user.surName</a></li>
                            #end
                            #end
                        </ul>
                    </div>

                    <a class="btn btn-danger btnTaskDelete" type="button" aria-expanded="false" title="Cancel this task" href="$page.href">
                        <span class="fa fa-remove"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <hr/>

    #if( $page.lead )
    #showLead( $page.lead, true )
    #end

    <div class="completeTaskDiv" style="display: none">
        <hr/>

        <form method="post" action="$page.href" class="form-horizontal completeTaskForm">
            <input type="hidden" name="completedTask" />
            <div class="row">
                <div class="col-md-12">
                    <h4>What happened?</h4>
                </div>
                <div class="col-md-4">
                    <select name="action" class="form-control">
                        #foreach( $action in $page.actions )
                        <option value="${action.id}-${action.inbound}">$action.text</option>
                        #end
                    </select>
                </div>
                <div class="col-md-8">
                    <textarea required name="newNote" class="form-control required" style="height: 100px" placeholder="Describe the result of the task"></textarea>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-12">
                    <h4>What happens next?</h4>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="title">What happens next</label>
                    <br/>
                    <div class="input-group">
                        <input type="text" class="form-control" required name="title" placeholder="Next follow-up task" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-pencil"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right autoFillText">
                                #foreach( $action in $page.actions )
                                <li><a href="#">$action.text</a></li>
                                #end                                
                            </ul>
                        </div><!-- /btn-group -->
                    </div>
                    <br/>
                    <div class="input-group">
                        <input type="text" name="dueDate" class="form-control date-time" value="$formatter.formatDateTime($formatter.addDays($page.dueDate, 7))">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-8">
                    <textarea required name="taskDescription" class="form-control" style="height: 125px" placeholder="Describe the next follow-up task"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 20px;">
                <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                <button class="btn btn-success" type="submit">Done</button>
            </div>
        </form>
    </div>
</div>