<html xmlns="http://www.w3.org/1999/xhtml">
    #parse("/theme/masterTemplate.html")
    <head>
        #@themeHeader( "View profile $page.profile.formattedName" )
        <script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" type="text/javascript" >//</script>
        <link rel="stylesheet" href="/static/timeline/timeline.css">
            #end
    </head>
    <body class='add-container'>
        #@themeBody()
        <div class="">
            <div style="background:url(/theme/images/profile.jpg) center center; background-size:cover;" class="">
                <div class="container container-lg p-lg">
                    <div class="pull-right">

                        <div class="btn-group">
                            <a class="btn btn-primary btn-lg createProfileLead">Create a new lead</a>
                        </div>
                    </div>
                    <div class="media mt-lg">
                        <div class="media-left media-middle"><a href=""><img src="/theme/images/user/02.jpg" class="media-object thumb96 img-circle"></a></div>
                        <div class="media-body text-white">
                            <h2 class="mv-lg media-heading">$page.title</h2>
                        </div>
                    </div>
                    <div class="text-right text-white pb-lg">
                        <p class="m0 hide"><strong>Average lead score 87%</strong></p>
                        <p class="m0"><strong>Total deals value: $$formatter.formatCurrency($page.totalDealValue)</strong></p>
                    </div>
                </div>
            </div>
            <div id="view-profile-page" style="margin-top: 20px">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="activity" class="panel">
                            <div class="panel-body">
                                #parse("/theme/apps/leadman/leadManTimeline.html")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="profile" class="panel">
                            <div class="panel-body">
                                <form method="post" action="$page.href" class="form-horizontal" id="leadDetails">
                                    <input type="hidden" name="saveDetails" value="saveDetails"/>
                                    <div class="modal-body">
                                        #set( $p = $page.leadProfile )
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="nickName">Customer</label>
                                            <div class="col-md-3">
                                                <input type="text" name="nickName" id="nickName" class="form-control" placeholder="nickName" value="$!p.nickName" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" value="$!p.firstName" />
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" name="surName" id="surName" class="form-control" placeholder="Surname" value="$!p.surName" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="newUserEmail">Contact</label>
                                            <div class="col-md-5">
                                                <input type="text" name="email" id="email" class="form-control" placeholder="Email" value="$!p.email" />
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="$!p.phone" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="notes">Notes</label>
                                            <div class="col-md-10">
                                                <textarea name="notes" class="form-control" style="height: 100px">$!p.notes</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-10 col-md-offset-2">
                                                <button class="btn btn-sm btn-default" type="reset">Reset</button>

                                                <button class="btn btn-primary" type="submit">Save details</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading no-shadow">
                                <a class="btn btn-success createNote pull-right" href="$page.href">
                                    <span class="fa fa-plus"></span>
                                </a>
                                Recent contacts
                            </div>
                            <div class="panel-body">
                                #set( $notes = $page.notes )
                                #if( $notes.size() > 0 )
                                <ul class="list-block">
                                    #foreach($note in $page.notes)
                                    <li class="media">
                                        <div class="pull-left">
                                            <div class="point-pin"><a href=""><img src="/theme/images/user/05.jpg" alt="Image" class="media-object img-circle thumb32"></a>
                                                <div class="point point-success point-lg"></div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <p>
                                                    <a href="/users/$note.createdBy.name">$note.createdBy.formattedName</a>

                                                    #if( $note.inbound )
                                                    <small class="text-muted fa fa-arrow-left"></small>
                                                    <small class="text-muted fa fa-${note.icon}"></small>
                                                    #else
                                                    <small class="text-muted fa fa-${note.icon}"></small>
                                                    <small class="text-muted fa fa-arrow-right"></small>
                                                    #end

                                                </p>

                                                <p>
                                                    $!note.notes
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    #end
                                </ul>
                                #else
                                <p>
                                    <span class="label label-warning">No contact with the lead yet</span>
                                </p>
                                #end
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Lead</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Amount</th>
                                            <th>Assigned to</th>
                                        </thead>
                                        <tbody>
                                            #foreach($lead in $page.leads)
                                            <tr>
                                                <td>
                                                    <a href="/leads/$lead.id/">
                                                        $!lead.description
                                                    </a>
                                                </td>
                                                <td>
                                                    #if( $lead.cancelled )
                                                    <span class="fa fa-remove text-danger"></span>
                                                    Cancelled <abbr title="$formatter.formatDateISO8601($lead.closedDate)" class="timeago">$lead.closedDate</abbr>
                                                    #elseif( $lead.closedDate )
                                                    <span class="fa fa-check text-success"></span>
                                                    Sale completed <abbr title="$formatter.formatDateISO8601($lead.closedDate)" class="timeago">$lead.closedDate</abbr>
                                                    #else
                                                    <span class="fa fa-clock-o text-muted"></span>
                                                    In progress
                                                    #end
                                                </td>
                                                <td>
                                                    #if( $lead.createDate )
                                                    <abbr title="$formatter.formatDateISO8601($lead.createDate)" class="timeago">$lead.createDate</abbr>
                                                    #end
                                                </td>
                                                <td>$!lead.dealAmount</td>
                                                <td>
                                                    #if( $lead.assignedToProfile )
                                                    $lead.assignedToProfile.formattedName
                                                    #else
                                                    Not assigned
                                                    #end
                                                </td>
                                            </tr>
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading no-shadow">
                                <button data-toggle="modal" data-target="#assignOrgModal" class="btn btn-success pull-right">
                                    <span class="fa fa-plus"></span>
                                </button>
                                Companies
                            </div>
                            <div class="panel-body" id="company-body">
                                #if($page.companyMemberships.size() > 0)
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Title</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Address 2</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            #foreach($company in $page.companyMemberships)
                                            <tr>
                                                <td>$!company.org.formattedName</td>
                                                <td>$!company.org.email</td>
                                                <td>$!company.org.phone</td>
                                                <td>$!company.org.address</td>
                                                <td>$!company.org.addressLine2</td>
                                                <td>$!company.org.addressState</td>
                                                <td>$!company.org.country</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-danger removeMembership" data-mid="$company.id"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                                #else
                                <p>
                                    <span class="label label-warning">No companies</span>
                                </p>
                                #end
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newLeadProfileModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="">Enter a new lead</h4>
                    </div>
                    <form method="post" action="$page.href" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-md-3" for="funnel">Lead type</label>
                                <div class="col-md-9">
                                    <select name="funnel" class="form-control">
                                        #foreach($entry in $page.find("/leads").funnels.entrySet())
                                        <option value="$entry.key">$entry.value.title</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="notes">Notes</label>
                                <div class="col-md-9">
                                    <textarea name="notes" class="form-control" style="height: 200px"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                            <button class="btn btn-primary" type="submit">Create and view</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="assignOrgModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="">Add a new company</h4>
                    </div>
                    <form method="post" action="$page.href" class="form-horizontal">
                        <div class="modal-body">
                            <input type="hidden" name="orgId" />
                            <input type="hidden" name="assignOrgModal" value="true"/>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="title">Company</label>
                                <div class="col-md-3">
                                    <input type="text" id="orgTitleSearch" autocomplete="off" name="title" class="form-control" placeholder="Title"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="newCompanyEmail">Contact</label>
                                <div class="col-md-5">
                                    <input type="text" name="email" id="newCompanyEmail" class="form-control email" placeholder="Email" />
                                </div>
                                <div class="col-md-5">
                                    <input type="text" name="phone" class="form-control" placeholder="Phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="newUserEmail">Address</label>
                                <div class="col-md-5">
                                    <input type="text" name="address" class="form-control" placeholder="Address" />
                                </div>
                                <div class="col-md-5">
                                    <input type="text" name="addressLine2" class="form-control" placeholder="Address 2" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="text" name="addressState" class="form-control" placeholder="State" />
                                </div>
                                <div class="col-md-5">
                                    <input type="text" name="postcode" class="form-control" placeholder="Postcode" />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>

                            <button class="btn btn-primary" type="submit">Assign</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <script type="text/javascript">
            $(function () {
                var form = $("#leadDetails");
                form.forms({
                    onSuccess: function (resp) {
                        Msg.info('Saved');
                        reloadTable();
                    }
                });
                initNewProfileLeadForm();
                initAssignOrg();

                $('.modal').on('hidden.bs.modal', function () {
                    var form = $(this).find('form');
                    form.trigger('reset');
                    $('input[name=newOrgId]', form).val('');
                });
            });

            function reloadTable() {
                $("#tasksTableBody").reloadFragment({
                    whenComplete: function () {
                        $('abbr.timeago').timeago();
                    }
                });
            }

            function assignTo(name) {
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {
                        assignToName: name
                    },
                    dataType: 'json',
                    success: function (resp) {
                        if (resp && resp.status) {
                            Msg.info("Assigned");
                            $("#assignedBlock").reloadFragment();
                        } else {
                            Msg.error("Sorry, we couldnt change the assignment");
                        }
                    },
                    error: function (resp) {
                        flog('error', resp);
                        Msg.error('Sorry couldnt set the visibility ' + resp);
                    }
                });
            }

            function initNewProfileLeadForm() {
                var modal = $('#newLeadProfileModal');
                var form = modal.find('form');

                $(".createProfileLead").click(function (e) {
                    flog("click");
                    e.preventDefault();
                    var funnelName = $(e.target).closest("a").attr("href");
                    form.find("select").val(funnelName);
                    modal.modal("show");
                });

                form.forms({
                    onSuccess: function (resp) {
                        flog('done new user', resp);
                        if (resp.nextHref) {
                            window.location.href = resp.nextHref;
                        }
                        Msg.info('Saved');
                        modal.modal("hide");
                    }
                });
            }

            function initAssignOrg() {
                var modal = $('#assignOrgModal');
                var form = modal.find('form');

                form.forms({
                    onSuccess: function (resp) {
                        modal.modal('hide');
                        form.trigger('reset');
                        Msg.success(resp.messages);
                        $('#company-body').reloadFragment();
                    },
                    onError: function () {

                    }
                });

                var orgSearch = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/leads?orgSearch=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#orgTitleSearch').typeahead({
                    highlight: true
                }, {
                    display: 'title',
                    limit: 10,
                    source: orgSearch,
                    templates: {
                        empty: [
                            '<div class="empty-message">',
                            'No existing companies were found.',
                            '</div>'
                        ].join('\n'),
                        suggestion: Handlebars.compile(
                                '<div>'
                                + '<strong>{{title}}</strong>'
                                + '</br>'
                                + '<span>{{phone}}</span>'
                                + '</br>'
                                + '<span>{{address}}, {{addressLine2}}, {{addressState}}, {{postcode}}</span>'
                                + '</div>')
                    }
                });

                $('#orgTitleSearch').bind('typeahead:select', function (ev, sug) {
                    var inp = $(this);
                    var form = inp.closest('form');

                    form.find('input[name=email]').val(sug.email);
                    form.find('input[name=phone]').val(sug.phone);
                    form.find('input[name=address]').val(sug.address);
                    form.find('input[name=addressLine2]').val(sug.addressLine2);
                    form.find('input[name=addressState]').val(sug.state);
                    form.find('input[name=postcode]').val(sug.postcode);
                    form.find('input[name=orgId]').val(sug.orgId);
                });

                $('#orgTitleSearch').on({
                    input: function () {
                        var form = $(this).closest('form');
                        if (!this.value) {
                            form.find('input[name=email]').val('');
                            form.find('input[name=phone]').val('');
                            form.find('input[name=address]').val('');
                            form.find('input[name=addressLine2]').val('');
                            form.find('input[name=addressState]').val('');
                            form.find('input[name=postcode]').val('');
                            form.find('input[name=orgId]').val('');
                        }
                    }
                });

                $('body').on('click', '.removeMembership', function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var mId = btn.data('mid');

                    if (confirm('Are you sure you want to remove this company?')) {
                        $.ajax({
                            type: 'POST',
                            data: {
                                removeMembership: true,
                                mId: mId
                            },
                            success: function (data, textStatus, jqXHR) {
                                $('#company-body').reloadFragment();
                            }
                        });
                    }
                });
            }
        </script>
        #end
    </body>
</html>