.feedback-title {
    margin-bottom: 15px;
}

.feedback-title h3 {
    margin-top: 0;
}

.emotion-image {
    margin-top: 40px
}

.emotion-label {
    margin-top: 10px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
    float: left !important;
}