<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Blog</title>
        <script type="text/javascript" src="manageBlog.js">//</script>
    </head>
    <body>
        <section id="" class="MainContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="clip-file-2"></i>
                            Blog Articles
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-sm btn-success" data-toggle="modal" href="#addArticleModal" ><i class="fa fa-plus"></i> Create new article</a>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <colgroup>
                                        <col style="width: 50px;"/>
                                        <col />
                                        <col style="width: 120px;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th class="title" rel="asc">Title</th>
                                            <th class="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($r in $page.children.ofType.article)
                                        <tr>
                                            <td>
                                                #if($r.publishedDate )
                                                <i class="fa fa-check-circle text-success"></i>
                                                #elseif( $r.submittedDate )
                                                <i class="glyphicon glyphicon-question-sign text-info"></i>
                                                #elseif( $r.rejectedAt )
                                                <i class="glyphicon glyphicon-remove text-danger"></i>
                                                #else
                                                <i class="glyphicon glyphicon-pencil text-muted"></i>
                                                #end
                                            </td>
                                            <td><a href="$r.name">$r.title</a></td>
                                            <td class="action">
                                                <div class="btn-group btn-group-sm">
                                                    <a href="$r.name" class="btn btn-sm btn-primary btn-sm"> <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$r.name" class=""><i class="fa fa-edit"></i> Edit</a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$r.name" class="delete-article"><i class="fa fa-times"></i> Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end articles -->

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="clip-stack"></i>
                            Item type
                        </div>
                        <div class="panel-body">
                            <p>
                                The item type is the top level of the search categories. This will apply to all articles in this blog. Eg <i>News</i> or <i>FAQ</i>. Set this to <b>noindex</b> to prevent these articles from being added to the search index.
                            </p>
                            <form method="POST" action="$page.href" class="item-type-form">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <input type="text" id="itemType" class="form-control" name="itemType" value="$!page.itemType" style="width: 50%" placeholder="Top level category for search" />
                            <form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="clip-stack"></i>
                            Categories
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#addCategoryModal">
                                <i class="fa fa-plus"></i> Add new category
                            </button>
                            <div class="table-responsive" id="categories-container">
                                <table class="table table-striped table-hover">
                                    <colgroup>
                                        <col />
                                        <col style="width: 120px;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="title" rel="asc">Title</th>
                                            <th class="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($category in $page.categories)
                                        <tr>
                                            <td>$category</td>
                                            <td class="action">
                                            #if ($velocityHasNext) 
                                                <div class="btn-group btn-group-sm">
                                           #else
                                                <div class="btn-group btn-group-sm dropup"> 
                                           #end
                                                    <a href="$category" class="cat-edit btn btn-sm btn-primary btn-sm"> <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$category" class="cat-edit"><i class="fa fa-edit"></i> Edit</a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$category" class="cat-delete"><i class="fa fa-times"></i> Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tags"></i>
                            Tags
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-sm btn-success" data-toggle="modal" type="button" data-target="#addTagModal">
                                <i class="fa fa-plus"></i> Add new tag
                            </button>
                            <div class="table-responsive" id="tags-container">
                                <table class="table table-striped table-hover">
                                    <colgroup>
                                        <col />
                                        <col style="width: 120px;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="title" rel="asc">Title</th>
                                            <th class="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($tag in $page.tags)
                                        <tr>
                                            <td>$tag</td>
                                            <td class="action">
                                            #if ($velocityHasNext) 
                                                <div class="btn-group btn-group-sm">
                                           #else
                                                <div class="btn-group btn-group-sm dropup"> 
                                           #end
                                                    <a href="$tag" class="tag-edit btn btn-sm btn-primary btn-sm"> <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$tag" class="tag-edit"><i class="fa fa-edit"></i> Edit</a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="$tag" class="tag-delete"><i class="fa fa-times"></i> Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tags"></i>
                            Templates
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <form class="templates" action="" method="POST">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <p>Override the default templates for this blog if you want to customise the appearance of the blog home or article pages for this blog only.</p>
                                            <p><b>Warning: this change is immediate and applies to all versions</b></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-5" for="homeTemplate">Home template</label>
                                        <div class="col-md-7">
                                            <input type="text" id="homeTemplate" name="homeTemplate" value="$!page.homeTemplate" placeholder="" class="required form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-5" for="articleTemplate">Article template</label>
                                        <div class="col-md-7">
                                            <input type="text" id="articleTemplate" name="articleTemplate" value="$!page.articleTemplate" placeholder="" class="required form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-5 col-md-7">
                                            <button class="btn btn-success" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end manage things -->

            </div> <!-- end row -->

        </section>

        <div id="addArticleModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="$page.href" method="POST" class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add new blog article</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="newTitle">Article title</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="newTitle" id="newTitle" placeholder="My First Article" class="form-control required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Create article</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="addTagModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="$page.href" method="POST" class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add new tag</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="newTagName">Tag name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="newTagName" id="newTagName" placeholder="Health, Well-being, etc" class="form-control required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Create Tag</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- https://twitter.com/bradmac_nz/status/448397042629361664 -->
        <div id="addCategoryModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="$page.href" method="POST" class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add new category</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="newTagName">Category name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="newCategoryName" id="newCategoryName" placeholder="Promotion, News, etc" class="form-control required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Create Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(function () {
                initManageBlog();

                $(".templates").forms({
                    onSuccess: function () {
                        Msg.info("Saved templates");
                    }
                });

                $(".item-type-form").forms({
                    onSuccess: function () {
                        Msg.info("Saved OK");
                    }
                });
            });
        </script>
    </body>
</html>