.icon {
	width: 60px;
	text-align: center;
}

.icon i {
	font-size: 30px;
}

#send {
	text-align: center;
}

#status-tools div * {
	display: none;
}

#status-tools.Draft .Draft,
#status-tools.Running .Running,
#status-tools.Completed .Completed,
#status-tools.Preparing .Preparing {
	display: inline-block;
}

.notsent,
.send-progress {
	display: none;
}

#status {
	text-align: center;
}

#status .progress {
	height: 40px;
	position: relative;
	width: 300px;
	margin: 0 auto;
}

#status .progress .stats {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 1px #000;
}

#emails {
	text-align: left;
}

#status .status-wrapper > h4 {
	display: none;
}

#status.status_r .status-wrapper > h4.status_p,
#status.status_p .status-wrapper > h4.status_p {
	display: block;
}

#status.status_c .status-wrapper > h4.status_c {
	display: block;
}