<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageAutoEmail.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageAutoEmail.js">//</script>
        <script type="text/javascript" src="manageEmail.js">//</script>
    </head>
    <body class="manageAutoEmail">
	    <p class="alert alert-info">
		    <a class="close" href="#" data-dismiss="alert">&times;</a>
		    Here you can create emails that get sent automatically when certain trigger events occur. This
		    is useful for sending emails when a new module is available, or when users complete all modules, etc
	    </p>
	    <p class="clearFix">
		    <a class="btn btn-success pull-right" href="timerTriggers.html">View queued triggers</a>
		    <a class="btn btn-primary btn-add-email" data-toggle="modal" href="#modal-add-email"><i class="fa fa-plus"></i> Create an auto email trigger</a>
	    </p>

	    <div class="panel panel-default">
		    <div class="panel-heading">
			    <i class="fa fa-envelope-o"></i>
			    Auto email triggers
		    </div>
		    <div class="panel-body">
			    <table class="table table-bordered table-striped table-hover table-data">
				    <colgroup>
					    <col />
					    <col />
					    <col />
					    <col style="width: 80px" />
				    </colgroup>
				    <thead>
					    <tr>
						    <th>Name</th>
						    <th>Status</th>
						    <th>Description</th>
						    <th class="action">Action</th>
					    </tr>
				    </thead>
				    <tbody>
					    #foreach($email in $page.children.sortByName)
					    <tr class="emailStatus$!{email.status}">
						    <td>$!email.title</td>
						    <td>$email.status</td>
						    <td>$email.description</td>
						    <td class="action">
							    <div class="btn-group btn-group-sm">
								    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
								    <ul class="dropdown-menu pull-right" role="menu">
									    <li><a href="$email.name" class="btn-edit-email" title="Edit">Edit</a></li>
									    <li class="divider"></li>
									    <li><a href="$email.name" class="btn-delete-email" title="Delete">Delete</a></li>
								    </ul>
							    </div>
						    </td>
					    </tr>
					    #end
				    </tbody>
			    </table>
		    </div>
	    </div>

	    <div id="modal-add-email" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
		    <div class="modal-header">
			    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
			    <h4 class="modal-title">Create email</h4>
		    </div>
		    <div class="modal-body">
			    <form method="POST" action="." class="form-horizontal">
				    <div class="form-group">
					    <label class="col-md-4 control-label" for="name">Enter email name</label>
					    <div class="col-md-8">
						    <input type="text" name="name" id="name" value="" placeholder="A name for the email job" class="required simpleChars form-control" />
					    </div>
				    </div>
			    </form>
		    </div>
		    <div class="modal-footer">
			    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
			    <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
		    </div>
	    </div>

        <script type="text/javascript">
            Bob.onDOMReady(function() {
	            initManageEmail();
            });
        </script>
    </body>
</html>