<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
    </head>
    <body class="manageEmailJobLog">
        <p class="well">Click a row to see send attempts</p>

	    <div class="panel panel-default">
		    <div class="panel-heading">
			    <i class="clip-file-2"></i>
			    Total Emails: <span class="badge badge-info">$page.model.items.size()</span>
		    </div>
		    <div class="panel-body">
			    <div class="table-responsive">
				    <table class="table table-striped table-hover">
				        <colgroup>
				            <col width="25%" />
				            <col width="20%" />
				            <col width="40%" />
				            <col width="15%" />
				        </colgroup>
					    <thead>
						    <tr>
							    <th>To</th>
							    <th>Date</th>
							    <th>Subject</th>
							    <th>Status</th>
						    </tr>
					    </thead>
					    <tbody>
						    #foreach($item in $page.model.items)
						    <tr class="item">
							    <td>$item.recipientAddress</td>
							    <td>$formatter.formatAge( $item.sendStatusDate )</td>
							    <td>$item.subject</td>
							    <td>$item.statusText</td>
						    </tr>
						    #foreach($attempt in $item.emailSendAttempts)
						    <tr class="attempt" style="display: none;">
							    <td></td>
							    <td colspan="3">$attempt.status - $formatter.formatAge( $attempt.statusDate )</td>
						    </tr>
						    #end
						    #end
					    </tbody>
				    </table>
			    </div>
		    </div>
	    </div>
        <script type="text/javascript">
            Bob.onDOMReady(function () {
                $('.item').on('click', function() {
                    var tr = $(this);
                    flog("to see send attempts", tr);
                    tr.nextUntil('.item').toggle(300);
                });
            });
        </script>        
    </body>
</html>