#if ($page)
    #set ($ecommerceApp = $applications.ecommerce)
    #if ($ptype == 'ecomStoreDashboard')

        #if($page.is('category'))
            #set($store = $page.parent)
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/$store.name">$!store.name</a></li>
                <li class="active">$!page.name</li>
            </ol>
        #else
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">$!page.name</a></li>
            ##            <li><a href="$cate.href">$cate.title</a></li>
            </ol>
        #end

    #elseif ($ptype == 'ecomStoreProduct')
        #set ($cate = $page.parent)
        #set ($store = $cate.parent)
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="$store.href">$store.title</a></li>
            <li><a href="$cate.href">$cate.title</a></li>
            <li class="active">$page.title</li>
        </ol>
    #end
#else
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Sample breadcrumb</li>
</ol>
#end