#if ($page)

#set( $product = $page.attributes.productInStore.product )

<div class="ecom-product-component">
    #set ($productImage = "/theme/img/photo_holder.png")

    #if( $page.primaryImageHref )
        #if ($page.selectedParameterOptions.size() > 0)
            #set ($productImage = $page.variantImageHref)
        #else
            #set ($productImage = '/_hashes/files/' + $page.product.images.get(0).imageHash + '/alt-640-640.png')
        #end
    #end

    <div class="product-item">
        <div class="thumbnail product">
            <div class="product-info" id="product-images">
                <div class="embed-responsive embed-responsive-4by3">
                    <a href="$page.href" class="embed-responsive-item" style="background-image: url('${productImage}'); background-repeat: no-repeat; background-size: contain; background-position: center"></a>
                </div>
            </div>

            #set ($totalParams = 0)
            #foreach( $param in $product.productParameters)
                #if( $param.parameterOptions.size() > 0 )
                    #set ($totalParams = $totalParams + 1)
                #end
            #end

            #if ($totalParams > 0)
            <div class="product-variants form-horizontal">

                    #foreach( $param in $product.productParameters)
                    #if( $param.parameterOptions.size() > 0 )
                    <div class="row product-param" style="padding-bottom: 15px" data-param-name="$param.name">
                        <div class="col-sm-2">
                            ${param.title}:
                        </div>
                        #foreach( $opt in $param.parameterOptions)
                        <div class="col-sm-2">
                            <a href="$opt.name" class="select-product-option">
                            #if( $opt.imageHash )
                            <img src="/_hashes/files/$opt.imageHash/alt-150-150.png" style="height: 40px; width: 35px" />
                            #else
                            $opt.title
                            #end
                            </a>
                        </div>
                        #end
                    </div>
                    #end
                    #end
            </div>
            #end


            <div class="product-skus hide">
                #foreach( $sku in $product.productSkus )
                #set( $itemisedPrice = $services.priceManager.itemisedPrice($user, $page.attributes.productInStore, $sku, $formatter.toBigDecimal(1)) )
                <div data-sku-id="$sku.id" data-price="$itemisedPrice.finalCost"
                    #foreach( $opt in $sku.options )
                    data-$opt.productParameter.name="$opt.name"
                    #end
                     >
                     $sku.title

                     #set( $prodInLocs = $services.criteriaBuilders.productInLocation.eq("product", $sku).execute(100) )
                     <ul>
                        #foreach( $prodInLoc in $prodInLocs )
                        <li data-location="$prodInLoc.location.name" data-stock="$prodInLoc.stock">$prodInLoc.stock in $prodInLoc.location.title - $itemisedPrice.finalCost - $itemisedPrice</li>
                        #end
                    </ul>
                </div>
                #end
            </div>


            <div class="caption product-actions">
                <h3  class="text-center product-price bg-info">
                    #set( $opts = $page.selectedParameterOptions )
                    #set( $price = $page.getPurchaseAmount($opts) )
                    #if( $price )
                    $$formatter.formatCurrency($price.amount, false)
                    #end
                </h3>

                <input type="text" class="product-quantity form-content" />
                <a href="/$page.attributes.store.name/cart" class="btn btn-info btn-ecom-add-to-cart" role="button"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

#else
<div class="ecomStoreCategoryProductsComponent ">
    #set ($productImage = "/theme/img/photo_holder.png")

    <div class="product-item">
        <div class="thumbnail product">
            <div class="product-info">
                <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 10%;">
                    <a href="#" class="embed-responsive-item" style="background-image: url('${productImage}'); background-repeat: no-repeat; background-size: contain; background-position: center"></a>
                </div>
            </div>
            <div class="caption">

                <h3 class="text-center product-price bg-info">
                    10
                </h3>

                <a href="#" class="btn btn-info btn-ecom-add-to-cart" role="button"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>
#end