#set($firstApp = false)
#set($firstPo = false)
#set($paymentAps = $services.cartManager.paymentProviders)
#foreach($pApp in $paymentAps)
    #set($f1 = $foreach)
    #foreach($po in $pApp.paymentOptions)
        #if($f1.first && $foreach.first)
            #set($firstApp = $pApp)
            #set($firstPo = $po)
        #end
    #end
#end

#set( $checkoutItems = $services.cartManager.checkoutItems )


#if( $checkoutItems )

#set ($cart = $checkoutItems.cart)
#set ($shippingProviders = $services.priceManager.availableShippingProviders($cart))

#if(!$user)
<form action="$page.href" method="post" id="kcom2FindEmailForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <small>Please enter your email</small>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="findProfileEmail" placeholder="Email" type="text" class="form-control required email">
                    </div>
                </div>
                <div class="form-group">
                    <!--<div class="col-md-6">-->
                        <!--<button type="button" class="btn btn-info text-uppercase btn-prev hide" ><i class="fa fa-angle-left"></i> Previous</button>-->
                    <!--</div>-->
                    <div class="col-md-12 text-right">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info text-uppercase btn-skip">Skip login <i class="fa fa-angle-right"></i></button>
                            <button type="submit" class="btn btn-info text-uppercase btn-next">Next
                            <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="kcom2PasswordForm" class="hide">
    <form action="." method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <small>Please enter your password</small>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" name="kcom2Email">
                            <input name="kcom2Password" placeholder="Enter your password" type="password" class="form-control required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info text-uppercase btn-prev" ><i class="fa fa-angle-left"></i> Previous</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-info text-uppercase btn-next">Login
                                <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

#end

#set ($shippingFormState = 'hide')
#if ($user)
#set ($shippingFormState = '')
#end

<div id="kcom2ShippingForm" class="$!shippingFormState">
    <form action="." method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <small>Shipping address</small>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="addressLine1" placeholder="Address line 1" type="text" class="form-control required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="addressLine2" placeholder="Address line 2" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="state" placeholder="State" type="text" class="form-control required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="postcode" placeholder="Postcode" type="text" class="form-control required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="country" placeholder="Country" type="text" class="form-control required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info text-uppercase btn-prev" ><i class="fa fa-angle-left"></i> Previous</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-info text-uppercase btn-next">Next
                                <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="kcom2ShippingProvider" class="hide">
    <form action="." method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <small>Shipping providers</small>
                </div>
            </div>
            <div class="panel-body">                                
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <select name="shippingProvider" class="form-control required" id="">
                                <option value="">Choose shipping provider</option>
                                #foreach ($sp in $shippingProviders)
                                <option value="$!sp.id">$sp.title</option>
                                #end
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info text-uppercase btn-prev" ><i class="fa fa-angle-left"></i> Previous</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-info text-uppercase btn-next">Next
                                <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
#if ($shippingProviders)
#end

<form id="cart-form" method="POST" action="$page.href" class="hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <small>Billing & Shipping</small>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                #foreach($pApp in $paymentAps)
                    #if($foreach.first)
                    #end
                    <div id="pf-${pApp.instanceId}" class="payment-form" #if(!$foreach.first) style="display:none;" #end>
                        $pApp.paymentForm
                    </div>
                #end
                <div id="cart-checkout-data">
                    <!-- TODO: Currency should be configurable -->
                    <input type="hidden" name="currencyCode" value="AUD" />
                    <input type="hidden" name="processCartId" value="$checkoutItems.cartId" />
                    <!-- This is to validate the re-calculated total server side -->
                    <input type="hidden" name="cartTotal" value="$checkoutItems.totalCost" />
                    <input type="hidden" name="paymentProvider" value="$firstApp.instanceId" />
                    <input type="hidden" name="paymentOption" value="$firstPo.id" />
                    <input type="hidden" name="processCart" value="processCart" />
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <!--<div class="checkbox">
                            <label>
                                <input type="checkbox" value="true" checked="checked"/> Use above information for shipping
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="true" checked="checked" /> Subcribe for latest offers
                            </label>
                        </div>
                        -->
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-danger"><i class="fa fa-spinner fa-spin" style="display:none;"></i> SUBMIT MY ORDER</button>
            </div>
        </div>
    </div>
</form>

#end