<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inventory Management</title>
    </head>
    <body>
        <p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-success newLocation" data-toggle="modal" data-target="#addLocationModal"><i class="fa fa-plus"></i> Product</button>
            </div>
            <button type="button" class="btn btn-sm btn-danger deleteLocation pull-right"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        </p>

        <div class="panel panel-default">
            <div id="productsTableContainer" class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            #foreach( $pp in $page.allProductParams)
                            <th>$pp</th>
                            #end
                            <th>SKU</th>
                        </tr>
                    </thead>
                    <tbody id="categoriesTableBody">
                        #foreach($product in $page.products)
                        #foreach($variant in $page.variants($product))
                        <tr>
                            <td><a href="/products/$product.id">$product.title</a></td>
                            #foreach( $pp in $page.allProductParams)
                            <th>$!variant.value($pp)</th>
                            #end
                            <td>
                                <input class="input-sku" type="text" name="variant-$variant.id" value="$!variant.sku" />
                            </td>
                        </tr>
                        #end
                        #end
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript">
            $(function () {

            });
        </script>
    </body>
</html>
