table.dataTable{
    thead{
        th{
            background: @brand-primary;
            color: @white;
            font-size: 13px;
            font-weight: normal;
        }
    }
}
#leadTable{
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    thead tr:first-child th:first-child {
        border-top-left-radius: @panel-border-radius;
    }
    thead tr:first-child th:last-child{
        border-top-right-radius: @panel-border-radius;
    }
}

//.omni-search-wrapper{
//    .form-control{
//        border-bottom-left-radius: 0;
//        border-top-left-radius: 0;
//        border-bottom-right-radius: @border-radius-base !important;
//        border-top-right-radius: @border-radius-base !important;
//    }
//}