<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Databse</title>
    </head>
    <body class="">

        <form name="frmDetails" action="$page.href" method="post" class="form-horizontal record-form">
            <div class="pull-right page-action">
                <button class="btn btn-sm btn-success" type="submit">
                    <span class="fa fa-save"></span>
                    Save changes
                </button>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs tab-bricky">
                    <li><a data-toggle="tab" href="#general" class="active">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane">
                        <div class="form-group">
                            <label class="control-label col-md-3">Name</label>
                            <div class="col-md-8">
                                <p class="form-control-static">$!page.name</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Type</label>
                            <div class="col-md-8">
                                <p class="form-control-static">$!page.docType</p>
                            </div>
                        </div>
                        <textarea id="jsonText" name="json" class="form-control form-control-code" style="height: 400px">$!page.json</textarea>
                    </div>
                </div>
            </div>
        </form>


        <script type="text/javascript">
            $(function () {
                $(".record-form").forms({
                    onSuccess: function () {
                        Msg.info("Done");
                    }
                });
            });

            function format() {
                var textArea = $("#jsonText");
                var e = JSON.parse(textArea.val());
                var t = JSON.stringify(e, null, "\t");
                textArea.val(t);
            }

            function compact() {
                var textArea = $("#jsonText");
                var e = JSON.parse(textArea.val());
                var t = JSON.stringify(e);
                textArea.val(t);
            }
        </script>
    </body>
</html>
