<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KongoDB: Manage Databases</title>
    </head>

    <body>
        <div class="">
            <p>
                <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addDatabaseModal" ><i class="fa fa-plus"></i> Create new database</a>
            </p>

            <div class="modal fade" id="addDatabaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add new database</h4>
                </div>
                <form class="form-horizontal" method="POST" action=".">
                    <div class="modal-body">
                        <div class="form-message alert alert-danger" style="display: none;"></div>
                        <div class="form-group">
                            <label for="newName" class="col-sm-3 control-label">Simple name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control regex required" required="true" id="newName" name="newName" data-regex="^[a-zA-Z0-9-]+$" />
                                <span class="help-block"><small>Simple characters only, no punctuation, dots, etc, all lower case, not a domain name</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newTitle" class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control required" required="true" id="newTitle" name="newTitle" />
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" type="submit">Create database</button>
                </div>
                </form>
            </div><!-- /.modal -->
        </div>

        <table id="payments-table" class="table table-striped table-hover">
            <colgroup>
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="180px" />
            </colgroup>
            <thead>
                <tr>
                    <th>Database</th>
                    <th >Title</th>
                    <th>Template</th>
                    <th >No. records</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="databases-body">
                #if( $page.children.isEmpty() )
                <tr>
                    <td colspan="3">There are no databases yet, click the button above to create one.</td>
                </tr>
                #else
                #foreach($db in $page.children)
                <tr>
                    <td><a href="$db.name">$db.name</a></td>
                    <td>$db.title</td>
                    <td>$!db.template</td>
                    <td>$db.numRecords</td>
                    <td class="action text-center">
                        <div class="btn-group btn-group-sm">
                            <a href="$db.name" class="btn btn-sm btn-info"><i class="fa fa-cog"></i> Manage</a>
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu pull-right">
                                <li><a class="delete-db" data-title="$db.title" href="$db.name"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                #end
                #end
            </tbody>
        </table>


        <script type="text/javascript">
            function initManageDbs() {
                flog('initManageDbs');

                var modal = $('#addDatabaseModal');
                var form = modal.find(' form');

                form.forms({
                    callback: function (resp) {
                        flog('done', resp);
                        modal.modal('hide');
                        Msg.success(form.find('[name=newName]').val() + ' is created!');
                        $('#databases-body').reloadFragment();
                    }
                });

                $('body').on('click', '.delete-db', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var tr = btn.closest('tr');
                    var href = btn.attr('href');
                    var title = btn.data('title');

                    confirmDelete(href, title, function () {
                        Msg.success('Successfully deleted ' + title);
                        tr.remove();
                    });
                });
            }
            
            $(function () {
                initManageDbs();
            });
        </script>
    </body>

</html>