<div id="lead-cover" class="">
    <div class="">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="media mt-lg">
                    <div class="media-left media-middle"><a href=""><img src="/theme/apps/leadman/user-placeholder.png" class="media-object thumb96 img-circle"></a></div>
                    <div class="media-body">
                        <h2 class="mv-lg media-heading">
                            #if($page.leadOrg)
                            #if($page.profile)
                            <a href="/custs/$page.profile.name" style="color: white">$page.customerDescription ($page.leadOrg.formattedName)</a>
                            #if( $page.profile.phone )
                            <span class="text-white">$page.profile.phone</span>
                            #end
                            #else
                            <span style="color: white">$page.leadOrg.formattedName</span>
                            #end
                            #elseif( $page.profile )
                            <a href="/custs/$page.profile.name" style="color: white">$page.customerDescription</a>
                            #if( $page.profile.phone )
                            <small class="text-white">$page.profile.phone</small>
                            #end

                            #else
                            <p style="color: white">$page.customerDescription</p>
                            #end
                        </h2>
                        <div style='background-color: rgba(255, 255, 255, 0.7); padding: 5px; border-radius: 5px;'>
                            Capture -
                            <a href="mailto:from-lead-$page.leadId@${page.find('/').domainName}"> <em class="fa fa-envelope fa-fw"></em> From</a>
                            |
                            #if( $page.profile.email)
                            <a href="mailto:$page.profile.email?bcc=to-lead-$page.leadId@${page.find('/').domainName}"> <em class="fa fa-envelope fa-fw"></em> To</a>
                            |
                            <a href="mailto:forward-to-$page.leadId@${page.find('/').domainName}"> <em class="fa fa-envelope fa-fw"></em> Forward</a>
                            #end
                            <!--
                            <button type="button" class="btn btn-info btn-xs mr-sm"> <em class="fa fa-twitter fa-fw"></em></button>
                            <button type="button" class="btn btn-primary btn-xs mr-sm"> <em class="fa fa-facebook fa-fw"></em></button>
                            <button type="button" class="btn btn-danger btn-xs"> <em class="fa fa-google-plus fa-fw"></em></button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                #if( $page.completed)
                #if( $page.cancelled)
                <div class="alert alert-warning">
                    <p class="lead">
                        <span class="fa fa-remove"></span>
                        Lead cancelled <abbr title="$formatter.formatDateISO8601($page.closedDate)" class="timeago">$page.closedDate</abbr>
                    </p>
                </div>
                #else
                <div class="alert alert-success">
                    <p class="lead">
                        <span class="fa fa-check"></span>
                        Lead closed <abbr title="$formatter.formatDateISO8601($page.closedDate)" class="timeago">$page.closedDate</abbr>
                    </p>
                </div>
                #end
                <div class="btn-group">
                    <button class="btn btn-success btn-reopen" type="button"><i class="fa fa-check"></i> Reopen</button>
                </div>
                #else

                <div class="btn-group">
                    <button class="btn btn-primary" data-target="#newTaskModal" data-toggle="modal">Add new Task</button>
                    <a class="btn btn-success createNote" href="$page.href">
                        Add a new note
                    </a>
                    <a href="$page.href?cancel" class="btn btn-danger" title="Deal cancelled" data-target="#modalCancelLead" data-toggle="modal">
                        <span class="fa fa-remove"></span>
                        Cancel
                    </a>

                    <button class="btn btn-success" data-toggle="modal" data-target="#closeDealModal">
                        <span class="fa fa-dollar"></span>
                        Close deal
                    </button>
                </div>

                <p></p>

                <div class="btn-group dropdown">
                    <button id="assignedBlock" class="btn dropdown-toggle btn-info" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" >
                                    <span>
                                        #if( $page.assignedTo )
                                        Assigned to: $!page.assignedTo.thisUser.formattedName
                                        #else
                                        Not assigned
                                        #end
                                    </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="assignToMenu" role="menu">
                        <li><a href="$user.name">Assign to me</a></li>
                        <li><a href="">Clear</a></li>
                        #if ($page.find("/leads").teamMembers.size() > 0)
                        <li role="separator" class="divider"></li>
                        #end
                        #foreach($user in $page.find("/leads").teamMembers)
                        <li><a href="$user.name">$!user.firstName $!user.surName</a></li>
                        #end
                    </ul>
                </div>
                #end
            </div>
        </div>

    </div>
</div>
#if($page.profile)
<div class="memberships-wrapper" id="membershipsContainer">
    <div class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle btn btn-primary" href="#">
            <i class="fa fa-plus-circle"></i> Tags
        </a>
        <ul class="dropdown-menu">
            <li style="padding: 3px 15px"><strong>Quick add</strong></li>
            #foreach($group in $page.tags)
            <li class="addTag">
                <a href="$group.name">
                    <i class="fa fa-tag"></i> $formatter.firstNotNull($group.title, $group.name)
                </a>
            </li>
            #end
        </ul>
    </div>
    <div id="user-membership" class="blocks-wrapper memberships-list membershipsDiv">
        #foreach($m in $page.assignedTags)
        #showGroupTag( $m )
        #end
    </div>
</div>
<br>
#end