<div class="panel">
    <div class="panel-body">
        <div id="company">
            <h4 class="page-header">Company information</h4>

            <form method="post" action="$page.href" class="form-horizontal" id="leadOrgDetails">
                <input type="hidden" name="leadOrgDetails" value="leadOrgDetails" />

                <div class="panel-body">
                    <div id="leadOrgDetailsPreview">
                        #set( $leadOrg = $page.leadOrg )
                        <input type="hidden" name="leadOrgId" value="$!leadOrg.orgId" />

                        <div class="form-group">
                            <label class="control-label col-md-2" for="">Company</label>

                            <div class="col-md-8">
                                <input type="text" id="orgTitleSearch" name="title" class="form-control" placeholder="Title" value="$!leadOrg.title" autocomplete="off" />
                            </div>
                            #if( $page.is("company") )
                            #else
                            <a href="/companies/$leadOrg.id" class="btn-company-details">Company details</a>
                            #end
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="newCompanyEmail">Contact</label>

                            <div class="col-md-5">
                                <input type="text" name="email" id="newCompanyEmail" class="form-control email" placeholder="Email" value="$!leadOrg.email" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="phone" class="form-control" placeholder="Phone" value="$!leadOrg.phone" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="newUserEmail">Address</label>

                            <div class="col-md-5">
                                <input type="text" name="address" class="form-control" placeholder="Address" value="$!leadOrg.address" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="addressLine2" class="form-control" placeholder="Address 2" value="$!leadOrg.addressLine2" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-5">
                                <input type="text" name="addressState" class="form-control" placeholder="State" value="$!leadOrg.addressState" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="postcode" class="form-control" placeholder="Postcode" value="$!leadOrg.postcode" #if(!$page.is('company')) disabled="disabled" #end />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="notes">Notes</label>

                            <div class="col-md-10">
                                <textarea name="notes" class="form-control" style="height: 100px" #if(!$page.is('company')) disabled="disabled" #end>$!leadOrg.notes</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="control-label col-md-2">Country</label>

                            <div class="col-md-8">
                                <select name="country" class="form-control chosen-select" id="country" #if(!$page.is('company')) disabled="disabled" #end>
                                <option value="">[No country selected]</option>
                                #foreach($cc in $formatter.countryCodes.list)
                                $formatter.option( $cc.alpha2Code, $cc.englishShortName, $leadOrg.country )
                                #end
                                </select>
                            </div>
                        </div>
                    </div>

                    #if( $page.completed)
                    #else
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            #if( $page.is("company") )
                            <button class="btn btn-primary btn-save-company" type="submit">Save details</button>
                            #else
                            <button class="btn btn-primary btn-edit-company" type="button">Edit details</button>
                            <button class="btn btn-primary btn-create-company" style="display: none;" type="submit">Create new company</button>
                            #end
                        </div>
                    </div>
                    #end
                </div>
            </form>
        </div>
    </div>
</div>
