<div id='getting-started'>
    <div class="panel panel-default video-intro">
	    <div class="panel-heading">
		    <i class="fa-youtube-play"></i>
		    Welcome to Fuse!
	    </div>
	    <div class="panel-body">
		    <iframe width="480" height="360" src="//www.youtube.com/embed/EoNWRLzOVKg" frameborder="0" allowfullscreen></iframe>
	    </div>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="clip-home"></i>
			Getting help
		</div>
		<div class="panel-body">
			<p>To see documentation for any screen click the <i class="clip-notification-2"></i> or to talk to a real person click the <i class="clip-bubble-3"></i> button.</p>
			<p>We've already made your first website and module. To get started now you can:</p>
			<a target='_blank' href='$viewFirstModuleHref' class='btn btn-primary'>View your first learning module</a>
			<a href='$editFirstModuleHref' class='btn btn-primary'>Edit your first learning module</a>
		</div>
	</div>
    <script type="text/javascript">
//        $(function() {
//            $(".hide-welcome").click(function(e) {
//                e.preventDefault();
//                $(".gettingStarted").addClass("suppressed");
//                $.cookie("gettingStartedSuppressed", true);
//            });
//            $(".show-welcome").click(function(e) {
//                e.preventDefault();
//                $(".gettingStarted").removeClass("suppressed");
//                $.cookie("gettingStartedSuppressed", false);
//            });
//            var s = $.cookie("gettingStartedSuppressed");
//            log("welcome suppressed", s);
//            if ("true" === s) {
//                $(".gettingStarted").addClass("suppressed");
//            }
//        });
    </script>
</div>