<div class="row">
    <div class="col-md-4">
        <h4>Leads</h4>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Created</th>
                <th>Funnel</th>
                <th>Current goal</th>
                <th>Stage</th>
                <th>Assigned to group</th>
                <th>Assigned to org</th>
                <th>Assigned to profile</th>
                <th>Timer</th>
            </tr>
        </thead>
        <tbody id="commentHistoryBody">
            #foreach($lead in $page.find("/funnels").leadsForProfile($page.thisProfile))
            <tr>
                <td>$lead.createDate</td>
                <td>
                    <a href="/funnels/$lead.funnel.name">
                        $lead.funnel.name ($!lead.funnelBranch.name)
                    </a>
                </td>
                <td>$lead.currentGoal</td>
                <td>$lead.stageName</td>
                <td>$!lead.assignedToGroup.name</td>
                <td>$!lead.assignedToOrg.title</td>
                <td>$!lead.assignedToProfile.email</td>
                <td>$!lead.timerDate</td>
            </tr>
            #end
        </tbody>
    </table>
</div>