<div class="text-right clearfix">
    <button class="btn btn-default"  data-toggle="modal" data-target="#modalCreateLead"><i class="fa fa-user-plus"></i> Add new lead</button>
</div>
<hr>
#foreach($lead in $applications.funnels.getLeadsForProfile($page.thisProfile) )
<div class="panel panel-default">
    #set( $funnel = $applications.funnels.funnel($lead) )
    <div class="panel-heading">
        #if( $funnel )
            <a href="/funnels/$funnel.name">
                #if( $funnel.title )
            $funnel.title
            #else
                    $funnel.name
                #end
            </a>
        #else
            COULD NOT FIND FUNNEL -$lead.funnel
        #end
        
        <b>ID=$lead.id</b>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <td>Created</td>
                <td>
                    <abbr title="$formatter.formatDateISO8601($lead.createDate, $page.organisation.timezone)" class="timeago">
                        $formatter.formatDateTime($lead.createDate, $page.organisation.timezone)
                    </abbr>
                </td>
            </tr>
            <tr>
                <td>Stage</td>
                <td>$!lead.stageName</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>$!lead.source</td>
            </tr>

            <tr>
                <td>Assigned to group</td>
                <td>$!lead.assignedToGroup.name</td>
            </tr>
            <tr>
                <td>Assigned to org</td>
                <td>$!lead.assignedToOrg.title</td>
            </tr>
            <tr>
                <td>Sales person</td>
                <td>$!lead.assignedToProfile.title</td>
            </tr>
            <tr>
                <td>Current goal</td>
                <td>
                    #if( $lead.currentGoal )
                        $!funnel.get($lead.currentGoal).title
                        ( <a href="/funnels/$funnel.name/$lead.currentGoal">$lead.currentGoal</a> )
                    #else
                        <span class="label label-warning">No current goal. Not being processed.</span>
                    #end
                </td>
            </tr>
            <tr>
                <td>Last attained goal</td>
                <td>
                    #if( $lead.lastAttainedGoal )
                        $lead.lastAttainedGoal
                        -
                        <abbr title="$formatter.formatDateISO8601($lead.lastAttainedDate, $page.organisation.timezone)" class="timeago">
                            $formatter.formatDateTime($lead.lastAttainedDate, $page.organisation.timezone)
                        </abbr>
                    #else
                        Unknown last goal attained. Transitioned at
                        <abbr title="$formatter.formatDateISO8601($lead.lastAttainedDate, $page.organisation.timezone)" class="timeago">
                            $formatter.formatDateTime($lead.lastAttainedDate, $page.organisation.timezone)
                        </abbr>
                    #end
                </td>
            </tr>

            <tr>
                <td>Timer</td>
                <td>
                    #if( $lead.timerDate )
                        <abbr title="$formatter.formatDateISO8601($lead.timerDate, $page.organisation.timezone)" class="timeago">
                            $formatter.formatDateTime($lead.timerDate, $page.organisation.timezone)
                        </abbr>
                        (<small class="text-muted">Current time: $formatter.formatDateTime($formatter.now, $page.organisation.timezone)</small>)
                    #else
                        No current timer
                    #end
                </td>
            </tr>

            <tr>
                <td>Timer processing</td>
                <td>
                    #if( $lead.processingStartedAt || $lead.completedProcessingAt || $lead.numAttempts )
                        <table class="table">
                            <tr>
                                <th>Started</th>
                                <th>Completed</th>
                                <th>Attempts</th>
                            </tr>
                            <tr>
                                <td>$!formatter.formatDateTime($formatter.processingStartedAt, $page.organisation.timezone)</td>
                                <td>$!formatter.formatDateTime($formatter.completedProcessingAt, $page.organisation.timezone)</td>
                                <td>$!formatter.numAttempts</td>
                            </tr>
                        </table>
                    #else
                        No timer processing information
                    #end
                </td>
            </tr>


        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Lead tasks</th>
                    <th>Due date</th>
                    <th>ID</th>
                    <th>Assigned to Group</th>
                    <th>Assigned to Org</th>
                    <th>Assigned to Profile</th>
                </tr>
            </thead>
            #set( $tasks = $lead.tasks() )
            #if( $tasks.empty )
                <tr>
                    <td>There are no tasks</td>
                </tr>
            #else
                #foreach( $task in $tasks )
                    <tr>
                        <td>$!task.title</td>
                        <td>$!task.taskDescription</td>
                        <td>$!task.dueDate</td>
                        <td>$!task.taskName</td>
                        <td>$!task.assignedToGroup.name</td>
                        <td>$!task.assignedToOrg.orgId</td>
                        <td>$!task.assignedToProfile.name</td>
                    </tr>
                #end
            #end
        </table>

        <h3>EDMs</h3>
        <table class="table">
            #foreach($funnelEdm in $lead.funnelEdms)
                <tr>
                    <td>
                        #if( $funnelEdm.emailItem )
                            <a href="/emails/$funnelEdm.emailItem.id">$funnelEdm.emailItem.subject</a>
                        #else if( $funnelEdm.smsItem )
                            SMS
                        #end
                    </td>
                    <td></td>
                </tr>
            #end
        </table>
    </div>
</div>
#end

<div id="modalCreateLead" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create new lead</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Source</div>
                                <div class="col-sm-9">
                                    <select name="source" id="" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Lead type</div>
                                <div class="col-sm-9">
                                    <select name="funnel" id="" class="form-control required">
                                        #foreach($f in $applications.leadMan.funnels)
                                        <option value="$f.name">$f.title</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Company</div>
                                <div class="col-sm-9">
                                    <input class="form-control" name="newOrgId" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">First name</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control required" name="firstName" value="$!page.thisProfile.firstName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Last name</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control required" name="surName" value="$!page.thisProfile.surName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Email</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control required" name="email" value="$!page.thisProfile.email">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Phone</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" value="$!page.thisProfile.phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <div class="control-label col-sm-3">Notes</div>
                                <div class="col-sm-9">
                                    <textarea placeholder="Notes" class="form-control" name="notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-6">-->
                            <!--<div class="form-group clearfix">-->
                                <!--<div class="control-label col-sm-3">Tags</div>-->
                                <!--<div class="col-sm-9">-->
                                    <!--<input placeholder="Tags" class="form-control" name="tags" />-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnCreateLead">Create lead</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    window.pageInitFunctions.push(initProfileLeads);
</script>