.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

#paper{
    height: 600px;
    overflow: scroll;
    position: relative;
}

#paper .right-panel{
    position: absolute;
    right: 0;
    top: 80px;
    width: 100px;
    z-index: 10;
}

#paper .right-panel .list-group{
    margin-bottom: 0;
}

#paper .right-panel li{
    cursor: move;

}

.w {
    width: 150px;
    height: 70px;
    text-align: center;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.w:hover {
    background-color: #5c96bc;
    color: white;

}

.w.begin{
    background: #2e6f9a;
    color: #fff;
}

.w.action{
    transform: rotateZ(45deg);
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 0;
    border-radius: 0;
}
.w.action .inner{
    text-align: center;
    margin-top: 44%;
    transform: rotateZ(-45deg);
    margin-left: -22px;
    width: 140px;
}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 0;
    width: 1em;
    height: 1em;
    background-color: #e50051;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.w.action .ep{
    bottom: 17%;
    right: -10px;
}

.statemachine-demo .jsplumb-endpoint {
    z-index: 3;
}

#opened {
    left: 10em;
    top: 5em;
}

#phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
}

#inperson {
    left: 12em;
    top: 23em;
}

#phone2 {
    left: 28em;
    top: 24em;
}

#rejected {
    left: 10em;
    top: 35em;
}

.dragHover {
    border: 2px solid orange;
}

path, .jsplumb-endpoint { cursor:pointer; }