.tabbable {
    margin: 0;
}

#builder {
    position: relative;
    min-height: 500px;
    margin: -17px -13px;
}

#builder-fullscreen {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 249px;
    background: #fff;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #9ed1f2;
    border: 1px solid #dfeaf1;
}

#builder-fullscreen:hover {
    color: #3988b7;
}

#builder-fullscreen .fa-window-restore {
    display: none;
}

#builder.fullscreen-mode #builder-fullscreen .fa-window-maximize {
    display: none;
}

#builder.fullscreen-mode #builder-fullscreen .fa-window-restore {
    display: inline-block;
}

#builder-status {
    position: absolute;
    top: -25px;
    right: 5px;
}

#builder.fullscreen-mode #builder-status {
    top: 0;
    right: auto;
    left: 50%;
    margin-left: -125px;
    transform: translate(-50%, 0);
    z-index: 11;
    background: #fff;
    padding: 3px;
}

/* ====================================================================
   Canvas place to edit node
   ==================================================================== */
#paper {
    position: absolute;
    z-index: 1;
    overflow: auto;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 250px;
    background: url("/theme/apps/funnels/img/bg_jb.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ====================================================================
   Right panel
   ==================================================================== */
#builder .right-panel {
    position: absolute;
    right: 0;
    top: -1px;
    bottom: 0;
    width: 250px;
    z-index: 10;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#builder .right-panel .panel {
    border: 0;
    border-radius: 0;
    height: 100%;
}

#builder .right-panel .panel .panel-heading {
    border-radius: 0;
}

/* ====================================================================
   Node preview
   ==================================================================== */
#builder .right-panel .panel-nodes-preview-list {
    z-index: 1;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#builder .right-panel .nodes-preview-list-search input {
    border-left: 0;
    border-right: 0;
}

#builder .right-panel .nodes-preview-list {
    padding: 0 15px 15px;
    height: calc(100% - 45px - 34px);
}

#builder .right-panel .node-preview {
    margin-top: 15px;
    cursor: move;
}

#builder .right-panel .node-preview-inner {
    padding-bottom: 100%;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#builder .right-panel .node-preview-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 10px;
    transform: translateY(-50%);
}

#builder .right-panel .node-preview-content i {
    font-size: 32px;
}

#builder .right-panel .node-preview-content span {
    display: block;
    padding-top: 5px;
    font-size: 13px;
    line-height: 15px;
}

#builder .right-panel .node-action .node-preview-inner {
    background: #3988b7;
}

#builder .right-panel .node-action[data-type="begin"] .node-preview-inner,
#builder .right-panel .node-action[data-type="end"] .node-preview-inner {
    background: #8c559b;
}

#builder .right-panel .node-goal .node-preview-inner {
    background: #39b7a1;
}

#builder .right-panel .node-decision .node-preview-inner {
    background: #e31b5c;
}

#builder .right-panel .node-preview.ui-draggable-dragging {
    z-index: 9999 !important;
}

/* ====================================================================
   Panel setting
   ==================================================================== */
#builder .right-panel .panel-setting {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#builder .right-panel .panel-setting.showed {
    display: block;
}

#builder .right-panel .panel-setting .panel-heading + .panel-footer {
    border-top: 0;
    border-bottom: 1px solid #dfeaf1;
}

#builder .right-panel .panel-setting .panel-body {
    height: calc(100% - 45px - 51px - 51px);
}

#builder .right-panel .panel-setting .panel-heading > *,
#builder .right-panel .panel-setting .panel-body > * {
    display: none;
}

#builder .right-panel .panel-setting .active {
    display: block !important;
}

/* ====================================================================
   Node
   ==================================================================== */
.node-backdrop {
    position: absolute;
    width: 300px;
    height: 220px;
    z-index: 3;
}

.node {
    position: absolute;
    z-index: 4;
    width: 210px;
    height: 130px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .37);
    border-radius: 4px;
    font-size: 14px;
    cursor: move;
    color: #fff;
}

.node.node-action {
    background: #3988b7;
}

.node.node-action.begin,
.node.node-action.end {
    background: #8c559b;
}

.node.node-goal {
    background: #39b7a1;
}

.node.node-decision {
    background: #e31b5c;
}

.node-dragging-hover {
    box-shadow: 0 0 5px 1px orange;
}

/* Node title
   ==================================================================== */
.node .node-heading {
    padding: 10px 45px 10px 10px;
    font-size: 15px;
}

.node .node-heading .node-type {
    font-weight: bold;
    line-height: 20px;
}

.node .node-heading .node-icon {
    text-align: left;
    width: 15px;
}

.node .node-heading .node-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.node .node-heading .node-buttons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.node .node-heading .node-buttons span:hover {
    background: rgba(255, 255, 255, .2);
}

/* Node body
   ==================================================================== */
.node .node-body {
    padding: 10px;
    height: calc(100% - 40px);
    background: rgba(255, 255, 255, .2);
    font-weight: 300;
}

.node .node-body .node-title-inner {
    color: #fff;
}

.node .node-body .node-title {
    cursor: pointer;
}

/* JSPlumb connector
   ==================================================================== */
.jsplumb-connector {
    z-index: 4;
}

.jsplumb-overlay {
    z-index: 5;
}

path,
.jsplumb-endpoint {
    cursor: pointer;
}

.node-connection-label {
    transition: background-color 0.25s ease-in;
    background-color: white;
    padding: 0.3em;
    cursor: pointer;
    display: none;
}

.node-connection-label.showed {
    display: block;
}

.btn-delete-node-connection {
    color: #f00 !important;
    display: block;
    font-size: 20px;
    background: #fff;
    width: 19px;
    height: 19px;
    line-height: 19px;
    border-radius: 50%;
    text-align: center;
}

/* Endpoints
   ==================================================================== */
.node-endpoint,
.node-endpoint-basic {
    position: absolute;
    bottom: 21px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e50051;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.node-endpoint-basic + .node-endpoint-basic {
    bottom: 39px;
}

.node-endpoint-basic + .node-endpoint-basic + .node-endpoint-basic {
    bottom: 57px;
}

.node-endpoint-basic + .node-endpoint-basic + .node-endpoint-basic + .node-endpoint-basic {
    bottom: 75px;
}

.node-endpoint.node-endpoint-timeout {
    bottom: 3px;
    top: auto;
    background-color: #e5910f;
}

.node-endpoint.node-endpoint-green {
    background-color: green;
}

.node-endpoint.node-endpoint-red {
    background-color: red;
    bottom: 3px;
    top: auto;
}

.node-endpoint:hover {
    box-shadow: 0 0 6px black;
}

/* Choices options
   ==================================================================== */
.choices-wrapper ul {
    padding-left: 20px;
}

.rules-group-container .btn-primary {
    opacity: 0.65;
}

.rules-group-container .btn-primary.active {
    opacity: 1;
}

.rules-group-container .btn-primary.disabled {
    opacity: 0.65;
}
