#builder {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    margin: -17px -13px;
}

#builder-status {
    margin-right: 10px;
}

/* ====================================================================
   Canvas place to edit node
   ==================================================================== */
#paper {
    position: absolute;
    z-index: 1;
    overflow: auto;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 250px;
    background: url("/theme/apps/funnels/img/bg_jb.png");
}

/* ====================================================================
   Right panel
   ==================================================================== */
#builder .right-panel {
    position: absolute;
    right: 0;
    top: -1px;
    bottom: 0;
    width: 250px;
    z-index: 10;
    margin-bottom: 0;
}

#builder .right-panel .panel {
    border: 0;
    border-radius: 0;
    height: 100%;
}

#builder .right-panel .panel .panel-heading {
    border-radius: 0;
}

/* ====================================================================
   Node preview
   ==================================================================== */
#builder .right-panel .panel-nodes-preview-list {
    z-index: 1;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#builder .right-panel .nodes-preview-list {
    padding: 0 15px 15px;
    height: calc(100% - 45px);
}

#builder .right-panel .node-preview {
    margin-top: 15px;
    cursor: move;
}

#builder .right-panel .node-preview-inner {
    padding-bottom: 100%;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#builder .right-panel .node-preview-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 10px;
    transform: translateY(-50%);
}

#builder .right-panel .node-preview-content i {
    font-size: 32px;
}

#builder .right-panel .node-preview-content span {
    display: block;
    padding-top: 5px;
    font-size: 13px;
    line-height: 15px;
}

#builder .right-panel .node-action .node-preview-inner {
    background: #3988b7;
}

#builder .right-panel .node-goal .node-preview-inner {
    background: #39b7a1;
}

#builder .right-panel .node-decision .node-preview-inner {
    background: #e31b5c;
}

#builder .right-panel .node-preview.ui-draggable-dragging {
    z-index: 9999 !important;
}

/* ====================================================================
   Panel setting
   ==================================================================== */
#builder .right-panel .panel-setting {
    z-index: 0;
    position: absolute;
    top: 0;
    right: -234px;
    width: 232px;
    height: 100%;
    transition: 0.2s all;
}

#builder .right-panel .panel-setting.showed {
    z-index: 2;
    right: 0;
}

#builder .right-panel .panel-setting .panel-heading + .panel-footer {
    border-top: 0;
    border-bottom: 1px solid #dfeaf1;
}

#builder .right-panel .panel-setting .panel-body {
    height: calc(100% - 45px - 51px - 51px);
}

#builder .right-panel .panel-setting .panel-heading > *,
#builder .right-panel .panel-setting .panel-body > * {
    display: none;
}

#builder .right-panel .panel-setting .active {
    display: block !important;
}

.node-backdrop {
    position: absolute;
    width: 300px;
    height: 220px;
    z-index: 3;
}

.node {
    position: absolute;
    opacity: 0.8;
    z-index: 4;
    width: 200px;
    height: 120px;
    text-align: center;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    transition: background-color 0.25s ease-in;
    cursor: move;
}

.node .inner {
    padding: 8px;
}

.node .title {
    text-align: left;
    border-radius: 8px 8px 0 0;
    padding: 5px 45px 5px 5px;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.node.action .inner {
    text-align: center;
    padding: 0 20px;
}

.jsplumb-connector {
    z-index: 4;
}

.jsplumb-overlay {
    z-index: 5;
}

.node .title .node-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.node .title .node-buttons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.node .title .node-buttons span:hover {
    background-color: #ddd;
}

.aLabel {
    transition: background-color 0.25s ease-in;
    background-color: white;
    padding: 0.3em;
    cursor: pointer;
    display: none;
}

.aLabel.showed {
    display: block;
}

.ep, .ep-basic {
    position: absolute;
    bottom: 21px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e50051;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep-basic + .ep-basic {
    bottom: 39px;
}

.ep-basic + .ep-basic  + .ep-basic {
    bottom: 57px;
}

.ep-basic + .ep-basic + .ep-basic + .ep-basic {
    bottom: 75px;
}

.ep.ep-timeout {
    bottom: 3px;
    top: auto;
    background-color: #e5910f;
}

.ep.ep-green {
    background-color: green;
}

.ep.ep-red {
    background-color: red;
    bottom: 3px;
    top: auto;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jsplumb-endpoint {
    z-index: 3;
}

#opened {
    left: 10em;
    top: 5em;
}

#phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
}

#inperson {
    left: 12em;
    top: 23em;
}

#phone2 {
    left: 28em;
    top: 24em;
}

#rejected {
    left: 10em;
    top: 35em;
}

.dragHover {
    border: 2px solid orange;
}

path, .jsplumb-endpoint {
    cursor: pointer;
}

.transitionItem {
    padding: 0 15px 0 20px;
}

.buttonX {
    color: #f00 !important;
    display: block;
    font-size: 20px;
    background: #fff;
    width: 19px;
    height: 19px;
    line-height: 19px;
    border-radius: 50%;
    text-align: center;
}

.nodeTitle {
    cursor: pointer;
}

.choices-wrapper ul {
    padding-left: 20px;
}

.rules-group-container .btn-primary {
    opacity: 0.65;
}

.rules-group-container .btn-primary.active {
    opacity: 1;
}

.rules-group-container .btn-primary.disabled {
    opacity: 0.65;
}
