<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Funnels</title>
    </head>
    <body>

        <button type="button" class="btn btn-sm btn-primary addFunnel" data-toggle="modal" data-target="#addFunnel"><i class="fa fa-plus"></i> Create a journey</button>

        <div class="btn-group">
            <a href="notes.csv" class="btn btn-sm btn-success"><i class="fa fa-download"></i> Export Notes</a>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#uploadNotes">Upload CSV</a></li>
                </ul>
            </div>
        </div>

        <br/><br/>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="funnels-table" class="table table-striped table-hover">
                        <colgroup>
                            <col width="60" />
                            <col width="" />
                            <col width="" />
                            <col width="180" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Count</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody id="funnelList">
                            #foreach($v in $page.children)
                            <tr>
                                <td>
                                    #if ($v.funnel.hiddenToSales)
                                    <i class="fa fa-2x fa-eye-slash text-danger" title="Hidden to Sales"></i>
                                    #else
                                    <i class="fa fa-2x fa-eye text-success" title="Visible to Sales"></i>
                                    #end
                                </td>
                                <td><a href="$v.name/$v.liveVersion">$v.title</a></td>
                                <td>$!v.numLeads</td>

                                <td class="action">
                                    <div class="btn-group btn-group-sm">
                                        <a href="$v.name/$v.liveVersion" class="btn btn-sm btn-info"><i class="fa fa-cog"></i> Edit</a>
                                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a class="delete-funnel" href="$v.name"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="addFunnel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Funnel</h4>
            </div>
            <form action="." method="POST" class="form-horizontal createCategory">
                <div class="modal-body">
                    <div class="form-message alert alert-danger" style="display: none;"></div>
                    <input type="hidden" name="action" value="create"/>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="rewardName">Name</label>
                        <div class="col-md-8">
                            <input name="newTitle" class="form-control" id="rewardName" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-primary" type="submit">Create funnel</button>
                </div>
            </form>
        </div>

        <div id="uploadNotes" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Notes</h4>
            </div>
            <form action="notes.csv" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-message alert alert-danger" style="display: none;"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="rewardName">CSV</label>
                        <div class="col-md-8">
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                </div>
            </form>
        </div>

        <script type="text/javascript">
            $(function () {
                var modal = $("#addFunnel");
                var form = modal.find("form");

                form.forms({
                    onSuccess: function (resp) {
                        flog("done", resp);
                        modal.modal('hide');
                        Msg.success("Created new funnel");
                        reloadFunnels();
                    }
                });

                $("#funnels-table").on("click", ".delete-funnel", function (e) {
                    e.preventDefault();
                    var href = $(e.target).closest("a").attr("href");
                    var msj = "Deleting a journey will permanently delete your journey steps, funnel and all leads associated with your funnel. Are you sure you want to continue?";
                    Kalert.confirm(msj, 'Delete', function () {
                        deleteFile(href);
                        Msg.success("Funnel deleted");
                        setTimeout(reloadFunnels, 700);
                    });
                });

                var date = new Date();
                date.setDate(date.getDate() - 1)

                function reloadFunnels() {
                    $('#funnelList').reloadFragment({
                        whenComplete: function () {
                            $('abbr.timeago').timeago();
                        }
                    });
                }
            });

            $(function () {
                var modal = $("#uploadNotes");
                var form = modal.find("form");

                form.forms({
                    onSuccess: function (resp) {
                        flog("done", resp);
                        modal.modal('hide');
                        Msg.success("Uploaded successfully");
                    }
                });
            });
        </script>
    </body>
</html>