<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Funnels</title>
    </head>
    <body>
        <h1>$page.title</h1>
        <p class="lead">Leads = $page.leads.size()</p>

        <div class="well">
            <xmp>$page.funnelXml</xmp>
        </div>

        <a href="/repositories/$page.name/" class="btn btn-primary">Edit funnel.xml</a>

        <a class="btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#modalUploadCsv">
            <span class="glyphicon glyphicon-upload"></span>
            Upload CSV
        </a>
        <a class="btn btn-info btn-sm btn-export-points" href="export-leads.csv">
            <span class="glyphicon glyphicon-download"></span>
            Export to CSV
        </a>



        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>TrackingID</th>
                    <th>Email</th>
                    <th>Last attained</th>
                    <th>Awaiting goal</th>
                    <th>Created date</th>
                    <th>Last attained date</th>
                    <th>Stage</th>
                    <th>Source</th>
                    <th>Assigned to</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                #foreach( $leadPage in $page.children.ofType.lead )
                #set($lead = $leadPage.lead)
                <tr>
                    <td>$!lead.trackingId</td>
                    <td>$!lead.profile.email</td>
                    <td>$!lead.lastAttainedGoal</td>
                    <td>$!lead.currentGoal</td>
                    <td>$lead.createDate</td>
                    <td>$lead.lastAttainedDate</td>
                    <td>$!lead.stageName</td>
                    <td>$!lead.source</td>
                    <td>$!lead.assignedToProfile.formattedName</td>
                    <td>
                        <button data-leadid="$lead.id" type="button" class="btn btn-danger btn-del-lead"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                #end
            </tbody>
        </table>

        <div id="modalUploadCsv" class="modal fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Leads CSV</h4>
            </div>
            <div class="modal-body">
                <div class="row upload">
                    <div class="col-sm-12">
                        <div class="btn btn-primary btn-sm input uploadCsv" id="doUploadCsv"></div>
                        <div class="results" style="display: none">
                            <p>
                                <strong>Num inserted:</strong>
                                <span class="numInserted">-</span>
                                <strong>Num updated:</strong>
                                <span class="numUpdated">-</span>
                                <strong>Unmatched rows:</strong>
                                <span class="numUnmatched">-</span>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            $(function () {
                $('body').on('click', '.btn-del-lead', function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var tr = btn.closest('tr');
                    var leadId = btn.data('leadid');
                    confirmDelete(leadId, 'this lead', function () {
                        tr.remove();
                    });
                });

                initUpload();
            });
            function initUpload() {
                $("#doUploadCsv").mupload({
                    buttonText: "<i class=\"clip-folder\"></i> Upload spreadsheet",
                    url: "points.csv",
                    useJsonPut: false,
                    oncomplete: function (data, name, href) {
                        log("oncomplete:", data.result.data, name, href);
                        $(".results .numUpdated").text(data.result.data.numUpdated);
                        $(".results .numInserted").text(data.result.data.numInserted);
                        $(".results .numUnmatched").text(data.result.data.unmatched.length);
                        showUnmatched(data.result.data.unmatched);
                        $(".results").show();
                        Msg.success("Upload completed. Please review any unmatched members below, or refresh the page to see the updated list of members");
                    }
                });
            }
        </script>
    </body>
</html>