<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Funnels</title>
        <script src="/static/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js">//</script>
        <script src="/static/jquery.fullscreen/0.4.1/jquery.fullscreen-0.4.1.js"></script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
    </head>
    <body>
        #set($currentBranch = $page.find("/repositories/${folder.name}/${page.name}"))

        <div class="btn-group publishing pull-right">
            <a href="leads/" class="btn btn-sm btn-info">View journeys</a>

            <a href="${currentBranch.href}commits" class="publish btn btn-sm btn-info" title="View repository history and revert changes">
                <i class="fa fa-clock-o"></i>
            </a>

            #if( !$currentBranch.locks.isEmpty() )
            <a href="$currentBranch.href/commits" class="btn btn-sm btn-warning" title="This branch has locks">
                <i class="fa fa-lock"></i>
            </a>
            #end

            #if( $currentBranch.live )
            <a href="${currentBranch.parent.href}manageBranches" class="islive btn btn-sm btn-danger" title="This is the live branch. Manage repository versions">
                <i class="fa fa-exclamation-triangle"></i>
            </a>
            #else
            <a href="${currentBranch.href}publish" class="publish btn btn-sm btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                PUBLISH
            </a>
            <a href="${currentBranch.parent.href}manageBranches" class="btn btn-sm btn-primary">
                <i class="fa fa-gear"></i>
                Manage versions
            </a>
            #end

            <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <b>Version:</b>
                $currentBranch.name
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu list branches">
                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                <li role="presentation" class="list-item">
                    <aside class="list-item-controller">
                        <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                        #if( $b.live )

                        #else
                        <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                        #end
                    </aside>
                    <a href="${b.href}" class="branch noclear">
                        $b.name
                    </a>
                </li>
                #end
            </ul>
        </div>

        <div class="clearfix"></div>

        <div class="tabbable clearfix">
            <div class="clearfix">
                <ul class="nav nav-tabs tab-bricky">
                    <li class="active"><a data-toggle="tab" href="#journeyBuilder">Journey Builder</a></li>
                    <li><a data-toggle="tab" href="#properties">Properties</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="journeyBuilder" class="tab-pane active">
                    <div class="well" style="display: none">
                        <textarea id="funnelJson">$page.funnelJson</textarea>
                    </div>
                    <div id="builder">
                        <a href="#" id="builder-fullscreen" title="Enter fullscreen mode">
                            <i class="fa fa-window-maximize"></i>
                            <i class="fa fa-window-restore"></i>
                        </a>
                        <span class="text-muted small" id="builder-status"></span>
                        <div id="paper"></div>
                        <div class="right-panel panel panel-default">
                            <div class="panel-nodes-preview-list panel panel-info">
                                <div class="panel-heading"><i class="fa fa-dot-circle-o"></i> Nodes List</div>
                                <div class="nodes-preview-list-search">
                                    <input type="text" placeholder="Type for search" class="form-control" />
                                </div>
                                <div class="nodes-preview-list">
                                    <div class="row"></div>
                                </div>
                            </div>
                            <div class="panel panel-info panel-setting">
                                <div class="panel-heading">
                                    <i class="fa fa-pencil panel-edit-title"></i> <span class="panel-edit-title">Edit title</span>
                                    <i class="fa fa-edit panel-edit-details"></i> <span class="panel-edit-details">Edit details</span>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-sm btn-primary btn-save-setting">Save</button>
                                    <button type="button" class="btn btn-sm btn-default btn-close-setting">Cancel</button>
                                </div>
                                <div class="panel-body form-horizontal">
                                    <form class="panel-edit-title">
                                        <label>Node title</label>
                                        <input type="text" value="" name="title" class="form-control" />
                                        <input type="hidden" name="sourceId" />
                                        <input type="hidden" name="targetId" />
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-sm btn-primary btn-save-setting">Save</button>
                                    <button type="button" class="btn btn-sm btn-default btn-close-setting">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="properties" class="tab-pane">
                    <form class="form-horizontal form-properties" action="$page.href" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="/repositories/$folder.name/$page.name/texteditor?fileName=funnel.json" class="btn btn-sm btn-info" target="_blank">
                                        <span class="fa fa-edit"></span>
                                        Edit journey
                                    </a>
                                    <a href="/repositories/$folder.name/$page.name/" class="btn btn-sm btn-info" target="_blank">
                                        <span class="fa fa-folder-open"></span>
                                        File manager
                                    </a>                                    
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="visible-xs">
                                    <button class="btn btn-success" type="submit">Save</button>
                                </div>
                                <div class="text-right hidden-xs">
                                    <button class="btn btn-success" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-sm-3">Title</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control required" name="title" value="$!page.funnel.title" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Hidden to Sales</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="hiddenToSales" #if ($page.funnel.hiddenToSales) checked #end />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Leads Group</label>
                        <div class="col-sm-6">
                            <select class="form-control required" name="leadsGroup">
                                <option value="">[No group selected]</option>
                                #foreach ($g in $page.find("/groups").children)
                                #if( $g.group.isSubscription() == true || $g.group.primary == true)
                                <option #if ($g.name == $page.funnel.leadsGroup) selected #end value="$g.name">
                                    #if ($g.groupTitle)
                                    $g.groupTitle
                                    #else
                                    $g.name
                                    #end
                            </option>
                            #end
                            #end
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Sources</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-source">
                            <div class="form-group source">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" placeholder="Enter source name" name="sources" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-source" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-source"><i class="fa fa-plus"></i> Add source</button>
                        </p>
                        <div class="source-wrapper">
                            #foreach ($s in $page.funnel.sources)
                            <div class="form-group source">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" placeholder="Enter source name" name="sources" value="$s" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-source" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Stages</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-stage">
                            <div class="form-group stage">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm input-group-stage">
                                        <span title="Stage colour" class="input-group-addon stageColorPicker" style="background: ">&nbsp;&nbsp;</span>
                                        <input type="hidden" class="form-control" name="stageColour" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter stage name" name="stageName" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter stage description" name="stageDesc" />
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-move-stage"><i class="fa fa-arrows-v"></i></a>
                                            <button class="btn btn-danger btn-remove-stage" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <script type="text/html" id="template-stage-colors">
                            <div class="dropdown-menu dropdown-menu-se label-colors">
                                <ul class="color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-b60205"
                                              style="background-color: #b60205 !important;"
                                              data-hex-color="b60205">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-d93f0b"
                                              style="background-color: #d93f0b !important;"
                                              data-hex-color="d93f0b">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-fbca04"
                                              style="background-color: #fbca04 !important;"
                                              data-hex-color="fbca04">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-0e8a16"
                                              style="background-color: #0e8a16 !important;"
                                              data-hex-color="0e8a16">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-006b75"
                                              style="background-color: #006b75 !important;"
                                              data-hex-color="006b75">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-1d76db"
                                              style="background-color: #1d76db !important;"
                                              data-hex-color="1d76db">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-0052cc"
                                              style="background-color: #0052cc !important;"
                                              data-hex-color="0052cc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-5319e7"
                                              style="background-color: #5319e7 !important;"
                                              data-hex-color="5319e7">
                                        </span>
                                    </li>
                                </ul>

                                <ul class="color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-e99695"
                                              style="background-color: #e99695 !important;"
                                              data-hex-color="e99695" data-selected="">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-f9d0c4"
                                              style="background-color: #f9d0c4 !important;"
                                              data-hex-color="f9d0c4">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-fef2c0"
                                              style="background-color: #fef2c0 !important;"
                                              data-hex-color="fef2c0">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-c2e0c6"
                                              style="background-color: #c2e0c6 !important;"
                                              data-hex-color="c2e0c6">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-bfdadc"
                                              style="background-color: #bfdadc !important;"
                                              data-hex-color="bfdadc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-c5def5"
                                              style="background-color: #c5def5 !important;"
                                              data-hex-color="c5def5">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-bfd4f2"
                                              style="background-color: #bfd4f2 !important;"
                                              data-hex-color="bfd4f2">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-chooser-color labelstyle-d4c5f9"
                                              style="background-color: #d4c5f9 !important;"
                                              data-hex-color="d4c5f9">
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-stage"><i class="fa fa-plus"></i> Add Stage</button>
                        </p>
                        <div class="stage-wrapper">
                            #foreach ($s in $page.funnel.stages)
                            <div class="form-group stage">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm input-group-stage">
                                        <span title="Stage colour" class="input-group-addon stageColorPicker" style="background: $!s.colour">&nbsp;&nbsp;</span>
                                        <input type="hidden" class="form-control" name="stageColour" value="$!s.colour" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter stage name" name="stageName" value="$s.name" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter stage description" name="stageDesc" value="$s.desc" />
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-move-stage"><i class="fa fa-arrows-v"></i></a>
                                            <button class="btn btn-danger btn-remove-stage" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Extra Fields</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-extraField">
                            <div class="form-group extraField">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter field name" name="extraFieldName" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter field title" name="extraFieldTitle" />
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldRequired" /> Required
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldAggregate" /> Include in search
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldFileUpload" /> File Upload
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-extraField" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-extraField"><i class="fa fa-plus"></i> Add extra field</button>
                        </p>
                        <div class="extraField-wrapper">
                            #foreach ($ef in $page.funnel.extraFields)
                            <div class="form-group extraField">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter field name" name="extraFieldName" value="$ef.name" />
                                        <input type="text" class="form-control required" style="width: 50%" placeholder="Enter field title" name="extraFieldTitle" value="$ef.title" />
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldRequired" #if ($ef.required == "true") checked="checked" #end /> Required
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldAggregate" #if ($ef.aggregate == "true") checked="checked" #end /> Include in search
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="extraFieldFileUpload" #if ($ef.fileUpload == "true") checked="checked" #end /> File Upload
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-extraField" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Lost Reasons</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-lostReason">
                            <div class="form-group lostReason">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" placeholder="Enter lost reason" name="lostReason" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-lostReason" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-lostReason"><i class="fa fa-plus"></i> Add lost reason</button>
                        </p>
                        <div class="lostReason-wrapper">
                            #foreach ($lr in $page.funnel.lostReasons)
                            <div class="form-group lostReason">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" placeholder="Enter lost reason" name="lostReason" value="$lr" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-lostReason" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Engagement scoring</label>
                    <div class="col-sm-6">
                        <p>
                            <div class="btn-group">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i> Add engagement scoring factor
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    #foreach($sft in $page.scoringTypesMap.entrySet())
                                    <li><a class="addEngagement" href="$sft.key">$sft.value.label</a></li>
                                    #end
                                </ul>
                            </div>
                        </p>
                        <div id="addNewScoringFactorWrap" class="hide">
                            #if ($params.addNewScoringFactor)
                            <div class="scoringFactor panel panel-default">
                                <input type="hidden" class="leadScoringFactorTypeId" value="$!params.addNewScoringFactor">
                                #set( $scoringType = $page.engagementScoringFactorType($params.addNewScoringFactor) )
                                <div class="panel-heading">
                                    <i class="fa fa-list"></i> $scoringType.label <a href="javascript:void(0)" class="pull-right deleteScoringFactor"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-12">Boost</label>
                                        <div class="col-sm-12">
                                            <input class="form-control boost" step="0.5" type="number" name="boost" value="$!sf.boost">
                                        </div>
                                    </div>
                                    <h5>Properties:</h5>
                                    #foreach( $prop in $scoringType.properties)
                                    <div class="form-group">
                                        <label class="col-sm-12">$prop.text</label>
                                        <div class="col-sm-12">
                                            <input class="form-control scoringTypeProp" type="text" name="$prop.name" value="">
                                        </div>
                                    </div>
                                    #end
                                </div>
                            </div>
                            #end
                        </div>

                        <div class="scoringFactorsWrapper">
                            #foreach ($sf in $page.funnel.scoringFactors)
                            <div class="scoringFactor panel panel-default">
                                <input type="hidden" class="leadScoringFactorTypeId" value="$!sf.leadScoringFactorTypeId">
                                #set( $scoringType = $page.engagementScoringFactorType($sf.leadScoringFactorTypeId) )
                                <div class="panel-heading">
                                    <i class="fa fa-list"></i> $scoringType.label <a href="javascript:void(0)" class="pull-right deleteScoringFactor"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-12">Boost</label>
                                        <div class="col-sm-12">
                                            <input class="form-control boost" step="0.5" type="number" name="boost" value="$!sf.boost">
                                        </div>
                                    </div>
                                    <h5>Properties:</h5>
                                    #foreach( $prop in $scoringType.properties)
                                    <div class="form-group">
                                        <label class="col-sm-12">$prop.text</label>
                                        <div class="col-sm-12">
                                            <input class="form-control scoringTypeProp" type="text" name="$prop.name" value="$!sf.properties.get($prop.name)">
                                        </div>
                                    </div>
                                    #end
                                </div>
                            </div>
                            #end
                            <div id="scoringFactorEnd" style="height: 1px"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Customer Activities</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-customerActivity">
                            <div class="form-group customerActivity">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="hidden" name="customerActivityId" />
                                        <input type="text" class="form-control required" style="width: 60%;" placeholder="Enter customer activity" name="customerActivityText" />
                                        <select class="form-control" style="width: 40%;" name="customerActivityInbound">
                                            <option value="true">Inbound</option>
                                            <option value="false">Outbound</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-customerActivity" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-customerActivity"><i class="fa fa-plus"></i> Add customer activity</button>
                        </p>
                        <div class="customerActivity-wrapper">
                            #foreach ($ca in $page.funnel.customerActivities)
                            <div class="form-group customerActivity">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="hidden" name="customerActivityId" value="$ca.id" />
                                        <input type="text" class="form-control required" style="width: 60%;" placeholder="Enter customer activity" name="customerActivityText" value="$ca.text" />
                                        <select class="form-control" style="width: 40%;" name="customerActivityInbound">
                                            <option value="true" #if ($ca.inbound == "true") selected="selected" #end>Inbound</option>
                                            <option value="false" #if ($ca.inbound == "false") selected="selected" #end>Outbound</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-customerActivity" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                        <div class="alert alert-info">
                            <p>Specify the list of activities that can be added to leads as notes, eg "send documents", "give quote".</p>
                            <p>An activity can be inbound, ie something the customer did, or outbound, ie something the sales person did</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Funnel Testers</label>
                    <div class="col-sm-6">
                        <script type="text/html" id="template-funnelTester">
                            <div class="form-group funnelTester">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" style="width: 50%;" placeholder="Enter email domain" name="funnelTesterEmailDomain" />
                                        <input type="number" class="form-control numeric" style="width: 20%;" placeholder="Enter delay" name="funnelTesterDelay" />
                                        <!--
                                        <input type="number" class="form-control numeric " style="width: 30%;" placeholder="Enter accelerator" name="funnelTesterAcce" />
                                        -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-funnelTester" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <p>
                            <button type="button" class="btn btn-sm btn-success btn-add-funnelTester"><i class="fa fa-plus"></i> Add funnel tester</button>
                        </p>
                        <div class="funnelTester-wrapper">
                            #foreach ($ft in $page.funnel.funnelTesters)
                            <div class="form-group funnelTester">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control required" style="width: 50%;" placeholder="Enter email domain" name="funnelTesterEmailDomain" value="$ft.emailDomain" />
                                        <input type="number" class="form-control numeric" style="width: 20%;" placeholder="Enter delay" name="funnelTesterDelay" value="$!ft.delayMins" />
                                        <!--
                                        <input type="number" class="form-control numeric" style="width: 30%;" placeholder="Enter accelerator" name="funnelTesterAcce" value="$!ft.accelerator" />
                                        -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-remove-funnelTester" type="button"><i class="fa fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                        <div class="alert alert-info">
                            <p>Profiles with a matching email domain will can have their delays processed faster, to aid with funnel testing.</p>
                            <p>Enter either:</p>
                            <ul>
                                <li>Delay: Specified in minutes, this replaces the delays on timers and goal timeouts. Eg use "1" for 1 minute</li>
                                <!--
                                <li>Accelerator: Divides the amount of time calculated for timers and goal timeouts. Eg use "100" to make 100 times faster</li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>

<div id="modalUploadCsv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Leads CSV</h4>
            </div>
            <div class="modal-body">
                <div class="row upload">
                    <div class="col-sm-12">
                        <div class="btn btn-primary btn-sm input uploadCsv" id="doUploadCsv"></div>
                        <div class="results" style="display: none">
                            <p>
                                <strong>Num inserted:</strong>
                                <span class="numInserted">-</span>
                                <strong>Num updated:</strong>
                                <span class="numUpdated">-</span>
                                <strong>Unmatched rows:</strong>
                                <span class="numUnmatched">-</span>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <link rel="stylesheet" href="/theme/apps/funnels/journeyBuilder.css?v=10">
    <script src="/static/jsplump/2.1.4/jsPlumb-2.1.4.js">//</script>
    <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
    <script src="jb-handlers.js?v=28072016" type="text/javascript">//</script>
    <script src="/theme/apps/funnels/journeyBuilder.js?v=28072016" type="text/javascript">//</script>
    <script src="/theme/apps/funnels/manageFunnel.js?v=4" type="text/javascript">//</script>

    <script type="text/javascript">
        $(function () {
            initJourneyBuilder();
            initManageFunnel();
            initPublishingMenu('');
            initEngagementScoring();

            $("body").on("click", ".btn-refresh-leads", function (e) {
                e.preventDefault();
                $("#lead-tbody").reloadFragment();
            });
        });
    </script>
</body>
</html>
