<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Send to Hub Spot</title>
    </head>
    <body>
        #if( $params.mode == "settings" )
        <form method="POST" action="$page.path" class="form-horizontal" id="frmDetails">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="groupName">HAPI KEY</label>
                    <input type="text" name="hapiKey" id="hapiKey" class="form-control"/>
                </div>
            </div>
        </form>
        #else
        <form method="POST" action="$page.path" class="form-horizontal">
            <button class="btn btn-success" type="submit">Save</button>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="groupName">HAPI KEY</label>
                            <input type="text" name="hapiKey" id="hapiKey" class="form-control"/>
                        </div>
                    </div>                    
                </div>
            </div>
        </form>
        #end
    </body>
</html>