<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Split test</title>
    </head>
    <body>
        <form method="POST" action="$page.path" class="form-horizontal" id="frmDetails">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="groupName">Test %</label>
                    <input type="numeric" name="profile" class="form-control" value="$!page.node.testPercentage" />
                    <small>Enter the percentage of leads which should use the test branch, eg 5 to test 5%</small>
                </div>
            </div>
            
        </form>
    </body>
</html>