<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Stop/Go settings</title>
    </head>
    <body>
        <form method="POST" action="$page.path" class="" id="frmDetails" style="">
            <input type="hidden" name="command" value="go"/>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-info">
                        <i class="fa fa-play"></i>
                        GO!
                    </button>
                </div>
            </div>
        </form>
    </body>
</html>