<html>
    <head>
        <title>Timer Goal</title>
    </head>
    <body>
        <p><strong>Timers in queue: </strong>$!page.timersInQueue</p>
        <p><strong>Timers due in the next 24 hours: </strong>$!page.dueToFire(1)</p>
        <p><strong>Timers due in the next 7 days: </strong>$!page.dueToFire(7)</p>

        #set($dueLeads = $page.getDueLeads(10))
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>User</th>
                </tr>
            </thead>

            <tbody>
                #if($dueLeads.size() > 0)
                #foreach($d in $dueLeads)
                <tr>
                    <td>$formatter.formatDateTime($d.timerDate, $page.organisation.timezone)</td>
                    <td>
                        #if($d.profile)
                        <a href="/manageUsers/$d.profile.id">$d.profile.formattedName</a>
                        #end
                    </td>
                </tr>
                #end
                #else
                <tr>
                    <td>No timers currently in the queue</td>
                </tr>
                #end
            </tbody>
        </table>
    </body>
</html>
