<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Number of deals</label>
        <div class="col-sm-12">
            <input type="number" class="form-control traveldeals-number-of-deals" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Layout</label>
        <div class="col-sm-12">
            <select class="form-control traveldeals-select-layout">
                <option value="list" selected="selected">List</option>
                <option value="grid">Grid</option>
            </select>
        </div>
    </div>
    <div class="form-group traveldeals-items-per-row-wrapper" style="display: none;">
        <label class="col-sm-12">Items per row</label>
        <div class="col-sm-12">
            <select class="form-control traveldeals-items-per-row">
                <option value="1">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
</form>
