<div id="page-sidebar" data-cid="$page.organisation.id">
    <a class="sidebar-toggler sb-toggle" href="#"><i class="fa fa-indent"></i></a>
    <div class="sidebar-wrapper">
        <ul class="nav nav-tabs nav-justified" id="sidebar-tab">
            <li class="active">
                <a href="#users" role="tab" data-toggle="tab"><i class="fa fa-users"></i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="users">
                <div class="users-list">
                    <ul class="media-list">
                    </ul>
                </div>
                <div class="user-chat">
                    <div class="sidebar-content">
                        <a class="sidebar-back" href="#"><i class="fa fa-chevron-circle-left"></i> Back</a>
                    </div>
                    <div class="user-chat-form sidebar-content">
                        <div class="input-group">
                            <input type="text" placeholder="Type a message here..." class="form-control kchat-msg-input">
                            <div class="input-group-btn">
                                <button data-visitorid="" class="btn btn-success btn-send-msg" type="button">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/theme/apps/kchat/kchatAdmin.css" rel="stylesheet" type="text/css"/>
<script src="/theme/apps/kchat/kchatAdmin.js" type="text/javascript">//</script>
<script id="kchat-user-template" type="text/html">
    <li id="user-{{visitorId}}" class="media">
        <a href="{{visitorId}}">
            <i class="fa fa-circle status-online"></i>
            <img alt="{{profile.name}}" src="{{profilePic}}" class="media-object">
            <div class="media-body">
                <h4 class="media-heading">{{profile.name}}</h4>
            </div>
        </a>
    </li>
</script>

<script id="kchat-msg-template" type="text/html">
    <li class="other">
        <div class="avatar">
            <img src="{{profilePic}}" alt="{{profile.name}}">
        </div>
        <div class="messages">
            <p>{{msg}}</p>
            <span class="time"> {{time}} </span>
        </div>
    </li>
</script>
<script id="kchatadmin-msg-template" type="text/html">
    <li class="self">
        <div class="avatar">
            <img src="/manageUsers/${user.id}/pic" alt="${user.formattedName}">
        </div>
        <div class="messages">
            <p>{{msg}}</p>
            <span class="time"> {{time}} </span>
        </div>
    </li>
</script>