<p class="lead">Please enter your details below. We will contact you to arrange payment.</p>

<div class="form-group">
    <div id="payment-form" class="col-md-12"></div>
</div>
<div class="form-group">
    <div class="col-sm-6">
        <input type="text" name="firstName" class="form-control required-if-shown" value="$!user.firstName" placeholder="First Name" />
    </div>
    <div class="col-sm-6">
        <input type="text" name="surName" class="form-control required-if-shown" value="$!user.surName" placeholder="Last Name" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <input type="text" name="phone" class="form-control required-if-shown" value="$!user.phone" placeholder="Phone number" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <input type="text" name="email" class="form-control required-if-shown" value="$!user.email" placeholder="Email (Required)" />
    </div>
</div>
