// Cosmo 3.3.7
// Bootswatch
// -----------------------------------------------------

@web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";

.web-font(@path) {
  @import url("@{path}");
}
.web-font(@web-font-path);

// Navbar =====================================================================

.navbar {

  &-inverse {

    .badge {
      background-color: #fff;
      color: @brand-primary;
    }
  }
}

// Buttons ====================================================================

// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
}

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// Forms ======================================================================


.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid @brand-success;
  }
}

// Navs =======================================================================

.nav-pills {

  & > li > a {
    border-radius: 0;
  }
}

.dropdown-menu {

  & > li > a:hover,
  & > li > a:focus {
    background-image: none;
  }
}

// Indicators =================================================================

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: none;

  .alert-link {
    text-decoration: underline;
    color: #fff;
  }
}

.label {
  border-radius: 0;
}

// Progress bars ==============================================================

.progress {
  height: 8px;
  .box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers =================================================================

.panel {
  &-heading,
  &-footer {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &-default {
    .close {
      color: @text-color;
    }
  }
}

a.list-group-item {

  &-success {
    &.active {
      background-color: @state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken(@state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: @state-warning-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken(@state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: @state-danger-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken(@state-danger-bg, 5%);
    }
  }
}

.modal {
  .close {
    color: @text-color;
  }
}

.popover {
  color: @text-color;
}

/*ktoolbar*/

#ktoolbar {
  position: fixed;
  left: 0;
  top: -30px;
  width: 100%;
  height: 30px;
  background: #000;
  z-index: 999999;
  transition: top ease-in-out 250ms;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#ktoolbar.showed {
  top: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#ktoolbar .btn-link {
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
#ktoolbar .ktoolbarToggle {
  border-radius: 0 0 3px 3px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  margin-top: -2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 0;
}
#ktoolbar .ktoolbarToggleWrap {
  background-color: transparent;
  height: 0;
}
#ktoolbar-sidebar {
  background: #fff;
  border-left: 1px solid #ccc;
  z-index: 999999;
  transition: all ease-in-out 250ms;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 0;
  bottom: 0;
  right: -360px;
  width: 360px;
  position: fixed;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#ktoolbar-sidebar.showed {
  right: 0;
}
#ktoolbar.showed + #ktoolbar-sidebar {
  top: 30px;
}
#ktoolbar-sidebar .sidebar-title {
  padding: 5px 15px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
#ktoolbar-sidebar .sidebar-content {
  height: calc(100% - 32px - 52px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px 15px 0;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .colorpicker-container {
  position: relative;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .control-label,
#ktoolbar-sidebar .sidebar-content .form-horizontal .form-control {
  font: 12px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .control-label {
  text-align: left;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .form-control {
  height: 32px;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal .text-muted {
  color: #ccc;
}
#ktoolbar-sidebar .sidebar-content .form-horizontal hr {
  margin: 20px 0;
}
#ktoolbar-sidebar .sidebar-action {
  padding: 10px 15px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}
#ktoolbar-sidebar .sidebar-action button {
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  font-size: 12px;
}
#ktoolbar-sidebar .sidebar-action button.btn-save {
  background: #000;
  color: #fff;
}
#ktoolbar-sidebar .sidebar-action button.btn-close {
  background: #fff;
  color: #000;
  padding: 4px 8px;
}
@media (max-width: 767px) {
  #ktoolbar {
    display: none;
  }
}
/*loading img display none*/
form img.ajax-loader{display: none}