.enable-delay .input-group {
	width: 230px;
}

.attachments-list {
	margin-top: 10px;
	height: 88px;
	border: 1px solid #ccc;
	overflow-y: auto;
	padding: 5px;
}

.attachments-list article {
	margin: 0 0 5px;
}