<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
    </head>
    <body class="manageEmailJobLog">
        <p class="alert alert-info">Click a row to see send attempts</p>

	    <div class="panel panel-default">
		    <div class="panel-heading">
			    <i class="clip-file-2"></i>
			    Total Emails: <span class="badge badge-info">$page.model.items.size()</span>
		    </div>
		    <div class="panel-body">
			    <table class="table table-bordered table-striped table-hover">
				    <thead>
					    <tr>
						    <th>To</th>
						    <th>Date</th>
						    <th>Subject</th>
						    <th>Status</th>
					    </tr>
				    </thead>
				    <tbody>
					    #foreach($item in $page.model.items)
					    <tr class="item">
						    <td>$item.recipientAddress</td>
						    <td>$formatter.formatAge( $item.sendStatusDate )</td>
						    <td>$item.subject</td>
						    <td>$item.statusText</td>
					    </tr>
					    #foreach($attempt in $item.emailSendAttempts)
					    <tr class="attempt">
						    <td></td>
						    <td colspan="3">$attempt.status - $formatter.formatAge( $attempt.statusDate )</td>
					    </tr>
					    #end
					    #end
				    </tbody>
			    </table>
		    </div>
	    </div>
        <script type="text/javascript">
            Bob.onDOMReady(function () {
                $('.item').on('click', function() {
                    var tr = $(this);

                    tr.nextUntil('.item').toggle(300);
                });
            });
        </script>        
    </body>
</html>