<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
    </head>
    <body class="manageEmailJobLog">
        <p class="well">Click a row to see send attempts</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-file-2"></i>
                Total Emails: <span class="badge badge-info">$page.model.items.size()</span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <button class="btn btn-success pull-right" id="btn-reset-emails">
                        <span class="fa fa-ambulance"></span>
                        Reset selected emails
                    </button>

                    <div class="col-lg-2">
                        <input type="text" placeholder="Filter logs" class="filter-logs form-control" />
                    </div>

                    <div class="col-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control max-results" aria-label="Max results" placeholder="Max results" value="${page.maxResults}" />
                            <span class="input-group-btn">
                                <button class="btn btn-default options-refresh" type="button">Refresh</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Status <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu options-status" role="menu">
                                <li><a href="">All</a></li>
                                <li><a href="f">Failed</a></li>
                                <li><a href="c">Completed</a></li>
                                <li><a href="p">Pending</a></li>
                                <li><a href="r">Retrying</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-danger" id="btn-reset-job">
                            <span class="fa fa-play-circle"></span>
                            Restart job
                        </button>
                    </div>

                </div>



                <table class="table table-striped table-hover" id="email-items">
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>To</th>
                            <th colspan="2">Name</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th>
                                <input type="checkbox" class="chk-all"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="email-items-body">
                        #foreach($item in $page.model.items)
                        <tr class="item">
                            <td><a href='/emails/$item.id'>$item.recipientAddress</a></td>
                            <td>$!item.recipient.firstName</td>
                            <td>$!item.recipient.surName</td>
                            <td>
                                <abbr class="timeago" title="$!formatter.formatDateISO8601( $item.sendStatusDate, $rootFolder.organisation.timezone )">$!formatter.formatDateTime( $item.sendStatusDate, $rootFolder.organisation.timezone )</abbr>
                            </td>
                            <td>$item.subject</td>
                            <td>                                    
                                <acronym title="EDM-ID: $item.id" >
                                    #if( $item.edmConverted )
                                    <span class="label label-success">Converted</span>
                                    #elseif( $item.readStatus )
                                    <span class="label label-success">Opened</span>
                                    #elseif( $item.statusText == "complete" )
                                    <span class="label label-success">Complete</span>
                                    #elseif( $item.statusText == "failed" )
                                    <span class="label label-danger">Failed</span>

                                    #else
                                    <span class="label label-default">$item.statusText</span>                                    
                                    #end
                                </acronym>
                            </td>
                            <td>
                                <input type="checkbox" name="emailItemIds" value="$item.id" />
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            var searchStatus = "$!{page.searchStatus}";
            $(function () {
                $("#email-items-body").on("click", '.item', function (e) {
                    var tr = $(this);
                    flog("to see send attempts", tr);
                    tr.nextUntil('.item').toggle(300);
                });
                $("#email-items-body").on("click", 'input[type=checkbox]', function (e) {
                    e.stopPropagation();
                });

                $(".filter-logs").keyup(function () {
                    typewatch(function () {
                        flog("do search");
                        doFilter($(".filter-logs").val());
                    }, 500);
                });
                $("#btn-reset-emails").click(function (e) {
                    e.preventDefault();
                    var chks = $("#email-items").find("tr.item:visible input[type=checkbox]:checked");
                    submitEmailResets(chks);
                });

                $("#btn-reset-job").click(function (e) {
                    e.preventDefault();
                    submitResetJob();
                });
                $(".options-refresh").click(function (e) {
                    e.preventDefault();
                    var max = $(".max-results").val();
                    refreshWithOptions(max, searchStatus);
                });
                $(".options-status a").click(function (e) {
                    e.preventDefault();
                    searchStatus = $(e.target).closest("a").attr("href");
                    var max = $(".max-results").val();

                    refreshWithOptions(max, searchStatus);
                });
            });

            function refreshWithOptions(max, status) {
                var href = window.location.pathname + "?maxResults=" + max + "&status=" + status;
                window.history.pushState("", "Email log search", href);
                flog("refreshWithOptions", href);

                reloadEmailTable(href);
            }

            function submitEmailResets(chks) {
                try {
                    $.ajax({
                        type: 'POST',
                        url: window.location.pathname,
                        data: chks,
                        dataType: 'json',
                        success: function (resp) {
                            flog('got results', resp);
                            Msg.info("Done");
                            reloadEmailTable();
                        },
                        error: function (resp) {
                            Msg.error('Sorry, an error occured reseting the email items');
                        }
                    });
                } catch (e) {
                    flog('exception in submitEmailResets', e);
                }
            }

            function submitResetJob(chks) {
                try {
                    $.ajax({
                        type: 'POST',
                        url: window.location.pathname,
                        data: "resetEmailJob=true",
                        dataType: 'json',
                        success: function (resp) {
                            flog('got results', resp);
                            Msg.info("Done");
                            reloadEmailTable();
                        },
                        error: function (resp) {
                            Msg.error('Sorry, an error occured reseting the email job');
                        }
                    });
                } catch (e) {
                    flog('exception in createJob', e);
                }
            }

            function doFilter(search) {
                flog("dofilter", search);
                var arr = search.split(" ");
                $("#email-items").find("tbody tr.item").each(function (i, n) {
                    var tr = $(n);
                    if (matches(tr, arr)) {
                        tr.show();
                    } else {
                        tr.hide();
                    }

                });
            }

            function matches(tr, search) {
                var tds = tr.find("td");
                for (var i = 0; i < tds.length; i++) {
                    var td = tds[i];
                    for (var n = 0; n < search.length; n++) {
                        if (td.innerHTML.indexOf(search) >= 0) {
                            return true;
                        }
                    }
                }
                return false;
            }

            function reloadEmailTable(url) {
                var url = url || window.location.pathname;

                $("#email-items-body").reloadFragment({
                    url: url
                });
            }
        </script>        
    </body>
</html>