.icon {
	width: 60px;
	text-align: center;
}

.icon i {
	font-size: 30px;
}

#send {
	text-align: center;
}

.status-tools .status-tool {
	display: none;
    width: 120px;
}

.status-tools.Draft .Draft,
.status-tools.Running .Running,
.status-tools.Completed .Completed,
.status-tools.Cancelled .Cancelled,
.status-tools.Preparing .Preparing {
	display: inline-block !important;
}

.notsent,
.send-progress {
	display: none;
}

#status {
	text-align: center;
}

#status .progress {
	height: 40px;
	position: relative;
	width: 600px;
	margin: 0 auto;
}

.progress-bar {
    padding-top: 10px;
}

#status .progress .stats {
    position: absolute;
    color: #888;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
}

#emails {
	text-align: left;
}

#status .status-wrapper .status {
	display: none;
}

#status.status_r .status-wrapper > .status.status_p,
#status.status_p .status-wrapper > .status.status_p {
	display: block;
}

#status.status_c .status-wrapper > .status.status_c {
	display: block;
}

#status.status_p .status.status_p send-progress {
    display: inline-block;
}