<div class="row">
    <div class="col-md-4">
        <h4>Emails sent to this profile</h4>
    </div>
    <div class="col-md-offset-6 col-md-2">
        <div class="pull-right">
            <button type="button" data-toggle="modal" data-target="#modal-compose-email" class="btn btn-success"><i class="fa fa-envelope"></i> Compose</button>
        </div>
    </div>
</div>
<label class="checkbox-inline">
    <input type="checkbox" class="icheck sent" value="" checked="checked">
    Sent
</label>
<label class="checkbox-inline">
    <input type="checkbox" class="icheck received" value="" checked="checked">
    Received
</label>
<div class="table-responsive">
    <table class="table table-striped table-hover" id="moduleprogress-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Address</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="emailHistoryBody">
            #foreach($email in $emails)
            #set($received = true)
            #if($email.recipient.id == $page.userResource.thisProfile.id)
            #else
            #set($received = false)
            #end
            <tr class="#if($received)email-received#else email-sent#end">
                <td>
                    #if($received)
                    Received
                    #else
                    Sent
                    #end
                </td>
                <td>
                    <a href="/emails/$email.id">$email.fromAddress</a>
                </td>
                <td>$email.subject</td>
                <td>
                    #if( $email.sendStatus == 'r' )
                    <p class="label label-warning">
                        <span class="glyphicon glyphicon-repeat"></span>
                        $email.statusText - $email.numAttempts
                    </p>
                    #elseif( $email.sendStatus == 'c' )
                    #if( $email.edmConverted )
                    <p class="label label-success">
                        <span class="fa fa-trophy"></span>
                        Converted
                    </p>

                    #elseif( $email.readStatus )
                    <p class="label label-success">
                        <span class="fa fa-eye"></span>
                        Read
                    </p>

                    #else
                    <p class="label label-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        Sent ok
                    </p>
                    #end
                    #elseif( $email.sendStatus == 'p' )
                    <p class="label label-warning">
                        <span class="glyphicon glyphicon-time"></span>
                        $email.statusText
                    </p>
                    #elseif( $email.sendStatus == 'f' )
                    <p class="label label-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        $email.statusText
                    </p>

                    #else
                    <span class="glyphicon glyphicon-time"></span> Preparing..
                    #end
                </td>
                <td>
                    <abbr class="pull-right timeago" title="$formatter.formatDateISO8601($email.sendStatusDate)">$email.sendStatusDate</abbr>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<div id="modal-compose-email" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="compose_email" class="form-horizontal">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">Compose Email</h4>
                </div>
                <div class="modal-body">
                    <div class="form-message" style="display: none;"></div>
                    <input type="hidden" name="sendEmail" value="sendEmail" />
                    <div class="form-group">
                        <label for="fromAddress" class="col-sm-2 control-label">From</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control email" name="fromAddress" placeholder="From Address" value="$!page.defaultFromAddress">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control required" name="subject" id="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control htmleditor toolbar-Lite required" id="email_message" name="email_message" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-success">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
