<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Search</title>
        <script type="text/javascript" src="search.js">//</script>
    </head>
    <body>
        <div>
            <div class="clearfix">
                #set($currentBranch = $page.closest("branch"))
                #if( $currentBranch )
                <div class="btn-group publishing pull-right">

                    <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <b>Editing version:</b>
                        $currentBranch.name
                        <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu list branches">
                        #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                        <li role="presentation" class="list-item">
                            <a href="${b.href}" class="branch noclear">
                                $b.name
                            </a>
                        </li>
                        #end
                    </ul>
                </div>
                #end

                <div class="dropdown pull-left">
                    <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        #if( $page.closest("repository") )
                        <b>Manage repository indexes: </b> $page.closest("repository").name
                        #else
                        Managing root indexes
                        #end
                        <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu list">
                        <li class="list-item"><a href="/manageSearch">Manage organisation indexes</a></li>
                        #foreach($w in $page.find("/websites").children)
                        <li class="list-item"><a href="${w.current.href}manageSearch">$w.name</a></li>
                        #end
                    </ul>
                </div>
            </div>

            <hr/>


            <!-- Tab panes -->
            <div id="searchInfo">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <h2>App Indexers</h2>
                    <div class="manage-search">
                        <form method="post" action="$page.href" class="form-horizontal reindexForm" role="form">
                            <button class="btn btn-danger btn-lg btn-reindex btn-block"><i class="fa fa-arrow-circle-right"></i> <span class="lbl-reindex-action">Re-index selected indexes</span></button>
                            <br/>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Index</th>
                                        <th>Indexer</th>
                                        <th>Type</th>
                                        <th>No. items</th>
                                        <th style="width:120px"><input class="check-all" type="checkbox"/> Select All</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    #foreach($entry in $page.mapOfIndexers.entrySet())
                                    <tr>
                                        <td>
                                            #if( $page.indexExists($entry.key) )
                                            <span class="label label-success">
                                                <span class="fa fa-check"></span>
                                                Index exists
                                            </span>
                                            #else
                                            <span class="label label-danger">
                                                <span class="fa fa-times"></span>
                                                Not created
                                            </span>
                                            #end
                                        </td>
                                        <td colspan="3">
                                            <a href="$entry.key">$entry.key</a>
                                        </td>
                                        <td>$!page.numItems( $entry.key )</td>
                                        <td><input type="checkbox" class="idx-check" name="indexIds" value="$entry.key"/></td>
                                    </tr>
                                    #foreach($i in $entry.value)
                                    <tr>
                                        #set( $index = $i )
                                        <td>
                                            #if( $page.isTypeMappingExists($index) )
                                            <span class="label label-success">
                                                <span class="fa fa-check"></span>
                                                Mapping exists
                                            </span>
                                            #else
                                            <span class="label label-danger">
                                                <span class="fa fa-times"></span>
                                                No mapping
                                            </span>
                                            #end
                                        </td>
                                        <td></td>
                                        <td>
                                            $index.id
                                        </td>
                                        <td>$index.indexItemType</td>
                                        <td>$!page.numItems( $index )</td>
                                    </tr>
                                    #end
                                    #end
                                </tbody>
                            </table>
                            <p class="pageMessage" style="display: none"></p>
                            <br/>
                            <button class="btn btn-danger btn-lg btn-reindex btn-block"><i class="fa fa-arrow-circle-right"></i> <span class="lbl-reindex-action">Re-index selected indexes</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>







        <script type="text/javascript">
            $(document).ready(function () {
                $(".reindexForm").forms({
                    callback: function (resp) {
                        Msg.success("Completed reindexing");
                        flog("The contents of current repository have been re-indexed", resp);
                        // Should be disabled the Re-index button while processing, just enable after re-index thread was started
                        //$(".btn-reindex").attr({"disabled": "disabled"});
                        $("#searchInfo").reloadFragment();
                    },
                    validate: function () {
                        Msg.info("Beginning processing...");
                        return true;
                    }

                });

                $('.check-all').change(function () {
                    var checked = this.checked;
                    $(this.closest('form')).find('.idx-check').each(function () {
                        this.checked = checked;
                        if (this.checked) {
                            $(this.closest('tr')).addClass('well');
                        } else {
                            $(this.closest('tr')).removeClass('well');
                        }
                    });
                });
                $('.idx-check').change(function () {
                    if (this.checked) {
                        $(this.closest('tr')).addClass('well');
                    } else {
                        $(this.closest('tr')).removeClass('well');
                    }
                });
            });
        </script>
    </body>
</html>