<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Search</title>
        <script type="text/javascript" src="search.js">//</script>
    </head>
    <body>

        <h1>$page.name</h1>

        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#records" aria-controls="records" role="tab" data-toggle="tab">Records</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mappings</a></li>
                <li role="presentation"><a href="#query" aria-controls="query" role="tab" data-toggle="tab">Query</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="records">
                    #set($showingAmount = 100)
                    #if($page.records.hits.totalHits < 100)
                        #set($showingAmount = $page.records.hits.totalHits)
                    #end
                    <p>Showing $showingAmount of $page.records.hits.totalHits Records</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>Fields</td>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($hit in $page.records.hits.hits)
                            <tr>
                                <td>$hit.id</td>
                                <td>$hit.type</td>
                                <td>
                                    $hit.sourceAsString
                                </td>
                            </tr>
                            #if($foreach.count >= $showingAmount)
                                #break;
                            #end
                            #end
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    #set( $mappings = $page.mappings )
                    #foreach( $typeName in $mappings.keySet() )
                    <h2>$typeName</h2>
                    <pre class="prettyprint">$mappings.get($typeName)</pre>
                    #end
                </div>
                <div role="tabpanel" class="tab-pane" id="query">
                    <textarea id="queryText" style="width: 100%; height: 200px" name="query">
{
"fields": ["title", "category","tags", "firstName"],
  "query" : {
    "match_all" : {}
},
"aggregations": {
        "category": {
            "terms": { "field": "category" },
"aggregations": {
        "tags": {
            "terms": { "field": "tags" }
        }
}
        }
    }
}
                    </textarea>
                    <button class="btn btn-success runQuery">Run query</button>
                    <hr/>
                    <pre id="queryResults">                       
                        #if( $params.query )
                        #set( $resp = $page.query($params.query) )
                        $resp
                        #end
                    </pre>
                </div>
            </div>

        </div>





        <script type="text/javascript">
            $(document).ready(function () {
                $(".runQuery").click(function (e) {
                    var json = $("#queryText").val();
                    flog("query", json);

                    $.ajax({
                        type: 'POST',
                        data: {
                            query: json
                        },
                        dataType: "json",
                        url: "",
                        success: function (data) {
                            flog("success", data);
                            var json = JSON.stringify(data, null, 4);
                            $("#queryResults").text(json);
                        },
                        error: function (resp) {
                            Msg.error("err");
                        }
                    });
                });
            });
        </script>
    </body>
</html>