<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Search</title>
        <script type="text/javascript" src="search.js">//</script>
    </head>
    <body>

        <h1>$page.name</h1>

        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  class="active"><a href="#query" aria-controls="query" role="tab" data-toggle="tab">Query</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mappings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="profile">
                    #set( $mappings = $page.mappings )
                    #foreach( $typeName in $mappings.keySet() )
                    <h2>$typeName</h2>
                    <pre class="prettyprint">$mappings.get($typeName)</pre>
                    #end
                </div>
                <div role="tabpanel" class="tab-pane active" id="query">
                    #set( $resp = $page.query($params.query) )

                    #if( $page.physicalIndexName )
                    <p class="lead">Physical index: $page.physicalIndexName</p>
                    #end

                    <textarea id="queryText" style="width: 100%; height: 200px" name="query">
                        $page.queryJson
                    </textarea>
                    <button class="btn btn-success runQuery">Run</button>
                    <button class="btn btn-warning resetQuery">Reset</button>
                    <button class="btn btn-primary saveQuery">Save</button>
                    <button class="btn btn-primary createQuery">Create Query</button>
                    <hr/>
                    <div id="queryResults" class="col-lg-12">
                        #if( $page.queryError )
                        <div class="alert alert-warning">
                            $page.queryError
                        </div>
                        #end

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Item</td>
                                        <th>Type</th>
                                        #foreach( $field in $page.queryFieldNames )
                                        <th>$field</th>
                                        #end
                                    </tr>
                                </thead>
                                <tbody>
                                    #foreach($hit in $resp.hits.hits)
                                    <tr>
                                        <td>$hit.id</td>
                                        <td>$hit.type</td>
                                        #foreach( $field in $page.queryFieldNames)
                                        <td>$!hit.fields.get($field).value</td>
                                        #end
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>

                        <pre>$resp</pre>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>





        <script type="text/javascript">
            $(document).ready(function () {
                $("body").on("click", ".runQuery", function (e) {
                    var json = $("#queryText").val();
                    flog("query", json);

                    var newHref = window.location.pathname + "?query=" + json;
                    history.pushState(null, null, newHref);
                    $("#queryResults").reloadFragment({
                        url: newHref
                    });
                });

                $("body").on("click", ".resetQuery", function (e) {
                    var newHref = window.location.pathname + "?default";
                    history.pushState(null, null, newHref);
                    $("#query").reloadFragment({
                        url: newHref
                    });
                });


                $("body").on("click", ".saveQuery", function (e) {
                    var json = $("#queryText").val();
                    var name = prompt("Please enter the file name to save as. Should not have a file extension");
                    if (name) {
                        $.ajax({
                            type: 'POST',
                            data: {
                                fileName: name,
                                query: json
                            },
                            dataType: "json",
                            url: "",
                            success: function (data) {
                                Msg.info("Saved");
                            },
                            error: function (resp) {
                                Msg.error("err");
                            }
                        });
                    }
                });

                $("body").on("click", ".createQuery", function (e) {
                    var json = $("#queryText").val();
                    var name = prompt("Please enter the file name to save as. Should not have a file extension");
                    if (name) {
                        $.ajax({
                            type: 'POST',
                            data: {
                                fileName: name,
                                query: json,
                                queryBuilder: true
                            },
                            dataType: "json",
                            url: "",
                            success: function (data) {
                                Msg.info("Saved");
                            },
                            error: function (resp) {
                                Msg.error("err");
                            }
                        });
                    }
                });

            });
        </script>
    </body>
</html>