[data-type="component-menu"] {
    position: relative;
    z-index: 9;
    
    .navbar {
        background-color: @brand-primary;
        
        .navbar-nav {
            > li {
                > a {
                    i {
                        font-size: 2em;
                    }
                }
                
                &.leadman-org-selector {
                    > a {
                        i {
                            font-size: inherit;
                        }
                    }
                }
            }
        }
    }
}
