<div id='getting-started'>
    <div class="panel panel-default video-intro hide">
        <div class="panel-heading">
            <i class="fa fa-youtube-play"></i>
            Welcome to Fuse!
        </div>
        <div class="panel-body">
            <div class="youtube-wrapper">
                <iframe src="//player.vimeo.com/video/88867149" width="690" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="clip-home"></i>
            Getting help
        </div>
        <div class="panel-body">
            <p>Welcome to Kademi. We've already made your first websites and module. To get started now you can:</p>
            <a href='$editFirstModuleHref' class='btn btn-sm btn-primary'>Edit your first learning module</a>
            <a target='_blank' href='http://docs.kademi.co/' class='btn btn-sm btn-primary'>View Kademi's online docs for help</a>
        </div>
    </div>
    <script type="text/javascript">
//        $(function () {
//            $(".hide-welcome").click(function(e) {
//                e.preventDefault();
//                $(".gettingStarted").addClass("suppressed");
//                $.cookie("gettingStartedSuppressed", true);
//            });
//            $(".show-welcome").click(function(e) {
//                e.preventDefault();
//                $(".gettingStarted").removeClass("suppressed");
//                $.cookie("gettingStartedSuppressed", false);
//            });
//            var s = $.cookie("gettingStartedSuppressed");
//            log("welcome suppressed", s);
//            if ("true" === s) {
//                $(".gettingStarted").addClass("suppressed");
//            }
//        });
    </script>
</div>