#if ($page.subscription)
<script>
    $( document ).ready(function() {
        $("#makePaymentBtn").on("click", function(){
            if( $('input[name=product]:checked').val() !== undefined){
                $("#paymentDetails").show();
            }else{
                Msg.error("Please, select a plan.");
            }
        });
        
        $(".productSelected").on("click", function(){
            $("#TotalAmount").val($(this).val());
            $("#PlanName").val($(this).parent().parent().find("td:first").html());
        });
        
        $("body").on('click', '#paymentBtn', function (e) {
            e.preventDefault();

            var num = $('#Number').val();
            var cvn = $('#CVN').val();
            flog("payment", num, cvn);
            
            console.log($('#CurrencyCode').val());
            
            $.ajax({
                url: "",
                type: 'POST',
                dataType: 'json',
                data: {
                    payment: true,
                    name: $('#Name').val(),
                    expiryMonth: $('#ExpiryMonth').val(),
                    expiryYear: $('#ExpiryYear').val(),
                    totalAmount: $('#TotalAmount').val(),
                    planName: $("#PlanName").val(),
                    currencyCode: $('#CurrencyCode').val(),
                    firstName: $('#firstName').val(),
                    f: $('#firstName').val(),
                    surName: $('#surName').val(),
                    phone : $('#phone').val(),
                    email : $('#email').val(),

                    addressLine1 : $('#addressLine1').val(),
                    addressLine2 : $('#addressLine2').val(),
                    city : $('#city').val(),
                    state : $('#state').val(),
                    postCode : $('#postCode').val(),

                    number: eCrypt.encryptValue(num),
                    cvn: eCrypt.encryptValue(cvn)

                },
                success: function (data) {
                    flog("success", data);
                    if (data.status) {
                        $("#paymentDetails").hide();
                        $("#planManagmentDetails").hide();
                        $("#paymentSuccessful").show();
                        Msg.success("Success", 6000);
                    } else {
                        Msg.error("There was a problem. Please see the transaction history for details");
                        showErrors(data.messages, data.fieldMessages);
                        $('#payments-body').reloadFragment();
                    }
                },
                error: function (resp) {
                    flog("errors", resp);
                    alert("Error attempting to process payment: " + resp);
                }
            });
        });
        
    });
</script>

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o"></i>
        Manage Subscription
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div id="paymentSuccessful" style="display:none;">
                #set($adminDomain = $request.params.adminDomain)
                #set($pageName= "/license?refreshLicense=true")
                <a href="http://$adminDomain$pageName" class="btn btn-primary btn-lg btn-block">Refresh the license information in your site.</a>
            </div>
            <div id="planManagmentDetails">
                <p>Current plan: $page.subscription.planName</p>
                <p>Select a plan:</p>
                <table class="table table-striped table-hover pagination-container" style="table-layout: fixed">
                    <colgroup>
                        <col width="90%" />
                        <col width="50px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Plan Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="pagination-results">
                        #foreach($prod in $!page.products)
                        <tr>
                            <td>$prod.title</td>
                            #if ($prod.baseCost)
                                <td><input type="radio" class="productSelected" name="product" value="$prod.baseCost" class=""/></td>
                            #else
                                <td></td>
                            #end
                        </tr>
                        #end
                    </tbody>
                </table>            
                <div class="col-sm-3">
                    <button id="makePaymentBtn" class="btn btn-sm btn-info" type="button">Make payment</button>
                </div>
            </div>
            <div id="paymentDetails" style="display:none; clear:both">
                <br/>
                #set( $encKey = $page.getEncryptionKey())
                #if( $encKey )

                #else
                <div class="alert alert-warning">There is no encryption key for this website. Payments will fail unless you are PCI-DSS Compliant</div>
                #end

                <form class="form-horizontal" data-eway-encrypt-key="$!encKey" id="paymentForm" method="POST">

                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Card Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required" required="true" id="Name" name="Name" value = "Just A Test"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Number" class="col-sm-3 control-label">Card Number/CVN</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" required="true" id="Number" name="Number" data-regex="^[0-9]+$" value = "4444333322221111"/>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control required" required="true" id="CVN" name="CVN" data-regex="^[0-9]+$" value="567"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ExpiryMonth" class="col-sm-3 control-label">Expiry Month/Year</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control required" required="true" id="ExpiryMonth" name="ExpiryMonth" data-regex="^[0-9]+$" value="12"/>
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control required" required="true" id="ExpiryYear" name="ExpiryYear" data-regex="^[0-9]+$" value="23"/>
                        </div>

                    </div>

                    <hr/>

                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">Customer Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" required="true" id="firstName" name="firstName" value = "Joe"/>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control required" required="true" id="surName" name="surName" value = "Bloggs"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Customer contact</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" required="true" id="email" name="email" value = "joe@bloggs.com"/>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control required" required="true" id="phone" name="phone" value = "555-1234"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Customer Address</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" required="true" id="addressLine1" name="addressLine1" value = "123 Sea St"/>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control required" required="true" id="addressLine2" name="addressLine2" value = "Cronulla"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">City/State/Postcode</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="city" name="city" value = "Sydney"/>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="state" name="state" value = "NSW"/>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="postCode" name="postCode" value = "2000"/>
                        </div>
                    </div>

                    <hr/>

                    <div class="form-group">
                        <label for="TotalAmount" class="col-sm-3 control-label">Total Amount/Currency</label>
                        <div class="col-sm-2">
                            <input type="hidden" id="PlanName" value="" />
                            <input type="text" class="form-control required" required="true" disabled="disabled" id="TotalAmount" name="TotalAmount" data-regex="^[0-9]+$" value="897"/>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control required" required="true" id="CurrencyCode" disabled="disabled" name="CurrencyCode" value="AUD"/>
                        </div>
                    </div>

                    <hr/>
                    <div class="form-group">
                        <label for="frequency" class="col-sm-3 control-label">Recurring frequency</label>
                        <div class="col-sm-9">
                            <select name="frequency" id="frequency" disabled="disabled" class="form-control">
                                <option value="MONTHLY">MONTHLY</option>
                            </select>
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button id="paymentBtn" class="btn btn-sm btn-info" type="button">Submit payment</button>
                    </div>
                </div>
                <script src="https://secure.ewaypayments.com/scripts/eCrypt.js">//</script>
            </div>
            
        </div>
    </div>
</div>
#end