<html>
    <head>
        <title>Manage Stats</title>
    </head>
    <body>
        <h3>Subscription stats</h3>
            <div class="panel panel-default">
            <div id="subscriptionsTableContainer" class="panel-body">
                #set($org = $request.params.org)
                #set($stats = $page.getStats($org))
                #if($stats)
                <div class="table-responsive">
                    <table class="table table-striped table-hover pagination-container" style="table-layout: fixed">
                        <colgroup>
                            <col width="20%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody id="subscriptionsTableBody" class="pagination-results">
                            #foreach($stat in $stats)
                            <tr>
                                <td>$stat.name</td>
                                <td>$stat.propValue</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                #else
                <p>No data to show</p>
                #end
            </div>
        </div>
    </body>
</html>