<html>
    <head>
        <title>Manage Subscription</title>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o"></i>
                Manage Subscription 
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <p>Current plan: $page.subscription.planName</p>
                    <p>Select a plan:</p>
                    <table class="table table-striped table-hover pagination-container" style="table-layout: fixed">
                        <colgroup>
                            <col width="90%" />
                            <col width="50px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Plan Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="pagination-results">
                            #foreach($prod in $!page.products)
                            <tr>
                                <td>$prod.title</td>
                                <td>
                                    <td><input type="checkbox" data-id="" class=""/></td>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>