<!DOCTYPE html>
<html>
    <head>
        <title>Manage Subscriptions</title>
        <script type="text/javascript" src="manageLicenses.js">//</script>
    </head>
    <body>
        <form action="" method="POST" class="form-horizontal" role="form" id="subscriptionDetails">
            <input type="hidden" name="update" value="true"/>
            <input type="hidden" name="subscriptionId" value="$page.subscription.id"/>
            <div class="form-group">
                <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Organisation</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" id="orgId" data-text="$page.subscription.adminOrg.formattedName" name="name" value="$!page.subscription.adminOrg.id" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="product">Product</label>
                <div class="col-sm-6">
                    <select class="form-control required" id="planName" type="text" name="product">
                        #foreach($prod in $applications.productsApp.products)
                        #if($prod.title == $!page.subscription.planName)
                        <option selected="selected" value="$prod.name">$prod.title</option>
                        #else
                        <option value="$prod.name">$prod.title</option>
                        #end
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="expiryDate">Expiry Date</label>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="expiryDate" placeholder="Expiry date" data-format="DD/MM/YYYY" value="$!formatter.formatDate($!page.subscription.expiryDate)" class="form-control DateTime" />
                            <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </div>
                </div>

                <label class="col-md-2 control-label" for="expiryDate">Due Date</label>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="paymentDueNoticeDate" placeholder="Expiry date" data-format="DD/MM/YYYY" value="$!formatter.formatDate($!page.subscription.paymentDueNoticeDate)" class="form-control DateTime" />
                            <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="licenseText">License Text</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control required" disabled="disabled" name="licenseText" value="$!page.subscription.licenseText"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="licenseSig">License Signature</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" name="licenseSig" disabled="disabled" value="$!page.subscription.licenseSig"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <button type="submit" class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9">
                            #set($adminDomain = $page.subscription.adminOrg.orgId)
                            #set($pageName= "/license?refreshLicense=true")
                            <a href="http://$adminDomain$pageName" class="btn btn-primary btn-sm btn-block">Refresh the license information in the site.</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="clearfix"></div>   

        <div class="panel panel-default">
            <div id="licensesTableContainer" class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover pagination-container" style="table-layout: fixed">
                        <colgroup>
                            <col width="100px" />
                            <col width="40%" />
                            <col width="100px" />
                            <col width="90px" />
                            <col width="90px" />
                            <col width="90px" />
                            <col width="40px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>License Text</th>
                                <th>License Sig</th>
                                <th>Plan Name</th>
                                <th>Created Date</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="licensesTableBody" class="pagination-results">
                            #foreach($lic in $!page.licenses)
                            <tr>
                                <td>$lic.licenseText</td>
                                <td>$lic.licenseSig</td>
                                <td>$!lic.planName</td>
                                <td>$!formatter.formatDate($!lic.createdDate)</td>
                                <td>$!formatter.formatDate($!lic.fromDate)</td>
                                <td>$!formatter.formatDate($!lic.toDate)</td>
                                <td>
                                    <a href="$lic.id" class="btn btn-info">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addLicenseModal">
                    <i class="fa fa-plus"></i>
                    Add a new License
                </button>
            </div>
        </div>


        <div id="addLicenseModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">License Details</h4>
                    </div>
                    <form action="." method="POST" class="form-horizontal createLicense">
                        <div class="modal-body">
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <input type="hidden" name="createLicense" value="true"/>
                            <input type="hidden" name="subscriptionId" value="$page.subscription.id"/>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="orgId">Organisation</label>
                                <div class="col-md-8">
                                    <input type="text" disabled="disabled" class="form-control" value="$!page.subscription.adminOrg.orgId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="planName">Product</label>
                                <div class="col-md-8">
                                    <select class="form-control required" id="planName" type="text" name="planName">
                                        #foreach($prod in $applications.productsApp.products)
                                        <option value="$prod.name">$prod.title</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="fromDate">From Date</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control date-picker required" type="text" name="fromDate" id="fromDate" placeholder="From Date" data-date-format="dd/mm/yyyy" data-date-viewmode="years" />
                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="toDate">To Date</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control date-picker required" type="text" name="toDate" id="toDate" placeholder="To Date" data-date-format="dd/mm/yyyy" data-date-viewmode="years" />
                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Add License</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                initOrgFinder();
                initUpdateSubscription();
                initCreateLicense();
            });
        </script>
    </body>
</html>
