<html>
    <head>
        <title>Manage Subscription</title>
    </head>
    <body class="">
        <section>
            <div class="container-bg">
                <div class="container-layout container">
                    <div class="container-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12" data-type="container-content">
                                <section data-type="component-comments">
                                    <div data-dynamic-href="_components/kademiSubscriptionManager"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </body>
</html>