<html>
    <head>
        <title>Manage Subscription 11111</title>
    </head>
    <body class="">
        <section>
            <div class="container-bg">
                <div class="container-layout container">
                    <div class="container-content-wrapper">
                        <div class="row">
                            <div class="col-sm-9" data-type="container-content">
                                <div data-dynamic-href="kademiSubscriptionManagerComponent"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>