#set( $details = $applications.oauth.remoteProfileJsonFromRequest )
#if( $details )
<h3>
    <i class="fa fa-${request.params.providerId}"></i>
    #set( $displayNamePath = $applications.oauth.loginProviders.get(${request.params.providerId}).displayNamePath )
    Register with ${request.params.providerId} as $applications.oauth.remoteProfileDetailsFromRequest.get(${request.params.providerId}).get($displayNamePath)
</h3>
    <input type="hidden" name="remoteProviderId" value="${request.params.providerId}"/>
    <input type="hidden" name="remoteProfileDetails" value=""/>

#else
<h2>Or login with:</h2>
<hr/>
#set($providers = $applications.oauth.loginProviders)
#foreach($p in $providers)
<div class="btn-group" role="group">
    #set( $link = $applications.oauth.getAuthoriseHref($p) )
    <a href="$link" class="btn btn-success btn-lg"><i class="fa fa-${p.providerId}"></i></a>
    <a href="$link" class="btn btn-success btn-lg" style="text-transform: capitalize">$p.providerId</a>
</div>
#end
#end

<script>
#if( $details )
    var oauthDetails = $details;
#else
    var oauthDetails = false;
#end

    $(function () {
        if (oauthDetails) {
            var form = $("#registerForm");
            flog("Found oauth detailsXX, populate registration form", oauthDetails);
            var email = "";
            var nickName = "";
            var firstName = "";
            var surName = "";
            if( oauthDetails.emails ) {
                email = oauthDetails.emails[0].value;
            } else if( oauthDetails.email ) {
                email = oauthDetails.email;
            }
            if( oauthDetails.first_name ) {
                firstName = oauthDetails.first_name;
                surName = oauthDetails.last_name;
                nickName = firstName;
            } else if( oauthDetails.name ) {
                if( oauthDetails.name.givenName ) {
                    firstName = oauthDetails.name.givenName;
                    surName = oauthDetails.name.familyName;
                    nickName = firstName;
                } else {
                    nickName = oauthDetails.name;
                }
            }
            if( oauthDetails.displayName ) {
                nickName = oauthDetails.displayName;
            }

            flog("Found oauth values", email, firstName, surName, nickName);
            form.find("input[name=email]").val(email);
            form.find("input[name=firstName]").val(firstName);
            form.find("input[name=surName]").val(surName);
            form.find("input[name=nickName]").val(nickName);
            form.find("input[name=password],input[name=confirmPassword]").removeClass("required").addClass('required-if-visible').prop('disabled', true).closest(".form-group").hide();

            form.find("input[name=remoteProfileDetails]").val(JSON.stringify(oauthDetails));
        }

    });
</script>
