
<div class="grid-item col-lg-4 col-md-4 col-sm-6 col-x2-12">
    <div class="dash-widget-item bgm-teal" id="site-visits">
        <div class="dash-widget-header">
            <div class="">
                <div id='hitsChart' style="height: 100px">

                </div>
            </div>

            <div class="dash-widget-title">For the past 7 days</div>
        </div>

        <div class="p-20">

            <small>Page Views</small>
            <h3 class="m-0 f-400" id="pageViews"></h3>

            <br/>

            <small>Bandwidth</small>
            <h3 class="m-0 f-400" id="numBytes">24,456,799</h3>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var params = window.location.search;
        $.get("/reporting/hits" + params, function (data) {
            flog("resp", data);
            initHitsChart(data);
        }, "json");


    });

    function initHitsChart(resp) {
        flog("initHitsChart", resp);

        function formatBytes(v) {
            if( v < 1000 ) {
                return v + " bytes";
            } else if( v < 1000000) {
                return (v/1000).toFixed(1) + " KB";
            } else if( v < 100000000) {
                return (v/1000000).toFixed(1) + " MB";
            } else {
                return (v/1000000000).toFixed(1) + " GB";
            }
        }

        //var osBuckets = resp.aggregations.os.buckets;
        var hitsBuckets = resp.aggregations.byDate.buckets;
        var numBytes = resp.aggregations.numBytes;
        flog("numBytes", numBytes);
        //initOsDonut(osBuckets);
        //
        // display hits histogram
        var arr = new Array();
        for (var i = 0; i < hitsBuckets.length; i++) {
            var bucket = hitsBuckets[i];
            arr.push(bucket.doc_count);
        }
        sparklineLine($('#hitsChart'), arr, '100%', '95px', 'rgba(255,255,255,0.7)', 'rgba(0,0,0,0)', 2, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 5, 'rgba(255,255,255,0.4)', '#fff');
        $("#pageViews").text( formatNumeric(resp.hits.total) );
        $("#numBytes").text( formatBytes(numBytes.value) );

        //sparklineBar($('#hitsChart'), [4,7,6,2,5,3,8,6,6,4,8,6,5,8,2,4,6], '100%', '100%', 3, '#fff', 2);

    }
</script>
