<div class="ktile-wrapper col-xl-3 col-lg-4 col-md-4 col-sm-3" id="autoloader-tile">
    <div class="ktile">
        <div class="ktile-inner">
            <div class="ktile-body">
                <div class="ktile-front ktile-single-value">
                    <div class="ktile-content">
                        <div class="ktile-single-value-icon">
                            <i class="fa fa-tasks fa-4x"></i>
                        </div>
                        <div class="ktile-single-value-text">
                            <div class="text-center">
                                #if($_autoloaderState)
                                    <div>Autoloader's running...</div>
                                    <button class="btn btn-sm btn-info btn-check-autoloader"><i class="fa fa-refresh"></i> Check status</button>
                                #else
                                    <div>Autoloader</div>
                                    <button class="btn btn-sm btn-info btn-start-autoloader">Start</button>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document.body).off('click', '.btn-start-autoloader').on('click', '.btn-start-autoloader', function (e) {
            e.preventDefault();
            
            Kalert.confirm('You want to start the Autoloader?', 'Yes', function () {
                $.ajax({
                    url: '/_autoloader',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        startAutoloader: true
                    },
                    success: function (data, textStatus, jqXHR) {
                        $('#autoloader-tile').reloadFragment();
                    },
                    error: function () {
                        Msg.error('Oh No! Something went wrong!');
                    }
                });
            });
        });
        
        $(document.body).off('click', '.btn-check-autoloader').on('click', '.btn-check-autoloader', function (e) {
            e.preventDefault();
            
            $('#autoloader-tile').reloadFragment();
        });
    });
</script>