<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="template" href="editorBase" />
        <link rel="stylesheet" href="/static/keditor/dist/css/keditor-0.0.0.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/keditor/dist/css/keditor-components-0.0.0.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-select/1.10.0/dist/css/bootstrap-select.min.css" />
        <link href="/static/jquery.mselect/1.1.0/jquery.mselect-1.1.0.css" rel="stylesheet">
        <link href="/theme/apps/admin/contentEditor.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/static/js/jquery.jstree.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-tree.js">//</script>
        <script type="text/javascript" src="/static/milton-upload/1.0.1/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="/static/jquery.mselect/1.1.0/jquery.mselect-1.1.0.js">//</script>
        <script type="text/javascript">
            var bsTooltip = $.fn.tooltip;
            var bsButton = $.fn.button;
            var themeCssFiles = [];
        </script>
        <script type="text/javascript" src="/static/jquery-ui/1.11.4/jquery-ui.min.js">//</script>
        <script type="text/javascript">
            $.widget.bridge('uibutton', $.ui.button);
            $.widget.bridge('uitooltip', $.ui.tooltip);
            $.fn.tooltip = bsTooltip;
            $.fn.button = bsButton;
        </script>
        <script type="text/javascript" src="/theme/toolbars.js">//</script>
        <script type="text/javascript" src="/static/ckeditor456/ckeditor.js">//</script>
        <script type="text/javascript" src="/static/ckeditor456/adapters/jquery.js">//</script>
        <script type="text/javascript" src="/static/keditor/dist/js/keditor-0.0.0.min.js">//</script>
        <script type="text/javascript" src="/static/keditor/dist/js/keditor-components-0.0.0.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/contentEditorUtils.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-select/1.10.0/dist/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="/static/js/keymap.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/contentEditor.js">//</script>
    </head>
    <body class="content-editor-page">
        #set($fname = $params.fileName)
        #set($file = $folder.child($fname))
        #set($useHash = $params.useHash)


        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">$params.fileName</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./" title="Back to parent folder"><i class="fa fa-reply"></i></a></li>
                    <li><a href="#" class="btn-save-file" title="Save"><i class="fa fa-save"></i></a></li>
                    <li><a href="texteditor?fileName=$params.fileName" title="Edit with text editor"><i class="fa fa-edit"></i></a></li>
                </ul>
            </div>
        </nav>

        <div id="content-area">$!file.body</div>

        <script type="text/javascript" src="${page.parent.href}_components?handlers&amp;fileName=$!{params.fileName}">//</script>
        <script type="text/javascript">
            var useHash = "$!useHash";
            var allGroups = {
                #foreach ($group in $page.find("/").allGroups)
                    '$group.name': #if ($group.title) '$group.title' #else '$group.name' #end,
                #end
            };

            $(function () {
                initContentEditorPage('$!fname', '/_components/web/snippets.html');
            });
        </script>

    </body>
</html>
