body {
    padding-top: 50px;
}

.navbar-fixed-top {
    background: #222 !important;
}

.navbar-fixed-top a {
    height: 50px;
}

.navbar-fixed-top .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-fixed-top .fa {
    font-size: 20px;
    line-height: inherit;
}

#keditor-sidebar {
    top: 50px;
}

body.opened-keditor-sidebar div.cke_float[id*=cke_keditor-component-content-] {
    margin-right: 400px;
}

/* Embedded iframe */
.embedded-iframe {
    padding: 0;
}

.embedded-iframe .navbar-fixed-top {
    display: none;
}

.embedded-iframe #keditor-sidebar {
    top: 0;
}
