<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="template" href="editorBase" />
        <link href="/static/keditor/dist/css/keditor-0.0.0.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/keditor/dist/css/keditor-components-0.0.0.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-select/1.10.0/dist/css/bootstrap-select.min.css" />
        <link href="/theme/apps/admin/contentEditor.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript">
            // Templates should push page init function into this array. It will then be run after outer template init functions.
            var pageInitFunctions = new Array();
        </script>

        <script src="/static/jquery/1.11.0/jquery-1.11.0.js">//</script>
        <script src="/static/js/common.js">//</script>

        <script src="/theme/js/jqBootstrapValidation.js">//</script>
        <script src="/theme/js/jqExtras.js">//</script>
        <script src="/theme/js/theme.js">//</script>
        <script src="/theme/js/bootstrap.min.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.cookie.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js" >//</script>
        <script type="text/javascript" src="/static/jquery.forms/1.1.0/jquery.forms-1.1.0.js">//</script>
        <script type="text/javascript" src="/theme/js/jquery.user.js">//</script>
        <script type="text/javascript" src="/static/jquery.comments/1.0.4/jquery.comments-1.0.4.js" >//</script>

        <script type="text/javascript" src="/theme/js/init-theme.js" >//</script>
        <script type="text/javascript" src="/static/bootstrap-msg/0.3/bootstrap-msg.min.js">//</script>
        <script type="text/javascript" src="/theme/toolbars.js">//</script>
        <script type="text/javascript" src="/static/ckeditor456/ckeditor.js">//</script>
        <script type="text/javascript" src="/static/ckeditor456/adapters/jquery.js">//</script>
        <script type="text/javascript" src="/static/jquery-ui/1.12.1-noui/jquery-ui.min.js">//</script>
        <script type="text/javascript" src="/static/keditor/dist/js/keditor-0.0.0.min.js">//</script>
        <script type="text/javascript" src="/static/keditor/dist/js/keditor-components-0.0.0.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/contentEditorUtils.js">//</script>
        <script type="text/javascript" src="/static/jquery.contentEditor/1.0.0/jquery.contentEditor-1.0.0.js"></script>
        <script type="text/javascript" src="/static/js/keymap.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/contentEditor.js">//</script>
    </head>
    <body class="content-editor-page">
        #set($fname = $params.fileName)
        #set($file = $folder.child($fname))
        #set($useHash = $params.useHash)


        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">$params.fileName</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./" title="Back to parent folder"><i class="fa fa-reply"></i></a></li>
                    <li><a href="#" class="btn-save-file" title="Save"><i class="fa fa-save"></i></a></li>
                    <li><a href="texteditor?fileName=$params.fileName" title="Edit with text editor"><i class="fa fa-edit"></i></a></li>
                </ul>
            </div>
        </nav>

        <div id="content-area">$!file.body</div>

        <script type="text/javascript" src="${page.parent.href}_components?handlers&amp;fileName=$!{params.fileName}">//</script>
        <script type="text/javascript">
            var useHash = "$!useHash";
            var allGroups = {
                #foreach ($group in $page.find("/").allGroups)
                    '$group.name': #if ($group.title) '$group.title' #else '$group.name' #end,
                #end
            };

            $(function () {
                initContentEditorPage('$!fname', '/_components/web/snippets.html');
            });
        </script>

    </body>
</html>
