body {
    padding-top: 50px !important;
}

.keditor-component .keditor-toolbar {
    text-align: left;
}

.keditor-content-area {
    padding-top: 30px;
    margin-right: 0 !important;
}

.keditor-content-area.empty {
    position: relative;
}

.keditor-content-area.empty:before {
    content: "Drag & drop container in here";
    color: #ccc;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    line-height: 35px;
}

.keditor-content-area.empty:after {
    content: "";
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 50px;
    right: 50px;
    border: 3px dashed #eee;
}

#keditor-sidebar {
    top: 50px;
}

body.opened-keditor-sidebar div.cke_float[id*=cke_keditor-component-content-] {
    margin-right: 400px;
}

/* Embedded iframe */
.embedded-iframe {
    padding: 0 !important;
}

.embedded-iframe .navbar-fixed-top {
    display: none;
}

.embedded-iframe #keditor-sidebar {
    top: 0;
}

/* Navbar style */
.content-editor-page .navbar-fixed-top {
    background: #222 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    min-height: 0 !important;
}

.content-editor-page .navbar-fixed-top .navbar-header,
.content-editor-page .navbar-fixed-top .navbar-brand {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.content-editor-page .navbar-fixed-top a {
    height: 50px !important;
    line-height: 50px !important;
    color: #999 !important;
    background-color: transparent !important;
    padding: 0 15px !important;
    margin: 0 !important;
    border: 0 !important;
}

.content-editor-page .navbar-fixed-top .navbar-nav {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.content-editor-page .navbar-fixed-top .navbar-nav > li {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.content-editor-page .navbar-fixed-top .navbar-nav > li > a:hover {
    color: #fff !important;
    background-color: #080808 !important;
    border: 0 !important;
}

.content-editor-page .navbar-fixed-top .fa {
    font-size: 20px !important;
    line-height: 50px !important;
}

.row.row-sm {
    margin: 0 -2px;
}

.row.row-sm > div {
    padding: 0 2px;
}

.colorpicker {
    top: 60px !important;
    right: auto;
    left: 15px !important;
    padding: 5px !important;
}
