/* Website wrapper */
#websites-wrapper {
    height: 150px;
}

#websites-wrapper, #accounts-wrapper {
    margin: 0 0 15px;
}

#accounts-wrapper {
    padding: 0;
}

.gallery-img-wrapper {
    margin-top: -20px;
    overflow: hidden;
}

/* Recent list */
#recentList ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#recentList ul li {
    padding: 10px 15px;
    border-bottom: solid lightgrey 1px;
}

.text-nowrap {
    white-space: nowrap;
}

/* Ktile */
.ktile-container {
    /*padding-bottom: 5px;*/
}

.ktile-container .ktile-wrapper {
    opacity: 0;
}

/* Total visit tile */
#total-visits #hitsChart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 45px;
    right: 0;
}

#total-visits #hitsChart + div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
}

#total-visits #error-chart {
    position: relative;
    width: 100%;
    height: 100%;
}

#total-visits #error-chart svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#total-visits #error-chart > .small {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 20px;
    z-index: 2;
}

#total-visits #error-chart > p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0;
}

/* Wrap image */
.gallery-img {
    height: 150px;
    margin: 20px 0 0;
}

.wrap-image {
    height: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
}

.dashWebsiteImage {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.wrap-image .tileText {
    bottom: 28px;
    top: 0;
    margin: 0;
    width: auto;
    left: 0;
    right: 0;
    opacity: 1;
    background: none;
    /*font-family: Roboto, sans-serif;*/
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 15px;
}

.wrap-image .tileText small {
    display: block;
    font-size: 12px;
    line-height: 15px;
}

.wrap-image .tileText:hover {
    text-decoration: none;
    color: #000;
}

/* Dash widget item */
.dash-widget-item {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 100%;
}

.dash-widget-item h4 {
    padding: 0;
    margin: 0;
}

.dash-widget-item .dash-widget-header {
    position: relative;
    padding-bottom: 38px;
    background-color: rgba(0, 0, 0, 0.13);
}

.dash-widget-item .dash-widget-header .actions {
    display: none;
    position: absolute;
    right: 4px;
    top: 6px;
    padding: 0;
    list-style: none;
}

.dash-widget-item .dash-widget-header .actions > li {
    display: inline-block;
    vertical-align: baseline;
}

.dash-widget-item .dash-widget-header .actions > li > a {
    color: #fff;
    font-size: 20px;
}

.dash-widget-item .dash-widget-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.dash-widget-item .dash-widget-content {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 60px;
    top: 0;
    padding-bottom: 5px;
}

.dash-widget-item .dash-widget-title {
    padding: 12px 10px;
    position: absolute;
    width: 100%;
    left: 0;
    font-weight: 300;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.9);
}

.dash-widget-item .dash-widget-title.inverse {
    color: #3988b7;
    background: #f0f5f8;
}

/*
 * Background Colors
 */
.bg-black-trp {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.p-20 {
    padding: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

/*
 * Easy Pie Charts
 */

.epc-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-bottom: 30px;
    padding: 30px 20px;
    text-align: center;
}

.easy-pie {
    /*display: inline-block;*/
    position: relative;
    margin-top: -10px;
}

.easy-pie .figure {
    position: absolute;
    font-weight: 300;
    width: 100%;
    line-height: 100%;
    left: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.easy-pie.largePie .figure {
    font-size: 50px;
}

.easy-pie.largePie .figure:not([class*="c-"]) {
    color: rgba(255, 255, 255, 0.7);
}

.easy-pie.largePie .figure:after {
    font-size: 30px;
}

.easy-pie.largePie .pie-title {
    color: #fff;
}

.easy-pie:not(.largePie) .figure {
    font-size: 26px;
}

.easy-pie:not(.largePie) .figure:after {
    font-size: 20px;
}

.easy-pie .pie-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    left: 0;
    margin-top: 2px;
}

.statCard {
    height: 100%;
}

.statCard > div {
    height: 100% !important;
}

.statCard > div > div {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}

.statCard a {
    color: white;
}

.statCard a:hover {
    color: white;
    opacity: 0.8;
}

body .nvd3.nv-pie .nv-pie-title {
    fill: white;
}

/* ==================================================================
   Material Background Colors
   ================================================================== */
.bgm-white {
    background-color: #ffffff !important;
}

.c-white {
    color: #ffffff !important;
}

.bgm-black {
    background-color: #000000 !important;
}

.c-black {
    color: #000000 !important;
}

.bgm-brown {
    background-color: #795548 !important;
}

.c-brown {
    color: #795548 !important;
}

.bgm-pink {
    background-color: #d9534f !important;
}

.c-pink {
    color: #e91e63 !important;
}

.bgm-red {
    background-color: #f44336 !important;
}

.c-red {
    color: #f44336 !important;
}

.bgm-blue {
    background-color: #3988b7 !important;
}

.c-blue {
    color: #3988b7 !important;
}

.bgm-purple {
    background-color: #9c27b0 !important;
}

.c-purple {
    color: #9c27b0 !important;
}

.bgm-deeppurple {
    background-color: #673ab7 !important;
}

.c-deeppurple {
    color: #673ab7 !important;
}

.bgm-lightblue {
    background-color: #03a9f4 !important;
}

.c-lightblue {
    color: #03a9f4 !important;
}

.bgm-cyan {
    background-color: #00bcd4 !important;
}

.c-cyan {
    color: #00bcd4 !important;
}

.bgm-teal {
    background-color: #5bc0de !important;
}

.c-teal {
    color: #009688 !important;
}

.bgm-green {
    background-color: #4caf50 !important;
}

.c-green {
    color: #4caf50 !important;
}

.bgm-lightgreen {
    background-color: #8bc34a !important;
}

.c-lightgreen {
    color: #8bc34a !important;
}

.bgm-lime {
    background-color: #cddc39 !important;
}

.c-lime {
    color: #cddc39 !important;
}

.bgm-yellow {
    background-color: #ffeb3b !important;
}

.c-yellow {
    color: #ffeb3b !important;
}

.bgm-amber {
    background-color: #ffc107 !important;
}

.c-amber {
    color: #ffc107 !important;
}

.bgm-orange {
    background-color: #ff9800 !important;
}

.c-orange {
    color: #ff9800 !important;
}

.bgm-deeporange {
    background-color: #ff5722 !important;
}

.c-deeporange {
    color: #ff5722 !important;
}

.bgm-gray-lighter {
    background-color: #f0f0f0 !important;
}

.bgm-gray {
    background-color: #9e9e9e !important;
}

.c-gray {
    color: #9e9e9e !important;
}

.bgm-bluegray {
    background-color: #607d8b !important;
}

.c-bluegray {
    color: #607d8b !important;
}

.bgm-indigo {
    background-color: #3f51b5 !important;
}

.c-indigo {
    color: #3f51b5 !important;
}
