<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="editTheme.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="dashboard">
        <section id="publish" class="MainContent">
            <div class="alert alert-warning">
                Click one of the themes below to update your site. A preview is shown below, or <a target="_blank" href="$page.parent.externalUrl">click here to see your site</a>
            </div>
            <p>
                <a href=".." class="btn btn-sm btn-blue">Back to $page.parent.parent.name website <i class="fa fa-arrow-circle-right"></i></a>
            </p>
            #set($isLive = $page.parent.live)
            #set($extUrl = $page.parent.externalUrl)

            <div class="themes-wrapper">
                <div class="row">
                    #foreach($theme in $page.allThemes)
                        <div class="col-xl-2 col-md-3 col-sm-4 col-xs-12 theme #if($page.currentTheme == $theme.name) current-theme #end">
                            <a href="$theme.name" class="btn-select-theme">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div class="embed-responsive-item" #if( $theme.previewImage ) style="background-image: url('/templates/themes/$theme.name/${theme.previewImage}')" #end>
                                        #if( $theme.previewImage )
                                        #else
                                            <h2>$theme.title</h2>
                                        #end
                                    </div>
                                </div>
                            </a>
                        </div>
                    #end
                </div>
            </div>

            <div class="page-header">
                <h4>Preview</h4>
            </div>
            <iframe id="previewPage" src="$page.parent.externalUrl/theme-checker"></iframe>
        </section>
        <script type="text/javascript">
            var isLive = $isLive;
            var first = true;

            $(function () {
                var iframe = $('#previewPage');
                iframe.load(function () {
                    var li = $('.themes li.ajax-loading')
                    li.removeClass('ajax-loading');
                    li.closest('ul').removeClass('ajax-loading');
                    li.addClass('current-theme');
                    flog('add', li);
                });

                var themesWrapper = $('.themes-wrapper');
                var themes = themesWrapper.find('.theme');

                $('.btn-select-theme').click(function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var themeName = btn.attr('href');
                    var theme = btn.closest('.theme');

                    if (themesWrapper.hasClass('ajax-loading')) {
                        return;
                    }

                    if (isLive && first) {
                        if (!confirm('Warning: You are editing the live version of this website and changes are immediate. If you want to update the live site now press OK. Otherwise press Cancel, then create a new version from Manage Websites and then change the theme.')) {
                            return;
                        }
                    }
                    first = false;

                    themesWrapper.addClass('ajax-loading');
                    theme.addClass('ajax-loading');

                    $.ajax({
                        type: 'POST',
                        url: window.location.pathname,
                        data: {
                            themeName: themeName
                        },
                        success: function (data) {
                            flog('success', data);
                            if (data && data.status) {
                                themes.filter('.current-theme').removeClass('current-theme');
                                theme.addClass('current-theme');
                                var msg = 'Theme is updated';
                                if (data && data.messages && data.messages[0]) {
                                    msg = data.messages[0];
                                }
                                Msg.success(msg);
                                updatePreview();
                            } else {
                                var msg = 'Error when updating theme. Please content your administrator to resolve this issue';
                                if (data && data.messages && data.messages[0]) {
                                    msg = data.messages[0];
                                }
                                Msg.error(msg);
                            }
                            theme.removeClass('ajax-loading');
                            themesWrapper.removeClass('ajax-loading');
                        },
                        error: function (resp) {
                            theme.removeClass('ajax-loading');
                            themesWrapper.removeClass('ajax-loading');
                            Msg.error('An error occured doing the user search. Please check your internet connection and try again');
                        }
                    });
                });
            });

            function updatePreview() {
                var iframe = $('#previewPage');
                var src = iframe.attr('src');
                var i = src.indexOf('?');
                
                // chop off any request params
                if (i > 0) {
                    src = src.substring(0, i);
                }

                src += '?rnd=' + Math.floor((Math.random() * 100000) + 1)
                flog('reload iframe', src);
                iframe.attr('src', src);
            }
        </script>
    </body>
</html>

