body {
    padding-top: 50px !important;
}

.edm-editor-nav {
    position: fixed;
    background: #222;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, san-serif;
    line-height: 26px;
    height: 50px;
}

.edm-editor-nav a {
    color: #fff;
    text-decoration: none;
}

.edm-editor-nav .edm-editor-file {
    float: left;
}

.edm-editor-nav .edm-editor-file,
.edm-editor-nav .edm-editor-navbar li a {
    display: block;
    padding: 12px 20px;
}

.edm-editor-nav .edm-editor-navbar {
    float: right;
    margin: 0;
    padding: 0;
}

.edm-editor-nav .edm-editor-navbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.edm-editor-nav .edm-editor-navbar li a {
    color: #ccc;
}

.edm-editor-nav .edm-editor-navbar li a:hover,
.edm-editor-nav .edm-editor-navbar li a:focus,
.edm-editor-nav .edm-editor-navbar li a:active {
    background: #000;
    color: #fff;
}

#keditor-sidebar {
    top: 50px !important;
}
