body {
    background: none;
    padding-top: 50px;
}

.navbar-fixed-top a {
    height: 50px;
}

.navbar-fixed-top .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-fixed-top .fa {
    font-size: 20px;
    line-height: inherit;
}

#keditor-sidebar {
    top: 50px;
}

/* ==================================================================================
   EDM Area
   ================================================================================== */
#edm-area {
    min-width: 680px;
}

body.opened-keditor-sidebar #edm-area {
    margin-right: 260px;
}

/* ==================================================================================
   EDM header, body and footer
   ================================================================================== */
#edm-header,
#edm-body,
#edm-footer {
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100px;
    outline: 3px dashed #ccc;
    outline-offset: 3px;
}

#edm-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#edm-header,
#edm-footer {
    padding: 0;
}

#edm-header.empty,
#edm-body.empty,
#edm-footer.empty {
    position: relative;
}

#edm-header.empty:before,
#edm-body.empty:before,
#edm-footer.empty:before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    transform: translate(-50%, -50%);
}

#edm-header.empty:before {
    content: "EDM Header";
}

#edm-body.empty:before {
    content: "EDM Body";
}

#edm-footer.empty:before {
    content: "EDM Footer";
}

/* ==================================================================================
   EDM Setting
   ================================================================================== */
#edm-setting {
    position: fixed;
    top: 60px;
    bottom: 10px;
    background: #f0f0f0;
    transition: all 0.3s;
    font-size: 12px;
    padding: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden !important;
    width: 235px;
    right: -255px;
}

body.opened-keditor-sidebar #edm-setting.showed {
    right: 10px;
}

#edm-setting .panel {
    margin-bottom: 0;
    overflow: hidden;
}

#edm-setting .panel + .panel {
    margin-top: 10px;
}

#edm-setting .panel-heading,
#edm-setting .panel-body {
    padding-left: 10px;
    padding-right: 10px;
}

#edm-setting .panel-body .form-group {
    margin-bottom: 0;
}

#edm-setting .panel-body .form-group + .form-group {
    margin-top: 10px;
}

#edm-setting .form-control {
    padding: 6px 5px;
}

#edm-setting .row {
    margin: 0 -2px;
}

#edm-setting .row > div {
    padding: 0 2px;
}

#edm-setting .colorpicker {
    top: 50px;
    right: 15px;
    left: auto;
}

/* ====================================================================================
   Hide border of tables when CKEditor is enabled
/* ==================================================================================== */
.cke_show_borders table.cke_show_border,
.cke_show_borders table.cke_show_border th,
.cke_show_borders table.cke_show_border td {
    border: 0 !important;
}

div.cke_float[id*="cke_keditor-section-"] {
    max-width: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
}

body.opened-keditor-sidebar div.cke_float[id*="cke_keditor-section-"] {
    margin-right: 232px;
    margin-top: 0;
    margin-left: 0;
}

/* ====================================================================================
   Customize KEditor
/* ==================================================================================== */
#keditor-sidebar {
    opacity: 1;
    z-index: 0;
}

.keditor-container-content {
    height: 50px;
}
