html {
    min-height: 100%;
}

body {
    background: none;
}

#edm-area {
    min-width: 680px;
}

body.opened-keditor-snippets #edm-area {
    margin-right: 260px;
}

#edm-header,
#edm-body,
#edm-footer {
    margin: 0 auto;
    max-width: 650px;
    box-sizing: border-box;
    min-height: 100px;
}

#edm-header,
#edm-footer {
    border: 3px dashed #ccc;
    padding: 0;
}

#edm-header.empty,
#edm-body.empty,
#edm-footer.empty {
    position: relative;
}

#edm-header.empty:before,
#edm-body.empty:before,
#edm-footer.empty:before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    transform: translate(-50%, -50%);
}

#edm-header.empty:before {
    content: "EDM Header";
}

#edm-body.empty:before {
    content: "EDM Body";
}

#edm-footer.empty:before {
    content: "EDM Footer";
}

#edm-setting {
    position: absolute;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 10px;
    background: #fff;
    transition: all 0.3s;
    font-size: 12px;
    padding: 0 5px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(105%, 0);
}

#edm-setting.showed {
    z-index: 3;
    transform: translate(0, 0);
}

#edm-setting .panel {
    margin-bottom: 0;
}

#edm-setting .panel + .panel {
    margin-top: 10px;
}

#edm-setting .panel-heading,
#edm-setting .panel-body {
    padding-left: 10px;
    padding-right: 10px;
}

#edm-setting .panel-body .form-group {
    margin-bottom: 0;
}

#edm-setting .panel-body .form-group + .form-group {
    margin-top: 10px;
}

#edm-setting .form-control {
    padding: 6px 5px;
}

#edm-setting .row {
    margin: 0 -2px;
}

#edm-setting .row > div {
    padding: 0 2px;
}

#edm-setting .colorpicker {
    top: 50px;
    right: 15px;
    left: auto;
}

/* ====================================================================================
   Hide border of tables when CKEditor is enabled
/* ==================================================================================== */
.cke_show_borders table.cke_show_border,
.cke_show_borders table.cke_show_border th,
.cke_show_borders table.cke_show_border td {
    border: 0 !important;
}

div.cke_float[id*="cke_keditor-section-"] {
    max-width: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
}

body.opened-keditor-snippets div.cke_float[id*="cke_keditor-section-"] {
    margin-right: 232px;
    margin-top: 0;
    margin-left: 0;
}

/* ====================================================================================
   Customize KEditor
/* ==================================================================================== */
#keditor-snippets-container {
    opacity: 1;
    background: #fff;
}

#keditor-snippets-toggler {
    background: #fff;
}

#snippets-list {
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}
