<html>
    <head>
        <title>Administration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="/theme/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/theme/assets/fonts/clip-font.min.css" />
        <link rel="stylesheet" href="/theme/assets/fonts/roboto.css" />
        <link rel="stylesheet" href="/theme/assets/css/main.min.css" />
        <link rel="stylesheet" href="/theme/assets/css/main-responsive.min.css" />
        <link rel="stylesheet" href="/theme/assets/css/kademi.css" rel="stylesheet" />
        <script type="text/javascript" src="/static/js/jquery.user.js">//</script>
        <link rel="template" href="plain" />
        <script type="text/javascript">
            $(function () {
                $(".login").user({
                    afterLoginUrl: null,
                    valiationMessageSelector: "#validationMessage",
                    valiationMessageText: "#validationMessage span",
                    requiredFieldsMessage: 'Please enter your credentials.',
                    loginFailedMessage: 'Sorry, those login details were not recognised.'
                }); // setup login and logout
            });
        </script>
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            var ua = navigator.userAgent.toLowerCase(),
                    platform = navigator.platform.toLowerCase();
            platformName = ua.match(/ip(?:ad|od|hone)/) ? 'ios' : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0],
                    isMobile = /ios|android|webos/.test(platformName);
            if (!isMobile) {
                window.$zopim || (function (d, s) {
                    var z = $zopim = function (c) {
                        z._.push(c)
                    }, $ = z.s =
                            d.createElement(s), e = d.getElementsByTagName(s)[0];
                    z.set = function (o) {
                        z.set.
                                _.push(o)
                    };
                    z._ = [];
                    z.set._ = [];
                    $.async = !0;
                    $.setAttribute('charset', 'utf-8');
                    $.src = '//v2.zopim.com/?2nKbRpXKUmYJXwm07KHHlZLNXFdpF9PE';
                    z.t = +new Date;
                    $.
                            type = 'text/javascript';
                    e.parentNode.insertBefore($, e)
                })(document, 'script');
            }
        </script>
        <!--End of Zopim Live Chat Script-->
    </head>
    <body class="login">
        <div class="main-login col-sm-4 col-sm-offset-4">
            <div class="logo">
                <img src="/theme/assets/images/logo_kademi_login.png" alt="Kademi" /><br />
                <b>$page.organisation.formattedName</b>
            </div>
            <div class="box-login">
                <!--<h3>Sign in to: <b>$page.organisation.formattedName</b></h3>

                <p>Please enter your name and password to log in.</p>-->

                <form action="" class="form-login" method="post" novalidate="novalidate">
                    <div class="errorHandler alert alert-danger no-display" id="validationMessage"><i class="fa fa-remove-sign"></i> <span></span></div>
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" autocapitalize="off" autocorrect="off" autocomplete="off" placeholder="Enter your username or email" name="email" class="form-control input-lg" />
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="password" placeholder="Enter your password" name="password" autocomplete="off" class="form-control password input-lg" />
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                        </div>
                        <p class="form-actions">
                            <button class="btn btn-info btn-lg btn-block" type="submit">Log in</button>
                        </p>
                        <p class="text-center"><a href="/password-reset" class="forgot">I forgot my password</a></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>