<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Maintenance</title>
        <style>
            .stacktraces {
                min-width: 700px;
                margin-bottom: 20px;
            }
            .stacktraces th {
                text-align: left;
                padding: 5px;
                border-bottom: solid gray 1px;
            }
            .stacktraces td {
                vertical-align: top;
                border-bottom: solid lightgray 1px;
                padding: 5px;
            }
            .state-BLOCKED td, .state-WAITING td {
                background: mistyrose;
            }
            .state-RUNNABLE td {
                background: lightgreen;
            }
            .trace {
                max-height: 200px;
                overflow-y: scroll;
            }
        </style>
    </head>
    <body class="manageApplications appsContainer">
        <div class="tabbable">
            <ul class="nav nav-tabs tab-bricky">
                <li><a data-toggle="tab" href="#summary">Summary</a></li>
                <li><a data-toggle="tab" href="#utils">Utils</a></li>
            </ul>
            <div class="tab-content">
                <div id="summary" class="tab-pane">
                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Memory</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                #if($page.kademiVersion)
                                <tr>
                                    <th>Version</th>
                                    <td>$page.kademiVersion</td>
                                </tr>
                                #end
                                <tr>
                                    <th>Scheduler enabled</th>
                                    <td>$page.schedulerEnabled</td>
                                </tr>
                                <tr>
                                    <th>Mem usage</th>
                                    <td>$formatter.toPercent( $page.freeMemory, $page.maxMemory )</td>
                                </tr>

                                <tr>
                                    <th>Free</th>
                                    <td>$formatter.formatBytes( $page.freeMemory )</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>$formatter.formatBytes($page.totalMemory)</td>
                                </tr>
                                <tr>
                                    <th>Max</th>
                                    <td>$formatter.formatBytes($page.maxMemory)</td>
                                </tr>
                                <tr>
                                    <th>Processors</th>
                                    <td>$page.numProcessors</td>
                                </tr>
                            </table>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Emails</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Queued emails</th>
                                    <td>$page.numQueuedEmails</td>
                                </tr>
                                <tr>
                                    <th>deliveredEmailsToday</th>
                                    <td>$page.deliveredEmailsToday</td>
                                </tr>
                                <tr>
                                    <th>failedEmailsToday</th>
                                    <td>$page.failedEmailsToday</td>
                                </tr>

                            </table>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Web hits</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Hits last 24hrs</th>
                                    <td>$page.webHitsToday</td>
                                </tr>
                            </table>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Intrusion Detection and Prevention (IDP)</h3>
                        </div>
                        <div class="panel-body">
                            Aborted requests: $page.totalIdpAborts
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recent errors</h3>
                        </div>
                        <div class="panel-body">
                            #foreach( $event in $page.mostRecentEvents)
                            <h4>
                                $event.logEvent.level - $event.logEvent.message
                                #if( $event.request.method )
                                <a href="http://${event.request.host}${event.request.href}">$event.request.method - ${event.request.host}${event.request.href}</a>
                                #end
                            </h4>

                            #if( $event.logEvent.userName )
                            <p class="lead">$!event.logEvent.userName - $!event.logEvent.userHref</p>
                            #end

                            #if( $event.request.headers.size() > 0 )
                            <h5>Headers</h5>
                            <table class="table table-striped">
                                #foreach( $header in $event.request.headers.entrySet() )
                                <tr>
                                    <th>$header.key</th>
                                    <td>$header.value</td>
                                </tr>
                                #end
                            </table>
                            #end

                            #if( $event.request.parameters.size() > 0 )
                            <h5>Parameters</h5>
                            <table class="table table-striped">
                                #foreach( $header in $event.request.parameters.entrySet() )
                                <tr>
                                    <th>$header.key</th>
                                    <td>$header.value</td>
                                </tr>
                                #end
                            </table>
                            #end

                            <ul>
                                #foreach( $line in $event.logEvent.stackTrace )
                                <li>$line</li>
                                #end
                            </ul>
                            <hr/>
                            #end
                        </div>
                    </article>

                </div>
                <div id="utils" class="tab-pane">
                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Update profile home orgs</h3>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="maint" class="maintForm" >
                                New org Id: <input type="text" name="newHomeOrgId" value="" />
                                <br/>
                                Profiles to move
                                <br/>
                                <textarea name="profiles"></textarea>

                                <button class="btn-sm btn btn-warning">Update profiles</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bulk delete group memberships</h3>
                        </div>
                        <div class="panel-body">
                            <p>Enter the physical ID of the organisation with the group(s) to delete from, and the comma seperated list of group membership IDs</p>
                            <p>You MUST re-index the profiles for the organisation when this is complete</p>
                            <br/>
                            <form method="POST" action="maint" class="bulkDeleteMembershipsForm" >
                                <input type="text" name="rootOrg" value="" placeholder="123123" />
                                <textarea name="deleteGroupMembershipIds" class="form-control" rows="10"></textarea>
                                <button class="btn-sm btn btn-warning">Delete memberships</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Restore soft-deleted repository</h3>
                        </div>
                        <div class="panel-body">
                            <p>Please enter the admin ID of the organisation owning the deleted repository and the repository name in the form adminID:repoName.</p>
                            <br/>
                            <form method="POST" action="maint" class="restoreRepoForm" >
                                <input type="text" name="undeleteRepoId" value="" placeholder="acme:wylie" />
                                <button class="btn-sm btn btn-warning">Restore repository</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Simulate the time</h3>
                        </div>
                        <div class="panel-body">
                            <p>Please enter the new date/time offset in minutes. This will be added to the actual time when used in system calculations.</p>
                            <p>Or enter a date time in the format dd/MM/yyyy hh:mm</p>
                            <br/>
                            <form method="POST" action="maint" class="maintForm" >

                                <input type="text" name="dateOffsetMinutes" value="$!{page.dateOffsetMinutes}" />

                                <button class="btn-sm btn btn-warning">Submit</button>
                            </form>

                            <form method="POST" action="maint" class="maintForm" >

                                <input type="text" name="dateTimeVal" value="" placeholder="enter a date/time" />

                                <button class="btn-sm btn btn-warning">Submit</button>
                            </form>

                            <p>Current date/time: <span class="now">$page.currentDateService.now</span> <i>adjusted by offset</i> <small>($page.currentDateService.now.time)</small> </p>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Run points expiry process</h3>
                        </div>
                        <div class="panel-body">

                            <form method="POST" action="maint" class="maintForm" >
                                <input type="hidden" name="runExpiry" value="go" />
                                <button class="btn-sm btn btn-warning">Run now</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Run module expiry process</h3>
                        </div>
                        <div class="panel-body">

                            <form method="POST" action="maint" class="maintForm" >
                                <input type="hidden" name="runModuleExpiry" value="go" />
                                <button class="btn-sm btn btn-warning">Run now</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Payment Scheduler</h3>
                        </div>
                        <div class="panel-body">
                            <p>Turn the payment scheduler for recurring payments on or off. (Checked equals ON.)</p>
                            <br/>
                            <form method="POST" action="maint" class="maintForm" >
                                <input type="hidden" name="checkPaymentScheduler" value="true" />
                                <input type="checkbox" name="enablePaymentScheduler" value="schedule" $page.paymentSchedulerEnabled />
                                &nbsp;
                                <button class="btn-sm btn btn-warning">Submit</button>
                                <label for="schedule"></label>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Find Resource from URL</h3>
                        </div>
                        <div class="panel-body">
                            <p>Find the resource class of a URL</p>
                            <br/>
                            <form method="POST" action="maint" class="findResourceForm" >
                                <input type="text" name="findResourceFromURL" value="" />
                                <button class="btn-sm btn btn-warning">Submit</button>
                            </form>
                            <br/>
                            <p id="findResourceClass"></p>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Find a website admin org</h3>
                        </div>
                        <div class="panel-body">
                            <p>Find a website admin org</p>
                            <br/>
                            <form method="POST" action="maint" class="findWebsite" >
                                <input type="text" name="findWebsite" value="" />
                                <button class="btn-sm btn btn-warning">Submit</button>
                            </form>
                            <br/>
                            <p id="findWebsiteResult"></p>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manually initiate scheduled tasks</h3>
                        </div>

                        <div class="panel-body">
                            <p>Press this button to execute all schedule tasks. These typically include scanning processes for time based triggers.</p>
                            <br/>
                            <form method="POST" action="maint" class="runTasksForm" >
                                <input type="hidden" name="runScheduledTasks" value="true"/>
                                <button class="btn-sm btn btn-danger" type="submit">Run Scheduled Tasks</button>
                            </form>
                            <br/>
                            <h4>Task history</h4>
                            <div class="trace">
                                <ul>
                                    #foreach($item in $page.scheduledTaskHistory)
                                    <li>$item</li>
                                    #end
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Locks</h3>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="maint" class="clearLocksForm" >
                                <input type="hidden" name="clearLocks" value="true"/>
                                <button class="btn-sm btn btn-danger" type="submit">Delete all locks</button>
                            </form>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ResourceID</th>
                                        <th>Lock info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    #foreach($entry in $page.locksByUniqueId.entrySet() )
                                    <tr>
                                        <td>$entry.key</td>
                                        <td>
                                            <pre>$entry.value</pre>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Re-index all</h3>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="maint" class="reindexAllForm" >
                                <input type="hidden" name="reindexAll" value="true"/>
                                <button class="btn-sm btn btn-danger" type="submit">Re-index all orgs</button>
                            </form>
                        </div>
                    </article>

                    <article class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Fetch Missing Blob, File fanout or chunk fanout</h3>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="maint" id="fetchMissingHash" class="form-horizontal">
                                <input type="hidden" name="fetchMissingHash" value="true"/>

                                <div class="form-group">
                                    <label for="missingHash" class="col-sm-2 control-label">Hash</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control required" name="hash" id="missingHash" placeholder="Hash">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="hashType" class="col-sm-2 control-label">Hash</label>
                                    <div class="col-sm-10">
                                        <select class="form-control required" name="hashType" id="hashType">
                                            <option value="repository">Repository Hash</option>
                                            <option value="file">File Hash</option>
                                            <option value="fileFanout">File Fanout</option>
                                            <option value="chunkFanout">Chunk Fanout</option>
                                            <option value="blob">Blob</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remoteUrl" class="col-sm-2 control-label">Remote URL</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control required" name="remoteUrl" id="remoteUrl" placeholder="e.g. http://rootorg.admin.kademi-ci.co">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remoteUser" class="col-sm-2 control-label">Remote User</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control required" name="remoteUser" id="remoteUser" placeholder="e.g. admin">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remotePassword" class="col-sm-2 control-label">Remote Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control required" name="remotePassword" id="remotePassword" placeholder="e.g. test123">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-sm btn-danger">Fetch Hash</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $("form.maintForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        $("span.now").text(resp.data);
                        Msg.success("Done");
                    }
                });
                $("form.runTasksForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.info("Scheduled tasks are now running");
                        window.location.reload();
                    }
                });
                $("form.clearLocksForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.success("Locks have been deleted");
                        window.location.reload();
                    }
                });
                $("form.restoreRepoForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.success("Repository restored");
                        window.location.reload();
                    }
                });

                $("form.findResourceForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        $("#findResourceClass").text(resp.messages[0]);
                    }
                });

                $("form.findWebsite").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        $("#findWebsiteResult").text(resp.messages[0]);
                    }
                });
                $("form.bulkDeleteMembershipsForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.info("Done: " + resp.messages);
                        window.location.reload();
                    }
                });

                $("#fetchMissingHash").forms({
                    onSuccess: function (resp) {
                        Msg.success(resp.messages);
                        $("#fetchMissingHash").trigger('reset');
                    }
                });

            });
        </script>
    </body>
</html>
