<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Maintenance</title>
        <style>
            .stacktraces {
                min-width: 700px;
                margin-bottom: 20px;
            }
            .stacktraces th {
                text-align: left;
                padding: 5px;
                border-bottom: solid gray 1px;
            }
            .stacktraces td {
                vertical-align: top;
                border-bottom: solid lightgray 1px;
                padding: 5px;
            }
            .state-BLOCKED td, .state-WAITING td {
                background: mistyrose;
            }
            .state-RUNNABLE td {
                background: lightgreen;
            }
            .trace {
                max-height: 200px;
                overflow-y: scroll;
            }
            .duration {
                vertical-align: top !important;
            }
        </style>
    </head>
    <body class="manageApplications appsContainer">
        <div class="tabbable">
            <ul class="nav nav-tabs tab-bricky">
                <li><a data-toggle="tab" href="#hibernate">Hibernate cache</a></li>
                <li><a data-toggle="tab" href="#cache">Provider caches</a></li>
                <li><a data-toggle="tab" href="#sql">SQL</a></li>
                <li><a data-toggle="tab" href="#perRequestSql">Per request SQL</a></li>
                <li><a data-toggle="tab" href="#sqlStats">SQL Stats</a></li>
            </ul>
            <div class="tab-content">

                <div id="hibernate" class="tab-pane">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>EntityDeleteCount</th>
                                <td>$page.cacheStats.entityDeleteCount</td>
                            </tr>
                            <tr>
                                <th>EntityInsertCount</th>
                                <td>$page.cacheStats.entityInsertCount</td>
                            </tr>
                            <tr>
                                <th>EntityLoadCount</th>
                                <td>$page.cacheStats.entityLoadCount</td>
                            </tr>
                            <tr>
                                <th>EntityFetchCount</th>
                                <td>$page.cacheStats.entityFetchCount</td>
                            </tr>
                            <tr>
                                <th>EntityUpdateCount</th>
                                <td>$page.cacheStats.entityUpdateCount</td>
                            </tr>
                            <tr>
                                <th>QueryExecutionCount</th>
                                <td>$page.cacheStats.queryExecutionCount</td>
                            </tr>
                            <tr>
                                <th>QueryExecutionMaxTimeQueryString</th>
                                <td>$!page.cacheStats.queryExecutionMaxTimeQueryString</td>
                            </tr>
                            <tr>
                                <th>QueryCacheHitCount</th>
                                <td>$page.cacheStats.QueryCacheHitCount</td>
                            </tr>
                            <tr>
                                <th>QueryCacheMissCount</th>
                                <td>$page.cacheStats.QueryCacheMissCount</td>
                            </tr>
                            <tr>
                                <th>QueryCachePutCount</th>
                                <td>$page.cacheStats.QueryCachePutCount</td>
                            </tr>
                            <tr>
                                <th>FlushCount</th>
                                <td>$page.cacheStats.FlushCount</td>
                            </tr>
                            <tr>
                                <th>ConnectCount</th>
                                <td>$page.cacheStats.ConnectCount</td>
                            </tr>
                            <tr>
                                <th>SecondLevelCacheHitCount</th>
                                <td>$page.cacheStats.SecondLevelCacheHitCount</td>
                            </tr>
                            <tr>
                                <th>SecondLevelCacheMissCount</th>
                                <td>$page.cacheStats.SecondLevelCacheMissCount</td>
                            </tr>
                            <tr>
                                <th>SecondLevelCachePutCount</th>
                                <td>$page.cacheStats.SecondLevelCachePutCount</td>
                            </tr>
                            <tr>
                                <th>SessionCloseCount</th>
                                <td>$page.cacheStats.SessionCloseCount</td>
                            </tr>

                            <tr>
                                <th>SessionOpenCount</th>
                                <td>$page.cacheStats.SessionOpenCount</td>
                            </tr>
                            <tr>
                                <th>CollectionLoadCount</th>
                                <td>$page.cacheStats.CollectionLoadCount</td>
                            </tr>
                            <tr>
                                <th>CollectionFetchCount</th>
                                <td>$page.cacheStats.CollectionFetchCount</td>
                            </tr>
                            <tr>
                                <th>PrepareStatementCount</th>
                                <td>$page.cacheStats.PrepareStatementCount</td>
                            </tr>



                        </tbody>
                    </table>

                    <h2>Entities</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Entity</th>
                            <th>Loads</th>
                            <th>Fetches</th>

                            <th>Deletes</th>
                            <th>Inserts</th>
                            <th>Updates</th>
                            <th>OptimisticFailures</th>

                            <th>Hits</th>
                            <th>Misses</th>
                            <th>Puts</th>
                            <th>Size</th>
                        </tr>
                        <tr>
                            <th  colspan="7">High volume query cache</th>
                            #set( $secondLevelStats = false )
                            #set( $secondLevelStats = $page.cacheStats.getSecondLevelCacheStatistics("hibernate.query.highvolume") )

                            #if( $secondLevelStats )
                            <td>$secondLevelStats.HitCount</td>
                            <td>$secondLevelStats.MissCount</td>
                            <td>$secondLevelStats.PutCount</td>
                            <td>$secondLevelStats.ElementCountInMemory</td>
                            #else
                            <td colspan="4">No second level cache</td>
                            #end
                        </tr>
                        <tr>
                            <th  colspan="7">Standard query cache</th>
                            #set( $secondLevelStats = false )
                            #set( $secondLevelStats = $page.cacheStats.getSecondLevelCacheStatistics("hibernate.org.hibernate.cache.internal.StandardQueryCache") )

                            #if( $secondLevelStats )
                            <td>$secondLevelStats.HitCount</td>
                            <td>$secondLevelStats.MissCount</td>
                            <td>$secondLevelStats.PutCount</td>
                            <td>$secondLevelStats.ElementCountInMemory</td>
                            #else
                            <td colspan="4">No second level cache</td>
                            #end
                        </tr>
                        #foreach($entityName in $page.cacheStats.EntityNames)
                        #set( $entityStats =  $page.cacheStats.getEntityStatistics($entityName) )

                        #set( $secondLevelStats = $page.cacheStats.getSecondLevelCacheStatistics("hibernate.$entityName") )
                        <tr>
                            <th>$entityName</th>
                            <td>$entityStats.LoadCount</td>
                            <td>$entityStats.FetchCount</td>

                            <td>$entityStats.DeleteCount</td>
                            <td>$entityStats.InsertCount</td>
                            <td>$entityStats.UpdateCount</td>
                            <td>$entityStats.OptimisticFailureCount</td>

                            #if( $secondLevelStats )
                            <td>$secondLevelStats.HitCount</td>
                            <td>$secondLevelStats.MissCount</td>
                            <td>$secondLevelStats.PutCount</td>
                            <td>$secondLevelStats.ElementCountInMemory</td>
                            #else
                            <td colspan="4">No second level cache</td>
                            #end
                        </tr>
                        #end


                    </table>
                </div>
                <div id="cache" class="tab-pane">
                    #set( $caches = $page.caches )

                    <div class="alert alert-info">
                        <h3>Cluster state</h3>
                        <ul class="list">
                            #foreach($m in $page.clusterMembers)
                            <li>$m</li>
                            #end
                        </ul>
                    </div>

                    <form action="$page.href" method="POST">
                        <input type="hidden" name="flushCache" value="true"/>
                        <button class="btn btn-danger">Flush cache</button>
                    </form>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($cache in $caches )
                            <tr>
                                <td>$cache.name</td>
                                <td>$cache.status</td>
                                <td>$cache.size</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                <div id="sql" class="tab-pane">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Duration (ms)</th>
                                <th>SQL</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($sql in $page.slowQueries )
                            <tr>
                                <td class="duration">$sql.duration</td>
                                <td>$sql.markedUpSql</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                <div id="perRequestSql" class="tab-pane">
                    <div class="container">

                        #foreach($requestLogs in $page.perRequestLogs )
                        <div class="row" data-toggle="collapse" data-target="#details-$requestLogs.id">
                            <div class="col-md-6">
                                <h2>$requestLogs.method | $requestLogs.url</h2>
                            </div>
                            <div class="col-md-2">
                                <b>$formatter.formatNumericNoDecimal($requestLogs.requestSqlDuration) ms</b>
                                <br/>
                                <small class="muted">Total duration</small>
                            </div>
                            <div class="col-md-2">$formatter.formatDateTime($requestLogs.createdDate)</div>
                            <div class="col-md-2">$requestLogs.queries.size() queries</div>
                        </div>
                        <div id="details-$requestLogs.id" class="collapse out">
                            #foreach($sql in $requestLogs.queries )
                            <div class="row">
                                <div class="col-md-1">$formatter.formatNumericNoDecimal( $sql.duration) ms</div>
                                <div class="col-md-11">$sql.markedUpSql</div>
                            </div>
                            #end
                        </div>
                        #end
                        <hr/>
                    </div>
                </div>

                <div id="sqlStats" class="tab-pane">

                    Unique from clauses: $page.mapOfStatsByFrom.size()
                    <br/>
                    Total duration: $page.totalDuration
                    <br/>
                    Executions: $page.executions

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Duration</th>
                                <th>Count</th>
                                <th>Avg</th>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach( $stat in $page.mapOfStatsByFrom )
                            <tr>
                                <td>$stat.stats.totalDuration</td>
                                <td>$stat.stats.count</td>
                                <td>$stat.stats.averageDuration</td>
                                <td>$stat.stats.from(100)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    $stat.sqlInfo.markedUpSql
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>