<html>
    <head>
        <title>License</title>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o"></i>
                License details
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    #if($page.license)
                    <p>These are the details of your license:</p>

                    <table class="table table-striped table-hover pagination-container" style="table-layout: fixed">
                        <colgroup>
                            <col width="75px" />
                            <col width="200px" />
                        </colgroup>
                        <tbody class="pagination-results">
                            <tr>
                                <td><b>Plan Name</b></td>
                                <td>$page.license.planName</td>
                            </tr>
                            <tr>
                                <td><b>Created Date</b></td>
                                <td>$!formatter.formatDate($page.license.createdDate)</td>
                            </tr>
                            <tr>
                                <td><b>Expiration Date</b></td>
                                <td>$!formatter.formatDate($page.license.toDate)</td>
                            </tr>
                        </tbody>
                    </table>
                    #end
                    <a href="$page.licenseServerAddress" class="btn btn-lg btn-success"><span class="fa fa-cog"></span> Manage Subscription</a>
                </div>
            </div>
        </div>
    </body>
</html>