<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <link href="manageOrgs.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="manageOrgsES.js?v00001" bottom="true">//</script>
    </head>
    <body class="manage-business-unit">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" id="org-query" class="form-control" placeholder="Search for organisations here" value="" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-type="clearer" data-target="#org-query">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">

                <div class="btn-group">
                    <a class="btn btn-sm btn-success btn-add-org" href="#" title="Create a new organisation, such as a store or department"><i class="fa fa-plus"></i> Add new organisations</a>
                    <a class="btn btn-sm btn-warning btn-add-account" data-toggle="modal" data-target="#modal-create-account" data- href="#" title="Create a new Kademi account">
                        <i class="fa fa-plus"></i> Create account
                    </a>

                    <a class="btn btn-sm btn-info" href="map"><i class="fa fa-map-marker"></i> Map</a>
                    <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-list"></i>
                        Tools
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="presentation" role="menuitem"><a class="" href="#modal-upload-csv" data-toggle="modal" data-target="#modal-upload-csv">Import</a></li>
                        <li class="presentation" role="menuitem"><a class="" href="orgs.csv">Export</a></li>
                        <li class="presentation" role="menuitem"><a class="" href="#modal-upload-orgid-csv" data-toggle="modal">Upload OrgIDs CSV</a></li>
                        <li class="presentation" role="menuitem"><a class="" href="orgIds.csv">Open OrgIDs CSV</a></li>
                        <li class="presentation" role="menuitem"><a class="" href="/tableUploaders/organisationsUploader">Import wizard (beta)</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <br />

        <div class="">
            <div class="panel-body">
                <div class="row fuelux">
                    <div class="col-lg-9">
                        <div class="row">

                            <table id="search-results" class="table table-striped table-hover">
                                <colgroup>
                                    <col style="width: 150px" />
                                    <col/>
                                    <col/>
                                    <col style="width: 10%" />
                                    <col style="width: 10%" />
                                    <col style="width: 10%" />
                                    <col style="width: 15%" />
                                    <col style="width: 190px" />
                                    <col style="width: 80px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><a class="sort-field" id="orgIdSearch" href="#">ID</a></th>
                                        <th><a class="sort-field" id="orgTitle" href="#">Name</a></th>
                                        <th><a class="sort-field" id="orgTypesSearch" href="#">Type</a></th>
                                        <th><a class="sort-field" id="parentPath" href="#">Path</a></th>
                                        <th><a class="sort-field" id="phone" href="#">Phone</a></th>
                                        <th><a class="sort-field" id="address" href="#">Address</a></th>
                                        <th>Members</th>
                                        <th class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default btn-orgs-remove">
                                                    <i class="fa fa-trash"></i>
                                                    Remove
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#" class="btn-orgs-assign-orgtype">Assign to org type</a></li>
                                                    <li><a href="#" class="btn-orgs-merge">Merge selected..</a></li>
                                                    <li><a href="#" class="btn-orgs-move">Move to parent..</a></li>
                                                </ul>

                                            </div>
                                        </th>
                                        <th><input type="checkbox" name="toRemoveId" class="chk-all" /></th>
                                    </tr>
                                </thead>
                                <tbody id="searchResults" class="search-results">
                                    #if( $page.paginator.isEmpty() )
                                    <tr>
                                        <td colspan="8">No organisations found</td>
                                    </tr>
                                    #else
                                    #foreach($org in $page.paginator.records)
                                    <tr data-id="$org.actualId">
                                        <td class="org-orgid">$org.id</td>
                                        <td class="org-title">
                                            $formatter.htmlEncode($org.title)

                                            #if( $org.org.adminDomain )
                                            <span class="fa fa-star"></span>
                                            #end
                                        </td>
                                        <td>$org.orgTypeDisplayNames</td>
                                        <td>$org.parentPath</td>
                                        <td>$!org.phone</td>
                                        <td>$!org.address</td>
                                        <td class="org-members">$!org.memberCount</td>
                                        <td class="action">
                                            <div class="btn-group btn-group-sm">
                                                <a href="${org.href}edit" class="btn btn-sm btn-primary btn-sm">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li><a class="btn-edit-org" role="button" href="${org.href}edit">Edit details</a></li>
                                                    <li><a class="btn-edit-path" role="button" data-path="$org.orgPathToEdit" data-orgid="$org.actualId" href="#">Edit Path</a></li>
                                                    <li><a class="btn-edit-parent" role="button" data-parent="$!org.parent" data-orgid="$org.actualId" data-parent-title="$!org.parentTitle" href="#">Edit parent</a></li>
                                                    <li><a href="${org.href}viewDetails">View users and details</a></li>
                                                    <li><a href="${org.href}organisations">Manage child orgs</a></li>
                                                    <li><a href="${org.href}manageRepos">File manager</a></li>
                                                    #if( $org.org.adminDomain )
                                                    <li class="divider"></li>
                                                    <li><a href="$page.href?gotoDomain=${org.org.adminDomain}">Admin dashboard</a></li>
                                                    #end
                                                    <li class="divider"></li>
                                                    <li><a class="btn-delete-org" href="${org.href}">Delete this organisation</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" name="toRemoveId" value="$org.actualId" tabindex="$foreach.count" /></td>
                                    </tr>

                                    #end
                                    #end
                                </tbody>
                                <tfoot id="pointsFooter">
                                    <tr>
                                        <td colspan="6">
                                            $!page.paginator.html
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>
                    <!-- start aggregations -->
                    <div class="col-lg-3" id="aggregationsContainer">
                        #if( $page.aggregations )
                        <table class="table">
                            #foreach($agg in $page.aggregations )
                            #showAggregation($agg)
                            #end
                        </table>
                        #end
                    </div>
                    <!-- end aggregations -->

                </div>

            </div>
        </div>



        #macro( showAggregation $agg )
        #if( $agg.buckets.size() > 0 || $params.get("filter-$agg.name") )
        <tbody id="agg-$agg.name">
            <tr>
                <td colspan="2">
                    $agg.title&nbsp;
                    #if (! $agg.noFilter && ($agg.buckets.size() > 4 || $!params.get("filter-$agg.name")))
                    <span style="float: right; width: 50%">
                        #if ( $agg.name != "action" )
                        <span class="input-group input-group-sm">
                            <input id="$agg.name" class="agg-filter form-control" type="text" name="$agg.name" placeholder="Search / Filter" value="$agg.filter" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default aggClearer" type="button" data-target="#$agg.name"><i class="fa fa-times"></i></button>
                            </span>
                        </span>
                        #end
                    </span>
                    #end
                </td>
            </tr>
            #foreach($b in $agg.buckets )
            #showFacetBucket($b, 0)
            #end
        </tbody>
        #end
        #end

        #macro( showFacetBucket $b $indent )
        #set($termParamName = "term-" + $b.aggName)
        #if( $b.count > 0 )
        <tr class="agg-row $formatter.paramSelected($termParamName, $b.termName, 'success')">
            <td>
                <div class="col-md-offset-$indent">
                    #if( $b.termTitle )
                    <a class="agg-filter-link" href="$page.href?$formatter.toggleParamVal( $termParamName, $b.termName )" class="dated term-select">$b.termTitle</a>
                    #end
                </div>
            </td>
        </tr>
        #end
        #end


        <!-- MODALS -->
        <div id="modal-upload-csv" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Upload CSV</h4>
                    </div>
                    <div class="modal-body">
                        <p>Instructions for uploading organisations</p>
                        <ol>
                            <li>Always <a href="orgs.csv">download the spreadsheet</a> and keep it as a backup before making changes</li>
                            <li>The upload can process about <b>1000 rows per minute</b>, so it can take a while for larger databases</li>
                            <li>This process <b>never deletes</b> anything</li>
                            <li>If this is your firt upload use that spreadsheet as a template</li>
                            <li>Update the spreadsheet. The first column is a unique identifier
                                <b>which allows you to update the spreadsheet</b>. If you dont provide a unique ID one will be assigned
                            </li>
                            <li>The second column is the type, which must be one of those defined in the <a href="orgTypes">Manage Organisation Types</a> page. Optional</li>
                            <li>The third column is the path, which is useful if your organisational structure is a hierarchy. Only use this column if you need to delegate permissions to organisations.</li>
                            <li>By default only rows which an existing organisation on unique ID will be processed, these will be updated in the database from the spreadsheet</li>
                            <li>
                                <b>We recommend you always do a first run with "allow inserts" OFF</b>. You will be shown how many matches were made or not, then you can decide if you want to allow inserts.
                            </li>
                            <li>If you click "allow inserts" then any organisations in the spreadsheet which do not match existing orgs in the database will be inserted</li>
                        </ol>
                        <div class="upload">
                            <form method="post" enctype="multipart/form-data" action="orgs.csv" id="orgs-upload-form" role="form" class="well">
                                <div class="form-group">
                                    <label for="file">Select your CSV file to upload</label>
                                    <input type="file" id="file" name="file" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="insertMode" value="true" /> Allow inserts
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-warning">Upload Organisations CSV</button>
                            </form>
                        </div>
                        <br />

                        <div class="upload-results">
                            <p>
                                <strong>No. updated:</strong> <span class="badge badge-success num-updated">-</span>
                                <strong>Unmatched:</strong> <span class="badge badge-danger num-unmatched">-</span>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-upload-orgid-csv" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Upload Organisation IDs CSV</h4>
                    </div>
                    <div class="modal-body">
                        <p>Instructions for updating Org IDs</p>
                        <ol>
                            <li>Always <a href="orgIds.csv">download the spreadsheet</a> and keep it as a backup before making changes</li>
                            <li>Update the 'New OrgId' column in the downloaded spreadsheet</li>
                            <li>Do not change the first column</li>
                            <li>The organisation title is not updated when uploading</li>
                            <li>Rows with a blank new OrgId are ignored</li>
                            <li>Nothing is ever deleted, so you can choose to only upload changed rows</li>
                            <li>OrgID's <b>must be unique</b> within your account. Any duplicates will be flagged as errors</li>
                            <li>If any invalid data is found you will be informed, then just correct your spreadsheet and try again</li>
                            <li>The server processes about 1000 rows per minute, so larger databases can take a while</li>
                        </ol>
                        <div class="upload">
                            <div class="" id='do-upload-orgid-csv'></div>
                        </div>
                        <br />

                        <div class="upload-results">
                            <p>
                                <strong>No. updated:</strong> <span class="badge badge-success num-updated">-</span>
                                <strong>Invalid rows:</strong> <span class="badge badge-danger num-errors">-</span>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-edit-org" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Edit Organisation</h4>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label for="orgId2" class="control-label col-md-3">ID</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control required simpleChars" name="orgId" id="orgId2" placeholder="A unique id. To enabled updating from spreadsheet" />
                                    <span class="help-block">
                                        <small>Simple characters only, no punctuation, dots, etc, all lower case</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgTitle" class="control-label col-md-3">Name</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control required" name="title" id="orgTitle" placeholder="User friendly name for the organisation" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentOrgId" class="control-label col-md-3">Parent organisation</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="parentOrgId" placeholder="Indentifier of the new organisation's parent" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="orgTypeName" class="control-label col-md-3">Type</label>

                                <div class="col-md-4">
                                    <select name="orgTypeName" class="form-control" id="orgTypeName">
                                        <option value="">[None]</option>
                                        #foreach($orgType in $page.orgTypes)
                                        $formatter.option($orgType.name, $orgType.displayName, "")
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgPhone" class="control-label col-md-3">Phone</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="phone" id="orgPhone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgAddress" class="control-label col-md-3">Address</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="address" id="orgAddress" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgAddress2" class="control-label col-md-3">Address Line2</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="addressLine2" id="orgAddress2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgState" class="control-label col-md-3">State</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="addressState" id="orgState" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgPostcode" class="control-label col-md-3">Postcode</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="postcode" id="orgPostcode" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-edit-parent" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Edit parent</h4>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="parentOrgId" class="control-label col-md-3">Parent organisation</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="destOrgId" placeholder="Indentifier of the new organisation's parent" />
                                    <input type="hidden" name="mergeIds" />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-merge-orgs" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Merge Organisations</h4>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="modal-body">
                            <p>The organisations will be merged into the one selected here. This will move user memberships to the merge destination organisation, and the other organisations will be deleted</p>
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label for="mergeDest" class="control-label col-md-3">Merge to</label>

                                <div class="col-md-9">
                                    <select name="mergeDest" class="form-control required">
                                        <option value="">[None]</option>
                                    </select>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>OrgID</th>
                                        <th>Title</th>
                                        <th># members</th>
                                    </tr>
                                </thead>
                                <tbody class="orgsMergeTableBody">
                                    <tr>
                                        <td colspan="2">Please wait..</td>
                                    </tr>
                                </tbody>
                            </table>

                            <i>Internal ID's to merge</i>
                            <textarea name="mergeIds" class="form-control required"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Merge</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-move-orgs" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Move Organisations</h4>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="modal-body">
                            <p>The organisations will be moved into the one selected here. This will move user memberships to the merge destination organisation, and the other organisations will be deleted</p>
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label for="destOrgId" class="control-label col-md-3">Move to</label>

                                <div class="col-md-9">
                                    <input type="text" name="destOrgId" class="form-control" placeholder="Destination orgid" />
                                </div>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>OrgID</th>
                                        <th>Title</th>
                                        <th># members</th>
                                    </tr>
                                </thead>
                                <tbody class="orgsMoveTableBody">
                                    <tr>
                                        <td colspan="2">Please wait..</td>
                                    </tr>
                                </tbody>
                            </table>

                            <i>Internal ID's to move</i>
                            <textarea name="mergeIds" class="form-control required"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Move</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-assign-orgtype" tabindex="-1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Assign Org Type</h4>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="modal-body">
                            <p>The organisations will be moved into the one selected here. This will move user memberships to the merge destination organisation, and the other organisations will be deleted</p>
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label for="destOrgId" class="control-label col-md-3">Assign to</label>

                                <div class="col-md-9">
                                    <select name="operation" id="operation" class="form-control">
                                        <option value="ADD">Add Org type</option>
                                        <option value="REMOVE">Remove Org type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="destOrgId" class="control-label col-md-3">Assign to</label>

                                <div class="col-md-9">
                                    <select name="destOrgType" id="searchOrgType" class="form-control">
                                        <option value="">[Select a type]</option>
                                        <option value="NONE">[No type]</option>
                                        #foreach($orgType in $rootFolder.orgTypes)
                                        <option value="$orgType.name">$orgType.displayName</option>
                                        #end
                                    </select>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>OrgID</th>
                                        <th>Title</th>
                                        <th>Current Org Type</th>
                                    </tr>
                                </thead>
                                <tbody class="assignOrgTypeTableBody">
                                    <tr>
                                        <td colspan="2">Please wait..</td>
                                    </tr>
                                </tbody>
                            </table>

                            <i>Internal ID's to assign</i>
                            <textarea name="mergeIds" class="form-control required"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary" type="submit">Assign</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- MODALS -->

        <script type="text/javascript">
            $(function () {
                initManageOrgs();
            });
        </script>
    </body>
</html>