<html>
    <head>
        <title></title>
    </head>
    <body>
        #macro(genGroups $group $wrapper $folder)
        <div id="$group.name" class="panel panel-default group" data-name="$group.name" data-title="$!group.groupTitle" data-notes="$!group.notes">
            #set( $folderName = "")
            #if($folder)
            #set( $folderName = "-" + $folder.name.replaceAll('[^A-Za-z0-9]','') )
            #end
            <div class="panel-heading" data-toggle="collapse" data-parent="#${wrapper}" data-target="#group${folderName}-${foreach.count}">
                #set($typeColour = "btn-info")

                #if( $group.groupType == "P" )
                #set($typeColour = "btn-success")
                <i class="clip-users"></i>
                #elseif( $group.groupType == "S" )
                <i class="fa fa-trophy"></i>
                #elseif( $group.groupType == "M" )
                <i class="fa fa-envelope"></i>
                #else
                <i class="clip-users"></i>
                #end

                <span class="group-name clickable">
                    #set($gName = false)
                    #set($gName = $group.groupTitle)
                    #if(!$gName)
                    #set($gName = $group.name)
                    #end
                    #if( $group.groupType == "P" )
                    <b class="text-success">$gName</b>
                    #else
                    $group.name
                    #end
                </span>
                <div class="btn-group btn-group-xs">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default btn-squared dropdown-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="" class="btn-rename-group">Edit this group</a></li>
                        <li><a href="$group.name/members" class="btn-view-group-member">View members</a></li>
                        <li><a href="" class="btn-copy-member">Copy members from group</a></li>
                        #if($folder)
                        <li><a href="$folder.name" class="btn-remove-from-folder">Remove From Folder</a></li>
                        #else
                        <li><a href="" class="btn-add-to-folder">Add To Folder</a></li>
                        #end
                        <li class="divider"></li>
                        <li><a href="" class="btn-delete-group">Delete this group</a></li>
                    </ul>
                </div>
                <div class="panel-tools">
                    <div class="btn-group btn-group-sm">
                        <a href="$group.name" class="btn $typeColour">
                            <i class="fa fa-cog"></i>
                            #if( $group.groupType == "P" )
                            $group.regoModeText
                            #end
                            $group.groupTypeText
                        </a>
                        <a href="$group.name/members"class="btn btn-info">
                            <i class="clip-users"></i>
                            $group.numMembers Members
                        </a>
                    </div>
                </div>
            </div>
            #if($folder)
            <div id="group-$folder.name.replaceAll('[^A-Za-z0-9]','')-${foreach.count}" class="collapse">
                #else
                <div id="group-${foreach.count}" class="collapse">
                    #end
                    <div class="panel-body">
                        #portlets("groupDetails")

                        <h4>Roles</h4>
                        <hr class="hr-sm" />
                        <p class="role-action">
                            <a href="#modal-edit-roles" data-toggle="modal" data-group="$group.name" class="btn btn-sm btn-success btn-add-role-group pull-right"><i class="fa fa-plus"></i> Add roles</a>
                        </p>
                        <div class="blocks-wrapper roles-wrapper">
                            #foreach($role in $group.children.ofType.role)
                            <span class="block role">
                                <span class="block-name">$role.title</span>
                                <a class="btn btn-xs btn-danger btn-remove-role" href="$role.href" title="Remove this role"><i class="fa fa-times"></i></a>
                            </span>
                            #end
                        </div>

                        <h4>Website access</h4>
                        <hr class="hr-sm" />
                        <div class="article-wrapper showed-action websites-list">
                            #set($signups = $group.signupPages)
                            #if( $signups.isEmpty() )
                            <p>This user group does not have access to any websites</p>
                            #else
                            #foreach($p in $signups.keySet())
                            <article>
                                <span class="article-name">
                                    <a target="_blank" href="http://${p}${formatter.portString}"><b>$p</b></a>
                                </span>
                                #if( $group.publicSignup )
                                <aside class="article-action">
                                    <a target="_blank" href="$signups.get($p)" class="btn btn-sm btn-primary">Signup page</a>
                                </aside>
                                #else
                                <aside class="article-more-infor">
                                    No signup page
                                </aside>
                                #end
                            </article>
                            #end
                            #end
                        </div>

                        <div id="policy-list-$group.name" data-role="group-programs">
                            <h4>Password Policies</h4>
                            <hr class="hr-sm" />
                            <div class="article-wrapper showed-action policy-list">
                                #set($policies = false)
                                #set($policies = $page.getPasswordPolicies($group.group))
                                #if($policies.empty)
                                <p>This group does not have any password policies</p>
                                #else
                                #foreach($pp in $policies)
                                <article data-ppid="$pp.id" data-groupname="$group.name">
                                    <span class="article-name">
                                        $page.getPasswordPolicyDescription($pp)
                                    </span>
                                    <aside class="article-action">
                                        <a href="#" class="btn btn-sm btn-info btn-edit-policy"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="btn btn-sm btn-danger btn-del-policy"><i class="fa fa-trash"></i></a>
                                    </aside>
                                </article>
                                #end
                                #end
                            </div>
                            <p class="clearfix article-wrapper-action">
                                <a class="btn btn-sm btn-success pull-right" data-toggle="modal" href="#modal-add-policy-$group.name"><i class="fa fa-plus"></i> Add new policy</a>
                            </p>

                            <div id="modal-add-policy-$group.name" class="modal modal-md fade add-policy-modal" aria-hidden="true" tabindex="-1" data-group-name="$group.name">
                                <form action="." method="POST" class="form-horizontal">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                                        <h4 class="modal-title">Add new password policy for $group.name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type='hidden' name="addPasswordPolicy" value="$group.name"/>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="minLength">Minimum Length</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="minLength" name="minLength" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="minUpperCase">Minimum Uppercase Characters</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="minUpperCase" name="minUpperCase" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="minLowerCase">Minimum Lowercase Characters</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="minLowerCase" name="minLowerCase" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="minAlpha">Minimum Alpha Characters</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="minAlpha" name="minAlpha" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="minNumeric">Minimum Numeric Characters</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="minNumeric" name="minNumeric" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="maxRepeat">Maximum repeats</label>
                                            <div class="col-md-8">
                                                <input class="form-control numeric" type="number" id="maxRepeat" name="maxRepeat" placeholder="0" min="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="badWords">Bad Words<small>a CSV list of words that aren't allowed.</small></label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="badWords" name="badWords" placeholder="e.g. password,admin" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="customRegex">Custom Regex</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="customRegex" name="customRegex" placeholder="e.g. [a-zA-Z]{10}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                                        <button class="btn btn-sm btn-success" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end
    </body>
</html>
