<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Groups</title>
        <link href="manageGroup.css" rel="stylesheet" type="text/css" />
        <script src="/static/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js">//</script>
        <script type="text/javascript" src="manageGroup.js">//</script>
    </head>
    <body class="manageModulePages">
        #parse("/templates/apps/admin/manageGroupsMacros.html")
        <div class="temp-div hide"></div>
        <p class="">
            <a class="btn btn-sm btn-success btn-add-group" href="#"><i class="fa fa-plus"></i> Add new group</a>
            <a class="btn btn-sm btn-info btn-add-groupFolder" href="#"><i class="fa fa-plus"></i> Add new folder</a>
        </p>
        <div id="groups-folders">
            <div id="folder-wrapper" class="panel-folder">
                #foreach($folder in $page.groupFolders)
                <div data-name="$folder.name" class="panel panel-default folder">
                    #set ($folderId = "folder-${foreach.count}")
                    #set ($groupWrapperId = "${folderId}-wrapper")
                    <div class="panel-heading" data-toggle="collapse" data-parent="#folder-wrapper" data-target="#${folderId}">
                        <i class="clip-folder"></i>
                        <span class="folder-name clickable">$folder.name</span>
                        <div class="btn-group btn-group-xs">
                            <button data-toggle="dropdown" class="btn btn-sm btn-default btn-squared dropdown-toggle" type="button">
                                <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="" class="btn-rename-folder">Rename this folder</a></li>
                                <li class="divider"></li>
                                <li><a href="$folder.name" class="btn-delete-folder">Delete this folder</a></li>
                            </ul>
                        </div>
                        <div class="panel-tools">
                            <div class="btn-group">
                                <a class="btn btn-info btn-sm"><span class="group-count">$page.getChildrenInFolder($folder).size()</span> Groups </a>
                            </div>
                        </div>
                    </div>
                    <div id="${folderId}" class="collapse">
                        <div class="panel-body">
                            <div id="$groupWrapperId" class="panel-group" style="margin: 0; min-height: 50px">
                                #foreach($group in $page.getChildrenInFolder($folder))
                                    #genGroups($group $groupWrapperId $folder)
                                #end
                            </div>
                        </div>
                    </div>
                </div>
                #end
            </div>
            <div id="group-wrapper" class="panel-group">
                #foreach($group in $page.children)
                    #if(!$group.groupFolder)
                        #genGroups($group "group-wrapper" false)
                    #end
                #end
            </div>
        </div>

        <div id="modal-group" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Edit Group</h4>
                    </div>
                    <form class="form-horizontal" action="" method="post">
                        <input type="hidden" name="groupType" value="Add"/>
                        <input type="hidden" name="group" value=""/>
                        <div class="modal-body">
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="label-control col-md-4" for="title">Group Title</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" name="title" id="title" value="" placeholder="Group Title" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-control col-md-4" for="name">Code</label>
                                    <div class="col-md-8">
                                        <input class="form-control simpleChars required" type="text" name="name" id="name" value="" placeholder="Group Name" />
                                        <small>Please use simple characters only, like letters and numbers, and do not use spaces and punctuation etc.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-control col-md-4" for="notes">Notes</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" type="text" name="notes" id="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary btn-save-group" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-groupFolder" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Edit Folder</h4>
                    </div>
                    <form class="form-horizontal" action="" method="post">
                        <input id="folderModalAction" class="form-control" type="hidden" name="updateFolder" id="name" value="updateFolder"/>
                        <div class="modal-body">
                            <p>Please use simple characters only, like letters and numbers, and spaces.</p>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="label-control col-md-4" for="folderName">Folder name</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" name="folderName" id="name" value="" placeholder="Folder name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary btn-save-group" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-addGroupToFolder" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Add To Folder</h4>
                    </div>
                    <form class="form-horizontal" action="" method="post">
                        <input id="folderModalAction" class="form-control" type="hidden" name="addToFolder" id="name" value="addToFolder"/>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="label-control col-md-4" for="folderName">Folder</label>
                                    <div id="groupFoldersSelect" class="col-md-8">
                                        <select class="form-control" type="text" name="folderName" id="name" value="" placeholder="Folder name" >
                                            #foreach($folder in $page.groupFolders)
                                    $formatter.option($folder.name, $folder.name, null)
                                    #end
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-sm btn-primary btn-save-group" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-rego-mode" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Upload Organisation IDs CSV</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-sm btn-primary" type="submit" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-copy-members" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Copy Members To: <span class="group-name"></span></h4>
                    </div>
                    <form class="form-horizontal" action="" method="post">
                        <div class="modal-body">
                            <p>Use this form to copy the members from the group below into <b class="group-name"></b></p>
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="selectSourceGroup">Group</label>
                                <div class="col-md-8">
                                    <select name="sourceGroup" id="selectSourceGroup" class="form-control">
                                        <option value="">[None]</option>
                                        #foreach($group in $page.organisation.groups)
                                            <option value="$group.name">$group.name</option>
                                        #end
                                    </select>
                                    <p>Select the group to copy members from.</p>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-sm btn-primary" type="submit" type="button">Copy Members</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" >
            $(function () {
                initManageGroup();
            });
        </script>
    </body>
</html>