.search-user, .search-user-group {
	float: left;
}

.search-user {
	margin-right: 10px;
}

.search-user-group {
	width: 200px;
}

.upload {
	position: relative;
}

#do-upload-csv, #do-upload-training-results-csv {
	width: 190px;
	cursor: pointer;
}

.allow-inserts {
	position: absolute;
	left: 200px;
	top: 5px;
}

.upload-results {
	display: none;
}

.fileupload-new .input-group .btn-file {
	border-radius: 0 !important;
}

.groups-list {
	list-style: none;
	padding: 0;
	margin: 0 !important;
}

.groups-list li {
	padding: 0 15px 0 0;
	margin-bottom: 5px;
}

.groups-list li a {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-y: hidden;
	border-radius: 5px;
	background: #f0f0f0;
	padding: 5px;
	float: left;
	width: 100%;
	line-height: 23px;
	text-decoration: none;
}
.groups-list li a.active {
	background: #2196f3;
	color: #fff;
}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}

