<html>
    <head>
        <title>Unsubscribe</title>
    </head>
    <body>
        <a href="unsubscribers.csv" download="unsubscribers.csv" class="btn btn-info">Download CSV</a>

        <br/><br/>

        <div class="table-responsive" style="overflow-x: auto">
            <table class="table table-bordered">
                <tr>
                    <td class="text-center"><h2>Total</h2></td>
                    #foreach($gs in $page.groupSummary)
                    <td class="text-center"><h2><a href="/groups/$gs.group.name">#if ($gs.group.title) $gs.group.title #else $gs.group.name #end</a></h2></td>
                    #end
                </tr>
                <tr>
                    <td class="text-center"><h2>$page.children.ofType.unsub.size()</h2></td>
                    #foreach($gs in $page.groupSummary)
                    <td class="text-center"><h2>$gs.count</h2></td>
                    #end
                </tr>
            </table>
        </div>

        <span class="text-muted">Note: Profiles may be in more then one group, so the sum of group counts may not equal the total</span>

        <p>&nbsp;</p>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Unsubscribed Date</th>
                    <th>Last communication</th>
                </tr>
            </thead>
            <tbody>
                #foreach($unsub in $page.children.ofType.unsub)
                <tr>
                    <td>
                        #if( $unsub.profile )
                        <a href="/manageUsers/$unsub.profile.id">
                            <span class="fa fa-user"></span>
                        </a>
                        #end
                    </td>
                    <td>$!unsub.profile.firstName</td>
                    <td>$!unsub.profile.surName</td>
                    <td>$!unsub.profile.email</td>
                    <td>$formatter.formatDateTime($unsub.unsubcribeDate, $page.organisation.timezone)</td>
                    <td>
                        #if($unsub.lastCommunication)
                        $unsub.lastCommunication.type:
                        #if($unsub.lastCommunication.itemHref)
                        <a href="$unsub.lastCommunication.itemHref">
                            #end
                            $!unsub.lastCommunication.itemTitle
                            #if($unsub.lastCommunication.itemHref)
                        </a>
                        #end

                        #if($unsub.lastCommunication.jobTitle)
                        Job:
                        #if($unsub.lastCommunication.jobHref)
                        <a href="$unsub.lastCommunication.jobHref">
                            #end
                            $!unsub.lastCommunication.jobTitle
                            #if($unsub.lastCommunication.jobHref)
                        </a>
                        #end
                        #end
                        #end
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </body>
</html>
