<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
    </head>
    <body class="manageApplications appsContainer">

        <article class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-wrapper">
                    <i class="fa fa-spin fa-gear"></i>
                </i>
                <h3 class="panel-title">
                    Currently running tasks
                </h3>
            </div>

            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                <tbody>
                    #foreach($item in $page.children)
                    <tr>
                        <td>$item.link</td>
                        <td>$item.status</td>
                    </tr>
                    #end
                </tbody>
                    
                </table>
            </div>
        </article>

        <script type="text/javascript">
            $(function () {
                $("form.maintForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        $("span.now").text(resp.data);
                        Msg.success("Done");
                    }
                });

                $("form.runTasksForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.info("Scheduled tasks are now running");
                        window.location.reload();
                    }
                });

                $("form.clearLocksForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.success("Locks have been deleted");
                        window.location.reload();
                    }
                });

                $("form.restoreRepoForm").forms({
                    onSuccess: function (resp) {
                        flog("resp", resp);
                        Msg.success("Repository restored");
                        window.location.reload();
                    }
                });
            });
        </script>
    </body>
</html>
