<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="stylesheet" type="text/css" href="manageUser.css" />
        <script type="text/javascript" src="/static/uri/1.15.1/URI.js">//</script>
        <script type="text/javascript" src="manageUser.js">//</script>
        <style>
            #table-users {
                table-layout: fixed;
                width: 100%;
            }

            #table-users td.text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #table-users td {
                vertical-align: top;
            }

            #table-users .group-names .label {
                display: inline-block;
                margin-bottom: 3px;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .btn-group-user-states .btn-link {
                text-decoration: none !important;
                color: #aaa;
            }

            .btn-group-user-states .btn-link.active {
                color: #000;
            }
        </style>
    </head>
    <body class="manage-users">
        <div class="row fuelux">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="input-group search-user input-group-sm">
                            <input type="text" id="user-query" class="form-control" placeholder="Search for user here" value="" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" data-type="clearer" data-target="#user-query">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </p>
                        #set ($showEnabledUsers = true)
                        #if ($params.enabled)
                            #set ($showEnabledUsers = $params.enabled)
                        #end
                        <div class="btn-group btn-group-sm btn-group-user-states" style="margin-bottom: 5px;" data-toggle="buttons">
                            <label class="btn btn-link #if ($showEnabledUsers == true) active #end">
                                <input type="radio" #if ($showEnabledUsers == true) checked="checked" #end name="enabled" value="true" class="btn-enable-user" autocomplete="off" />
                                <i class="fa fa-check"></i> Enabled Users
                            </label>
                            <label class="btn btn-link #if ($showEnabledUsers == false) active #end">
                                <input type="radio" #if ($showEnabledUsers == false) checked="checked" #end name="enabled" value="false" class="btn-disable-user" autocomplete="off" />
                                <i class="fa fa-times"></i> Disabled Users
                            </label>
                        </div>
                        <div class="btn-group btn-group-sm" style="margin-bottom: 5px;">
                            <a href="#" class="btn btn-success btn-add-user"><i class="fa fa-user-plus"></i> Add new user</a>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                Tools
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="presentation" role="menuitem"><a href="upload" class="btn-upload-users-csv">Import &amp; remove users</a></li>
                                <li class="presentation" role="menuitem"><a role="button" href="users.csv" download="users.csv">Export users</a></li>
                                <li class="presentation" role="menuitem"><a href="#" class="btn-match-orgs">Match orgs</a></li>
                                #portlets("manageUsersTools")
                                <li class="divider"></li>
                                <li class="presentation" role="menuitem"><a role="button" href="unsubscribers.csv" download="unsubscribers.csv">Open Unsubscribers CSV</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row space12">
                            <ul class="mini-stats col-sm-12" id="searchStats">
                                <li class="col-xs-4">
                                    <div class="sparkline_bar_good">
                                        <span class="fa fa-user" style="font-size: 34px"></span>
                                    </div>
                                    <div class="values">
                                        <strong>$page.paginator.records[0].totalProfiles</strong>
                                        Profiles
                                    </div>
                                </li>
                                <li class="col-xs-4">
                                    <div class="sparkline_bar_good">
                                        <span class="fa fa-users" style="font-size: 34px"></span>
                                    </div>
                                    <div class="values">
                                        <strong>$page.paginator.records[0].groupsCount</strong>
                                        Groups
                                    </div>
                                </li>
                                <li class="col-x2-4">
                                    <div class="sparkline_bar_good">
                                        <span class="fa fa-sitemap" style="font-size: 34px"></span>
                                    </div>
                                    <div class="values">
                                        <strong>$page.paginator.records[0].orgsCount</strong>
                                        Organisations
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <table id="table-users" class="table table-striped table-hover pagination-container">
                                <colgroup>
                                    <col width="" />
                                    <col width="220px" />
                                    <col width="120px" />
                                    <col width="" />
                                    <col data-sort="false" width="150px" />
                                    <col data-sort="false" width="30px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><a class="sort-field" id="firstName" href="#">Name</a></th>
                                        <th><a class="sort-field" id="email" href="#">Email</a></th>
                                        <th><a class="sort-field" id="phone" href="#">Contact</a></th>
                                        <th><a class="sort-field" id="memberships.group" href="#">Primary groups</a></th>
                                        <th colspan="2" style="text-align: right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default btn-add-to-group">Add to Group</button>
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#" class="btn-add-to-group">Add to Group</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" class="btn-remove-users">Remove</a></li>
                                                </ul>
                                            </div>
                                            <input type="checkbox" name="toRemoveId" class="chk-all" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-users-body" class="pagination-results">
                                    #if( $page.paginator.isEmpty() )
                                        <tr>
                                            <td colspan="6">No profiles found</td>
                                        </tr>
                                    #else
                                        #foreach($p in $page.paginator.records)
                                            <tr>
                                                <td class="text">
                                                    <span title="$formatter.htmlEncode($p.firstName) $formatter.htmlEncode($p.surName)">
                                                        $formatter.htmlEncode($p.firstName)
                                                		$formatter.htmlEncode($p.surName)
                                                    </span>
                                                </td>
                                                <td class="text">
                                                    #if( $p.email )
                                                        <a href="mailto:$p.email">$p.email</a>
                                                    #end
                                                </td>
                                                <td class="text">$!p.phone</td>
                                                <td class="group-names">
                                                    #set( $groups = $page.primaryGroups( $p.membershipsGroup ) )
                                                    #foreach( $group in $groups )
                                                        <div class="label label-info" style="margin-right: 5px;">
                                                            <a title="$group.name" href="/groups/$group.name/" style="color: white">
                                                                #if( $group.title)
                                                    $group.title
                                                    #else
                                                                    $group.name
                                                                #end
                                                            </a>
                                                        </div>
                                                    #end
                                                </td>
                                                <td class="action">
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="$p.userId" class="btn btn-sm btn-primary btn-sm">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href="$p.userId"><i class="fa fa-edit"></i> User details</a></li>
                                                            <li><a href="$p.userId" class="btn-login-as"><i class="clip-user"></i> Login as this user</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td><input type="checkbox" name="toRemoveId" value="$p.userId" /></td>
                                            </tr>
                                        #end
                                    #end
                                </tbody>
                                <tfoot id="pointsFooter">
		                            <tr>
		                                <td colspan="6">
		                                    $!page.paginator.html
		                                </td>
		                            </tr>
		                        </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- End results table -->
                </div>
            </div>
            <div class="col-lg-3" id="aggregationsContainer">
                #if( $page.aggregations )
                    <table class="table">
                        #foreach($agg in $page.aggregations )
                    #showAggregation($agg)
                    #end
                    </table>
                #end
            </div>
            <!-- end aggregations -->
        </div>

        <div id="modal-new-user" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">New user</h4>
                    </div>
                    #set($groups = $page.groups)
                    <form method="post" action="new" class="form-horizontal">
                        <div class="modal-body">
                            #set($groups = $page.groups)
                            #if($groups.isEmpty())
                                <p class="alert alert-error">You must create at least one group
                                    in this or a parent organisation before you can add users</p>
                            #else
                                <div class="form-message alert alert-danger" style="display: none;"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="newUserNickName">Display name</label>

                                    <div class="col-md-9">
                                        <input type="text" name="nickName" id="newUserNickName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="newUserFirstName">First name</label>

                                    <div class="col-md-9">
                                        <input type="text" name="firstName" id="newUserFirstName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="newUserSurName">Surname</label>

                                    <div class="col-md-9">
                                        <input type="text" name="surName" id="newUserSurName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="newUserEmail">Email</label>

                                    <div class="col-md-9">
                                        <input type="text" name="email" id="newUserEmail" class="form-control" />
                                        <em class="help-block small text-muted">Eg. Joe Blogs &lt;joebloggs@somewhere.com&gt;. Will use
                                            <b>Joe Blogs</b> as First name and Surname if
                                            <b>First name</b> and <b>Surname</b> are blank</em>
                                    </div>
                                </div>
                                <hr />
                                <h4>Group membership</h4>

                                <p><i>Please select a group and an organisation to make this user a member of</i></p>

                                <div class="groups">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="newUserGroupSelect">Group</label>

                                        <div class="col-md-10">
                                            <select name="group" id="newUserGroupSelect" data-placeholder="Select a group" class="form-control" style="width: 100%">
                                                <option></option>
                                                #foreach($group in $groups)
                                                    $formatter.option($group.name, $group.name, false)
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="newUserEmail">Organisation</label>

                                        <div class="col-md-10">
                                            <input type="text" class="form-control required" autocomplete="off" name="orgTitle" id="orgTitle" value="$page.organisation.formattedName" />
                                            <input type="hidden" class="required" autocomplete="off" name="orgId" id="orgId" value="$page.organisation.id" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="org-search">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-condensed">
                                                    #if( $page.orgSearchResults.isEmpty() )
                                                        <tbody>
                                                            <tr>
                                                                <td>No matching organisations found</td>
                                                            </tr>
                                                        </tbody>
                                                    #else
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Title</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            #foreach($org in $page.orgSearchResults)
                                                                <tr>
                                                                    <td><a href="$org.id">$org.orgId</a></td>
                                                                    <td><a href="$org.id">$!org.title</a></td>
                                                                </tr>
                                                            #end
                                                        </tbody>
                                                    #end
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            #end
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                            #if(!$groups.isEmpty())
                                <div class="btn-group btn-group-sm dropup">
                                    <button class="btn btn-primary btn-add-and-view" type="submit">Create and view</button>
                                    <button type="submit" class="small btn btn-info btn-add-and-add">Create and add another</button>
                                    <button type="submit" class="small btn btn-info btn-add-and-close">Create and close</button>
                                </div>
                            #end
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-upload-userFile" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Upload Users CSV</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" role="form" class="smart-wizard form-horizontal" id="form">
                            <div id="wizard" class="swMain">
                                <ul>
                                    <li>
                                        <a href="#step-1">
                                            <div class="stepNumber">
                                                1
                                            </div>
                                            <span class="stepDesc"> Step 1
                                                <br />
                                                <small>Upload File</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <div class="stepNumber">
                                                2
                                            </div>
                                            <span class="stepDesc"> Step 2
                                                <br />
                                                <small>Assign Columns</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <div class="stepNumber">
                                                3
                                            </div>
                                            <span class="stepDesc"> Step 3
                                                <br />
                                                <small>Add Users</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="step-1">
                                    <h2 class="StepTitle">Upload File</h2>

                                    <div class="upload">
                                        <div class="btn-upload" id='do-upload-file'></div>
                                        <br />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-10">
                                            <button class="btn btn-blue next-step btn-block">
                                                Next <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <h2 class="StepTitle">Step 2 Content</h2>

                                    <div class="column-selector">

                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> Back
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-blue next-step btn-block">
                                                Next <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <h2 class="StepTitle">Step 3 Title</h2>

                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> Back
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-blue next-step btn-block">
                                                Next <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-upload-csv" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Upload Users CSV</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please use the following column order <b>exactly</b>. First row is ignored.</p>
                        <ul>
                            <li>MemberOfOrg - optional. If present should be the OrgID of a child organisation</li>
                            <li>Group - the name of the group to add the user to. Required</li>
                            <li>UserName - optional, users will receive an auto-generated user name if not provided</li>
                            <li>NickName - optional, defaults to first name</li>
                            <li>Email - required</li>
                            <li>FirstName - optional</li>
                            <li>SurName - optional</li>
                            <li>Phone - optional</li>
                            <li>New password - optional. If provided the password will be applied to the profile</li>
                        </ul>
                        <p>To unsubscribe users, provide the special keyword <b>!UNSUB!</b> as the group name</b></p>

                        <div class="upload">
                            <div class="btn-upload" id='do-upload-csv'></div>
                            <br />
                        </div>
                        <br />

                        <div class="upload-results">
                            <p>
                                <strong>No. inserted:</strong>
                                <span class="badge badge-success num-inserted">-</span>
                                <strong>No. updated:</strong>
                                <span class="badge badge-success num-updated">-</span>
                                <strong>Unmatched rows:</strong>
                                <span class="badge badge-danger num-unmatched">-</span>
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-match-orgs-csv" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Match organisations CSV</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Use this form to location organisation ID's for the organisation
                            titles in your users spreadsheet. Upload your users spreadsheet and
                            the system will attempt to locate existing organisations, and return
                            an updated spreadsheet. <b>This will not make any change your
                            server data.</b>
                        </p>

                        <form method="POST" action="matchOrgs.csv"
                                enctype="multipart/form-data">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div class="input-group input-group-sm">
                                    <div class="form-control uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                                    </div>
                                    <div class="input-group-btn">
                                        <div class="btn btn-sm btn-light-grey btn-file">
                                            <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Select file</span>
                                            <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Change</span>
                                            <input type="file" class="file-input" name="usersCsv" />
                                        </div>
                                        <a data-dismiss="fileupload" class="btn btn-sm btn-light-grey fileupload-exists" href="#">
                                            <i class="fa fa-times"></i> Remove
                                        </a>
                                        <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-login-as" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Login as User</h4>
                    </div>
                    <div class="modal-body">
                        <p>Below is the list of websites this user has access to:</p>
                        <ul>
                            <li>Please wait...</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-add-to-group" class="modal fade" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                        <h4 class="modal-title">Add Users to Group</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please choose which groups to add users to and then click Save</p>

                        <div class="groups-wrapper">
                            <ul class="groups-list row" style="margin-left: 20px;">
                                #foreach($group in $page.groups)
                                    <li class="col-md-6 group"><a href="$group.name">$group.name</a></li>
                                #end
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary btnSaveGroup" type="button">Save</button>
                        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        #macro( showAggregation $agg )
            #if( $agg.buckets.size() > 0 || $params.get("filter-$agg.name") )
                <tbody id="agg-$agg.name">
                    <tr>
                        <td colspan="2">
                            $agg.title&nbsp;
                            #if (! $agg.noFilter && ($agg.buckets.size() > 4 || $!params.get("filter-$agg.name")))
                                <span style="float: right; width: 50%">
                                    #if ( $agg.name != "action" )
                                        <span class="input-group input-group-sm">
                                            <input id="$agg.name" class="agg-filter form-control" type="text" name="$agg.name" placeholder="Search / Filter" value="$agg.filter" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default aggClearer" type="button" data-target="#$agg.name"><i class="fa fa-times"></i></button>
                                            </span>
                                        </span>
                                    #end
                                </span>
                            #end
                        </td>
                    </tr>
                    #foreach($b in $agg.buckets )
                        #showFacetBucket($b, 0)
                    #end
                </tbody>
            #end
        #end

        #macro( showFacetBucket $b $indent )
            #set($termParamName = "term-" + $b.aggName)
            #if( $b.count > 0 )
                <tr class="agg-row $formatter.paramSelected($termParamName, $b.termName, 'success')">
                    <td>
                        <div class="col-md-offset-$indent">
                            #if( $b.termTitle )
                                <a href="$page.href?$formatter.toggleParamVal( $termParamName, $b.termName )" class="dated term-select">$b.termTitle</a>
                            #end
                        </div>
                    </td>
                    <td align="right">$b.count</td>
                </tr>
            #end

            #foreach($sub in $b.buckets)
                #showFacetBucket($sub, $formatter.addNum($indent, 1) )
            #end
        #end

        <script id="column-sel-template" type="text/html">
            {{#each fields as |value|}}
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    {{.}} <span class="symbol required"></span>
                </label>

                <div class="col-sm-7">
                    <select class="form-control" name="column_{{.}}">
                        <option value="">[ None ]</option>
                        {{#each ../columns as |childValue|}}
                        <option {{#startsWith @value @childValue }} selected="true" {{
                        /startsWith}} value="column_{{@index}}">{{childValue}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{/each}}
        </script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            var availableProfileFields = $formatter.toJson($page.availableFields);
            $(function () {
                initManageUsers();

                $('#aggregationsContainer').on('click', '.term-select', function (e) {
                    e.preventDefault();

                    $(e.target).closest('tr').toggleClass('success');
                    var newHref = $(e.target).closest('a').attr('href');
                    window.history.pushState('', newHref, newHref);

                    $('#table-users-body').reloadFragment({
                        url: newHref,
                        whenComplete: function (response) {
                            flog('complete', response);
                            Msg.info('Refreshed', 1500)
                            var newDom = $(response);
                            $('#searchStats').replaceWith(newDom.find('#searchStats'));
                            var inner = $(response).find('#aggregationsContainer > *');
                            $('#aggregationsContainer').html(inner);
                        }
                    });
                });

                $('a[download="users.csv"]').on('click', function (e) {
                    var search = window.location.search;
                    $(this).attr('href', 'users.csv' + search);
                });
            });
        </script>
        #portlets("manageUsersBottom")
    </body>
</html>