<html>
    <head>
        <title>Manage Organisations Upload</title>
        <link href="/static/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet"/>
        <style>
            select option[disabled]{
                color: #eee;
            }
        </style>
    </head>
    <body>
        <div class="row fuelux"  id="importerWizard" style="margin-bottom:30px">
            <div class="col-lg-12">
                <div class="wizard" id="myWizard">
                    <div class="steps-container">
                        <ul class="steps">
                            <li data-step="1" data-name="upload" class="active">
                                <span class="badge">1</span>Upload
                                <span class="chevron"></span>
                            </li>
                            <li data-step="2">
                                <span class="badge">2</span>Map columns
                                <span class="chevron"></span>
                            </li>
                            <li data-step="3" data-name="import">
                                <span class="badge">3</span>Review
                                <span class="chevron"></span>
                            </li>
                            <li data-step="4" data-name="processing">
                                <span class="badge">4</span>Processing
                                <span class="chevron"></span>
                            </li>
                            <li data-step="5" data-name="complete">
                                <span class="badge">5</span>Complete
                                <span class="chevron"></span>
                            </li>

                        </ul>
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-default btn-prev">
                            <span class="glyphicon glyphicon-arrow-left"></span>Prev
                        </button>
                        <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                    <form method="post" action="">
                        <div class="step-content">
                            <div class="step-pane active sample-pane alert" data-step="1">
                                <h4>Upload Organisations Data</h4>
                                <div id='btn-upload' class="pull-left"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="step-pane alert" data-step="2">
                                <input type="hidden" name="fileHash" value=""/>
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-inline text-right">
                                            <div class="form-group" style="margin-right: 20px">
                                                <label for="startRow" >Start row: </label>
                                                <input style="width: 100px" type="number" min="1" name="startRow" id="startRow" class="form-control" value="1"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <p class="lead">Please select which destination field each column should be imported into:</p>

                                <div class="table-responsive" style="max-height: 300px; overflow-y: auto">
                                    <table class="table table-bordered table-striped" id="importerTable" >
                                        <thead>
                                        <tr id="importerHead">
                                            <th>Please wait...</th>
                                        </tr>
                                        </thead>
                                        <tbody id="importerBody">
                                        <tr>
                                            <td>Loading...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="step-pane sample-pane alert" data-step="3">
                                <h4>Start importing</h4>
                                <p>Press the button here to begin importing. This process imports at a rate of about 1000 rows per minute,
                                    so may take some time depending on the size of the file</p>

                                <hr/>
                                
                                 <div id="processing">
                                    <h4>Processing the file validations. Please wait...</h4>
                                </div>

                                <div id="result">
                                    <button type="submit" class="btn btn-success btn-large">
                                        <span class="fa fa-arrow-circle-right"></span>
                                        Import now
                                    </button>
    
    								<span id="noValidRow">There are no valid row in the file, please review it</span>
                                    <span id="toManyErrors">There are to many errors in the file, please review it</span>
    
                                    <hr/>
    
                                    <table class="table">
                                        <tr>
                                            <th>New organisations to be inserted</th>
                                            <td class="beforeImportNumNew"></td>
                                        </tr>
                                        <tr>
                                            <th>Existing organisations to be updated</th>
                                            <td class="beforeImportNumExisting"></td>
                                        </tr>
                                        <tr>
                                            <th>Invalid records</th>
                                            <td class="beforeImportNumInvalid"></td>
                                        </tr>
                                    </table>
    
                                    <i>Any invalid records are displayed below. If you proceed these will not be imported, but you can download a list at the end to correct and reupload</i>
                                    <div class="table-responsive" style="max-height: 300px">
                                        <table class="table table-bordered table-striped">
                                            <tbody class="beforeImportInvalidRows">
    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>        
                            </div>

                            <div class="step-pane sample-pane alert" data-step="4">
                                <h4>Import running</h4>
                                <div class="progress" id="importProgressbar">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <div class="process-results">
                                    <p>
                                        <strong>Process Status:</strong>
                                        <strong id='job-status'></strong>
                                    </p>

                                    <button class="btn btn-danger" name="cancel" type="button" id="btn-cancel-import">Cancel Import</button>
                                </div>

                            </div>
                            <div class="step-pane sample-pane alert" data-step="5">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Number created</th>
                                        <td class="createdCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Number updated:</th>
                                        <td class="updatedCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Number with errors</th>
                                        <td class="errorCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Errors file</th>
                                        <td class="">
                                            <a href="" class="errorRows btn btn-warning">
                                                <span class="fa fa-download"></span>
                                            </a>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/fuelux/3.13.0/js/fuelux.min.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/manageOrgsImport.js">//</script>
        <script type="text/javascript">
            $(function(){
                initManageOrgsImport();
            });
        </script>
    </body>
</html>
