<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage modules</title>
        <link href="manageFiles.css" rel="stylesheet" type="text/css" />
        <link href="/static/history/jquery.history.css" rel="stylesheet" type="text/css" />
        <link href="/static/js/milton-image-select.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/history/jquery.history.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-image-select.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-tree.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
        <script type="text/javascript" src="/templates/apps/admin/manageFiles.js">//</script>
        <script type="text/javascript" src="/static/js/types.js">// </script>
        <script type="text/javascript" src="/static/js/jquery.fileupload.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js">//</script>       
    </head>
    <body class="manage-files">
        #set($currentBranch = $page.closest("branch"))
        <div class="btn-group publishing pull-right">
            #if( $currentBranch.live )
            <a href="../manageBranches" class="islive btn btn-danger">
                <i class="fa fa-gear"></i>
                LIVE
            </a>
            #else
            <a href="${currentBranch.href}publish" class="publish btn btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                PUBLISH
            </a>
            <a href="../manageBranches" class="btn btn-primary">
                <i class="fa fa-gear"></i>
                Manage versions
            </a>
            #end

            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <b>Editing version:</b>
                $currentBranch.name
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu list branches">
                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                <li role="presentation" class="list-item">
                    <aside class="list-item-controller">
                        <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                        #if( $b.live )

                        #else
                        <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                        #end
                    </aside>
                    <a href="${b.href}" class="branch noclear">
                        $b.name
                    </a>
                </li>
                #end
            </ul>
        </div>

        <div class="btn-group">
            <a target='_blank' href='${page.externalUrl}' class='btn btn-success'>
                <i class="fa fa-arrow-circle-right"></i>
                View website
            </a>
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Change website:</b> $page.closest("website").name
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu list">
                    #foreach($w in $page.closest("website").parent.children)
                    <li class="list-item"><a href="${w.href}">$w.name</a></li>
                    #end
                </ul>
            </div>
        </div>

        <hr class="clearfix"/>

        <button class="btn btn-primary btn-show-import pull-right" >Import</button>

        <div class="tabbable">
	        <ul class="nav nav-tabs tab-purple">
		        <li>
			        <a data-toggle="tab" href="#pages">Pages of <span class="badge badge-purple">$page.title</span></a>
		        </li>
		        <li>
			        <a data-toggle="tab" href="#files">Files and Folders of <span class="badge badge-purple">$page.name</span></a>
		        </li>
	        </ul>
	        <div class="tab-content">
		        <!-- Start content of Pages tab -->
		        <div id="pages" class="tab-pane">
			        <p class="clearfix">
				        <a class="btn btn-orange pull-right btn-add-page" title="Add page"><i class="fa fa-plus fa-white"></i></a>
			        </p>
			        <form method="POST" action="" class="">
						<div class="article-wrapper" id="page-list">
							#set($order = 0)
							#foreach($page in $page.children.ofType.html)
							<article class="page">
								<i class="fa clip-file-2"></i>
								<span class="article-name">$page.title</span>
								<aside class="article-action">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-white clip-settings"></i> <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="${page.name}" class="btn-edit-page" title="Edit page">Edit page</a></li>
                                            <li><a href="${page.name}?goto" target="_blank" title="View page">View page</a></li>
                                            <li class="divider"></li>
                                            <li><a href="${page.path}" class="btn-delete-page" title="Delete page">Delete page</a></li>
                                        </ul>
                                    </div>
								</aside>
							</article>
							#end
						</div>
			        </form>
		        </div>
		        <!-- End content of Pages tab -->
		        <!-- Start content of Files and Folders tab -->
		        <div id="files" class="tab-pane">
			        <table id="table-files" class="table table-bordered table-striped table-hover">
				        <colgroup>
					        <col style="width: 60px;" />
					        <col />
					        <col />
					        <col />
					        <col style="width: 90px;" />
				        </colgroup>
				        <thead>
							<tr>
								<th class="icon">Type</th>
								<th>Name</th>
								<th>Modified</th>
								<th class="size">Size</th>
								<th  class="action">
                                    <div class="btn-group btn-group-sm">
                                        <a title="Create a folder" class="btn btn-info btn-create-folder" href=""><i class="fa fa-white clip-folder-plus"></i></a>
                                        <a title="Upload files" class="btn btn-orange btn-upload-file" href=""><i class="fa fa-white fa-cloud-upload"></i></a>
                                    </div>
								</th>
							</tr>
				        </thead>
				        <tbody>
					        #foreach($f in $page.subFolders)
						        <tr class="folder">
							        <td class="icon">
								        <a href="$f.href#files-tab"><i class="clip-folder"></i></a>
							        </td>
							        <td class="left">
								        <a href="${f.href}#files-tab">$f.name</a>
							        </td>
							        <td><abbr title="$formatter.formatDateISO8601($f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
							        <td></td>
                                    <td class="action">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-white clip-settings"></i> <span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="${f.path}" class="btn-rename-file" title="Rename folder">Rename folder</a></li>
                                                <li class="divider"></li>
                                                <li><a href="${f.path}" class="btn-delete-file" title="Delete folder">Delete folder</a></li>
                                            </ul>
                                        </div>
							        </td>
						        </tr>
					        #end

					        #foreach($f in $page.files)
					            #set($type = $formatter.ifTrue($f.is("image"), "image", "file"))
					            #set($imgClass = $formatter.ifTrue($f.is("image"), "fa-picture-o", "clip-file"))
					            #set($aClass = $formatter.ifTrue($f.is("image"), "show-color-box group1 cboxElement", ""))
						        <tr class="$type">
							        <td class="icon">
								        <a href="$f.href"><i class="$imgClass"></i></a>
							        </td>
							        <td class="left">
								        <a href="$f.href" class="$aClass" title="$f.name">$f.name</a>
							        </td>
							        <td><abbr title="$formatter.formatDateISO8601($!f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
							        <td class="size">$f.contentLength</td>
							        <td class="action">
								        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-white clip-settings"></i> <span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="${f.path}" class='btn-rename-file' title="Rename file"><i class="fa fa-white fa-edit"></i></a></li>
                                                <li><a href="${f.path}" target="_blank" title="Download file"><i class="fa fa-white fa-cloud-download"></i></a></li>
                                                <li><a href="${f.path}" class='btn-history-file' title="Show history"><i class="fa fa-white clip-history"></i></a></li>
                                                <li class="divider"></li>
                                                <li><a href="${f.path}" class="btn-delete-file" title="Delete file"><i class="fa fa-white fa-times"></i></a></li>
                                            </ul>
								        </div>
							        </td>
						        </tr>
					        #end
				        </tbody>
			        </table>
		        </div>
		        <!-- Start content of Files and Folders tab -->
	        </div>
        </div>
        
        <div id="modal-add-page" class="modal modal-lg fade modal-fuse modal-fuse-editor" aria-hidden="true" tabindex="-1">
            <div class="modal-header">
                <button aria-hidden="true" data-type="modal-dismiss" class="close" type="button">&times;</button>
                <h4 class="modal-title">Add/edit module page</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="." class="form-horizontal">
                    <input type="hidden" name="pageName" value="" />
                    <div class="form-group">
                        <label for="title" class="control-label col-md-2">Page title</label>
                        <div class="col-md-4">
                            <input type="text" name="title" id="title" class="form-control required" value="" placeholder="A title for the new page" />
                        </div>
                        <label for="template" class="control-label col-md-2">Page template</label>
                        <div class="col-md-4">
                            <select name="template" id="template" class="form-control">
                                <option value="">None</option>
                                #foreach($templateEntry in $page.closest("branch").getTemplates($page).entrySet() )
                                    <option value="$templateEntry.key">$templateEntry.value</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea name="body" id="body" class="htmleditor toolbar-Full"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-type="modal-dismiss" type="button">Close</button>
                <button class="btn btn-primary btn-history-page" type="button">History <img class='ajax-loader' src='/static/common/loading.gif' /></button>
                <button class="btn btn-primary" data-type="form-submit" type="button">Save <img class='ajax-loader' src='/static/common/loading.gif' /></button>
            </div>
        </div>

        <div id="modal-upload" class="modal modal-sx fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">Upload files</h4>
	        </div>
	        <div class="modal-body">
		        <div class="btn btn-primary" id='my-upload' style="width: 150px"></div>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
		        <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
	        </div>
        </div>

        <div id="modal-import" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">Import from server</h4>
	        </div>
	        <div class="modal-body">
		        <p class="alert alert-info">
			        <a class="close" role="button" href="#" data-dismiss="alert">&times;</a>
			        This will import files and folders from another webdav enabled website
		        </p>
		        <form class="form-horizontal">
			        <div class="form-group">
				        <label for="importFromUrl" class="label-control col-md-4">Server URL</label>
				        <div class="col-md-8">
				            <input type="text" name="importFromUrl" id="importFromUrl" class="form-control" />
				        </div>
			        </div>
			        <div class="form-group">
				        <label for="remoteUser" class="label-control col-md-4">Remote username</label>
				        <div class="col-md-8">
				            <input type="text" name="user" id="remoteUser" class="form-control" />
				        </div>
			        </div>
			        <div class="form-group">
				        <label for="remotePassword" class="label-control col-md-4">Remote password</label>
				        <div class="col-md-8">
				            <input type="password" name="password" id="remotePassword" class="form-control" />
				        </div>
			        </div>
			        <div class="form-group">
				        <label class="label-control col-md-4">Import status</label>
				        <div class="col-md-8">
					        <p><button class="btn btn-xs btn-success btn-import-status" type="button" title="Refresh the import status"><i class="fa fa-white fa-refresh"></i></button></p>
					        <textarea id="import-status-result" class="form-control" rows="3" readonly></textarea>
				        </div>
			        </div>
		        </form>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
		        <button class="btn btn-primary btn-import" data-type="form-submit" type="button">Import</button>
	        </div>
        </div>
        
         <div id="modal-history" class="modal modal-xs fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">History</h4>
	        </div>
	        <div class="modal-body">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <colgroup>
				        <col />
				        <col />
				        <col />
				        <col style="width: 70px" />
			        </colgroup>
                    <thead>
                        <tr>
					        <th>Description</th>
					        <th>User</th>
					        <th>Edited</th>
					        <th>Restore</th>
				        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
	        </div>
        </div>


        <script type="text/javascript" >
            var themePath = "${page.themePath}";
            Bob.onDOMReady(function () {
	            initManageFiles();
            });
        </script>        
    </body>
</html>