<html>
    <head>
        <title>Unsubscribe</title>
    </head>
    <body>
        <a href="unsubscribers.csv" download="unsubscribers.csv" class="btn btn-info">Download CSV</a>

        <p>&nbsp;</p>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Unsubscribed Date</th>
                    <th>Last communication</th>
                </tr>
            </thead>
            <tbody>
                #foreach($unsub in $page.children.ofType.unsub)
                <tr>
                    <td>$!unsub.profile.firstName</td>
                    <td>$!unsub.profile.surName</td>
                    <td>$!unsub.profile.email</td>
                    <td>$formatter.formatDateTime($unsub.unsubcribeDate, $page.organisation.timezone)</td>
                    <td>
                        #if($unsub.lastCommunication)
                        $unsub.lastCommunication.type: 
                        #if($unsub.lastCommunication.itemHref)
                        <a href="$unsub.lastCommunication.itemHref">
                            #end
                            $!unsub.lastCommunication.itemTitle
                            #if($unsub.lastCommunication.itemHref)
                        </a>
                        #end

                        #if($unsub.lastCommunication.jobTitle)
                        Job:
                        #if($unsub.lastCommunication.jobHref)
                        <a href="$unsub.lastCommunication.jobHref">
                            #end
                            $!unsub.lastCommunication.jobTitle
                            #if($unsub.lastCommunication.jobHref)
                        </a>
                        #end
                        #end
                        #end
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </body>
</html>
