<html>
    <head>
        <title>$page.title</title>
        <link href="/static/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet"/>
        <style>
            select option[disabled]{
                color: #eee;
            }
        </style>
    </head>
    <body>
        <div class="row fuelux"  id="importerWizard" style="margin-bottom:30px">
            <div class="col-lg-12">
                <div class="wizard" id="myWizard">
                    <div class="steps-container">
                        <ul class="steps">
                            <li data-step="1" data-name="upload" class="active">
                                <span class="badge">1</span>Upload
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = 2)
                            #if($page.customFormSupported || $page.hasDateField)
                            <li data-step="$nextStep">
                                <span class="badge">$nextStep</span>Options
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = $nextStep + 1)
                            #end
                            <li data-step="$nextStep">
                                <span class="badge">$nextStep</span>Map columns
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = $nextStep + 1)
                            <li data-step="$nextStep" data-name="import">
                                <span class="badge">$nextStep</span>Review
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = $nextStep + 1)
                            <li data-step="$nextStep" data-name="processing">
                                <span class="badge">$nextStep</span>Processing
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = $nextStep + 1)
                            <li data-step="$nextStep" data-name="complete">
                                <span class="badge">$nextStep</span>Complete
                                <span class="chevron"></span>
                            </li>
                            #set($nextStep = $nextStep + 1)
                        </ul>
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-default btn-prev">
                            <span class="glyphicon glyphicon-arrow-left"></span>Prev
                        </button>
                        <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                    <form method="post" action="">
                        <div class="step-content">
                            <div class="step-pane active sample-pane alert" data-step="1">
                                <h4>Saved Configuration</h4>
                                <div class="col-md-2">
                                    <select id="savedMappings" class="form-control savedMappings">
                                        <option>[NONE]</option>
                                        #foreach($m in $page.savedMappings)
                                        <option value="$formatter.htmlEncode($formatter.toJson($m))">$m.title</option>
                                        #end
                                    </select>
                                </div>

                                <br/><br/><br/>

                                <h4>Upload Data</h4>
                                <div id='btn-upload' class="pull-left"></div>
                                <div class="clearfix"></div>
                            </div>
                            #set($nextStep = 2)
                            #if($page.customFormSupported || $page.hasDateField)
                            <div class="step-pane alert customForm" data-step="$nextStep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        #if($page.hasDateField)
                                        <div class="form-horizontal text-left">
                                            <div class="form-group" >
                                                <label class="control-label col-md-2" for="dateFormat">Date Format: </label>
                                                <div class="col-md-10">
                                                    <select id="dateFormat" name="dateFormat" class="form-control">
                                                        <option value="">[No Date Format]</option>
                                                        #foreach($e in $page.supportedDateFormats.entrySet())
                                                        <option value="$e.key">$e.value</option>
                                                        #end
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        #end

                                        #if($page.customFormSupported)
                                        <div class="form-horizontal text-left">
                                            $!page.customForm
                                        </div>
                                        #end
                                    </div>
                                </div>
                            </div>
                            #set($nextStep = $nextStep + 1)
                            #end
                            <div class="step-pane alert" data-step="$nextStep">
                                <input type="hidden" name="fileHash" value=""/>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-info" data-target="#modal-tableUploader-saveMapping" data-toggle="modal"><i class="fa fa-save"></i> Save Configuration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-inline text-right">
                                            <div class="form-group" style="margin-right: 20px">
                                                <label for="startRow" >Start row: </label>
                                                <input style="width: 100px" type="number" min="0" name="startRow" id="startRow" class="form-control" value="1"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <p class="lead">Please select which destination field each column should be imported into:</p>

                                <div class="" style="max-height: 300px; overflow-y: auto">
                                    <table class="table table-bordered table-striped" id="importerTable" >
                                        <thead>
                                            <tr id="importerHead">
                                                <th>Please wait...</th>
                                            </tr>
                                        </thead>
                                        <tbody id="importerBody">
                                            <tr>
                                                <td>Loading...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            #set($nextStep = $nextStep + 1)
                            <div class="step-pane sample-pane alert" data-step="$nextStep">
                                <h4>Start importing</h4>
                                <p>Press the button here to begin importing. This process imports at a rate of about 1000 rows per minute,
                                    so may take some time depending on the size of the file</p>

                                <hr/>

                                <div id="processing">
                                    <h4>Processing the file validations. Please wait...</h4>
                                </div>

                                <div id="result">
                                    <button type="submit" class="btn btn-success btn-large">
                                        <span class="fa fa-arrow-circle-right"></span>
                                        Import now
                                    </button>

                                    <span id="noValidRow">There are no valid row in the file, please review it</span>
                                    <span id="toManyErrors">There are to many errors in the file, please review it</span>

                                    <hr/>

                                    <table class="table">
                                        <tr>
                                            <th>New Rows to be inserted</th>
                                            <td class="beforeImportNumNew"></td>
                                        </tr>
                                        <tr>
                                            <th>Existing Rows to be updated</th>
                                            <td class="beforeImportNumExisting"></td>
                                        </tr>
                                        <tr>
                                            <th>Invalid rows</th>
                                            <td class="beforeImportNumInvalid"></td>
                                        </tr>
                                    </table>

                                    <i>Any invalid records are displayed below. If you proceed these will not be imported, but you can download a list at the end to correct and reupload</i>
                                    <div class="" style="max-height: 300px; overflow-y: auto">
                                        <table class="table table-bordered table-striped">
                                            <tbody class="beforeImportInvalidRows">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            #set($nextStep = $nextStep + 1)
                            <div class="step-pane sample-pane alert" data-step="$nextStep">
                                <h4>Import running</h4>
                                <div class="progress" id="importProgressbar">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <div class="process-results">
                                    <p>
                                        <strong>Process Status:</strong>
                                        <strong id='job-status'></strong>
                                    </p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Number created</th>
                                            <td class="createdCount"></td>
                                        </tr>
                                        <tr>
                                            <th>Number updated:</th>
                                            <td class="updatedCount"></td>
                                        </tr>
                                        <tr>
                                            <th>Number deleted:</th>
                                            <td class="deletedCount"></td>
                                        </tr>
                                        <tr>
                                            <th>Number with errors</th>
                                            <td class="errorCount"></td>
                                        </tr>
                                    </table>

                                    <button class="btn btn-danger" name="cancel" type="button" id="btn-cancel-import">Cancel Import</button>
                                </div>

                            </div>
                            #set($nextStep = $nextStep + 1)
                            <div class="step-pane sample-pane alert" data-step="$nextStep">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Number created</th>
                                        <td class="createdCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Number updated:</th>
                                        <td class="updatedCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Number deleted:</th>
                                        <td class="deletedCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Number with errors</th>
                                        <td class="errorCount"></td>
                                    </tr>
                                    <tr>
                                        <th>Errors file</th>
                                        <td class="">
                                            <a href="" class="errorRows btn btn-warning">
                                                <span class="fa fa-download"></span>
                                            </a>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Start save mapping modal -->
        <div id="modal-tableUploader-saveMapping" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form form-horizontal">
                        <input type="hidden" name="saveMapping" value="saveMapping"/>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Save Configuration</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="mappingTitle" class="col-md-3 control-label">Title</label>
                                <div class="col-md-9">
                                    <input type="text" id="mappingTitle" name="mappingTitle" class="form-control required" placeholder="My Mapping"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- End -->

        <script type="text/javascript" src="/static/fuelux/3.13.0/js/fuelux.min.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/manageTableUploader.js?_=0004">//</script>
        #set($hcf = $page.customFormSupported || $page.hasDateField)
        <script type="text/javascript">
            $(function () {
                initManageTableUploader($hcf);
            });
        </script>
    </body>
</html>