.panel-heading .btn-group {
	vertical-align: top;
	position: relative;
	top: -2px;
}

.panel-hide {
	display: none;
	margin-bottom: 20px;
}

.optins input[type=text] {
	display: none;
}

.optins .checked input[type=text] {
	display: block;
}

.btn-mrg5 {
	margin: 5px 5px 5px 0px;
}

.panel-group .panel {
	overflow: visible;
}