.upload {
	position: relative;
}

#do-upload-csv,
#do-upload-orgid-csv {
    width: 190px;
}

.allow-inserts {
    position: absolute;
    left: 200px;
    top: 5px;
}

.upload-results {
    display: none;
}

.upload-results .table-responsive {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.upload-results .table-responsive > .table {
    margin-bottom: 0;
}