#options-wrapper .option {
    margin-top: 5px;
}

#programs-list .article-name {
    width: 65%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blocks-wrapper.roles .block{
    display: block;
    padding: 8px 12px;
}