<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Organization Types</title>
        <script type="text/javascript" src="manageOrgTypes.js">//</script>
        <link href="manageOrgTypes.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="manage-org-types">
        <div id="manage-org-types">
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert" type="button">&times;</button>
                <p>
                    Organisation types represent the different types of businesses, departments, or other business units that your users belong to. This can be used to limit which organisations different types of users can sign up to. For example, if you have a user group <b>"pharmacist"</b> you might only want them to register to organisations of type <b>"pharmacy"</b>. You can set the organisation type on your business units either one at a time through the Manage Business Units page, or you can set them when you upload a spread sheet of organisations.
                </p>
            </div>
            <header class="clearfix">
                <p class="pull-left">
                    <a class="btn btn-sm btn-primary btn-add-type" href="#"><i class="fa fa-plus fa-white"></i> Add new organization types</a>
                </p>
            </header>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa clip-folder"></i>
                    Organization Types
                    <div class="panel-tools">
                        <a href="#" class="btn btn-xs btn-link panel-collapse collapses">
                        </a>
                        <a href="#" class="btn btn-xs btn-link panel-close">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="org-types" class="table table-bordered table-hover table-striped table-data">
                        <colgroup>
                            <col />
                            <col />
                            <col style="width: 120px" />
                        </colgroup>
                        <thead>
                            <tr>                            
                                <th>Code</th>
                                <th>Display Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($ot in $page.children)
                            <tr>
                                <td>$ot.name</td>
                                <td>$formatter.htmlEncode($ot.title)</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default btn-edit-orgtype" role="button" href="$ot.name">Edit details</a>
                                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a class="btn-delete-orgtype" href="$ot.name">Delete this organisation</a></li>
                                        </ul>
                                    </div>
                                </td>                    
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="modal-edit-orgtype" tabindex="-1" class="modal fade modal-edit" aria-hidden="true">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">Edit Organisation Type</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
                </div>
            </div>

            <div id="modal-new-orgtype" tabindex="-1" class="modal fade modal-edit" aria-hidden="true">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">New Organisation Type</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="newOrgTypeName" class="control-label col-md-4">Code</label>
                            <div class="col-md-8">
                                <input type="text" name="name" id="newOrgTypeName" class="form-control required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newOrgTypeDisplayName" class="control-label col-md-4">Display name</label>
                            <div class="col-md-8">
                                <input type="text" name="displayName" id="newOrgTypeDisplayName" class="form-control required" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
                </div>
            </div>

            <script type="text/javascript" >
                jQuery(function() {
                    initManageOrgTypes();
                });
            </script>
        </div>
    </body>
</html>