<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageApps.css" rel="stylesheet" type="text/css" />
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <!-- <link rel="stylesheet" href="/theme/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch.css"/> -->
        <script type="text/javascript" src="manageWebsite.js">//</script>
        <script type="text/javascript" src="manageMenu.js">//</script>
        <script type="text/javascript" src="manageApps.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <!-- <script src="/theme/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js">//</script> -->
        <!-- <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script> -->
    </head>
    <body class="manageWebsite">
        #set($currentBranch = $page.closest("branch"))
        <div class="btn-group publishing pull-right">
            #if( $currentBranch.live )
            <a href="../manageBranches" class="islive btn btn-sm btn-danger">
                <i class="fa fa-gear"></i>
                LIVE
            </a>
            #else
            <a href="${currentBranch.href}publish" class="publish btn btn-sm btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                PUBLISH
            </a>
            <a href="../manageBranches" class="btn btn-primary btn-sm">
                <i class="fa fa-gear"></i>
                Manage versions
            </a>
            #end

            <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                <b>Editing version:</b>
                $currentBranch.name
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu list branches">
                #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                <li role="presentation" class="list-item">
                    <aside class="list-item-controller">
                        <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                        #if( $b.live )

                        #else
                        <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                        #end
                    </aside>                    
                    <a href="${b.href}" class="branch noclear">
                        $b.name
                    </a>
                </li>
                #end
            </ul>
        </div>        

        <div class="btn-group">
            <a target='_blank' href='$page.href?goto=' class="btn btn-sm btn-success">
                <i class="fa fa-arrow-circle-right"></i> View website
            </a>
            <a href='/repositories/$page.closest("website").name/$page.name' class="btn btn-sm btn-success">
                <i class="fa fa-edit"></i> Edit pages
            </a>
            <div class="btn-group">
                <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Change website:</b> $page.closest("website").name
                    <span class="caret"></span>
                </a>            
                <ul role="menu" class="dropdown-menu list">
                    #foreach($w in $page.closest("website").parent.children)
                    <li class="list-item"><a href="${w.href}">$w.name</a></li>
                    #end                               
                </ul>            
            </div>
        </div>          

        <div class="clearfix"></div>
        <br />
        <div class="tabbable">
            <ul class="nav nav-tabs tab-bricky" id="myTab">
                <li class="active"><a data-toggle="tab" href="#panel_details"><i class="green fa fa-home"></i> Details</a></li>
                <li class=""><a data-toggle="tab" href="#panel_theme"><i class="green fa fa-home"></i> Theme</a></li>
                <li class=""><a data-toggle="tab" href="#panel_groups"><i class="green fa fa-home"></i> Group access</a></li>
                <li class=""><a data-toggle="tab" href="#panel_mailserver"><i class="green fa fa-home"></i> Mail server</a></li>
                <li class=""><a data-toggle="tab" href="#panel_sslserver"><i class="green fa fa-home"></i> HTTPS server</a></li>
                <li class=""><a data-toggle="tab" href="#panel_apps"><i class="green fa fa-home"></i> Apps</a></li>
            </ul>

            <div class="tab-content">
                <div id="panel_details" class="tab-pane active">
                    <form name="frmDetails" action="." method="post" class="form-horizontal details" role="form">
                        <div class="alert alert-danger pageMessage">.</div>
                        <p class="clearfix text-center">
                            <span class="label label-danger"> NOTE</span>
                            <span><i>Changes in this section apply immediately to all versions of the website, including the live version</i></span>
                            <br/><br/>
                        </p>

                        <div class="form-group">
                            <label for="websiteName" class="col-sm-3 control-label">Website ID</label>
                            <div class="col-sm-2">
                                <input type="text" name="name" id="websiteName" value="$!page.website.name" class="required simpleChars form-control" required="true" />                                
                            </div>
                            <div class="col-sm-4">
                                <small>This is a code which forms part of the address to your site ie <b>id</b>.olhub.com. It must be unique.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="websiteTitle" class="col-sm-3 control-label">Display name</label>
                            <div class="col-sm-6">
                                <input type="text" name="title" id="websiteTitle" value="$!page.website.title" class="required form-control" required="true" />
                                <small>This is the publicly visible name of your website</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="domainName" class="col-sm-3 control-label">Domain name</label>
                            <div class="col-sm-6">
                                <input type="text" name="domainName" id="domainName" value="$!page.website.domainName" class="simpleChars form-control" />
                                <small>If you have your own domain enter it here - eg www.mycompany.com. Update your DNS settings with a CNAME record pointing to www.olhub.com</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="aliasTo" class="col-sm-3 control-label">Alias for</label>
                            <div class="col-sm-6">
                                <select name="aliasTo" id="aliasTo" class="form-control">
                                    <option value="">[None]</option>
                                    #foreach($w in $page.otherWebsites)
                                    $formatter.option($w.name, $w.name, $page.website.aliasTo)
                                    #end
                                </select>
                                <small>If selected this website will be an alias for accessing the selected site.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="domainName" class="col-sm-3 control-label">Redirect to</label>
                            <div class="col-sm-6">
                                <input type="url" name="redirectTo" value="$!page.website.redirectTo" class="href form-control"/>
                                <small>If you want visitors to this site to be immediately redirected elsewhere, enter the full address to redirect to here.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-sm btn-success">Save details</button>
                            </div>
                        </div>
                    </form>                    
                </div> <!-- End Details -->

                <div id="panel_theme" class="tab-pane">
                    <form name="frmDetails" action="." method="post" class="form-horizontal details" role="form">
                        <div class="alert alert-danger pageMessage">.</div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Theme</label>
                            <div class="col-sm-9">
                                <a class="btn btn-blue btn-sm" href="themeSelect">
                                    #set($theme = $page.currentTheme)
                                    #set($publicTheme = "")
                                    #if( $theme )
                                    #if( $theme.previewImage )
                                    #set($publicTheme = $theme.name)
                                    <img style="width: 150px" src="/templates/themes/$theme.name/$theme.previewImage" />
                                    #else
                                    #set($publicTheme = $theme.name)
                                    $theme.title
                                    #end
                                    #else
                                    No selected theme
                                    #end
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                <input type="hidden" name="publicTheme" value="$publicTheme"/>
                                <a class="btn btn-blue btn-sm pull-right" href="themeSelect">Browse the theme library <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="logo" class="col-sm-3 control-label">Logo</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control toolbar-Logo" name="logo" id="logo" value="$formatter.htmlAttEncode($page.themeAttributes.logo)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="menu" class="col-sm-3 control-label">Menu</label>
                            <div class="col-sm-6">
                                <textarea id="menu" name="menu" class="form-control limited" rows="5">$!page.themeAttributes.menu</textarea>
                            </div>
                        </div>
                        #foreach( $customField in $page.customFields ) 
                        <div class="form-group">
                            <label for="menu" class="col-sm-3 control-label">$customField.text</label>
                            <div class="col-sm-6">
                                $customField.html( $page.themeAttributes.get($customField.name) )
                            </div>
                        </div>
                        #end
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>                    
                </div> <!-- End theme -->

                <div id="panel_groups" class="tab-pane">
                    <div class="Content Recipient">
                        <button class="btn btn-sm btn-default AddGroup" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus"></i> Add/remove groups</button>
                        <p class="clearfix"></p>
                        <br />
                        <div id="group-list" class="clearfix GroupList">
                            #foreach($g in $page.selectedGroups)
                            <div class="alert alert-info">
                                <span class="fa fa-users"></span>
                                <a href="/groups/$g.name/members">$g.name</a> 
                                #if( $g.groupType == "P" )
                                - Primary group
                                #elseif( $g.groupType == "M" )
                                - Mailing list
                                #elseif( $g.groupType == "S" )
                                - Subscription
                                #end
                                -
                                #if( $g.registrationMode == "o" )
                                Open group
                                #elseif( $g.registrationMode == "c" )
                                Closed group
                                #elseif( $g.registrationMode == "a" )
                                Administrator approval group
                                #else
                                No registration mode has been set
                                #end
                            </div>
                            #end
                        </div>
                    </div>                    
                </div> <!-- End groups -->

                <div id="panel_mailserver" class="tab-pane">
                    <form name="frmDetails" action="." method="post" class="form-horizontal details" role="form">
                        <div class="alert alert-danger pageMessage">.</div> 
                        <p class="">DKIM is a way to increase the number of emails which reach your recipients, by
                            reducing your spam score. It does this by adding a digital signature to each email signed
                            signed and verified by your DNS.</p>
                        <p>To get a DKIM certificate and <a href="http://www.port25.com/support/domainkeysdkim-wizard/" target="_blank">setup your domain for DKIM please see here</a></p>
                        <div class="form-group"> 
                            <label for="dkimSelector" class="col-sm-3 control-label">DKIM Selector</label> 
                            <div class="col-sm-6">
                                <input type="text" name="dkimSelector" value="$!page.dkimSelector" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dkimPrivateKey" class="col-sm-3 control-label">DKIM Private key</label>
                            <div class="col-sm-6">
                                <textarea name="dkimPrivateKey" class="form-control">$!page.dkimPrivateKey</textarea>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="panel_sslserver" class="tab-pane">
                    <p>
                        <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addWebsiteHttpsModal" ><i class="fa fa-plus"></i> Configure New HTTPS Certificate</a>
                    </p>

                    <div class="modal fade" id="addWebsiteHttpsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Create new HTTPS Configuration </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="POST" action=".">
                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">Title</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control regex required" required="true" id="title" name="title" data-regex="^[a-zA-Z0-9-]+$" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="certificateText" class="col-sm-3 control-label">Certificate Text</label>
                                    <div class="col-sm-8">
                                        <textarea id = "certificateText" name="certificateText" rows="8" data-regex="^[a-zA-Z0-9-]+$" class="form-control"></textarea>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="privateKeyText" class="col-sm-3 control-label">Private Key Text </label>
                                    <div class="col-sm-8">
                                        <textarea id = "privateKeyText" name="privateKeyText" rows="8" data-regex="^[a-zA-Z0-9-]+$" class="form-control"></textarea>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-sm btn-primary" data-type="form-submit">Create</button>
                        </div>
                    </div><!-- /.modal -->


                    <table id="certificate-types-table" class="table table-striped table-hover">
                        <colgroup>
                            <col width="" />
                            <col width="" />
                            <col width="" />
                            <col width="" />
                            <col width="" />
                            <col width="" />
                            <col width="" />
                            <col width="180px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th >Expiry Date</th>
                                <th >Certificate</th>                                
                                <th >Private Key</th>
                                <th >Created By</th>
                                <th >Created Date</th>                                
                                <th >Status</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($cer in $page.certificates)
                            <tr>
                                <td>$cer.title</td>
                                <td>$formatter.formatDate($cer.expiryDate)</td>
                                <td>$cer.certificateText</td>
                                <td>$cer.privateKeyText</td>
                                <td>$cer.createdBy.name</td>
                                <td>$formatter.formatDate($cer.createdDate)</td>                                
                                <td>
                                    <div class="$cer.status">
                                        #if($cer.status == "Active")
                                        #set($status = "success")
                                        #elseif($cer.status == "Passivate")
                                        #set($status = "danger")
                                        #elseif($cer.status == "Delete")
                                        #set($status = "warning")
                                        #else
                                        #set($status = "default")
                                        #end
                                        <span class="label label-sm label-$status">$cer.status</span>
                                    </div>
                                </td>

                                <td class="action">
                                    <div class="btn-group btn-group-sm">
                                        <a href="$cer.id" class="btn btn-sm btn-info"><i class="fa fa-eye"></i>View</a>
                                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a href="$cer.id" ><i class="glyphicon glyphicon-edit"></i> Certificate</a></li>
                                            <li><a href="$cer.id" ><i class="glyphicon glyphicon-edit"></i> Private Key</a></li>
                                            <li><a href="#" > ------------</a></li>
                                            <li><a href="$cer.id" ><i class="glyphicon glyphicon-fire"></i> Active</a></li>
                                            <li><a href="$cer.id" ><i class="glyphicon glyphicon-adjust"></i> Passivate</a></li>
                                            <li><a href="$cer.id" ><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>

                <div id="panel_apps" class="tab-pane appsContainer">
                    <div class="well">
                        <p>Applications control large chunks of functionality, like forums or emails. You can add them to websites</p>
                        <p>Applications are made available for websites by activating them on your organisation's Manage Applications page. Available apps are then shown on the website apps list where they can be turned on or off as required.</p>
                    </div>

                    #set($apps = $page.apps)
                    #if( $apps.isEmpty() )
                    <div class="well">
                        <p>No applications are available. This means that the parent organisation has disabled them</p>
                    </div>        
                    #end
                    <div class="appsContainer">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                #foreach($app in $apps )
                                <tr>
                                    <td class="CheckBoxWrapper">
                                        $formatter.bsswitch("chk_${app.appId}", $app.appId, $app.enabled, $app.appId)
                                        <label for="chk_${app.appId}"></label>
                                    </td>
                                    <td>
                                        <h4>$page.getTitle($app.appId)</h4>
                                        <p>$page.getSummary($app.appId)</p>
                                    </td>
                                    <td>
                                        #if( $page.hasSettings($app) )
                                        <button class="btn btn-primary btn-sm settings" data-toggle="modal" data-target="#settings_${app.appId}"><i class="fa fa-cog"></i> Settings</button>
                                        #end
                                    </td>
                                </tr>
                                #end
                            </table>
                        </div>
                    </div>

                    #foreach($app in $page.apps)
                    #if($page.hasSettings($app))
                    <div class="modal fade settings" id="settings_${app.appId}" tabindex="-1" data-focus-on="input:first" role="dialog" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Application: $app.appId</h4>
                        </div>
                        <div class="modal-body ModalContent">
                            <form method="POST" action="." class="form-horizontal" role="form">
                                <input type="hidden" name="settingsAppId" value="$app.appId"/>
                                #appSettings($app.appId)
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm" data-type="form-submit">Save</button>
                        </div>
                    </div>
                    #end
                    #end
                </div> <!-- End apps -->
            </div>
        </div>        

        <div id="modalGroup" class="modal fade" tabindex="-1" data-focus-on="input:first" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose groups</h4>
            </div>
            <div class="modal-body">
                <table class="">
                    #foreach($g in $page.allGroups)
                    <tr>
                        <td>
                            <div class="col-sm-offset-3">
                                <label class="checkbox-inline">
                                    $formatter.checkbox($g.name, $page.isSelected($g) ) $g.name
                                </label>
                            </div>
                        </td>
                    </tr>
                    #end
                </table>
            </div>
        </div>

        <div id="modal-menu" class="modal fade" tabindex="-1" data-focus-on="input:first" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/edit menu</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="menu-text" class="control-label col-md-4">Text:</label>
                        <div class="col-md-8">
                            <input id="menu-text" class="form-control required" placeholder="Menu text" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="menu-link" class="control-label col-md-4">Link:</label>
                        <div class="col-md-8">
                            <input id="menu-link" class="form-control required" placeholder="Menu link" value="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm btn-save-menu" data-type="form-submit">Save</button>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                flog("page init initManageWebsite");
                initManageWebsite();
                initPublishingMenu("");
                initHtmlEditors($(".htmleditor"), "60px", "200px", 'embed_video,modal', 'resize,elementspath');
                $("form.details").forms({
                    callback: function () {
                        flog("Saved Ok!");
                        Msg.info("Saved");
                    }
                });

                var modal = $("#addWebsiteHttpsModal");
                var form = modal.find(" form");

                form.forms({
                    callback: function (resp) {
                        flog("done", resp);
                        modal.modal('hide');
                        Msg.success(form.find('[name=title]').val() + ' is created!');
                        $('#certificate-types-table').reloadFragment();
                    }
                });
            });
        </script>        
    </body>
</html>