.btn-show-import {
    position: relative;
    z-index: 2;
}

#files table .size {
    text-align: right;
}

#files table .action,
#files table .icon {
    text-align: center;
}

#files table .icon a {
    color: #333;
    font-size: 20px;
}

.no-history {
    background: #f0f0f0;
}

#modal-add-page .modal-body {
    overflow-y: auto !important;
}