.upload {
	position: relative;
}

#do-upload-csv,
#do-upload-orgid-csv {
    width: 190px;
}

.allow-inserts {
    position: absolute;
    left: 200px;
    top: 5px;
}

.upload-results {
    display: none;
}