.btn-upload-photo {
	width: 160px;
}

.profile-photo img {
	width: 62px;
	height: 62px;
	float: left;
}

.profile-photo img + div {
	margin-left: 70px;
}

hr {
	margin: 5px 0 20px;
}

.memberships-wrapper {
	padding: 0 0 0 15px;
}

.membership-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.membership-list li {
	padding: 0 15px 0 0;
	margin-bottom: 5px;
}

.membership-list li div {
	border-radius: 5px;
	background: #f0f0f0;
	padding: 5px;
	float: left;
	width: 100%;
	line-height: 23px;
}

.membership-list li div span {
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-y: hidden;
}

.membership-list li div a {
	float: right;
	padding-top: 3px;
}

.modal-body .membership-list li div {
	padding: 3px 5px;
}

.modal-body .membership-list li div span {
	float: none;
	display: block;
}

.modal-body .membership-list li div label {
	margin-bottom: 0;
	display: block;
}

#org-search {
	margin: -1px 15px 0;
}