h3 {
    margin: 0;
    line-height: 30px;
}

#editor .ace_content {
    min-height: 400px;
}

#editor-wrapper {
    background: #fff;
}

#editor-loading {
    float: left;
    position: relative;
    top: -4px;
}

.shortcut-switcher-wrapper {
    width: 180px;
}

.font-size-switcher-wrapper {
    width: 150px;
}

.theme-switcher-wrapper {
    width: 250px;
}

.file-type-wrapper {
    width: 180px;
}

#editor-wrapper .editor-toolbar {
    padding: 15px 15px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: relative;
    z-index: 2;
    height: 60px;
}

#editor-wrapper #editor {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 60px;
    height: auto !important;
    z-index: 1;
}