<html>
    <head>
        <title>Repo And Version Controller</title>
    </head>
    <body>
        #macro (renderVersionController $managePage)
            #set($currentBranch = $page.closest("branch"))
            <div class="btn-group publishing pull-right">
                <a href="${currentBranch.href}commits" class="publish btn btn-sm btn-info">
                    <i class="fa fa-clock-o"></i>
                    History
                </a>
                #if( $currentBranch.live )
                    <a href="../manageBranches" class="islive btn-sm btn btn-danger">
                        <i class="fa fa-gear"></i>
                        LIVE
                    </a>
                #else
                    <a href="${currentBranch.href}publish" class="publish btn-sm btn btn-success">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        PUBLISH
                    </a>
                    <a href="../manageBranches" class="btn btn-sm btn-primary">
                        <i class="fa fa-gear"></i>
                        Manage versions
                    </a>
                #end

                <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Editing version:</b>
                    $currentBranch.name
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu list branches">
                    #foreach($b in $page.closest("branch").parent.children.ofType.branch)
                        <li role="presentation" class="list-item">
                            <aside class="list-item-controller">
                                <a href="#" class="copy btn btn-xs btn-primary pull-right" title="Copy this to a new version"><i class="fa fa-copy"></i></a>
                                #if( $b.live )

                                #else
                                    <a href="${b.href}" class="hide-branch pull-right btn-xs btn btn-warning" title="Hide this version. Can be restored from the manage versions screen"><i class="clip-eye"></i></a>
                                #end
                            </aside>
                            #if ($managePage)
                                <a href="${b.href}$managePage" class="branch noclear">
                                    $b.name
                                </a>
                            #else
                                <a href="${b.href}" class="branch noclear">
                                    $b.name
                                </a>
                            #end
                        </li>
                    #end
                </ul>
            </div>
        #end
    </body>
</html>