.market-app > a,
.installed-app > a {
    display: block;
    color: #555;
    text-decoration: none !important;
}

.app-inner {
    overflow: hidden;
}

.app-inner .embed-responsive-item {
    background: no-repeat 50% 0% / contain;
}

.app-inner .no-logo .embed-responsive-item {
    background: no-repeat 50% 50% / cover;
}

.app-inner .caption p {
    height: 54px;
    overflow: hidden;
}

.caption .title {
    white-space: nowrap;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #555555;
    cursor: default;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
