<html lang="en">
    <head>
        <title>App Item</title>
        <link href="manageMarkerPlaceApp.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="add-container">
        <!-- Page Content -->
        <div class="row">
            <div class="col-md-9">
                #if( $request.params.websiteName.length() > 0 )
                <p>
                <a class="btn btn-info" href="/websites/$request.params.websiteName/$request.params.websiteBranch/#panel_apps-tab">
                    <span class="fa fa-arrow-left"></span>
                    Back to website manager
                </a>
                </p>
                #end
                <div class="thumbnail">
                    #set($banner = "/theme/apps/marketplace/no_banner.png")
                    #set($bannerImg = $page.banner)
                    #if($bannerImg)
                    #set($banner = $bannerImg.name + '/alt-800-300.png')
                    #end
                    <img class="img-responsive" src="$banner" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">
                            #set( $notEnabled = true )
                            #if( $request.params.websiteName )
                                #if( $page.installed )
                                    #if( $page.isEnabled($request.params.websiteName, $request.params.websiteBranch) )
                                        #set( $notEnabled = false )
                                    #end                                    
                                #end
                            #end
                            
                            <p class="pull-right">
                            #if( $notEnabled )
                            <button type="button" data-title="$page.title" data-websitename="$!request.params.websiteName" data-websitebranch="$!request.params.websiteBranch" class="btn btn-lg btn-green btn-install-app pull-right">
                                <span class="fa fa-check"></span>
                                Install
                                #if( $request.params.websiteName )
                                    in $request.params.websiteName
                                #end                              
                                
                                #if(!$page.price || $page.price == 0)
                                    - (Free)
                                #else
                                     - $$page.price
                                #end
                            </button>   
                            #else
                            <i>Already installed</i>
                            #end
                            </p>
                        </h4>
                            <br />
                            #if( $page.installed )
                            <span class="text-muted">
                                You have purchased this app
                            </span>
                            #end
                        
                        <h4 class="app"><a href="#">$page.title</a>
                        </h4>
                        <div class="ratings">
                            #genRatingsAndReviews(2.8 95)
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#screenshots" aria-controls="screenshots" role="tab" data-toggle="tab">Screenshots</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <div class="description">
                                    $!page.description
                                </div>
                            </div>
                            <div class="tab-pane fade" id="screenshots">
                                <div class="masonry-panel row">
                                    <div class="masonry-sizer col-md-1 col-lg-1 col-sm-1"></div>
                                    #if($page.screenshots.empty)
                                        <div class="col-xs-12">Sorry there are no screenshots available</div>
                                    #else
                                        #foreach($img in $page.screenshots)
                                            <div class="masonry-item col-sm-3 col-md-4 col-lg-3">
                                                <img src="$img.name" class="img-responsive img-thumbnail" />
                                            </div>
                                        #end
                                    #end
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews">
                                <div class="text-right">
                                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                                </div>

                                <div class="row" id="post-review-box" style="display: none;">
                                    <div class="col-md-12">
                                        <form accept-charset="UTF-8" id="reviewForm" action="" method="POST">
                                            <input type="hidden" name="submitReview" value="submitReview"/>
                                            <input id="ratings-hidden" name="rating" type="hidden"> 
                                            <textarea class="form-control animated limited" maxLength="200" rows="5" id="new-review" name="comment" placeholder="Enter your review here..."></textarea>

                                            <div class="text-right">
                                                <div class="stars starrr" data-rating="0"></div>
                                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none;">
                                                    <i class="fa fa-times"></i> Cancel
                                                </a>
                                                <button class="btn btn-success btn-sm" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    #if(!$page.appRatings || $page.appRatings.empty)
                                    <div class="no-reviews col-md-12">
                                        Be the first to review this app!
                                    </div>
                                    #end
                                    <div class="col-md-10">
                                        <section class="comment-list" id="reviews-list">
                                            #foreach($review in $page.appRatings)
                                                <article class="row">
                                                    <div class="col-md-2 col-sm-2 hidden-xs">
                                                        <figure class="thumbnail">
                                                            #set($photoUrl = "/templates/apps/user/profile.png")
                                                            #if($review.reviewedBy.photoHash)
                                                            #set($photoUrl = "/_hashes/files/" + $review.reviewedBy.photoHash)
                                                            #end
                                                            <img class="img-responsive" src="$photoUrl" />
                                                        </figure>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10">
                                                        <div class="panel panel-default arrow left">
                                                            <div class="panel-body">
                                                                <header class="text-left">
                                                                    <div class="comment-user"><i class="fa fa-user"></i> $review.reviewedBy.formattedName</div>
                                                                    <div><i class="fa fa-smile-o"></i> #genRating($review.rating)</div>
                                                                    <span><i class="fa fa-clock-o"></i> <abbr title="$review.reviewedOn" class="timeago">$formatter.formatDateISO8601($review.reviewedOn)</abbr></span>
                                                                </header>
                                                                <div class="comment-post">
                                                                    <p>$review.review</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            #end
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        #macro(genRatingsAndReviews $rating $reviewCount)
        <p class="star-rating" title="$rating/5 stars">
            #foreach($i in [0..4])
            #set($a = $rating - $i)
            #if($a > 0.5)
            <span class="fa fa-star"></span>
            #elseif($a == 0.5)
            <span class="fa fa-star-half-o"></span>
            #else
            <span class="fa fa-star-o"></span>
            #end
            #end
            <span>$reviewCount Reviews</span>
        </p>
        #end

        #macro(genRating $rating)
        <span class="star-rating" title="$rating/5 stars">
            #foreach($i in [0..4])
            #set($a = $rating - $i)
            #if($a > 0.5)
            <span class="fa fa-star"></span>
            #elseif($a == 0.5)
            <span class="fa fa-star-half-o"></span>
            #else
            <span class="fa fa-star-o"></span>
            #end
            #end
        </span>
        #end
        <script src="/theme/apps/marketplace/manageMarketPlaceApp.js" type="text/javascript">//</script>
        <script src="/theme/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js">//</script>
        <script>
            $(function () {
                initMarketPlaceApp();
            });
        </script>
    </body>
</html>
