<html>
    <head>
        <title>Martket Place</title>
        <link href="manageMarketPlace.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        #if( $request.params.websiteName )
        <p>
            <a class="btn btn-info" href="/websites/$request.params.websiteName/$request.params.websiteBranch/#panel_apps-tab">
                <span class="fa fa-arrow-left"></span>
                Back to website manager
            </a>
        </p>
        #end

        <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">
                <li class="active">
                    <a href="#browse" data-toggle="tab"><i class="fa fa-cart-plus"></i> Browse</a>
                </li>
                <li class="">
                    <a href="#purchased" data-toggle="tab"><i class="fa fa-download"></i> Installed</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="browse">
                    #set( $type = "app" )
                    #set( $type = $request.params.type )

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Type: $type <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="$page.href?websiteBranch=$!request.params.websiteBranch&websiteName=$!request.params.websiteName&type=app">Apps</a></li>
                            <li><a href="$page.href?websiteBranch=$!request.params.websiteBranch&websiteName=$!request.params.websiteName&type=theme">Themes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="$page.href?websiteBranch=$!request.params.websiteBranch&websiteName=$!request.params.websiteName&type=lib">Code libraries</a></li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                    <br/>
                    
                    <div class="row">
                        #foreach($app in $page.children.ofType($type))
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="thumbnail app">
                                <a href="$app.href?websiteBranch=$!request.params.websiteBranch&websiteName=$!request.params.websiteName">
                                    #set($logo = "/theme/apps/marketplace/no_logo.png")
                                    #if($app.logo)
                                    #set($logo = $app.href + $app.logo.name + "/alt-320-150.png")
                                    #end
                                    <img src="$logo" alt="$app.title">
                                </a>
                                <div class="caption">
                                    <h4 class="title">
                                        <a href="$app.href?websiteBranch=$!request.params.websiteBranch&websiteName=$!request.params.websiteName">
                                            $app.title
                                            <span class="parag-end"></span>
                                        </a>
                                    </h4>
                                    <p>
                                        #if( $app.brief )
                                        $app.brief
                                        #else
                                        No description.
                                        #end
                                    </p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">
                                        #if(!$app.price || $app.price == 0)
                                        Free
                                        #else
                                        $$app.price
                                        #end
                                    </p>
                                    #genRatings(3.5, 14)
                                </div>
                            </div>
                        </div>
                        #end
                    </div>
                </div>
                <div class="tab-pane" id="purchased">
                    <div class="row">
                        #foreach($app in $page.installed)
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="thumbnail app">
                                <a href="$app.href?websiteName=$!request.params.websiteName&websiteBranch=$!request.params.websiteBranch">
                                    #set($logo = "/theme/apps/marketplace/no_logo.png")
                                    #if($app.logo)
                                    #set($logo = $app.href + $app.logo.name + "/alt-320-150.png")
                                    #end
                                    <img src="$logo" alt="$app.title">
                                </a>
                                <div class="caption">
                                    <h4 class="title">
                                        <a href="$app.href?websiteName=$!request.params.websiteName&websiteBranch=$!request.params.websiteBranch">
                                            $app.title
                                            <span class="parag-end"></span>
                                        </a>
                                    </h4>
                                    <p>
                                        #if( $app.brief )
                                        $app.brief
                                        #else
                                        No description.
                                        #end
                                    </p>
                                </div>
                            </div>
                        </div>
                        #end
                        </div>
                    </div>
                </div>
            </div>
        </div>

        #macro(genRatings $rating $reviewCount)
        <p class="star-rating" title="$reviewCount reviews">
            #foreach($i in [0..4])
            #set($a = $rating - $i)
            #if($a > 0.5)
            <span class="fa fa-star"></span>
            #elseif($a == 0.5)
            <span class="fa fa-star-half-o"></span>
            #else
            <span class="fa fa-star-o"></span>
            #end
            #end
        </p>
        #end
    </body>
</html>
