<html>
    <head>
        <title>Martket Place</title>
        <link href="manageMarketPlace.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">
                <li class="active">
                    <a href="#browse" data-toggle="tab"><i class="fa fa-cart-plus"></i> Browse</a>
                </li>
                <li class="">
                    <a href="#purchased" data-toggle="tab"><i class="fa fa-download"></i> Purchased</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="browse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                #foreach($app in $page.children.ofType("app"))
                                #if( $app.appProvider || $app.themeProvider )
                                <div class="col-md-2">
                                    <div class="thumbnail app">
                                        <a href="$app.href">
                                            #set($logo = "/theme/apps/marketplace/no_logo.png")
                                            #if($app.logo)
                                                #set($logo = $app.href + $app.logo.name + "/alt-320-150.png")
                                            #end
                                            <img src="$logo" alt="$app.title">
                                        </a>
                                        <div class="caption">
                                            <h4 class="title"><a href="$app.href">$app.title<span class="parag-end"></span></a></h4>
                                            <p>
                                                #if( $app.brief )
                                                $app.brief
                                                #else
                                                No description.
                                                #end
                                            </p>
                                        </div>
                                        <div class="ratings">
                                            <p class="pull-right">
                                                #if(!$app.price || $app.price == 0)
                                                Free
                                                #else
                                                $$app.price
                                                #end
                                            </p>
                                            #genRatings(3.5, 14)
                                        </div>
                                    </div>
                                </div>
                                #end
                                #end
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="purchased">

                </div>
            </div>
        </div>

        #macro(genRatings $rating $reviewCount)
        <p class="star-rating" title="$reviewCount reviews">
            #foreach($i in [0..4])
            #set($a = $rating - $i)
            #if($a > 0.5)
            <span class="fa fa-star"></span>
            #elseif($a == 0.5)
            <span class="fa fa-star-half-o"></span>
            #else
            <span class="fa fa-star-o"></span>
            #end
            #end
        </p>
        #end
    </body>
</html>
