td.modules, div.modules {
    min-height: 300px;
}
body.dashboard div.modules {
    background-color: white;
}
.modules table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.modules col.first, .modules col.last {
    width: 62px;
}
.modules col.title {
    width: 70%;
}
.modules col {
    width: 90px;
}

.modules td {
    vertical-align: middle;
}
.modules td.progress, .modules td.assessment, .modules td.cert {
    text-align: center;
}

.modules thead td.last, .modules tbody td.last {
    padding: 0 23px 0 8px;
}

.modules tr.even td {
    background-color: white;
}
.modules tr.title td {
    border-top:1px solid #dbdada;    
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.modules tbody tr.title.last td, .modules tbody tr.brief.last td {
    border-bottom:1px solid #dbdada;    
}
.modules tbody tr.title.last.expanded td {
    border-bottom: none;
}

.modules tbody td.first {
    padding-left: 0.3em;
}
.modules tbody td.title, .modules tr.brief td {
    padding: 0 5px;    
}
.modules tbody td.title {
    font-weight: bold;
    line-height: 1.35em;
    font-size: 0.9em;
}
.modules tbody td.progress {
    font-size: 0.9em;
    font-weight: bold;
}
.modules tbody tr.brief {
    display: none;
}
.modules tbody .brief td {
    font-size: 0.7em;   
    padding-bottom: 0.4em;
}

.modules a.title:hover {
    text-decoration: none;
}
.modules tbody tr.title td.first, .modules tbody tr.title td.title {
    cursor: pointer;
}
.modules td p {
    font-size: 1em;    
}


.myLearning td.courses {
    width: 29%;
}
.courcesBox, .program {
    height: 1.85em;
}
.courcesBox {
    background:#3a3c3f !important;
}
.content a.cources {
    font-size:0.9em;
    color:#fff;
    text-decoration:none;
    float:left;
    display:block;

}

tr.gap td {
    background: none repeat scroll 0 0 white;
    height: 2px;    
}

.program {
    position:relative;
    z-index:999;    
    border-left:1px solid #707070;    
    background:url(images/wArrrow.gif) top right no-repeat;
    display:block;
    background-position:100% 0.80em;
    padding: 0px 16px 0 12px;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 1.7em;
}

.program span{
    color:#fff;
    font-size:0.7em;
}


.programSelect {
    width:144px;
    top:27px;
    right:-8px;
}

.program:hover .programSelect {
    display:block;
}

.tabularBox .infoIcon {
    line-height: 2em;    
}

.wBox {
    padding:5px 5px 5px 5px;
    background:#fff;
    display:block;
    min-height:3.25em;
    height:auto;    
}


.infoIcon {
    background:$page.parent.settings.heroColour1;
    border-radius: 15px;
    color: white;
    padding: 5px 12px;    
    cursor: pointer;
    font-size: 15px;
}
.extraInfo {
    display: none;
    clear: both;
    padding: 3px 0px 20px 0px;
    border-top:1px solid #dbdada;  
}


.leftBar{
    background:#f0f0f0;
}
a.courseBox {
    border-top:8px solid #dbdada;
    padding:20px 20px 20px 20px;
    display:block;
    background-color: white;
    border-bottom:1px solid #dbdada;
}

a.courseBox:nth-child(odd) {
    background-color: #F0F0F0;
}

.content a.courseBox:hover {
    text-decoration: none;
}
a.programBox1 {
    background:none;
    border:none;
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
}
a.programBox2 {
    background:#fff;
    border:none;
}

.time {
    float:left;
    font-size: 0.9em;
    background:url(images/time-icon.gif) top left no-repeat;
    padding-left:15px;
    display:block;
    height:13px;
    line-height: 13px;
}
.highlights {
    font-size:10px;
    float:left;
    line-height: 13px;
    margin-left: 2em;
}
.highlights a {
    
}

.strongTxt {
    color: #242424;
    display: block;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
}


.smllTxt {
    color: #2F2F2F;
    display: block;
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 7px;
}

.modules td.title a {
    display: inline-block;
    margin: 16px 0;
}