/*	Google fonts */
$fontOpenSans: 'Open+Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRaleway: 'Raleway', sans-serif;

/*	Fonts */
$fontFontAwesome: FontAwesome;
$fontClip: "clip-font";
$fontArialBlack: "Arial Black", arial-black;
$fontTimesNewRoman: "Times New Roman", Times, Georgia, serif;
$fontArial: Arial;

/*	Colors */
$white: #ffffff;
$black: #000;
$light-grey: #DDDDDD;
$dark-grey: #333333;

$teal: #569099;
$bricky: #C83A2A;
$green: #3D9400;
$purple: #57517B;
$blue: #364F6A;
$yellow: #FFA722;

/* THEME: light */
$light-base: $white;
$light-text: #555555;
$light-badge: #007AFF;

/* THEME: dark */
$dark-base: #4F4F4F;
$dark-text: #D9D9D9;
$dark-badge: #D9534F;

/* THEME: black and white */
$blackandwhite-base: #232323;
$blackandwhite-badge: $black;

/* THEME: green */
$green-base: #415A1E;
$green-text: #E8F2D9;
$green-badge: #E6674A;

/* THEME: navy */
$navy-base: #34485e;
$navy-badge: #D9534F;

// Kademi Colors
$brand-primary:         #252836;
$brand-success:         #39b7a1;
$brand-info:            #3988b7;
$brand-warning:         #e31b5c;
$brand-danger:          #e31b5c;
$panel-bg: #f0f5f8;
$panel-border-color: #dfeaf1;
$panel-heading-bg: #3988b7;
$navigation-bg: #252836;
$navigation-color: #c8c9cf;
$navigation-border-color: #303443;
