<html>
    <head>
        <title>Domains</title>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cogs"></i>
                <span class="panel-title">
                    DNS Settings
                </span>
            </div>
            <div class="panel-body">
                <button class="btn btn-success btn-create-hz" type="button"><i class="fa fa-plus"></i> Create Hosted Zone</button>
            </div>

            <table class="table table-striped table-hover">
                <colgroup>
                    <col style="width: 35%"/>
                    <col style="width: 80px;"/>
                    <col/>
                    <col style="width: 102px;"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Records</th>
                        <th>Comment</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody id="zone-tbody">
                    #foreach($hz in $page.hostedZones)
                    <tr>
                        <td>
                            <a href="$hz.id">$hz.name</a>
                        </td>
                        <td>$hz.resourceRecordSetCount</td>
                        <td>$!hz.config.comment</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="$hz.id" class="btn btn-primary" title="Edit"><i class="fa fa-pencil"></i></a>

                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="$hz.id" data-name="$hz.name" class="btn-delete-hz"><i class="fa fa-trash"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-globe"></i>
                <span class="panel-title">
                    Purchased Domains
                </span>
            </div>

            <div class="panel-body">
                <a href="/registerDomain/" class="btn btn-success"><i class="fa fa-plus"></i> Register a new domain</a>
            </div>

            <table class="table table-striped table-hover">
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col style="width: 102px;"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Privacy Protection</th>
                        <th>Expiration Date</th>
                        <th>Auto Renew</th>
                        <th>Transfer Lock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    #if($page.registeredDomains.size() > 0)
                    #foreach($d in $page.registeredDomains)
                    <tr>
                        <td>$!d.DomainName</td>
                        <td>
                            #if($d.AdminPrivacy && $d.TechPrivacy && $d.RegistrantPrivacy)
                            All Contacts
                            #elseif($d.AdminPrivacy || $d.TechPrivacy || $d.RegistrantPrivacy)
                            Some Contacts
                            #else
                            No Contacts
                            #end
                        </td>
                        <td>$!formatter.formatDate($d.ExpirationDate)</td>
                        <td>
                            #if($d.autoRenew)
                            <i class="fa fa-2x fa-check text-success"></i>
                            #else
                            <i class="fa fa-2x fa-times text-danger"></i>
                            #end
                        </td>
                        <td>
                            #if($d.statusList.contains("clientTransferProhibited"))
                            <i class="fa fa-2x fa-check text-success"></i>
                            #else
                            <i class="fa fa-2x fa-times text-danger"></i>
                            #end
                        </td>
                        <td>
                            <a href="/registerDomain/$formatter.percentEncode($d.domainName)" class="btn btn-primary" title="Edit"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    #end
                    #else
                    <tr>
                        <td colspan="6">You have no registered domains, <a href="/registerDomain/">Purchase one now</a></td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>

        #if($page.operationDetails.size() > 0)
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-globe"></i>
                <span class="panel-title">
                    Pending Requests
                </span>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Status</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($op in $page.operationDetails)
                    <tr>
                        <td>$op.domainName</td>
                        <td>
                            #if($op.status == "IN_PROGRESS")
                            Domain registration in progress
                            #elseif($op.status == "ERROR")
                            There was an error registring the domain
                            #elseif($op.status == "FAILED")
                            Domain registration failed
                            #elseif($op.status == "SUCCESSFUL")
                            Domain registration was successful
                            #elseif($op.status == "SUBMITTED")
                            Domain registration submitted
                            #else
                            $op.status
                            #end
                            #if($op.message)
                            <br/> $op.message
                            #end
                        </td>
                        <td>$formatter.formatDateTime($op.submittedDate)</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        #end

        <script type="text/javascript" src="/theme/apps/aws/manageHostedZones.js"></script>
    </body>
</html>
