<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Contact Requests</title>
    </head>
    <body class="manageEmail">
        <p class="alert alert-info">
	        <a class="close" data-dismiss="alert">&times;</a>
	        Below is a list of recently received contacts from your websites. Click on an item to see more information
        </p>

        <div class="panel panel-default">
	        <div class="panel-heading">
		        <i class="fa fa-envelope-o"></i>
		        Request
	        </div>
	        <div class="panel-body">
		        <table class="table table-bordered table-striped table-hover table-data">
			        <colgroup>
				        <col />
				        <col />
				        <col />
				        <col />
				        <col style="width: 80px" />
			        </colgroup>
			        <thead>
				        <tr>
					        <th>Date</th>
					        <th>Name</th>
					        <th>Phone</th>
					        <th>Email</th>
					        <th class="action">Action</th>
				        </tr>
			        </thead>
			        <tbody>
				        #foreach($cr in $page.recent)
				        <tr>
					        <td><abbr title="$cr.createdDate">$formatter.formatDate($cr.createdDate)</abbr></td>
					        <td>$formatter.htmlEncode($cr.firstName) $formatter.htmlEncode($cr.surName)</td>
					        <td>$formatter.htmlEncode($cr.phone)</td>
					        <td>$!cr.email</td>
					        <td class="action">
						        <a class="btn btn-sm btn-success" href="$cr.id">View </a>
					        </td>
				        </tr>
				        #end
			        </tbody>
				</table>
	        </div>
        </div>
    </body>
</html>