<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Calendars</title>
        <link href="/static/css/fullcalendar-1.6.4.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="calendars.js">//</script>
        <script type="text/javascript" src="/static/js/fullcalendar-1.6.4.js">//</script>
        <link href="calendars.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3>Upcoming events</h3>
        <div class="row">
            <div class="calendar-events col-lg-6">
                #foreach($cal in $page.children)
                #set($upcoming = $cal.upcomingEvents)
                #foreach($event in $upcoming )
                <article class="calendar-events-item">
                    <header class="calendar-events-header">
                        <h3><a href="$cal.name/$event.name">$event.summary</a></h3>
                        <div class="calendar-event-byline">
                            #if( $event.organisor )
                            <small class="author">By <a href="/users/$event.organisor.name/public">$event.organisor.formattedName</a></small>
                            #end
                            #if( $event.location )
                            <small class="location">At $event.location</small>
                            #end
                            <small>Starts $formatter.formatDate( $event.startDate ) (<abbr title="$formatter.formatDateISO8601($event.startDate)" class="timeago">$!event.startDate</abbr>)</small>
                            #set($num = $event.numAttendees() )
                            #if( $num > 0 )
                            <small>$num attendees</small>
                            #end
                        </div>
                    </header>
                    <div class="calendar-event-text">
                        <a href="$cal.name/$event.name" class="btn btn-success pull-right">Register</a>
                        $event.description
                    </div>
                </article>
                #end
                #end
            </div>

            <div class="col-lg-6">
                <div id="calendar" class="calendar-container" style=""></div>
            </div>

        </div>



        <script type="text/javascript">
            jQuery(function() {
                initCalendarsHome();
            });
        </script>
    </body>
</html>