<html>
    <head>
        <title>Calendar</title>
        <script type="text/javascript" src="calendars.js">//</script>
        <script type="text/javascript" src="manageCalendars.js">//</script>
        <script type="text/javascript" src="cal-utils.js">//</script>
        <script type="text/javascript" src="/static/js/fullcalendar-1.6.4.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js">//</script>        
        <link href="/static/css/fullcalendar-1.6.4.css" rel="stylesheet" type="text/css" />
    </head>    
    <body class="directory">

        <div class="input pull-right" id='myUploaded' style="width: 200px"></div> 

        <header class="ClearFix">
            <button class="SmallBtn Add AddEvent"><span>Add New Event</span></button>
        </header>  


        <table id="calendars" class="bar table table-striped vcenter Summary">
            <thead>
                <tr>
                    <th class="type-string">Events</th>
                    <th class="type-string">Start</th>
                    <th class="type-string">Finish</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
                #set($items = $page.upcomingEvents)
                #if( $items.isEmpty() )
                <tr>
                    <td colspan="4">There are no events. Add one using the Add button above, or upload ical files</td>
                </tr>

                #else
                #foreach($event in $items)
                <tr>
                    <td class="left">
                        <a href="$event.href">$event.summary</a>
                    </td>
                    <td><a href="$event.href">$formatter.formatDateTime($event.startDate)</a></td>
                    <td><a href="$event.href">$formatter.formatDateTime($event.endDate)</a></td>
                    <td>
                        <aside>
                            <!--
                            <a class="View" title="Edit" href="$event.name?goto">
                                <span class="Hidden">View</span>
                            </a>
                            -->
                            <a class="Edit" title="Edit" href="$event.name">
                                <span class="Hidden">Edit</span>
                            </a>
                            <a class="Delete" title="Delete" href="$event.name">
                                <span class="Hidden">Delete</span>
                            </a>                                
                        </aside>
                    </td>

                </tr>
                #end
                #end
            </tbody>
        </table>

        <hr/>

        <br/><br/><br/>

        <div id="calendar" class="calendar-container" style="width: 800px; margin: 0 auto;"></div>


        <script type="text/javascript" src="/static/js/stupidtable.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>      


        <div class="Modal" id="addEventModal">
            <header>
                <h3>Add Event</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="post" action=".">
                    <input type="hidden" name="action" value="create"/>
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="startDate">Start date</label></th>
                            <td><input type="text" name="startDate" id="startDate" value="" class="required" maxlength="30" placeholder="" /></td>
                        </tr>
                        <tr>
                            <th><label for="endDate">End date</label></th>
                            <td><input type="text" name="endDate" id="endDate" value="" class="required" maxlength="" placeholder="" /></td>
                        </tr>                    
                        <tr>
                            <th><label for="summary">Short summary</label></th>
                            <td>
                                <textarea name="summary" id="summary"></textarea>
                            </td>
                        </tr>                    

                        <tr>
                            <th><label for="description">Long Description</label></th>
                            <td>
                                <textarea name="description" id="description"></textarea>
                            </td>
                        </tr>                    

                        <tr>
                            <td colspan="2" class="Btn">
                                <button>Save changes</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>            

        <script type="text/javascript">
            jQuery(function() {
                initManageCalendar();
            });
        </script>        
    </body>
</html>