<div class="grid-item col-lg-4 col-md-4 col-sm-6 col-x2-12">
    <div class="dash-widget-item bgm-teal">
        <div class="dash-widget-header">
            <div class="">
                <div id='' style="height: 250px">
                    <svg id="signupsChart" width="100%" height=""></svg>
                </div>
            </div>
            <div class="dash-widget-title">New memberships past 7 days</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var params = window.location.search;
        $.get("/signupStats" + params, function (data) {
            flog("signupStats", data);
            initSignupChart(data);
        }, "json");
    });
    function initSignupChart(data) {
        flog("signupStats2", data);
        var total = 0;
        for( var i=0; i<data.length; i++) {
            total += data[i].count;
        }

        nv.addGraph(function () {
            var chart = nv.models.pieChart()
                    .x(function (d) {
                        return d.key
                    })
                    .y(function (d) {
                        return d.count;
                    })
                    .valueFormat(d3.format(".0f"))
                    .margin({"left":0,"right":0,"top":0,"bottom":0})
                    .showLabels(true)     //Display pie labels
                    .showLegend(false)
                    .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                    .labelType("value") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                    .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                    .title( total + "" )
                    .donutRatio(0.50)     //Configure how big you want the donut hole size to be.
                    ;
            d3.select("#signupsChart")
                    .datum(data)
                    .transition().duration(1500)
                    .call(chart);

            return chart;
        });

    }
</script>
