.label-achievement {
    background: #dcdcdc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
    padding: @padding-large-vertical @padding-large-horizontal;
}

.panel-circle-sales.panel-level-progress {
    .circle-sales-label {
        width: 75%;
    }
    
    .current-level {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
    }
    
    .next-level {
        font-size: 15px;
        line-height: 18px;
        font-weight: normal;
    }
}