#set ($menuId = "nav-top-" + $formatter.randomGuid)
#if( $menu )
#else
    #set( $menu = $menuManager.rootMenuItem )
#end

#if( $showUserMenu )
#else
    #set( $showUserMenu = false )
#end

#if( $showOrgSelector )
#else
    #set( $showOrgSelector = false )
#end

#if( $showLangSelector )
#else
    #set( $showLangSelector = false )
#end

#if( $showSearch )
#else
    #set( $showSearch = false )
#end

#if( $inverseMenu )
#else
    #set( $inverseMenu = false )
#end

<div class="toggle-menu-trigger-wrapper $triggerAlign">
    <button class="btn toggle-menu-trigger $triggerSize $triggerColor $!triggerClass" data-menu="#${menuId}" type="button"><i class="fa fa-bars"></i></button>
</div>
<div class="navbar #if ($inverseMenu == true) navbar-inverse #else navbar-default #end navbar-fixed-top toggle-menu" id="${menuId}" style="display: none;">
    <div class="container">
        <div class="navbar-header">
            #if( $logo )
                <a class="brand navbar-brand logo" href="/">
                    <img src="$logo" class="img-responsive" />
                </a>
            #end
        </div>

        <div class="navbar-collapse navbar-main-collapse">
            #portlets("shoppingCart")
            <ul class="nav navbar-nav navbar-right">
                #foreach($item in $menu.visible)
                    #showMenuItem( $item )
                #end

                #if ($showSearch == true)
                    <li class="navbar-search">
                        #portlets("searchInput")
                    </li>
                #end

                #if ($showOrgSelector == true)
                    <li class="navbar-org-selector">
                        #parse("/theme/apps/reporting/orgSelectorComponent.html")
                    </li>
                #end

                #if ($showLangSelector == true)
                    <li class="dropdown navbar-lang-selector">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-language"></i>
                            #set($currentLangText = "Default")
                            #if ($currentLang == "en")
                                #set($currentLangText = "English")
                            #elseif ($currentLang == "ar")
                                #set($currentLangText = "Arabic")
                            #end
                            $currentLangText
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="select-lang" href="">Default</a></li>
                            <li><a class="select-lang" href="en">English</a></li>
                            <li><a class="select-lang" href="ar">Arabic</a></li>
                        </ul>
                    </li>
                #end

                #if ($showUserMenu == true)
                    #if($user)
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                $formatter.truncate($userResource.title, 10)
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="/profile">Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    #else
                        <li class="dropdown login">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Login
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li style="min-width: 320px; padding: 15px">
                                    <form class="form-horizontal form-horizontal-narrower" role="form">
                                        <div class="form-group email">
                                            <label class="control-label col-md-3" for="inputEmail">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" id="inputEmail" name="email" placeholder="Email" type="email" required="true" class="form-control" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="inputPassword">Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="password" id="inputPassword" placeholder="Password" required="true" class="form-control" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn">Sign in</button>
                                                <small class="pull-right"><a href="/password-reset" title="Forgotten password" class="Forgot">Forgotten password</a></small>
                                            </div>
                                        </div>
                                        #portlets("socialLoginForm")
                                    </form>
                                </li>
                            </ul>
                        </li>
                    #end
                #end
                <li class="navbar-closer-wrapper"><a href="#" class="toggle-menu-closer" data-menu="#${menuId}"><i class="fa fa-times"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

#macro( showMenuItem $item )
    #if( $item.visible.isEmpty() )
    <li class="$formatter.ifTrue($item.active, 'active', '')"><a class="nav-${item.id}" href="$item.href" shape="rect">$item.text</a></li>
    #else
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">$item.text <span class="caret"></span></a>
        <ul class="dropdown-menu">
            #foreach( $subitem in $item.visible )
                #showMenuItem( $subitem )
                #end
        </ul>
    </li>
    #end
#end