
<form class="navbar-form navbar-right" action="/contentSearch" role="form" style="">
    <div class="form-group has-feedback">
        <div class="input-group">
            <input type="text" name="q" placeholder="Search" class="form-control" style="width: 120px" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div><!-- /input-group -->
    </div>
</form>
