<!-------------------------------------------------------------------------------------------------->
<!-- Containers -->
<!-------------------------------------------------------------------------------------------------->
<div data-type="container" data-preview="/theme/apps/content/preview/row_12.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td data-type="container-content" class="text-wrapper" >
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="container" data-preview="/theme/apps/content/preview/row_6_6.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="50%" align="left" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="50%" align="right" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="container" data-preview="/theme/apps/content/preview/row_4_8.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="33.3%" align="left" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="66.7%" align="right" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="container" data-preview="/theme/apps/content/preview/row_8_4.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="66.7%" align="left" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="33.3%" align="right" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="container" data-preview="/theme/apps/content/preview/row_4_4_4.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="33.3%" align="left" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="33.4%" align="left" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="33.3%" align="right" class="col">
                    <tbody>
                    <tr>
                        <td class="text-wrapper" data-type="container-content" >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-------------------------------------------------------------------------------------------------->
<!-- Components -->
<!-------------------------------------------------------------------------------------------------->
<div data-type="component-text" data-preview="/theme/apps/content/edmPreview/text_block.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td class="text-wrapper wrapper" style="padding-left: 10px; padding-right: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe culpa illo vero adipisci maiores consequuntur! Nobis, tempora saepe ut, sint distinctio, totam laborum quo minima magnam quidem, doloremque culpa facilis iusto beatae. Distinctio illo iure, amet sed earum unde quae voluptatum vel harum porro? Neque cum rem quasi, assumenda ut.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="component-photo" data-preview="/theme/apps/content/edmPreview/photo_block.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td class="text-wrapper wrapper" style="padding-left: 10px; padding-right: 10px;">
    <img src="/theme/apps/content/img/somewhere_bangladesh.jpg" style="display: block; border: 0;" width="100%" height="" alt="Image text" />
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="component-spacer" data-preview="/theme/apps/content/edmPreview/spacer.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td style="height: 20px" class="spacer wrapper" height="20">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="component-line" data-preview="/theme/apps/content/edmPreview/line.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td class="wrapper" style="padding-top: 20px; padding-bottom: 20px;">
                <div style="height: 2px; background-color: #ccc;"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="component-unsubscribe" data-preview="/theme/apps/content/edmPreview/unsubscribe.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td class="text-wrapper wrapper" style="padding-left: 10px; padding-right: 10px; ">
                <center><a href="http://$page.closest('website').domainName/profile?$page.model.login"><small>To unsubscribe please login to your profile page</small></a></center>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div data-type="component-button" data-preview="/theme/apps/content/edmPreview/button.png">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr>
            <td class="wrapper">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-radius: 3px; background-color: rgb(43, 170, 223);">
                    <tbody>
                    <tr>
                        <td align="center" valign="middle" class="mcnButtonContent" style="font-size: 16px; padding-top: 15px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px;">
                            <a title="Button" href="#" target="_blank" style="font-weight: bold; text-align: center; text-decoration: none; color: #ffffff;">Button</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

#portlets("extraEdmSnippets")
