<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Content Item</title>

    </head>
    <body class="manageEmail">

        #parse("/theme/apps/content/assetsCommon.html")

        #assetHeader()

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" controls="true" >
                            <source src="/assets/$page.asset.uniqueId" />
                        </video>
                    </div>
                </div>
            </div>
        </div>

        #assetCommonScripts()

    </body>
</html>