<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Contact Requests</title>

    </head>
    <body class="manageEmail">
        <form id="frmUpload" action="$page.href" method="post" enctype="multipart/form-data">
            File Upload<br />
            <input id="txtFileUpload" type="file" name="NewFile" />
            <input type="submit" value="Upload" />
        </form>

        #foreach( $ct in $page.contentTypes)
        <a class="btn btn-success" href="new?type=$ct.name">New $ct.name</a>
        #end

        #set( $assets = $page.search("") )
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Format</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
            #foreach( $asset in $assets )
            <tr>
                <td><a href="$asset.uniqueId">$asset.name</a></td>
                <td>
                    $!asset.format
                    #foreach($ct in $asset.contentTypes)
                        $ct
                    #end
                </td>
                <td>$asset.createdDate</td>
                <td>$asset.modifiedDate</td>
            </tr>
            #end
        </table>

        <script type="text/javascript" >
            $(function () {
                $("#frmUpload").forms({
                    onSuccess: function (resp) {
                        if (resp.status) {
                            Msg.info(resp.messages[0]);
                        }
                    }
                });
            });
        </script>
    </body>
</html>