<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Content Item</title>

    </head>
    <body class="manageEmail">

        #parse("/theme/apps/content/assetsCommon.html")

        #assetHeader()

        #@assetMainForm()

        <div class="form-group">
            <label class="control-label col-md-3" for="format">Format</label>

            <div class="col-md-8">
                <select name="format" class="required form-control" required="true" >
                    $formatter.option("text/plain", "Plain text", $page.asset.format)
                    $formatter.option("text/html", "HTML", $page.asset.format)
                </select>
            </div>
        </div>

        <textarea name="text" class="form-control" style="height: 400px">$!page.text</textarea>
        #end


        #assetCommonScripts()

    </body>
</html>