<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Content Item</title>
    
    </head>
    <body class="manageEmail">
        
        #parse("/theme/apps/content/assetsCommon.html")
        
        #assetHeader()
        
        <div class="row">
            <div class="col-sm-4" id="asset-previewer">
                <div class="thumbnail">
                    <img class="img img-responsive" src="/assets/$page.asset.uniqueId" />
                </div>
            </div>
            <div class="col-sm-8">
                #replaceBinaryAsset()
                <div id="asset-info">
                    #assetInfo()
                </div>
            </div>
        </div>
        
        #assetCommonScripts()
    
    </body>
</html>