<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Title</label>
        <div class="col-sm-12">
            <input type="text" value="" class="traveldeals-cat-title form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Show count</label>
        <div class="col-sm-12">
            <select class="form-control traveldeals-cat-show-count">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <div class="form-group traveldeals-cat-count-style-wrapper">
        <label class="col-sm-12">Count Style</label>
        <div class="col-sm-12">
            <select class="form-control traveldeals-cat-count-style">
                <option value="default">Default</option>
                <option value="primary">Primary</option>
                <option value="success">Success</option>
                <option value="info">Info</option>
                <option value="warning">Warning</option>
                <option value="danger">Danger</option>
            </select>
        </div>
    </div>
</form>