<?js
    var data = obj;
?>
    <section class="section-source">
        <article>
            <pre class="prettyprint source linenums"><code><?js= data.code ?></code></pre>
        </article>
    </section>