#if( !$height )
    #set( $height = 200 )
#end
#set( $height = $formatter.toInteger($height) )

#if( !$showHeaders )
    #set( $showHeaders = true )
#end

#if( !$displayedItems )
    #set( $displayedItems = 1 )
#end
#set( $displayedItems = $formatter.toInteger($displayedItems) )

#if( !$title || $title == "" )
    #if ($displayedItems > 0)
        #set( $title = "Top " + $displayedItems + " Purchased" )
    #else
        #set( $title = "Top Purchased" )
    #end
#end

#script()
<script>
    var queryJson = {
        "fields": ["productName", "productTitle", "quantity"],
        "size": 10000,
        "sort": [
            {
                "orderedDate": "desc"
            }
        ],
        "aggregations": {
            "productName": {
                "terms": {
                    "field": "productName",
                    "size": templatingContext.displayedItems,
                    "order": [
                        {
                            "totalQuantity": "desc"
                        }
                    ]
                },
                "aggs": {
                    "totalQuantity": {
                        "sum": {
                            "field": "quantity"
                        }
                    },
                    "productTitleHit": {
                        "top_hits": {
                            "_source": {
                                "includes": [
                                    "productTitle"
                                ]
                            },
                            "size" : 1
                        }
                    }
                }
            }
        },
        "query": {
            "filtered": {
                "filter": {
                    "bool": {
                        "must": [
                            {
                                "type": {
                                    "value": "productorder"
                                }
                            }
                        ]
                    }
                }
            }
        }
    };

    var startDate = templatingContext.params.startDate;
    var endDate = templatingContext.params.endDate;

    if (startDate && endDate) {
        queryJson.query.filtered.filter.bool.must.push({
            "range": {
                "orderedDate": {
                    "gte":  new Date(formatter.formatDateISO8601(startDate)).toISOString(),
                    "lte": new Date(formatter.formatDateISO8601(endDate)).toISOString()
                }
            }
        });
    }

    var searchResults = applications.search.searchManager.search(JSON.stringify(queryJson), "productorders");
    templatingContext.searchResults = searchResults;
</script>
#end

<div class="panel panel-default panel-top-purchased-table" id="${tableId}" #if ($height > 0) style="height: $!{height}px; min-height: 0; overflow: hidden" #end>
    <div class="panel-heading">
        <i class="fa fa-arrow-up"></i> $title
    </div>

    <table class="table table-striped">
        #if( $formatter.toBool($showHeaders) )
            <thead>
                <tr>
                    <th>Product Title</th>
                    <th>Number of Purchases</th>
                </tr>
            </thead>
        #end

        <tbody>
            #if( $searchResults.hits.totalHits == 0 )
                <tr>
                    <td colspan="2" class="text-center">No results</td>
                </tr>
            #else

                #foreach($row in $searchResults.aggregations.productName.buckets)
                    <tr>
                        <td>$row.aggregations.productTitleHit.hits.hits.get(0).source.productTitle</td>
                        <td>$formatter.formatCurrency($row.aggregations.totalQuantity.value, false)</td>
                    </tr>
                #end
            #end
        </tbody>
    </table>
</div>




