#foreach($entry in $dataSeries.recordsMap.entrySet())
<h3>
    <a href="/sales/$entry.key/?query=$page.thisProfile.name#history-tab">
        $entry.key
    </a>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>SKU</th>
            #if ($dataSeries.userSeries.get($entry.key).fieldset.pairsOrdered)
            #foreach ($field in $dataSeries.userSeries.get($entry.key).fieldset.pairsOrdered)
            <th>$field.name</th>
            #end
            #end
            <th></th>
        </tr>
    </thead>
	<tbody>
    	#foreach($record in $entry.value)
		<tr>
    		<td>$formatter.formatDate($record.periodFrom, $page.organisation.timezone)</td>
    		<td>$formatter.formatDate($record.periodTo, $page.organisation.timezone)</td>
    		<td>$!record.amount</td>
            <td>$!record.productSku</td>
            #if ($dataSeries.userSeries.get($entry.key).fieldset.pairsOrdered)
	            #foreach ($field in $dataSeries.userSeries.get($entry.key).fieldset.pairsOrdered)
		    		<td>$!record.fieldValue($field.name)</td>
	            #end
            #end
            <td>
                <a href="/sales/$record.series.name/$record.id" class="btn btn-info">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
		</tr>
		#end
	</tbody>
</table>
#end