<h2>Daily visits - filtered by date range</h2>

<p class="lead">Last visit -  <abbr title="$formatter.formatDateISO8601($page.thisProfile.lastVisit)" class="timeago">$!page.thisProfile.lastVisit</abbr></p>



#foreach($website in $page.find("/websites").children.ofType.website)
#set( $visits = $page.userResource.dailyVisits($website.website) )

<h3>$website.name</h3>
#if( $visits.size() > 0 )
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        #foreach($visit in $visits)
        <tr>
            <td>$formatter.formatDate($visit.date)</td>
            <td>$visit.count</td>
        </tr>
        #end
    </tbody>
</table>
#else
<i>No visits to website $website.name - $visits</i>
#end
#end

<h2>All page views - filtered by date range</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Website</th>
            <th>Path</th>
            <th>Method</th>
            <th>Result</th>
            <th>Duration (ms)</th>
            <th>Size (bytes)</th>
            <th>Referrer</th>
        </tr>
    </thead>
    <tbody>
        #set( $history = $page.userResource.searchWebHits(null,null) )

        #foreach($hit in $history.hits.hits )
        <tr>
            <td>$hit.fields.reqHost.value</td>
            <td>$hit.fields.url.value</td>
            <td>$hit.fields.reqMethod.value</td>
            <td>$!hit.fields.resultCode.value</td>
            <td>$!hit.fields.durationMs.value</td>
            <td>$!hit.fields.numBytes.value</td>
            <td>$!hit.fields.referrer.value</td>
        </tr>
        #end
    </tbody>
</table>
