#foreach($website in $page.find("/websites").children.ofType.website)
<h3>$website.name</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        #foreach($visit in $page.userResource.dailyVisits(null,null, $website.website))
        <tr>
            <td>$formatter.formatDate($visit.date)</td>
            <td>$visit.count</td>
        </tr>
        #end
    </tbody>
</table>
#end