<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="managePost.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="managePost.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js">//</script>
    </head>
    <body class="managePost">

        <div class="tabbable">
            <ul class="nav nav-tabs tab-bricky">
                <li><a data-toggle="tab" href="#posts">Recent posts</a></li>
                <li><a data-toggle="tab" href="#reports">Reports</a></li>
            </ul>
            <div class="tab-content">
                <!-- Start content of Recent posts tab -->
                <div id="posts" class="tab-pane">

                    <button class="btn btn-danger pull-right btn-bulk-delete" type="button" style="display: none;">
                        <i class="fa fa-trash"></i> <span id="delete-posts-text">Delete</span>
                    </button>
                    <a href="posts.csv" download="posts.csv" class="btn btn-info pull-right">Export to CSV</a>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover posts-table">
                            <colgroup>
                                <col style="width: 120px" />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col style="width: 60px" />
                                <col style="width: 82px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Votes</th>
                                    <th>Content</th>
                                    <th>Name</th>
                                    <th>Time</th>
                                    <th>Author</th>
                                    <th class="action"></th>
                                    <th class="action text-center"><input class="select-all" type="checkbox"/></th>
                                </tr>
                            </thead>
                            <tbody>
                                #set($posts = $page.latestPosts)
                                #foreach($post in $posts)
                                <tr id="post-$post.id" data-id="$post.id">
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-success dropdown-toggle vote-up" data-toggle="dropdown" type="button">
                                                <i class="fa clip-thumbs-up"></i>
                                            </button>
                                            <button class="btn btn-warning dropdown-toggle vote-down" data-toggle="dropdown" type="button">
                                                <i class="fa clip-thumbs-up-2"></i>
                                            </button>
                                        </div>
                                        #if( $post.votesTotal )
                                        <span class="badge">$post.votesTotal</span>
                                        #end

                                    </td>
                                    <td class="post-content">$post.notes</td>
                                    <td>
                                        #if( $post.forumTitle )
                                        <a target="_blank" class="btn btn-xs btn-info" href="http://${post.contentDomain}$post.contentHref?${page.cookieAuthParams}">$post.forumTitle</a>
                                        #else
                                        <a target="_blank" class="btn btn-xs btn-info" href="http://${post.contentDomain}$post.contentHref?${page.cookieAuthParams}">$post.contentTitle</a>
                                        #end
                                    </td>
                                    <td><abbr title="$formatter.formatDateISO8601($post.date)" class="timeago">$post.date</abbr></td>
                                    <td>
                                        #if($post.user)
                                        <a href="/manageUsers/$post.user.userId/#commentsTab-tab">$post.user.name</a>
                                        #else
                                        Anonymous
                                        #end
                                    </td>
                                    <td class="action">
                                        <div class="btn-group btn-group">
                                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="$post.id" title="Edit this post" class="btn-edit-post"><span class="Hidden">Edit this post</span></a></li>
                                                <li><a href="$post.id" title="Delete this post" class="btn-delete-post"><span class="Hidden">Delete this post</span></a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-center"><input data-href="$post.id" type="checkbox" class="post-check"/></td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End content of Recent posts tab -->
                <!-- Start content of Reports tab -->
                <div id="reports" class="tab-pane">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col style="width: 60px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Content</th>
                                    <th>Page/Forum</th>
                                    <th>Time</th>
                                    <th>Author</th>
                                    <th>Reported by</th>
                                    <th>Comment by reportee</th>
                                    <th>Report Category</th>
                                    <th class="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                                #set($reports = $page.postReports)
                                #foreach($report in $reports)
                                #set($post = $report.post)
                                <tr>
                                    <td>$post.notes</td>
                                    <td>
                                        #if( $post.forumTitle )
                                        <a target="_blank" class="btn btn-xs btn-info" href="http://${post.contentDomain}$post.contentHref?${page.cookieAuthParams}">$post.forumTitle</a>
                                        #else
                                        <a target="_blank" class="btn btn-xs btn-success" href="http://${post.contentDomain}$post.contentHref?${page.cookieAuthParams}">$post.contentTitle</a>
                                        #end
                                    </td>
                                    <td><abbr title="$formatter.formatDateISO8601($post.date)" class="timeago">$post.date</abbr></td>
                                    <td><a href="$post.user.href">$post.user.name</a></td>
                                    <td><a href="$report.reportedBy.href">$report.reportedBy.name</a></td>
                                    <td>$report.comments</td>
                                    <td>$report.category</td>
                                    <td class="action">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="$report.id" title="Dismiss report" class="btn-dismiss-report"><span class="Hidden">Dismiss report</span></a></li>
                                                <li><a href="$post.id" title="Edit this post" class="btn-edit-post"><span class="Hidden">Edit this post</span></a></li>
                                                <li><a href="$report.id" title="Delete this post" class="btn-delete-report"><span class="Hidden">Delete this post</span></a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End content of Reports tab -->
            </div>
        </div>

        <div id="modal-edit-post" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Edit Post</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea name="editComment" rows="3" class="required form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary btn-save-post" type="submit">Save</button>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                initManagePost();
            });
        </script>
    </body>
</html>