<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$page.title</title>
        <link href="manageForum.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="manageForum.js">//</script>
    </head>
    <body class="manageForum">
        <p class="well">
	        Use this page to create and manage the forums in your websites. Select a website to begin.
        </p>

        <div class="btn-group pull-right">
	        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
		        <span>$page.title</span> <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu" role="menu">
		        #set($websites = $page.forumsRoot.children)
		        #if( $websites.isEmpty() )
			        <li>You need at least one website to add a forum</li>
		        #else
			        #foreach($websiteFolder in $websites)
			            <li><a href="$websiteFolder.href">$websiteFolder.name</a></li>
			        #end
		        #end
	        </ul>
        </div>

        #if($page.website)
            <p>
	            <a class="btn btn-sm btn-success btn-add-forum" href=""><i class="fa fa-plus"></i> Add forum</a>
            </p>

            <div id="forum-wrapper">
	        #foreach($forum in $page.children)
		        <div class="panel panel-default forum" data-name="$forum.name" data-title="$forum.title" data-notes="$!forum.notes">
			        <div class="panel-heading">
				        <i class="clip-folder"></i>
				        $forum.title
				        <div class="btn-group btn-group-xs">
					        <button data-toggle="dropdown" class="btn btn-sm btn-default btn-squared dropdown-toggle" type="button">
						        <span class="caret"></span>
					        </button>
					        <ul role="menu" class="dropdown-menu">
						        <li><a href="$forum.name" class="btn-edit-forum"><i class="fa fa-edit"></i> Edit</a></li>
						        <li class="divider"></li>
						        <li><a href="$forum.name" class="btn-delete-forum"><i class="fa fa-times"></i> Delete</a></li>
					        </ul>
				        </div>
			        </div>
			        <div class="panel-body">
				        <h4>Recent posts</h4>
				        <hr class="hr-sm" />
				        <div class="article-wrapper article-sm topics-list">
					        #foreach($post in $forum.recentPosts)
					        <article>
						        <span class="article-name">$post.title</span>
					        </article>
					        #end
				        </div>
			        </div>
		        </div>
	        #end
        #end
        </div>

        <div id="modal-forum" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">Add Forum</h4>
	        </div>
            <form method="post" action="." class="form-horizontal">
                <div class="modal-body">
                    <div class="form-message alert alert-danger" style="display: none;"></div>
			        <input type="hidden" value="" id="action" name="action" />
			        <div class="form-group">
				        <label class="control-label col-md-3" for="name">Name</label>
				        <div class="col-md-8">
				            <input type="text" name="name" id="name" value="" class="required simpleChars form-control" maxlength="30" placeholder="Forum name" />
				        </div>
			        </div>
			        <div class="form-group">
				        <label class="control-label col-md-3" for="title">Title</label>
				        <div class="col-md-8">
					        <input type="text" name="title" id="title" value="" class="required simpleChars form-control" maxlength="" placeholder="Forum title" />
				        </div>
			        </div>
			        <div class="form-group">
				        <label class="control-label col-md-3" for="notes">Description</label>
				        <div class="col-md-8">
					        <textarea name="notes" id="notes" class="form-control" rows="4"></textarea>
				        </div>
			        </div>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
	        </div>
            </form>
        </div>

        <script type="text/javascript">
            $(function () {
                initManageForum();
            });
        </script>
    </body>
</html>