<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="myForums.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="myTopic.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.report-abuse.js" >//</script>
        <link href="/static/js/report-abuse.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="forums add-container">
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <div id="content">            
            <div class="PostDetails">
                <div class="Post Question ClearFix">
                    <div class="Avatar"> <img src="$formatter.profilePicHref($page.poster)" width="50" height="50" alt="Patrick Hone" /> </div>
                    <div class="Details">
                        <h3>$page.title</h3>

                        <p>
                            <abbr title="$formatter.formatDateISO8601($page.postDate)" class="timeago">$page.postDate</abbr>
                            <em><a href="#">$page.posterName</a></em>
                        </p>
                        <div class="Description">
                            <p>$page.notes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="commentArea edifyViewMode">            
            <div class="hideBtn"><a href="#" class="">Hide comments</a></div>
            <div id="comments">
                <div class="fBox">
                    <form action="#" method="post" id="postComment">
                        <fieldset>
                            <div class="commentContainer">
                                <div class="centerOuter">
                                    <div class="centerInner">

                                        <textarea class="" rows="1" placeholder="Ask a question, or offer an answer"></textarea>
                                        <div class="commentControls">
                                            <button class="btn requiresUser" type="submit">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </fieldset>
                    </form>
                </div>
            </div>
            <br/><br/>
        </div>

        <script type="text/javascript">
            $(function () {
                initMyQuestion();
                initComments(window.location.pathname);
            });
        </script>        
    </body>
</html>