
<a class="notifications dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
    <i class="fa fa-comment"></i>
    <span class="badge">$page.find("/notifs").numNotifications</span>
</a>
<ul class="dropdown-menu posts" style="width: 300px" id="notificationsContainer">
    <li>
        <span class="dropdown-menu-title"> You have 9 messages</span>
    </li>
    <li class="forumReply">
        <div class="profilePic" href="/users/admin/public">
            <img src="/_hashes/files/76d7403a63737712e3886df62a7fceb567dd7c85" alt="">
        </div>
        <div class="user" href="/users/admin/public">admin</div>
        <p class="cmt">asdasd</p>
        <abbr title="20/10/2015 8:43" class="auxText">about 5 hours ago</abbr>
        <div>

        </div>
    </li>
</ul>

<script>
    pageInitFunctions.push(function () {
        initNotifications();
    });

    function initNotifications() {
        $(".notifications").click(function (e) {
            var link = $(e.target).closest("a");
            if (link.hasClass("loaded")) {
                return;
            }


            loadNotifications();
        });
    }

    function loadNotifications(cont) {
        $.ajax({
            type: "GET",
            url: "/notifs",
            dataType: 'json',
            success: function (data) {
                flog('loadNotifications response', data);

            },
            error: function (resp) {
                flog('loadNotifications error', resp);
            }
        });
    }
</script>