/** $page.class **/
body.certificate {
    margin:0px;            
    padding:0px;    
}

body.certificate div.body, #editor {
    width: 710px;
    height: 960px;
    margin: auto;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;    
    font-family:  Helvetica, Arial, sans-serif;            
    font-size:18px; 
    #if($params.imageHash)
    background-image: url(/_hashes/files/${params.imageHash});
    #else
    background-image: url(/_hashes/files/${page.imageHash});
    #end    
}

