#manageReward > header {
    border-bottom: 1px solid #dadada;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#manageReward > header .Left h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
}
#manageReward > header button { margin: 0 }

table.Details td small {
    font-size: 11px;
    font-style: italic;
}
#manageReward .Content {
    border: 1px solid #dedede;
    border-radius: 5px;
    position: relative;
    padding: 10px;
}
#manageReward .Content header a {
    display: inline-block;
    font-weight: bold;
    padding-right: 13px;
}
#manageReward .Content header a.Status { margin-right: 44px; }

#manageReward .Content ul li.Odd { background-color: #FFF; }
#manageReward .Content ul {
    list-style-type: none;
    margin-left: 0;
}
#manageReward .Content ul li > div {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 25px;
    line-height: 25px;
    padding-left: 29px;    
}
#manageReward .Content ul li > div > a {
    padding-right: 10px;
}
#manageReward .Content ul li > div.Fullfilled { background-position: 0 -25px; }
#manageReward .Content ul li > div.Expired { background-position: 0 -50px; }
#manageReward .Content ul li aside { float: right; }
#manageReward .Content ul li aside a {
    float: left;
    display: block;
    height: 23px;
    width: 23px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 4px;
    border-radius: 2px;
    padding: 1px;
}
#manageReward .Content ul li aside a.entries {
    width: 90px;
}
#manageReward .Content ul li aside a:hover { background-color: #FFF; }
#manageReward .Content ul li.Odd aside a:hover {
    padding: 0px;
    border: 1px solid #dedede;
}
#manageReward .Dialog {
    right: auto;
    left: 70px;
    top: 20px;
}
body .muploadBtn span {
    left: 17px;
}
.fileupload-buttonbar .progress {
    border: 1px solid #51A351;
    border-radius: 5px 5px 5px 5px;
    display: none;
    width: 60%;
    float: right;
}
.fileupload-buttonbar .progress div {
    background-color: #51A351;
    height: 2.5em;
    width: 0;
    padding: 0;
    margin: 0;
}
#module-Course button, body.profile #module-Course .content a.button {
    cursor: pointer;
    margin: 10px;
    padding: 1px 20px;
}
table.Details th { width: 140px; }
table.entriesLinks td {
    padding: 10px;
}
#manageReward header .Btn {
    float: right;
    margin-left: 10px;
}
div.entryFormItem {
    padding: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
div.entryFormItemDetails textarea {
    width: 500px;
    height: 80px;
}
div.entryFormItemDetails {
    display: none;
    margin-left: 40px;
    padding: 10px;
}
div.entryFormItemDetails label {
    display: block;
}
div.entryFormItemDetails select.newQuestionType {
    width: 500px;
}
.restrictionList li {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    /*height: 24px;*/
    line-height: 25px;
    /*margin-right: 10px;*/
    margin-top: 3px;
    padding: 4px 10px;    
}
.restrictionList li a.remove {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin-left: 10px;
    background-image: url(/templates/themes/admin/images/btn_delete_small.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
}
.margin-top-12 {
    margin-top: 12px;
}
.margin-top-10 {
    margin-top: 10px;
}
.reset-margin-bottom {
    margin-bottom: 0px;
}
.GroupList li {
    margin-top: 3px;
    margin-right: 10px;
}
.restrictionList li, .GroupList li, .ListItem li {
    list-style-type: none;
}
.DateTimeIcon {
	display: none;
}