<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Reward</title>
        <link rel="stylesheet" type="text/css" href="manageReward.css" />
        <link rel="stylesheet" type="text/css" href="/static/quiz/quiz.css"  />
       	<script type="text/javascript" src="manageReward.js">//</script>        
        <script type="text/javascript" src="/static/inline-edit/inline-edit.js">//</script>        
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
        <script type="text/javascript" src="/static/quiz/quiz.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js">//</script>        
    </head>
    <body>
        <form action="" method="POST" class="manageRewardForm" role="form">
            <div id="manageReward" class="MainContent tabbable">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                        
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default article-preview" target="_blank" href="$page.href?goto=">Preview</a>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a>Select a version:</a></li>
                                <li class="divider"></li>
                                #foreach($version in $page.parent.branches)
                                <li><a target="_blank" href="$page.href?goto=$version.repository.name:$version.name">$version.repository.name - $version.name</a></li>
                                #end
                            </ul>
                        </div>
                        
                        <button class="btn btn-sm btn-warning Cancel" type="button">
                            Cancel
                        </button>
                        
                    </div>
                    <ul class="TabNav nav nav-tabs tab-bricky pull-left">
                        <li class=""><a href="#details" data-toggle="tab">Details</a></li>
                        <li class=""><a href="#groups" data-toggle="tab">Groups</a></li>
                        <li class=""><a href="#entryForm" data-toggle="tab">Entry Form</a></li>
                        <li class=""><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
                        <li class=""><a href="#entries" data-toggle="tab">Entries</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane Details" id="details">
                        <input type="hidden" id="backgroundImageHash" name="backgroundImageHash" value="$!page.backgroundImageHash" />
                        <table class="Details form-horizontal">
                            <colgroup>
                                <col width="20%" />
                                <col width="80%" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Reward title</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" name="title" placeholder="Enter a name here" value="$page.reward.title" class="form-control required" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <select name="status" class="form-control">
                                                    #foreach($st in $page.statusList.entrySet())
                                                    $formatter.option($st.key, $st.value, $page.status)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Points system</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="pointsType" class="pointsType form-control">
                                                    $formatter.option("", "No points system", $page.reward.pointsType)
                                                    #foreach($st in $page.pointsOptionsMap.entrySet())
                                                    $formatter.option($st.key, $st.value, $page.pointsType)
                                                    #end
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="pointsOrgType">To organisation type:</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="pointsOrgType" class="pointsOrgType form-control" style="float: none">
                                                    $formatter.option("", "[Any]", $page.pointsOrgType)
                                                    #foreach($orgType in $page.orgTypes)
                                                    $formatter.option($orgType.name, $orgType.displayName, $page.pointsOrgType)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>     
                                <tr>
                                    <td>One per recipient</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        $formatter.checkbox("onePerRecipient", $page.onePerRecipient)
                                                        <i>If selected this reward will only be issued once to a user, or their organisation if using an organisation points system</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Template</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" name="template" value="$!page.template"/>
                                                <br/>
                                                <i>Leave blank for default, otherwise a path to a template, eg /learner/competition.html</i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        Notes
                                        <br /><small><i>These notes are for internal purposes only.</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea cols="100" class="form-control" name="notes" rows="10" placeholder="Enter your notes here">$!page.notes</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Choose a start date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" name="startDate" placeholder="Start date" data-format="DD/MM/YYYY" value="$!page.startDate" class="form-control DateTime" />
                                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Choose a end date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" name="endDate" placeholder="End date" data-format="DD/MM/YYYY" value="$!page.endDate" class="form-control DateTime" />
                                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>							
                                <!--
                                <tr>
                                    <td>Email confirmation</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        $formatter.checkbox("emailConfirm", $page.emailConfirm)
                                                        Send an email confirmation to the user when they are awarded.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                -->
                                <tr>
                                    <td>
                                        Details<br />
                                        <small><i>This copy will sit next to the image and tell the user about the competition or reward.</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea cols="120" name="details" rows="10" class="htmleditor" placeholder="Enter the details here">$formatter.htmlEncode($page.details)</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="groups">
                        <button class="btn btn-sm btn-primary Add AddGroup" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus"></i> Add/remove groups</button>
                        <div class="well margin-top-10">Add user groups to rewards to allow these users to directly enter the competition. These users will see the reward on their dashboard when it is active.</div>
                        <div class="GroupList">
                            #foreach($g in $page.selectedGroups)
                            <button class="btn btn-sm btn-default reset-margin-bottom" type="button">$g.name</button>
                            #end
                        </div>
                    </div>

                    <div class="tab-pane" id="entryForm">
                        <div class="well reset-margin-bottom">
                            You can add entry form items here. Just enable the item you want and 
                            fill in its required fields.
                        </div>
                        <div class="entryFormItem">
                            $formatter.checkbox("staticMessageEnabled", "staticMessageEnabled", $page.staticMessageEnabled)
                            <label for="staticMessageEnabled" class="control-label">Display static message</label>
                            <div class="entryFormItemDetails">
                                <label for="staticMessage" class="control-label">Please enter the message to display here</label>
                                <textarea id="staticMessage" class="form-control" name="staticMessage">$!page.staticMessage</textarea>
                            </div>
                        </div>
                        <div class="entryFormItem">
                            $formatter.checkbox("userTextEnabled", "userTextEnabled", $page.userTextEnabled)
                            <label for="userTextEnabled" class="control-label">User enters text</label>
                            <div class="entryFormItemDetails">
                                <label for="userTextMessage" class="control-label">Please enter some instructions for the user</label>
                                <textarea id="userTextMessage" class="form-control userTextMessage" name="userTextMessage">$!page.userTextMessage</textarea>
                            </div>
                        </div>

                        <div class="entryFormItem">
                            $formatter.checkbox("userUploadEnabled", "userUploadEnabled", $page.userUploadEnabled)
                            <label for="userUploadEnabled" class="control-label">User uploads image</label>
                        </div>

                        <div class="entryFormItem">
                            $formatter.checkbox("quizEnabled", "quizEnabled", $page.quizEnabled)
                            <label for="quizEnabled" class="control-label">Survey / Quiz</label>
                            <!--
                            <div class="entryFormItemDetails quizContainer">
                                <div class="alert alert-danger pageMessage">.</div>
                                <select class="form-control newQuestionType">
                                    <option value="">Add a question</option>
                                    <option value="multi">Multiple choice</option>
                                    <option value="textbox">Textbox</option>
                                </select>
                                <div id="quiz-questions"></div>
                            </div>
                            -->
                            <p>Please enter the HTML for the quiz or survey below</p>
                            <textarea name="quizHtml" class="col-md-12" style="min-height: 200px">$!page.quizHtml</textarea>
                            <br/>
                            <h3>Quiz</h3>
                            <p>If you would like this to be a quiz, please enter answers below. If not provided answers will not be checked.</p>
                            
                            #foreach($i in [1..5])
                            <div class="form-group">
                                <label for="answer1" class="col-sm-3 control-label">Answer $i</label>
                                <div class="col-sm-8">
                                    #set($answerName = "answer" + $i)
                                    <input name="$answerName" type="text" class="form-control" id="answer${i}" placeholder="Answer $i" value="$!page.actualAnswers.get($answerName)"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            #end
                        </div>
                        
                    </div>

                    <div class="tab-pane" id="restrictions">
                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary addRestriction" data-toggle="modal" data-target="#modalAddRestriction"><i class="fa fa-plus"></i> Add a restriction</button>
                        </div>
                        <br />
                        <div class="well">Add restrictions which will prevent rewards from being given unless they have been ment.</div>
                        <ul class="restrictionList clearfix" style="padding-left: 0px;">
                            #foreach($r in $page.restrictions)
                            <li>
                                $r.description
                                <input type="hidden" name="restrictionType${foreach.count}" value="$r.type"/>
                                <input type="hidden" name="restrictionItem${foreach.count}" value="$r.item"/>
                                <button data-dismiss="alert" class="close remove">&times;</button>
                            </li>
                            #end
                        </ul>
                    </div>

                    <div class="tab-pane" id="entries">
                        <div class="well reset-margin-bottom">
                            <table class="entriesLinks">
                                <tr>
                                    <th>Entries</th>
                                    <td>$page.numEntries entries <a href="../entries-${page.name}.html" class="btn btn-primary btn-sm">View</a></td>
                                </tr>
                                <tr>
                                    <th>Export</th>
                                    <td><a href="entries.csv" class="btn btn-primary btn-sm">Export as CSV</a></td>
                                </tr>
                                <tr>
                                    <th>Photos</th>
                                    <td><a href="photos.html" class="btn btn-primary btn-sm">View photo entries</a>  (for photo upload comps)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="modalGroup" class="modal fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose groups</h4>
            </div>
            <div class="modal-body">
                <div class="ListItem">
                    #foreach($g in $page.allGroups)
                    <div class="panel panel-default">
                        <div class="panel-body membership">
                            <label for="$g.name">$g.name</label>
                            <label class="pull-right">$formatter.checkbox($g.name, $page.isSelected($g))</label>
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>        

        <div id="modalAddRestriction" class="modal fade">
            <form class="addRestrictionForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add a restriction</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group clearfix">
                                <label class="col-sm-4 control-label" for="type">Select a type of restriction</label>
                                <div class="col-sm-7">$formatter.select("type", $page.availableRestrictionTypes)</div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 control-label" for="item">Select an item</label>
                                <div class="col-sm-7">$formatter.select("item", $page.availableRestrictionItems)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>        

        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript">
            var quiz = $formatter.toJson($page.quiz);
            $(function() {
                $("select.pointsType").click(function() {
                    showHidePointsOrgType();
                });
                showHidePointsOrgType();

                initEditReward(quiz);
                //function to initiate bootstrap-datepicker
                $('.date-picker').datepicker({
                    autoclose: true
                });
                $('.TabNav a:first').tab('show');
            });

            function showHidePointsOrgType() {
                if ($("select.pointsType").val() == "POINTS_ORG") {
                    $(".pointsOrgType").show();
                } else {
                    $(".pointsOrgType").hide();
                }
            }
        </script>
    </body>
</html>