<link type="text/css" href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet" />
<script type="text/javascript" src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js">//</script>

<form method="post" id="ClaimRegisterProductForm" action="#" class="form-horizontal fuelux">
    <div class="wizard" id="myWizard">
        <div class="steps-container">
            <ul class="steps">
                <li data-step="1" data-name="contactInformation" class="active">
                    <span class="badge">1</span>Contact Information
                    <span class="chevron"></span>
                </li>
                <li data-step="2" data-name="proofOfPurchase">
                    <span class="badge">2</span>Proof of Purchase
                    <span class="chevron"></span>
                </li>
                <li data-step="3" data-name="productDetails">
                    <span class="badge">3</span>Product details
                    <span class="chevron"></span>
                </li>
                <li data-step="4" data-name="bankInformation">
                    <span class="badge">4</span>Bank Information
                    <span class="chevron"></span>
                </li>
                <li data-step="5" data-name="complete">
                    <span class="badge">5</span>Complete
                    <span class="chevron"></span>
                </li>
            </ul>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-default btn-prev">
                <span class="glyphicon glyphicon-arrow-left"></span>Prev
            </button>
            <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="step-content">
            <div class="step-pane active sample-pane alert" data-step="1">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title" class="col-md-12">Title:</label>
                            <div class="col-md-12">
                                <select id="title" name="title" class="form-control required">
                                    <option value="">[No Title selected]</option>
                                    #set( $titles = ["Mr.", "Mrs."] )
                                    #foreach($title in $titles)
                                        $formatter.option( $title, $title, "" )
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="firstName">First Name:</label>
                            <div class="col-md-12">
                                <input class="required form-control" type="text" name="firstName" id="firstName" placeholder="Your first name" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="surName">Last Name:</label>
                            <div class="col-md-12">
                                <input class="required form-control" type="text" name="surName" id="surName" placeholder="Your last name" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12" for="address1">Address 1:</label>
                            <div class="col-md-12">
                                <input class="form-control required" type="text" name="address1" id="address1" placeholder="Address 1" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12" for="address2">Address 2:</label>
                            <div class="col-md-12">
                                <input class=" form-control" type="text" name="address2" id="address2" placeholder="Address 2" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="suburb">Suburb:</label>
                            <div class="col-md-12">
                                <input class="form-control required" type="text" name="suburb" id="suburb" placeholder="Suburb" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="postcode">Post Code:</label>
                            <div class="col-md-12">
                                <input class="form-control required number" type="number" name="postcode" id="postcode" placeholder="Post Code" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="state">State:</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="state" id="state" placeholder="State" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="phone">Phone/Mobile:</label>
                            <div class="col-md-12">
                                <input class="form-control required number" type="number" name="phone" id="phone" placeholder="Your Phone/Mobile" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="email">Email Address:</label>
                            <div class="col-md-12">
                                <input class="required form-control" type="email" name="email" id="email" placeholder="Your email address" />
                            </div>
                        </div>
                    </div>
                    #set( $titles = { 
                            "Online": ["Online Ads","Facebook","Instagram","Google","LinkedIn"],
                            "In-Store": ["In Store"],
                            "Someone Recommended": ["Family","Friends","Dealer","Installer","Showroom Attendant","Other"],
                            "Outdoor Ads": ["Bus Stop/On Bus","Train Station","Ferry Terminal","Shopping Mall","Roadside Terminal"]
                        } )
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="promotion" class="col-md-12">How did you find out about this promotion?</label>
                            <div class="col-md-12">
                                <select id="promotion" name="promotion" class="form-control required ">
                                    <option value="">[No promotion type selected]</option>
                                    #foreach($title in $titles.entrySet())
                                        <optgroup label="$title.key">
                                            #foreach($item in $title.value)
                                                $formatter.option( $item, $item, "" )
                                            #end
                                        </optgroup>
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="promotion-other" class="col-md-12">Other:</label>
                            <div class="col-md-12">
                                <input class="required form-control" type="text" name="promotion-other" id="promotion-other" placeholder="" />
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="2">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="dealer-search-trigger" selected="selected" name="dealerCheck" value="" /> Dealer Finder
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="ask-waterco" name="dealerCheck" value="-ask-waterco-" /> Ask Waterco
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="orgId" name="orgId" value="" class="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div id="dealerSearch"></div>
                    </div>
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="3">
                <div class="row">
                    <div class="col-sm-6">
                        #set ($products = $page.find("/products").children.ofType.product)
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="productType">Product Type</label>
                            <div class="col-sm-8">
                                <select name="productType" class="form-control required" id="productType">
                                    <option value="">- None -</option>
                                    #foreach($p in $products)
                                    <option value="$p.name">$p.title</option>
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="serial">Serial Number</label>
                            <div class="col-md-8">
                                <div class="radio">
                                    <label style="width: 100%;">
                                        <input type="radio" id="serial-number-text" selected="selected" name="serialNumberCheck" value="text" />
                                        <input class="form-control serial-number-text required" type="text" name="serialNumber" id="serialNumber" placeholder="Enter Serial Number" />
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="serial-number-snapshot" name="serialNumberCheck" value="snapshot" /> If you cant read the serial number, use your mobile phone to snap a photo and upload it here
                                    </label>
                                    <div class="serial-number-snapshot" style="display: none; padding-top: 10px; padding-left: 20px;">
                                        <input type="file" id="quickInputFile" name="image" class="form-control quickInputFile" accept="image/*" capture="camera" />
                                        <label class="btn btn-sm btn-success" for="quickInputFile" style="padding-left: 10px;">
                                            <i class="fa fa-2x fa-camera"></i>
                                        </label>
                                        <span class="capture-msg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="receipt" class="control-label col-md-4">Receipt of purchases</label>
                            <div class="col-md-8">
                                <p class="form-control-static">If you have purchared receipt, please use your mobile phone to snap a photo and upload it here</p>
                                <input type="file" id="receipt" name="receipt" class="form-control receipt quickInputFile" accept="image/*" capture="camera" />
                                <label class="btn btn-sm btn-success" for="receipt" style="padding-left: 10px;">
                                    <i class="fa fa-2x fa-camera"></i>
                                </label>
                                <span class="capture-msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="4">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="5">
                <div id="pending" style="display: none;">
                    <h3>Account pending</h3>
                    <p>Thank you for your application.</p>

                    <p>An administrator will review your details shortly.</p>

                    <p><a href="/">Click here</a> to return to the home page</p>
                </div>
                <div id="no-pending" style="display: none;">
                    <h3>Registered!</h3>
                    <p>Thank you for your application.</p>
                    <p>You'll be redirected to your profile page in a few seconds...</p>
                </div>
            </div>
        </div>
    </div>

    $!folder.find($path).body

</form>