#set( $supplierOrgs = [] )
#set ($query = '{  
                    "stored_fields":[  
                        "orgTitle",
                        "orgId",
                        "email",
                        "addressState",
                        "addressLine2"
                    ],
                    "query":{  
                        "bool":{  
                            "must":{  
                                "term":{  
                                    "orgTypes":"supplier"
                                }
                            }
                        }
                    },
                    "size":10000
                }')

#set( $queryRes = $applications.search.searchManager.search($query, 10000, 'org'))

#foreach( $org in $queryRes.hits.hits )
    #set( $orgObj = {
            "orgTitle": $org.fields.orgTitle.value,
            "orgId": $org.fields.orgId.value,
            "orgEmail": $org.fields.email.value,
            "state": $org.fields.addressState.value,
            "suburb": $org.fields.addressLine2.value
            }
        )
    #if( $supplierOrgs.add($orgObj) ) #end
#end

#set( $productModels = {} )

#set($query = '{  
        "stored_fields":[  
            "Consumer Bonus",
            "Indoor Model",
            "productSku"
        ],
        "query":{  
            "bool":{  
                "must":[  
                    {  
                        "term":{  
                            "dataSeriesName":"ac-model-detail"
                        }
                    }
                ]
            }
        },
        "size":10000
    }')
    
#set( $queryRes = $applications.search.searchManager.search($query, 10000, 'dataseries'))
#foreach( $record in $queryRes.hits.hits )
    #set( $productModels[$record.fields.productSku.value] = {
        "modelNumber": $record.fields["Indoor Model"].value,
        "consumerBonus": $record.fields["Consumer Bonus"].value,
        "sku": $record.fields.productSku.value
    }) 
#end

###foreach( $record in $page.find("/sales/ac-model-detail").history)
##    #set( $productModels[$record.productSku] = {
##        "modelNumber": $record.extraFields["Indoor Model"],
##        "consumerBonus": $record.extraFields["Consumer Bonus"],
##        "sku": $record.productSku
##    }) 
###end 

<form method="post" id="ClaimRegisterProductForm" action="/salesDataClaimsProducts/" class="form-horizontal fuelux claimRegisterProductForm" enctype="multipart/form-data">
    <div class="row print-hide">
        <div class="col-md-12" style="margin-bottom: 5px; margin-top: 5px;">
            <b><span class="compulsory-field">*</span>Compulsory Fields</b>
        </div>
    </div>

    <input type="hidden" name="saveProductClaim" />
    <div class="wizard" id="myWizard">
        <div class="steps-container">
            <ul class="steps">
                <li data-step="1" data-name="contactInformation" class="active">
                    <span class="badge">1</span>Contact Information
                    <span class="chevron"></span>
                </li>
                <li data-step="2" data-name="proofOfPurchase">
                    <span class="badge">2</span>Proof of Purchase
                    <span class="chevron"></span>
                </li>
                <li data-step="3" data-name="productDetails">
                    <span class="badge">3</span>Product details
                    <span class="chevron"></span>
                </li>
                <li data-step="4" data-name="bankInformation">
                    <span class="badge">4</span>Bank Information
                    <span class="chevron"></span>
                </li>
                <li data-step="5" data-name="complete">
                    <span class="badge">5</span>Complete
                    <span class="chevron"></span>
                </li>
            </ul>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-default btn-prev">
                <span class="glyphicon glyphicon-arrow-left"></span> &shy; &shy; Prev
            </button>
            <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next &shy; &shy;
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="step-content">
            <div class="step-pane active sample-pane alert" data-step="1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" class="col-md-12"><span class="compulsory-field">*</span>Title:</label>
                            <div class="col-md-12">
                                <select id="title" name="title" class="form-control required-if-shown">
                                    <option value="">[No Title selected]</option>
                                    #set( $titles = ["Mr.", "Mrs.", "Ms."] )
                                    #foreach($title in $titles)
                                        $formatter.option( $title, $title, "" )
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="firstName"><span class="compulsory-field">*</span>First Name:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="text" name="firstName" value="$!user.firstName" id="firstName" placeholder="Your first name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="surName"><span class="compulsory-field">*</span>Last Name:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="text" name="surName" value="$!user.surName"  id="surName" placeholder="Your last name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12" for="address1"><span class="compulsory-field">*</span>Address 1:</label>
                            <div class="col-md-12">
                                <input class="form-control required-if-shown" type="text" name="address1" id="address1" placeholder="Address 1" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12" for="address2">Address 2:</label>
                            <div class="col-md-12">
                                <input class=" form-control" type="text" name="address2" id="address2" placeholder="Address 2" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="suburb">Suburb:</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="suburb" id="suburb" placeholder="Suburb" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="postcode"><span class="compulsory-field">*</span>Post Code:</label>
                            <div class="col-md-12">
                                <input class="form-control required-if-shown number" type="number" name="postcode" id="postcode" placeholder="Post Code" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="state">State:</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="state" id="state" placeholder="State" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="phone"><span class="compulsory-field">*</span>Phone/Mobile:</label>
                            <div class="col-md-12">
                                <input class="form-control required-if-shown number" type="text" name="phone" value="$!user.phone"  id="phone" placeholder="Your Phone/Mobile" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="email"><span class="compulsory-field">*</span>Email Address:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="email" name="email"  id="email" placeholder="Your email address" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12" for="confirm-email"><span class="compulsory-field">*</span>Confirm Email Address:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="email" id="confirm-email" placeholder="Confirm email address" />
                            </div>
                        </div>
                    </div>
                    #set( $titles = {
                            "Online": ["Online Ads","Facebook","Instagram","Google","LinkedIn"],
                            "In-Store": ["In Store"],
                            "Someone Recommended": ["Family","Friends","Dealer","Installer","Showroom Attendant","Other"],
                            "Outdoor Ads": ["Bus Stop/On Bus","Train Station","Ferry Terminal","Shopping Mall","Roadside Terminal"]
                        } )

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="promotion" class="col-md-12"><span class="compulsory-field">*</span>How did you find out about this promotion?</label>
                            <div class="col-md-12">
                                <select id="promotion" name="promotion" class="form-control required-if-shown ">
                                    <option value="">[No promotion type selected]</option>
                                    #foreach($title in $titles.entrySet())
                                        <optgroup label="$title.key">
                                            #foreach($item in $title.value)
                                                $formatter.option( $item, $item, "" )
                                            #end
                                        </optgroup>
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="promotion-other" class="col-md-12">Other:</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="promotion-other" id="promotion-other" placeholder="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="2">
                <div class="row">

                    <div class="col-md-12">
                        <h4><b>Proof of purchase information</b></h4>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="action-type" class="col-md-12">Was your purchase a new installation or an upgrade of an existing air-conditioning unit?</label>
                            <div class="col-md-12">
                                <select id="action-type" name="action-type" class="form-control">
                                    <option value="">[No type selected]</option>
                                    #set( $types = ["New Installations", "Replacement or upgrade"] )
                                    #foreach($type in $types)
                                        $formatter.option( $type, $type, "" )
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>
                                    
                    <div class="required-actions" id="client-info-section">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="purchase-date"><span class="compulsory-field">*</span>Date of purchase:</label>
                                <div class="col-md-12">
                                    <input class="required-if-shown form-control" type="text" name="purchase-date" id="purchase-date" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="store-name"><span class="compulsory-field">*</span> Dealer/Retailer Name:</label>
                                <div class="col-md-12">
                                    <input class="required-if-shown form-control" type="text" name="store-name" id="store-name" placeholder="" list="suppliers" />
                                      <datalist id="suppliers">
                                          #foreach( $supplier in $supplierOrgs)
                                            <option value="$supplier.orgTitle" data-suburb="$supplier.suburb" data-state="$supplier.state">
                                          #end
                                      </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="store-suburb">Dealer/Retailer Suburb:</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="store-suburb" id="store-suburb" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="store-state" class="col-md-12">State:</label>
                                <div class="col-md-12">
                                    <select id="store-state" name="store-state" class="form-control">
                                        <option value="">[No state selected]</option>
                                        <option value="nsw">New South Wales</option>
                                        <option value="vic">Victoria</option>
                                        <option value="qld">Queensland</option>
                                        <option value="wa">Western Australia</option>
                                        <option value="sa">South Australia</option>
                                        <option value="tas">Tasmania</option>
                                        <option value="act">Australian Capital Territory</option>
                                        <option value="nt">Northern Territory</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4" style="text-align:  center;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="file" id="invoice-image" name="invoice-image" style="display:  inline-block;opacity:  0;position:  absolute;" class="btn btn-primary">
                                    <button class="btn btn-primary" name="invoice-image-btn" id="invoice-image-btn"><span class="compulsory-field">*</span>UPLOAD PDF OR IMAGE OF THE INVOICE</button>
                                    <div class="btn btn-success success-invoice-image ignore"><i class="fa fa-check"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4 ignore">
                            <h6 class="text-center">Maximum file size of 5MB</h6>
                        </div>

                    </div>


                    <div class="required-actions" id="installer-info-section">
                        <div class="col-md-12">
                            <h4>Installer Information</h4>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="installer-orgId">Installer Business Name:</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="installer-orgId" id="installer-orgId" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="installer-contact-name">Installer Name:</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="installer-contact-name" id="installer-contact-name" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="installer-abn">ABN:</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="installer-abn" id="installer-abn" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="installer-trade-license">Applicable trade license no:</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="installer-trade-license" id="installer-trade-license" placeholder="" />
                                </div>
                            </div>
                        </div>
 

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="installer-email">Email address:</label>
                                <div class="col-md-12">
                                    <input class="form-control  required-if email" type="email" name="installer-email" id="installer-email" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4" style="text-align:  center;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="file" id="installation-invoice-image" name="installation-invoice-image" style="display:  inline-block;opacity:  0;position:  absolute;" class="btn btn-primary">
                                    <button class="btn btn-primary" name="installation-invoice-image-btn" id="installation-invoice-image-btn">UPLOAD PDF OR IMAGE OF THE INSTALLATION INVOICE</button>
                                    <div class="btn btn-success success-installation-image ignore"><i class="fa fa-check"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-3 ignore">
                            <h6 class="text-center">Only upload if the installation was invoiced separately from where you purchased the unit from.</h6>
                        </div>
                    </div>

                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h4><b>Product information</b></h4>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="claims-number" class="col-md-12"><span class="compulsory-field">*</span>How many products are you claiming?</label>
                                <div class="col-md-12">
                                    <select id="claims-number" name="claims-number" class="form-control dynamic-toggle required-if-shown" data-group-class="options">
                                        <option value="">[Not selected]</option>
                                        <option data-toggle=".option-1" value="1">One</option>
                                        <option data-toggle=".option-1, .option-2" value="2">Two</option>
                                        <option data-toggle=".option-1, .option-2, .option-3" value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p>
                                A maximum of <b> three (3)</b> eligible products purchased in <b> one (1)</b> transaction can be claimed towards the cash back offer.<br>
                                Eligible claimants may submit a maximum of <b>one (1)</b> Eligible Claim per household in the Promotions.<br>
                                Duplicate tax invoices will be rejected.<br>
                                <b>Note: Business applications will NOT be accepted. Invoices under a business name and/or with ABN will NOT be accepted.</b>
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="col-md-12 option-1 options" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Purchase 1</h4>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod1-model-number" class="col-md-12"><span class="compulsory-field">*</span>Set Model No:</label>
                                        <div class="col-md-12">
                                            <select id="prod1-model-number" name="prod1-model-number" class="form-control required-if-shown">
                                                <option value="">Please select from the options</option>
                                                #foreach($product in $productModels)
                                                    <option value="$product.sku" data-product-model="$product.modelNumber" data-consumer-bonus="$product.consumerBonus">$product.sku</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod1-indoor-model-number" class="col-md-12">Indoor Unit Model No:</label>
                                        <div class="col-md-12">
                                            <input class="required-if-shown form-control" type="text" id="prod1-indoor-model-number-view" disabled=true />
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control ignore" type="hidden" name="prod1-consumer-bonus" id="prod1-consumer-bonus" />
                                            <input class="form-control ignore" type="hidden" name="prod1-indoor-model-number" id="prod1-indoor-model-number" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod1-indoor-serial-number" class="col-md-12"><span class="compulsory-field">*</span>Indoor Serial No:</label>
                                        <div class="col-md-12">
                                            <input class="required-if-shown form-control product-serial-number" type="text" name="prod1-indoor-serial-number" id="prod1-indoor-serial-number" placeholder="e.g. A15900474YK" />
                                            <input class="form-control ignore" type="hidden" name="prod1-arbitrary-serial" id="prod1-arbitrary-serial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 option-2 options" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Purchase 2</h4>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod2-model-number" class="col-md-12"><span class="compulsory-field">*</span>Set Model No:</label>
                                        <div class="col-md-12">
                                            <select id="prod2-model-number" name="prod2-model-number" class="form-control required-if-shown">
                                                <option value="">Please select from the options</option>
                                                #foreach($product in $productModels)
                                                    <option value="$product.sku" data-product-model="$product.modelNumber" data-consumer-bonus="$product.consumerBonus">$product.sku</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod2-indoor-model-number" class="col-md-12">Indoor Unit Model No:</label>
                                        <div class="col-md-12">
                                            <input class="required-if-shown form-control" type="text" name="prod2-indoor-model-number" id="prod2-indoor-model-number-view" disabled=true />
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control ignore" type="hidden" name="prod2-consumer-bonus" id="prod2-consumer-bonus" />
                                            <input class="form-control ignore" type="hidden" name="prod2-indoor-model-number" id="prod2-indoor-model-number" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod2-indoor-serial-number" class="col-md-12"><span class="compulsory-field">*</span>Indoor Serial No:</label>
                                        <div class="col-md-12">
                                            <input class="required-if-shown form-control product-serial-number" type="text" name="prod2-indoor-serial-number" id="prod2-indoor-serial-number" placeholder="e.g. A15900474YK" />
                                            <input class="form-control ignore" type="hidden" name="prod2-arbitrary-serial" id="prod2-arbitrary-serial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 option-3 options" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Purchase 3</h4>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod3-model-number" class="col-md-12"><span class="compulsory-field">*</span>Set Model No:</label>
                                        <div class="col-md-12">
                                            <select id="prod3-model-number" name="prod3-model-number" class="form-control required-if-shown">
                                                <option value="">Please select from the options</option>
                                                #foreach($product in $productModels)
                                                    <option value="$product.sku" data-product-model="$product.modelNumber" data-consumer-bonus="$product.consumerBonus">$product.sku</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod3-indoor-model-number" class="col-md-12">Indoor Unit Model No:</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="text" name="prod3-indoor-model-number" id="prod3-indoor-model-number-view" disabled=true />
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control ignore" type="hidden" name="prod3-consumer-bonus" id="prod3-consumer-bonus" />
                                            <input class="form-control ignore" type="hidden" name="prod3-indoor-model-number" id="prod3-indoor-model-number" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="prod3-indoor-serial-number" class="col-md-12"><span class="compulsory-field">*</span>Indoor Serial No:</label>
                                        <div class="col-md-12">
                                            <input class="required-if-shown form-control product-serial-number" type="text" name="prod3-indoor-serial-number" id="prod3-indoor-serial-number" placeholder="e.g. A15900474YK" />
                                            <input class="form-control ignore" type="hidden" name="prod3-arbitrary-serial" id="prod3-arbitrary-serial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="4">
                <div class="row">

                    <div class="col-md-12">
                        <h5><b>** Please note, all cash backs will be paid via EFT only</b></h5>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-name" class="col-md-12"><span class="compulsory-field">*</span>Account Name:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="text" name="account-name" id="account-name" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank-name" class="col-md-12"><span class="compulsory-field">*</span>Bank Name:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="text" name="bank-name" id="bank-name" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bsb-number" class="col-md-12"><span class="compulsory-field">*</span>BSB Number:</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-2"><input class="required-if-shown form-control bsb-number-12 ignore text-center" type="text" id="bsb-number-1" placeholder="" /></div>
                                    <div class="col-xs-6 col-sm-2"><input class="required-if-shown form-control bsb-number-12 ignore text-center" type="text" id="bsb-number-2" placeholder="" /></div>
                                    <div class="col-xs-12 col-sm-6 ignore"><span style="line-height: 2.4; ">Example: 011-652</span></div>
                                </div>
                                <span class="ignore bsb-number-dashe">-</span>
                                <input class="required-if-shown form-control" type="hidden" name="bsb-number" id="bsb-number" placeholder="" />
                                <div id="errmsg12"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-no" class="col-md-12"><span class="compulsory-field">*</span>Account No:</label>
                            <div class="col-md-12">
                                <input class="required-if-shown form-control" type="text" name="account-no" id="account-no" placeholder="" />
                                <div id="getAccountNoOnSummary"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h6>To avoid delays on your payment please ensure you provide accurate bank account details.</h6>
                    </div>
                </div>
            </div>
            <div class="step-pane sample-pane alert last-step" data-step="5">
                
                <div class="row">
                    <div class="col-md-12">
                 <h4><b>Application review</b></h4>
                 <p>Before submitting your claim please check that all information on your application is correct. </p>
                 </div> </div>
                 
                 
                <div class="summary-last-step"></div>
                <div class="row">
                    <div class="col-md-12"><div class="col-md-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox"  value="true" id="terms-checkbox" name="check-terms-and-conditions">
                      <label class="form-check-label" for="terms-checkbox" style=" vertical-align:  top; ">
                        <span class="compulsory-field">*</span> By ticking this box, you agree to the promotion's <a target="_blank" href="https://mhiaapromo.com.au/terms-and-conditions/"> Terms and Conditions </a> and our <a target="_blank" href="https://mhiaa.com.au/privacy-policy-terms-of-use/"> Privacy Policy</a>.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="true" id="competition-checkbox" name="check-if-competition">
                      <label class="form-check-label" for="competition-checkbox" style=" vertical-align:  top; ">
                        I would like to be entered into the Cruise Through Winter - Win a cruise for 2! Competition.
                      </label>
                    </div>
                    </div>
                </div> </div> 
            </div>
        </div>
        
        <div class="bottom-next-prev" style="padding: 2em 25px;">
            <div class="row">
                <div class="col-sm-4 col-xs-12"></div>
                <div class="col-sm-2 col-xs-6 "><button type="button" class="btn btn-block btn-default  btn-prev"><span class="glyphicon glyphicon-arrow-left"></span> &shy; &shy;Prev </button></div>
                <div class="col-sm-2 col-xs-6"><button type="button" class="btn btn-block btn-primary bottom-next" data-last="Complete">Next &shy; &shy; <span class="glyphicon glyphicon-arrow-right"></span></button></div>
            </div>
        </div>    
        
    </div>

</form>

<div id="thankYou" class="row print-hide" style="display: none;">
    <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px; text-align: center; line-height: 30px;">
        Thank you for registering your Mitsubishi Air-Conditioning unit for the <strong>MHIAA Winter 2018 Promotion.</strong> <br>
        Your Unique ID number is <strong class="result-unique-id-no"></strong> and can be used to track your claim by contacting <strong><a href="mailto:info@mhiaapromo.com.au">info@mhiaapromo.com.au</a></strong>. <br>
        An email has been sent to you with the relevant details. <br>
        
    <button class="btn btn-primary" onclick="window.print();">Print your Submission</button>
    </div>
</div>

