#if ($page)
    <div id="claimCheckForm" class="form-horizontal" style="background-color: $formBgColor;">
        <h3>Please enter your tracking code</h3>
        
        <div class="form-group">
            <label for="soldDate" class="control-label sr-only">Date</label>
            
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" name="trackingCode" id="trackingCode" placeholder="Enter your tracking code here, e.g. MHI-Wxxxxx" class="form-control required" />
                    <span class="input-group-addon"> <i class="fa fa-search"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" id="trackClaimNow" class="btn btn-primary pull-right"><span>Track Now!</span></button>
            </div>
        </div>
    </div>
    <div id="claimCheckResult" class="row" style="display: none">
        <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px; text-align: center; line-height: 30px;">
            Your current claim status is <strong>MHIAA Winter 2018 Promotion.</strong>
            <p>Description goes here</p>
            
        <button class="btn btn-primary" onclick="window.location.reload();">Track another claim!</button>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("#trackClaimNow").on("click", {}, function() {
                if ($.trim($("#trackingCode").val()) === "") {
                    alert("Invalid claim tracking number");
                    
                    return;
                }
                
                $.get('/trackClaimGroup/?claimId=' + $("#trackingCode").val(), function(data) {
                }, "json").done(function(data) {
                    if (!data.status) {
                        alert("The claim tracking number you have supplied is not found!")
                    } else {
                        $("#claimCheckForm").slideUp(300);
                        $("#claimCheckResult").slideDown(300);
                        
                        $("#claimCheckResult strong").html(data.data.stageName);
                        $("#claimCheckResult p").html(data.data.stageDescription);
                    }
                }).fail(function() {
                    alert("The claim tracking number you have supplied is not found!")
                });
            });
        });
    </script>
#else
    <div class="form-horizontal form-new-claim #if ($bgTransparent == "true") #else well #end" style="background-color: $formBgColor;">
        #if ($formTitle && $formTitle != "")
            <h3>$formTitle</h3>
        #end
        #if ($formDescription && $formDescription != "")
            <p>$formDescription</p>
        #end
        <div class="form-group">
            <label for="amount" class="control-label sr-only">Amount</label>
            
            <div class="col-sm-12">
                <input type="number" id="amount" class="form-control required" name="amount" placeholder="Sale amount" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="soldDate" class="control-label sr-only">Date</label>
            
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" name="soldDate" id="soldDate" placeholder="Purchase date" data-format="DD/MM/YYYY HH:mm" class="form-control date-time-picker required" />
                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="productSku" class="control-label sr-only">Product SKU</label>
            
            <div class="col-sm-12">
                <input name="productSku" id="productSku" class="form-control" placeholder="Product name" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label sr-only">Receipt</label>
            
            <div class="col-sm-12">
                #if ($hidePreviewReceipt != "true")
                    <p class="thumbnail">
                        <img src="/static/images/photo_holder.png" class="img-responsive" />
                    </p>
                #end
                <button type="button" class="btn btn-sm btn-info btn-upload-receipt btn-block"><i class="fa fa-file-picture-o"></i> <span>Upload receipt</span></button>
                <span class="text-danger img-error" style="display: none;">Selected file is not image!</span>
                <input type="file" name="receiptImage" class="form-control" style="display: none !important;" />
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="button">Save claim</button>
    </div>
#end