<style>
    .horiz-image-container {
        margin-left: auto;
        margin-right: auto;
        max-height: 200px;
        overflow: hidden;
        width: 80%;
    }
    .horiz-image {
        margin-left: auto;
        margin-right: auto;
    }
    .blog-article-body {
        margin-top: 30px;
    }
</style>
<h2><a href="$page.href">$page.title</a></h2>
<div class="clearfix">
    <span class="pull-left timeago" title="$formatter.formatDateISO8601($page.articleDate)">$page.articleDate</span>
    <div class="pull-right">
        #if( $page.category )
        <span class="label label-primary">$page.category</span>
        #end
        #foreach($tag in $page.tags)
        #if ($page.isSelectedTag($tag))
        <span class="label label-primary">$tag</span>
        #end
        #end
        #if($page.featured)
        <span class="label label-success">Featured</span>
        #end
    </div>
</div>

<hr/>

#set($horizImage = $page.horizontalImageHref)
#if($horizImage)
<div class="horiz-image-container">
    <img src="$horizImage" class="img-responsive horiz-image" />
</div>

#end

<div class="blog-article-body">
    $page.body
</div>