<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12"><strong>Filter</strong></label>
        <div class="col-sm-12">
            <select class="form-control" name="filter">
                <option value="" selected="selected">- No filter -</option>
                <option value="featured" >Only featured articles</option>
                <option value="nonFeatured" >Only non-featured articles</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12"><strong>Categories</strong></label>
        <div class="col-sm-12">
            #set ($blogs = $rootFolder.find('/blogs'))
            #foreach ($cat in $blogs.categories)
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="categories" value="$!cat"> $!cat
                </label>
            </div>
            #end
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12"><strong>Tags</strong></label>
        <div class="col-sm-12">
            #set ($blogs = $rootFolder.find('/blogs'))
            #foreach ($cat in $blogs.tags)
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tags" value="$!cat"> $!cat
                </label>
            </div>
            #end
        </div>
    </div>
</form>
