#if ($blog)
#set ($tagCounts = $rootFolder.find("/blogs").child($blog).tagCounts)
#else
#set ($tagCounts = $page.tagCounts)
#end

#set ($currentCate = $!params.cat)
#set ($currentTag = $!params.tag)
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Tags</div>
    </div>
    <div class="list-group">
        #foreach($tagCount in $tagCounts)
        #set ($cls = "")
        #set ($href = "tag=" + $formatter.percentEncode( $tagCount.item ) )
        #if($currentCate)
        #set ($href = $href + "&cat=" + $currentCate)
        #end
        #if ($currentTag == $tagCount.item)
        #set ($cls = "active")
        #set ($href = $formatter.toggleParamVal("tag", $tagCount.item))
        #end
        <a class="list-group-item $cls" href="$page.href?$href">
            <span class="badge pull-right">$tagCount.count</span>
            $tagCount.item
        </a>
        #end
    </div>
</div>