#if ($blog)
#set ($categoryCounts = $rootFolder.find("/blogs").child($blog).categoryCounts)
#else
#set ($categoryCounts = $page.categoryCounts)
#end

#set ($currentCate = $!params.cat)
#set ($currentTag = $!params.tag)
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Categories</div>
    </div>
    <div class="list-group list-unstyled">
        #foreach($categoryCount in $categoryCounts)
        #set ($cls = "")
        #set ($href = "cat=" + $formatter.percentEncode( $categoryCount.item ) )
        #if($currentTag)
        #set ($href = $href + "&tag=" + $currentTag)
        #end
        #if ($currentCate == $categoryCount.item)
        #set ($cls = "active")
        #set ($href = $formatter.toggleParamVal("cat", $categoryCount.item))
        #end
        <a class="list-group-item $cls" href="$page.href?$href">
            <span class="badge">$categoryCount.count</span>
            $categoryCount.item
        </a>
        #end
    </div>
</div>