.panelBox {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    max-width: 920px;
    min-height: 300px;
    padding: 15px 30px 30px;
    position: relative;
}

.modulePage .content {
    min-height: 350px;
    background-color: white;
    background-position: center top;
    background-repeat: repeat-y;
    min-height: 350px;
    position: relative;
}

.panelBox {
    position: relative;
}

.modulePage a.backToMyLearning, .modulePage a.print {
    position: absolute;    
    top: -3.3em;    
    font-size: 13px;    
}

.modulePage a.backToMyLearning {
    right: 0px;
    background: url("images/arrow1.gif") no-repeat scroll 0 1px transparent;
    padding-left: 20px;
}

.modulePage a.print {
    right: 160px;
    background: url("/templates/themes/images/icon_print.png") no-repeat scroll 0 1px transparent;
    height: 16px;
    width: 18px;
    display: inline-block;
}

.modulePage a.print span{
    display: none;
}

.commentArea, div.pages, .panelBox{
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;    
}


.panelBox{
    background:#fff;
    position:relative;
    min-height: 300px;
    /*padding: 30px;*/
    margin: 0 auto;
    padding: 15px 30px 30px;
    max-width: 920px;
}
.panelBox iframe {
    width: 100% !important;
}


.modulePage .panelBox ol ol {
    list-style-type: none;
    margin-left: -6px;    
}

div.pages{
    .commentArea;
}
.commentArea{
    max-width: 950px;        
}

body.edifyIsEditMode div.pages {
    display: none;
}

div.pages {
    background-color: white;
    max-width: 950px;
    padding: 0 15px 10px 15px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.modulePage .nav, .modulePage .formBox {
    display: none;
}   
.modulePage div.header {
    min-height: 55px;
}
.modulePage div.header h1 {
    padding-top: 0;
}
.modulePage div.header h1 a {
    margin-top: 0;
}
.modulePage .header h1.logo {
    top: 5px;
}
ul.pages {
    display: inline-block;
    margin: 0;
    max-width: 740px;
    padding: 0;
}
.pages li {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 8px;
    padding: 0;
}
.pages li a{
    border-radius: 1em;
    display: inline-block;
    font-size: 1em;
    height: 1.2em;
    margin: 0;
    width: 1.2em;
}
.pages li a:hover {
    text-decoration: none;
}

div.pages a.active {
    color: @frameworkToolsInverseColor;
    border-width: 2px;
    line-height: 17px;
    padding: 4px;
}

div.pages > a, div.pages li > a {
    color: @frameworkToolsColor;
    font-size:13px;        
    background-color: @frameworkToolsInverseColor;    
    border-color: @frameworkToolsInverseColor;
    border-style: solid;
    border-width: 6px;
}

.modulePage a.nextBtn, .modulePage a.prevBtn{
    border-radius: 5px;        
    position:absolute;
    width:84px;
    height:30px;    
    top:0;    
    text-decoration:none;
    text-align:center;
    display:block;
    padding-top:5px;    
    background-repeat: no-repeat;
}

.modulePage a.prevBtn{    
    left: 15px;
    background-image: url(/templates/apps/learner/images/arrLeftGrey.png);    
    background-position: 2px 7px;
}
.modulePage a.nextBtn{
    right: 15px;
    background-image: url(/templates/apps/learner/images/arrRightGrey.png);    
    background-position: 70px 7px;    
}
.modulePage a.nextBtn.disabled{
    background-image: url(/templates/apps/learner/images/nextCross.png);    
    background-position: 63px 4px;
}

.pages a.disabled, .pages a.disabled {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    color: white;
    cursor: not-allowed;
}


.content .pages li a:hover, .content .pages li a.active {   
    background-color: white;
}



body.modulePage ol.quiz li h3 {
    display: inline-block;
}
ol.quiz {
    padding: 0;
    margin: 0;
}
ol.quiz > li {
    margin-bottom: 0.5em;
    padding: 0 1em 0.5em 1em;
}

ol.quiz li.error {
    color: inherit;
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

div.quizSubmit {
    text-align: right;
}
div.quizSubmit button {
    padding-left: 40px;
    padding-right: 40px;
}
div.quiz-intro {
    padding: 5px 0;
}