/* ============================================================================
   Heading
   ============================================================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 300;
}

.page-header h1 {
    font-weight: 300 !important;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

/* ============================================================================
   Btn
   ============================================================================ */
/* primary */
.btn-primary {
    color: #fff;
    background-color: #494949;
    border-color: #424242;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:focus {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #494949;
    border-color: #424242;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* warning */
.btn-warning {
    color: #fff;
    background-color: #cb85b1;
    border-color: #b778a0;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:active:focus,
.btn-warning.active,
.btn-warning.active:focus,
.open .dropdown-toggle.btn-warning,
.open .dropdown-toggle.btn-warning:focus {
    color: #fff;
    background-color: #b778a0;
    border-color: #b778a0;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #cb85b1;
    border-color: #b778a0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* danger */
.btn-danger {
    color: #fff;
    background-color: #df3e3e;
    border-color: #ca2f51;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger.active,
.btn-danger.active:focus,
.open .dropdown-toggle.btn-danger,
.open .dropdown-toggle.btn-danger:focus {
    color: #fff;
    background-color: #ca2f51;
    border-color: #ca2f51;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #e0345a;
    border-color: #ca2f51;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* success */
.btn-success {
    color: #fff;
    background-color: #57bda6;
    border-color: #4eaa96;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus,
.btn-success.active,
.btn-success.active:focus,
.open .dropdown-toggle.btn-success,
.open .dropdown-toggle.btn-success:focus {
    color: #fff;
    background-color: #4eaa96;
    border-color: #4eaa96;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #57bda6;
    border-color: #4eaa96;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* info */
.btn-info {
    color: #fff;
    background-color: #87b3c9;
    border-color: #78a1b7;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:active:focus,
.btn-info.active,
.btn-info.active:focus,
.open .dropdown-toggle.btn-info,
.open .dropdown-toggle.btn-info:focus {
    color: #fff;
    background-color: #78a1b7;
    border-color: #78a1b7;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #87b3c9;
    border-color: #78a1b7;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* ============================================================================
   Modal
   ============================================================================ */
.modal-backdrop {
    background: #fff;
}

.modal-lg {
    width: 1050px;
}

.modal-md {
    width: 800px;
}

.modal-sm {
    width: 600px;
}

.modal-xs {
    width: 400px;
}

.modal-xxs {
    width: 200px;
}

.modal-full .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-full .modal-content {
    border: 0;
    border-radius: 0;
    height: 100%;
}


.modal-full .modal-header + .modal-body {
    height: calc(100% - 56px - 61px);
    position: relative;
}

.modal-full .modal-body {
    height: calc(100% - 61px);
    position: relative;
}

.modal-overflow.modal.fade.in.modal-full {
    top: 0;
}

.modal-fuse.calculating {
    width: auto !important;
    height: auto !important;
}

.modal[id*="upcrop-"] {
    background: none;
    border: none;
    box-shadow: none;
    left: 0;
    margin-left: 0;
    width: 100%;
}

.modal-splitter {
    margin: 5px 0 15px;
}

.modal-alert {
    display: none;
}

.modal .btn-img img {
    display: none;
}

.modal.ajax-processing .btn-img[data-type="form-submit"] img,
.btn-img.loading img {
    display: inline;
}

/* ============================================================================
   Main content
   ============================================================================ */
.main-content .container {
    position: relative;
    padding-bottom: 15px;
}

.main-content .loading-overlay {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff url("/static/images/loading.gif") 50% 50% no-repeat;
    opacity: 0.5;
    filter: "alpha(opacity=50)";
}

/* ============================================================================
   Dashboard
   ============================================================================ */
.video-intro .panel-body {
    text-align: center
}

/* ============================================================================
   Articles list
   ============================================================================ */
.article-wrapper > article {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #dedede;
    height: 42px;
    line-height: 32px;
    padding: 5px 5px 5px 10px;
}

.article-wrapper.article-draggable > article {
    cursor: move;
}

.article-wrapper > article aside.article-action {
    float: right;
    line-height: normal;
}

.article-wrapper.showed-action > article aside.article-action {
    visibility: visible;
}

.article-wrapper > article aside.article-more-infor {
    line-height: 32px;
    float: right;
}

.article-wrapper > article:hover aside.article-action {
    visibility: visible;
}

.article-wrapper > article aside.article-action > * {
    vertical-align: top;
}

.article-wrapper > article:nth-child(2n+1) {
    background-color: #ededed;
}

.article-wrapper > article:first-child {
    margin-top: 0;
}

.article-wrapper > article > i,
.article-wrapper > article span.article-name {
    float: left;
    vertical-align: top;
}

.article-wrapper > article > i {
    margin: 9px 5px 0 0;
}

.article-wrapper + .article-wrapper-action {
    margin-top: 5px;
}

.article-wrapper > .article-sub {
    margin-left: 30px;
}

.article-wrapper.article-sm > article {
    height: 32px;
    line-height: 22px;
}

.article-wrapper.article-sm > article > .article-action {
    margin-top: -1px;
}

/* ============================================================================
   Utilities
   ============================================================================ */
/** BM: need to have links inside dropdowns which dont clear the float */
.dropdown-menu > li > a.pull-right {
    clear: none;
}

.noclear {
    clear: none !important;
}

ul.dropdown-menu.list {
    min-width: 300px;
}

ul.dropdown-menu.list li.list-item,
ul.dropdown-menu.list li.list-action {
    border-top: 1px solid #e5e5e5;
    overflow: auto;
}

ul.dropdown-menu.list li.list-item:first-child {
    border-top: 0;
}

ul.dropdown-menu.list li.list-item > a {
    padding: 5px 20px;
    clear: none;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.dropdown-menu.list li.list-item:hover {
    background: #f5f5f5;
}

ul.dropdown-menu.list li.list-item aside.list-item-controller {
    padding: 4px 5px 0 0;
    float: right;
}

ul.dropdown-menu.list li.list-action {
    padding-top: 5px;
}

/** BM: the pageMessage element is used for feedback from jquery.forms.js, needs to be initially hidden **/
.pageMessage {
    display: none;
}

/* ============================================================================
   Hr
   ============================================================================ */
.hr-lg {
    margin: 30px 0;
}

.hr-md {
    margin: 20px 0;
}

.hr-sm {
    margin: 10px 0;
}

.hr-xs {
    margin: 5px 0;
}

/* ============================================================================
   Toggled panel
   ============================================================================ */
.panel-toggled {
    display: none;
}

/* ============================================================================
   Blocks wrapper
   ============================================================================ */
.blocks-wrapper .block {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.blocks-wrapper {
    margin-bottom: 15px;
}

.blocks-wrapper .block span.block-name {
    margin-right: 5px;
}

table .blocks-wrapper {
    margin-bottom: 0;
}

table .blocks-wrapper .block {
    margin-bottom: 5px;
}

/* ============================================================================
   Label
   ============================================================================ */
label small {
    display: block;
    font-style: italic;
    color: #999;
}

/* ============================================================================
   CLip icon
   ============================================================================ */
.clip-chk input {
    margin-top: -1px;
}

/* ============================================================================
   Milton tree
   ============================================================================ */
.milton-tree {
    border: 1px solid #ddd !important;
    height: 497px !important;
    overflow-y: auto !important;
    margin-top: 10px !important;
}

.milton-tree.jstree-default a ins.jstree-icon {
    font-family: 'clip-font' !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1 !important;
    text-transform: none !important;
    background: none !important;
    font-size: inherit !important;
}

.milton-tree.jstree-default a ins.jstree-icon.folder:before {
    content: "" !important;
}

.milton-tree.jstree-default a ins.jstree-icon.file:before {
    content: "" !important;
}

/* ============================================================================
   Milton tree
   ============================================================================ */
.milton-image-select-container .milton-image-preview,
.vidEditor,
.imageEditor {
    border: 1px solid #ddd !important;
    overflow: auto !important;
    margin-top: 15px !important;
    padding: 0;
}

.dropzone {
    border: 0 !important;
    width: 665px;
    min-height: 200px !important;
    background: none !important;
}

.dropzone-fullwidth {
    width: auto;
}

.milton-image-select-container .milton-image-preview,
.vidEditor {
    height: 298px !important;
}

.imageEditor {
    min-height: 400px !important;
    min-width: 400px !important;
}

#myVidPreview .myUploaded,
#imagePreview #imageUploaded {
    height: 220px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd !important;
    width: 678px;
    background: #f0f0f0;
}

#imageContainer {
    padding: 3px;
}

#imageContainer p {
    white-space: normal !important;
    font-family: 'Arial', sans-serif !important;
    font-size: 1em !important;
    line-height: 17px !important;
    padding: 0 0 0.7em !important;
}

.modal .milton-image-select-container .milton-image-preview {
    margin-top: 10px !important;
    height: 400px !important;
}

.modal .milton-tree {
    height: 400px !important;
}

/* ============================================================================
   logo
   ============================================================================ */
.navbar-brand {
    padding: 8px 10px 0 !important;
    height: 47px !important;
}

/* ============================================================================
   Fuse header
   ============================================================================ */
.fuse-header {
    /*padding-right: 0;*/
}

.fuse-header .navbar-tools > ul > li.fuse-header-item {
    margin: 0;
    border-left: 1px solid #dfeaf1;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item > a {
    padding: 8px 15px;
    color: #666;
    height: 50px;
    line-height: 34px;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item > a.btn-success {
    color: white;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item > a.btn-success:hover {
    background-color: #4eaa96;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item > a i {
    color: #666 !important;
    display: inline-block;
    text-align: center;
    width: 1.25em;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item .dropdown-menu .divider {
    margin: 0;
}

.fuse-header .navbar-tools > ul > li.fuse-header-item.current-user a > img {
    max-width: 30px !important;
    vertical-align: top;
}

/* ============================================================================
   TopNav search
   ============================================================================ */
.fuse-search-wrapper {
    position: relative;
    z-index: 1;
}

#fuse-search-suggestions {
    position: absolute;
    top: 33px;
    left: 0;
    background: #fff;
    border: 1px solid #d5d5d5;
    padding: 0;
    min-width: 100%;
    list-style: none;
    white-space: nowrap;
}

#fuse-search-input {
    width: 300px;
}

#fuse-search-suggestions li + li {
    border-top: 1px solid #d5d5d5;
}

#fuse-search-suggestions li a {
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none !important;
}

#fuse-search-suggestions li a .email {
    color: #337ab7;
}

#fuse-search-suggestions li.active a,
#fuse-search-suggestions li.active a:hover {
    background: #d9d9d9;
}

#fuse-search-backdrop {
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}

@media (max-width: 767px) {
    .fuse-search {

    }
}

/* ============================================================================
   Left menu
   ============================================================================ */
.main-navigation {
    position: fixed;
    top: 50px;
    bottom: 43px;
    left: 0;
}

ul.main-navigation-menu {
    height: calc(100% - 50px);
}

.navigation-small ul.main-navigation-menu {
    overflow: visible !important;
}

.navigation-small ul.main-navigation-menu > li:hover > ul.sub-menu {
    max-height: 300px;
    overflow: auto;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    ul.main-navigation-menu {
        overflow: visible !important;
    }

    ul.main-navigation-menu > li:hover > ul.sub-menu {
        max-height: 300px;
        overflow: auto;
    }
}

@media screen and (max-width: 767px) {
    .main-navigation {
        top: 99px;
        bottom: auto;
        max-height: calc(100% - 99px) !important;
        min-height: 0 !important;
    }

    ul.main-navigation-menu {
        height: auto;
    }
}

ul.main-navigation-menu > li.active > a .selected:before {
    display: none !important;
}

ul.main-navigation-menu > li > a {
    font-family: Roboto;
    font-weight: 300;
}

ul.main-navigation-menu > li a {
    border-top-color: #dfdfdf;
}

ul.main-navigation-menu > li.active > a {
    background: #494949 !important;
}

ul.main-navigation-menu > li.active > a .selected:before {
    color: #494949 !important;
}

ul.main-navigation-menu > li a > i {
    color: #494949;
}

ul.main-navigation-menu li > ul.sub-menu {
    margin: 0;
}

ul.main-navigation-menu li > ul.sub-menu > li {
    margin-top: 0 !important;
}

/* ============================================================================
   Dashboard report
   ============================================================================ */
.dashboard .report .panel .panel-body {
    height: 200px;
}

.dashboard .report .panel-body > div {
    height: 150px;
    width: 100%;
}

/*******************/

.morris-hover {
    position: absolute;
    background: white;
    padding: 15px;
    border-radius: 5px;
    border: solid #ccc 1px;
}

.nav > li > a > img {
    max-width: 30px !important; /* override default which is ''none'' */
}

.recent-post .messages-list {
    width: 100%;
    border: 0;
}

/* Needed to use daterangepicker plugin with jquery modals */
.daterangepicker {
    z-index: 1151;
}

/* ============================================================================
   Fallback upload
   ============================================================================ */
.fallback-button {
    position: relative;
}

.fallback-button .fallback-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background: rgba(255, 255, 255, .5);
    padding: 0 !important;
}

.fallback-dropzone {
    overflow: auto !important;
    padding: 10px !important;
}

/* ============================================================================
   Bootstrap switch in input-group
   ============================================================================ */
.input-group-btn .bootstrap-switch {
    margin-left: -1px;
    border-radius: 0;
}

.input-group-btn .bootstrap-switch > div > span.bootstrap-switch-handle-on {
    border-radius: 0;
}

.input-group-btn .bootstrap-switch > div > span.bootstrap-switch-handle-off {
    border-radius: 0;
}

/* ============================================================================
   Masonry panel
   ============================================================================ */
.masonry-panel {

}

.masonry-item {
    opacity: 0;
    margin-bottom: 15px;
}

.masonry-sizer {
    height: 0 !important;
    min-height: 0 !important;
}

/* ============================================================================
   Extra large screen grid system
   ============================================================================ */
@media (min-width: 1500px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }
}

/* ============================================================================
Utilities
============================================================================ */
.ps-container {
    position: relative;
    overflow: hidden;
}

.action,
.center {
    text-align: center;
}

.action > * {
    text-align: left;
}

.invi {
    top: -9999px !important;
    left: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    visibility: hidden !important;
    position: fixed !important;
    display: block !important;
}

.hide {
    display: none !important
}

.hide-text {
    text-indent: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    font-size: 0 !important;
    line-height: 0 !important
}

.clear {
    clear: both
}

.clickable {
    cursor: pointer;
}

.clearfix {
    *zoom: 1
}

fieldset hr {
    margin: 5px 0 20px;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.unstyled {
    list-style: none
}

.youtube-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.messages-list {
    overflow-y: auto; /** stop messages going off the end of the list */
}

.inline-editor {
    border: solid lightgray 1px;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/** for the user details page **/
.memberships-list label {
    white-space: nowrap;
}

.enable-delay .input-group {
    width: 230px;
}

.attachments-list {
    margin-top: 10px;
    height: 105px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
}

.attachments-list article {
    margin: 0 0 5px;
}

.page-action {
    position: relative;
    z-index: 1;
}

#recipients h5 {
    margin: 0 0 13px;
}

#recipients .rules {
    height: 430px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#recipients .rules:hover {
    border-color: #b5b5b5;
}

.thumbnail .caption {
    overflow: hidden;

}

.flush-left {
    border-bottom-left-radius: 0;
    border-left: 0 none;
    border-top-left-radius: 0;
}

.breadcrumb a {
    color: #555;
}

.alert h3 {
    margin-top: 0;
}

body .form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

body .form-control::-webkit-input-placeholder {
    color: #ccc;
}

.form-control.form-control-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ajaxLoader {
    display: none;
}

body.ajax-loading .ajaxLoader {
    display: block;
}

.table-responsive {
    min-height: 220px;
    /**
    BM: Removed because messing up resp table layouts, eg on manage search index. Not sure why i ever put this in
    overflow-x: visible;
    */
}

.summary-panel {
    height: 200px;
}

.fluidLabel {
    height: 30px;
    float: left;
    margin-bottom: 10px
}

.fluidLabel span {
    line-height: 20px;
}

.fluidLabel a {
    color: white;
}

.membershipsDiv {
    margin-left: 100px;
}

.panel-primary > .panel-heading {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.statCard .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    height: auto;
    background-image: none;
    box-shadow: none;
}

.medium {
    font-size: 18px;
}

.huge {
    font-size: 28px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.tldateLi {
    height: 40px;
}

.tldate {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #666;
    display: block;
    font-size: 14px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -100px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    transition: all 0.3s linear 0s;
    width: 200px;
    text-align: center;
}

.tldate span {

}

.row-sm {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.row-sm [class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.tooltip-error .tooltip-inner {
    background-color: #a94442;
}

.tooltip.tooltip-error.bottom .tooltip-arrow {
    border-bottom-color: #a94442;
}

.tooltip.tooltip-error.top .tooltip-arrow {
    border-top-color: #a94442;
}

.tooltip.tooltip-error.left .tooltip-arrow {
    border-left-color: #a94442;
}

.tooltip.tooltip-error.right .tooltip-arrow {
    border-right-color: #a94442;
}
