/* ============================================================================
   Modal
   ============================================================================ */
.modal-lg {
	width: 1000px;
	margin-left: -500px;
}

.modal-md {
	width: 800px;
	margin-left: -800px;
}

.modal-sm {
	width: 600px;
	margin-left: -300px;
}

.modal-xs {
	width: 400px;
	margin-left: -200px;
}

.modal-xxs {
	width: 200px;
	margin-left: -100px;
}

.modal-fuse.calculating {
	width: auto !important;
	height: auto !important;
}

.modal-splitter {
	margin: 5px 0 15px;
}

.modal-alert {
	display: none;
}

/* ============================================================================
   Dashboard
   ============================================================================ */
.video-intro .panel-body {
	text-align: center
}

/* ============================================================================
   Articles list
   ============================================================================ */
.article-wrapper > article {
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #DEDEDE;
	height: 42px;
	line-height: 32px;
	padding: 5px 5px 5px 10px;
}

.article-wrapper > article aside.article-action {
	float: right;
	line-height: normal;
	visibility: hidden;
}

.article-wrapper > article:hover aside.article-action {
	visibility: visible;
}

.article-wrapper > article aside.article-action > * {
	vertical-align: top;
}

.article-wrapper > article:nth-child(2n+1) {
	background-color: #EDEDED;
}

.article-wrapper > article:first-child {
	margin-top: 0;
}

.article-wrapper > article > i,
.article-wrapper > article span.article-name {
	float: left;
	vertical-align: top;
}

.article-wrapper > article > i {
	margin: 9px 5px 0 0;
}

/* ============================================================================
   Utilities
   ============================================================================ */
/** BM: need to have links inside dropdowns which dont clear the float */
.dropdown-menu > li > a.pull-right {
	clear: none;
}

.btn .progress {
	background: none;
}

.noclear {
	clear: none !important;
}

ul.dropdown-menu.list {
    min-width: 300px;
}

ul.dropdown-menu.list li.list-item,
ul.dropdown-menu.list li.list-action {
    border-top: 1px solid #E5E5E5;
    overflow: auto;
}

ul.dropdown-menu.list li.list-item:first-child {
    border-top: 0;
}

ul.dropdown-menu.list li.list-item > a {
    padding: 5px 20px;
    clear: none;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.dropdown-menu.list li.list-item:hover {
    background: #f5f5f5;
}

ul.dropdown-menu.list li.list-item aside.list-item-controller {
    padding: 4px 5px 0 0;
    float: right;
}

ul.dropdown-menu.list li.list-action {
    padding-top: 5px;
}

/** BM: the pageMessage element is used for feedback from jquery.forms.js, needs to be initially hidden **/
.pageMessage {
	display: none;
}

/* ============================================================================
   Btn upload
   ============================================================================ */
.btn-upload {
    height: 34px;
}

.btn-upload .muploadBtn {
    background: none;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

.btn-upload .muploadBtn span {
    font-size: inherit;
    line-height: inherit;
}

.btn-upload .fileupload-buttonbar {
    width: auto;
}

/* ============================================================================
   Utilities
   ============================================================================ */
.action {
	text-align: center;
}

.action > * {
	text-align: left;
}

.invi {
	top: -9999px !important;
	left: -9999px !important;
	width: 1px !important;
	height: 1px !important;
	visibility: hidden !important;
	position: fixed !important;
	display: block !important;
}

.hide {
	display: none !important
}

.hide-text {
	text-indent: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	font-size: 0 !important;
	line-height: 0 !important
}

.clear {
	clear: both
}

.clearfix {
	*zoom: 1
}

fieldset hr {
	margin: 5px 0 20px;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden
}

.unstyled {
	list-style: none
}