.main-content-inner {
    padding-top: 15px;
}

/* ============================================================================
   appsContainer
   ============================================================================ */
.appsContainer .table {
    margin-bottom: 0;
}

/* ============================================================================
   pageDatePicker
   ============================================================================ */
.pageDatePicker-dropdown {
    width: 522px;
    top: 33px;
    right: -15px;
    border-radius: 0 0 0 4px;
    border: solid #dfeaf1;
    border-width: 1px 0 1px 1px;
}

@media (max-width: 979px) {
    .pageDatePicker-dropdown {
        right: -11px;
        top: 27px;
    }
}

/* ============================================================================
   repo-switcher
   ============================================================================ */
.repo-switcher {
    position: relative;
}

.repo-switcher .btn {
    position: relative;
    z-index: 2;
}

.repo-switcher .repo-switcher-selector,
.repo-switcher .chosen-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
}

.repo-switcher .chosen-single {
    visibility: hidden;
}

/* ============================================================================
   Carousel
   ============================================================================ */
.carousel-fixed-height .carousel-inner {
    height: 100%;
}

.carousel-fixed-height .carousel-inner > .item {
    height: 100%;
}

.carousel-fixed-height .carousel-inner > .item .carousel-img {
    background: no-repeat 50% 50% / cover;
    height: 100%;
}

.carousel-fixed-height .carousel-inner > .item .carousel-content {
    background: no-repeat 50% 50% / cover;
}

/* ============================================================================
   Dropzone
   ============================================================================ */
.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
    display: none !important;
}

/* ============================================================================
   Main content
   ============================================================================ */
.main-content .container {
    position: relative;
    padding-bottom: 15px;
}

/* ============================================================================
   Main left menu search box
   ============================================================================ */

/* ============================================================================
   Articles list
   ============================================================================ */
.article-wrapper > article {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #dedede;
    height: 42px;
    line-height: 32px;
    padding: 5px 5px 5px 10px;
}

.article-wrapper.article-draggable > article {
    cursor: move;
}

.article-wrapper > article aside.article-action {
    float: right;
    line-height: normal;
}

.article-wrapper.showed-action > article aside.article-action {
    visibility: visible;
}

.article-wrapper > article aside.article-more-infor {
    line-height: 32px;
    float: right;
}

.article-wrapper > article:hover aside.article-action {
    visibility: visible;
}

.article-wrapper > article aside.article-action > * {
    vertical-align: top;
}

.article-wrapper > article:nth-child(2n+1) {
    background-color: #ededed;
}

.article-wrapper > article:first-child {
    margin-top: 0;
}

.article-wrapper > article > i,
.article-wrapper > article span.article-name {
    float: left;
    vertical-align: top;
}

.article-wrapper > article > i {
    margin: 9px 5px 0 0;
}

.article-wrapper + .article-wrapper-action {
    margin-top: 5px;
}

.article-wrapper > .article-sub {
    margin-left: 30px;
}

.article-wrapper.article-sm > article {
    height: 32px;
    line-height: 22px;
}

.article-wrapper.article-sm > article > .article-action {
    margin-top: -1px;
}

/* ============================================================================
   Dropdown menu list
   ============================================================================ */
ul.dropdown-menu.list {
    min-width: 300px;
}

ul.dropdown-menu.list li.list-item,
ul.dropdown-menu.list li.list-action {
    border-top: 1px solid #e5e5e5;
    overflow: auto;
}

ul.dropdown-menu.list li.list-item:first-child {
    border-top: 0;
}

ul.dropdown-menu.list li.list-item > a {
    padding: 5px 20px;
    clear: none;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.dropdown-menu.list li.list-item:hover {
    background: #f5f5f5;
}

ul.dropdown-menu.list li.list-item aside.list-item-controller {
    padding: 4px 5px 0 0;
    float: right;
}

ul.dropdown-menu.list li.list-action {
    padding-top: 5px;
}

/* ============================================================================
   Utilities
   ============================================================================ */
/** BM: need to have links inside dropdowns which dont clear the float */
.dropdown-menu > li > a.pull-right {
    clear: none;
}

.noclear {
    clear: none !important;
}

/** BM: the pageMessage element is used for feedback from jquery.forms.js, needs to be initially hidden **/
.pageMessage {
    display: none;
}

/* ============================================================================
   Toggled panel
   ============================================================================ */
.panel-toggled {
    display: none;
}

/* ============================================================================
   Panel no-icon
   ============================================================================ */
.panel.panel-no-icon .panel-heading {
    padding-left: 15px;
}

/* ============================================================================
   Blocks wrapper
   ============================================================================ */
.blocks-wrapper .block {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.blocks-wrapper {
    margin-bottom: 15px;
}

.blocks-wrapper .block span.block-name {
    margin-right: 5px;
}

table .blocks-wrapper {
    margin-bottom: 0;
}

table .blocks-wrapper .block {
    margin-bottom: 5px;
}

/* ============================================================================
   Label
   ============================================================================ */
label small {
    display: block;
    font-style: italic;
    color: #999;
}

/* ============================================================================
   CLip icon
   ============================================================================ */
.clip-chk input {
    margin-top: -1px;
}

/* ============================================================================
   Dashboard report
   ============================================================================ */
.dashboard .report .panel .panel-body {
    height: 200px;
}

.dashboard .report .panel-body > div {
    height: 150px;
    width: 100%;
}

/*******************/
.morris-hover {
    position: absolute;
    background: white;
    padding: 15px;
    border-radius: 5px;
    border: solid #ccc 1px;
}

.recent-post .messages-list {
    width: 100%;
    border: 0;
}

/* Needed to use daterangepicker plugin with jquery modals */
.daterangepicker {
    z-index: 1151;
}

/* ============================================================================
   Fallback upload
   ============================================================================ */
.fallback-button {
    position: relative;
}

.fallback-button .fallback-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background: rgba(255, 255, 255, .5);
    padding: 0 !important;
}

.fallback-dropzone {
    overflow: auto !important;
    padding: 10px !important;
}

/* ============================================================================
   Bootstrap switch in input-group
   ============================================================================ */
.input-group-btn .bootstrap-switch {
    margin-left: -1px;
    border-radius: 0;
}

.input-group-btn .bootstrap-switch > div > span.bootstrap-switch-handle-on {
    border-radius: 0;
}

.input-group-btn .bootstrap-switch > div > span.bootstrap-switch-handle-off {
    border-radius: 0;
}

/* ============================================================================
   Masonry panel
   ============================================================================ */
.masonry-panel {

}

.masonry-item {
    opacity: 0;
    margin-bottom: 15px;
}

.masonry-sizer {
    height: 0 !important;
    min-height: 0 !important;
}

/* ============================================================================
   Btn translate
   ============================================================================ */
#btn-translate {
    position: absolute;
    z-index: 1000;
}

/* ============================================================================
   Editor wrapper
   ============================================================================ */
.editor-wrapper {
    position: relative;
    min-height: 500px;
}

.editor-loading {
    position: fixed;
    top: 50px;
}

.editor-wrapper .editor-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 999999;
    font-size: 18px;
    color: #333;
    font-family: Arial, Helvetica, san-serif !important;
    line-height: 26px !important;
}

.editor-wrapper[class*="col-"] .editor-loading {
    left: 15px;
    right: 15px;
}

.editor-wrapper .editor-loading > span {
    position: absolute;
    top: 35%;
    width: 100%;
    left: 0;
    text-align: center;
}

.editor-wrapper .editor-loading .loading-text {
    display: block;
    padding-top: 20px;
}

.editor-wrapper .editor-loading .loading-icon {
    display: block;
    height: 62px;
    padding: 0;
}

.editor-wrapper .editor-loading i.fa {
    font-size: 80px;
}

.editor-wrapper .editor-loading.loading {
    background: rgba(255, 255, 255, .7);
}

/* ============================================================================
   Fullscreen Editor
   ============================================================================ */
.fullscreen-editor-preview {
    border: 1px solid #ddd;
    width: 100%;
    height: 500px;
}

.fullscreen-editor-modal.modal-full .modal-body {
    padding: 0;
}

.fullscreen-editor-modal.modal-full .modal-body .editor-wrapper {
    min-height: 0;
    height: 100%;
    overflow: hidden;
}

.fullscreen-editor-modal.modal-full .modal-body .editor-wrapper .keditor-frame {
    height: 100%;
    border: 0;
}

/* ============================================================================
   Utilities
   ============================================================================ */
.ps-container {
    position: relative;
    overflow: hidden;
}

.action,
.center {
    text-align: center;
}

.action > * {
    text-align: left;
}

.invi {
    top: -9999px !important;
    left: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    visibility: hidden !important;
    position: fixed !important;
    display: block !important;
}

.hide-text {
    text-indent: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    font-size: 0 !important;
    line-height: 0 !important
}

.clear {
    clear: both
}

.clickable {
    cursor: pointer;
}

fieldset hr {
    margin: 5px 0 20px;
}

.youtube-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.messages-list {
    overflow-y: auto; /** stop messages going off the end of the list */
}

.inline-editor {
    border: solid lightgray 1px;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/** for the user details page **/
.memberships-list label {
    white-space: nowrap;
}

.enable-delay .input-group {
    width: 230px;
}

.attachments-list {
    margin-top: 10px;
    height: 105px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
}

.attachments-list article {
    margin: 0 0 5px;
}

.page-action {
    position: relative;
    z-index: 1;
}

#recipients h5 {
    margin: 0 0 13px;
}

#recipients .rules {
    height: 430px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#recipients .rules:hover {
    border-color: #b5b5b5;
}

.thumbnail .caption {
    overflow: hidden;

}

.flush-left {
    border-bottom-left-radius: 0;
    border-left: 0 none;
    border-top-left-radius: 0;
}

.breadcrumb a {
    color: #555;
}

.alert h3 {
    margin-top: 0;
}

body .form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

body .form-control::-webkit-input-placeholder {
    color: #ccc;
}

.form-control.form-control-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ajax-loader {
    display: none;
}

.table-responsive {
    min-height: 220px;
    /**
    BM: Removed because messing up resp table layouts, eg on manage search index. Not sure why i ever put this in
    overflow-x: visible;
    */
}

@media (min-width: 768px) {
    /**
     * Fix issue: Scrollbar is showed when dropdown menu is opened in desktop screen
     */
    .table-responsive {
        overflow: visible !important;
    }
}

.fluidLabel {
    height: 30px;
    float: left;
    margin-bottom: 10px
}

.fluidLabel span {
    line-height: 20px;
}

.fluidLabel a {
    color: white;
}

.huge {
    font-size: 28px;
}

.tldateLi {
    height: 40px;
}

.tldate {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #666;
    display: block;
    font-size: 14px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -100px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    transition: all 0.3s linear 0s;
    width: 200px;
    text-align: center;
}

.tileText {
    background: white none repeat scroll 0 0;
    color: black;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

/*
    Mkhoudary Modifications for Invoices
*/
.label a {
    color: #fff;
}

/* New User Modal */
#org-search {
    margin: -1px 15px 0;
    display: none;
}

/*
    End of mkhoudary modifications for invoices
*/

/*
    WT
    Fix for Rocket.Chat live chat
*/
.rocketchat-widget {
    right: unset !important;
    left: 10px !important;
}

.rocketchat-widget[data-state="closed"] {
    width: 210px !important;
}

#streamBody .timelime {

}



#streamBody .timeline::before {
    left: 85%;
}

#streamBody .timeline > li .timeline-badge {
    left: 85%;
}

#streamBody .timeline > li > .timeline-panel {
    width: 75%;
}