<html lang="en" class="no-js">
    <!-- start: HEAD -->
    <head>
        <title>Main admin template</title>

        <!-- start: META -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- For Chrome for Android: -->
        <link sizes="192x192" rel="icon" href="/static/images/favicon-192.png" />
        <!-- For iPhone 6 Plus with @3× display: -->
        <link sizes="180x180" rel="apple-touch-icon-precomposed" href="/static/images/favicon-180.png" />
        <!-- For iPad with @2× display running iOS ≥ 7: -->
        <link sizes="152x152" rel="apple-touch-icon-precomposed" href="/static/images/favicon-152.png" />
        <!-- For iPad with @2× display running iOS ≤ 6: -->
        <link sizes="144x144" rel="apple-touch-icon-precomposed" href="/static/images/favicon-144.png" />
        <!-- For iPhone with @2× display running iOS ≥ 7: -->
        <link sizes="120x120" rel="apple-touch-icon-precomposed" href="/static/images/favicon-120.png" />
        <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
        <link sizes="72x72" rel="apple-touch-icon-precomposed" href="/static/images/favicon-72.png" />
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="/static/images/favicon-57.png" />

        <link rel="manifest" href="/theme/assets/images/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/theme/assets/images/favicon/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
        <!-- end: META -->

        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="/theme/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/theme/assets/fonts/clip-font.min.css" />
        <link rel="stylesheet" href="/theme/assets/fonts/roboto.css" />
        <link rel="stylesheet" href="/theme/assets/css/main.min.css" />
        <link rel="stylesheet" href="/theme/assets/css/main-responsive.min.css" />

        <link rel="stylesheet" href="/theme/assets/plugins/jquery-ui/1.12.1.custom/jquery-ui.min.css" />
        <link rel="stylesheet" href="/theme/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" />
        <link rel="stylesheet" href="/theme/assets/plugins/bootstrap-switch/3.3.3/dist/css/bootstrap3/bootstrap-switch.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-datetimepicker/4.17.37/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="/static/daterangepicker/2.0.11/daterangepicker.css" />
        <link rel="stylesheet" href="/static/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="/static/daterange/ui.daterangepicker.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap-msg/0.3/bootstrap-msg.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/jquery-colorbox/1.6.3/example2/colorbox.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap-tagsinput/1.0.0/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="/static/jquery.pageDatePicker/1.0.0/jquery.pageDatePicker-1.0.0.css" />
        <link rel="stylesheet" href="/static/perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css" />
        <link rel="stylesheet" href="/theme/assets/css/kademi.css?v=8.1.6" />
        <link rel="stylesheet" href="/static/bootstrap-sweetalert/1.0.1/dist/sweetalert.css"/>
        <!-- end: MAIN CSS -->

        <!-- start: MAIN JAVASCRIPTS -->
        <script type="text/javascript" src="/static/jquery/1.11.0/jquery-1.11.0.js">// TODO, should be 2.0.3</script>

        <!-- Fuse specific scripts. We might be able to remove some of these after admin2 integration -->
        <script type="text/javascript" src="/static/js/common.js">//</script>
        <script type="text/javascript" src="/static/jquery.forms/1.1.1/jquery.forms-1.1.1.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.user.js">//</script>
        <script type="text/javascript" src="/static/js/file.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/toolbars.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/ckeditor456/ckeditor.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/ckeditor456/adapters/jquery.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/jquery.pjax.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.ba-hashchange.min.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin2/setup.js" bottom="true">//</script>
        <script type="text/javascript" src="/templates/themes/admin2/prompt.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-msg/0.3/bootstrap-msg.min.js">//</script>
        <script type="text/javascript" src="/static/raphael/2.2.7/raphael.min.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/morris.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/keymap.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/init-theme.js?v=7.3.7" bottom="true">//</script>
        <script type="text/javascript" src="/static/handlebars/3.0.3/handlebars-v3.0.3.js">//</script>
        <script type="text/javascript" src="/static/nicescroll/3.6.8/jquery.nicescroll.min.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-sweetalert/1.0.1/dist/sweetalert.min.js">//</script>
        <!-- End Fuse specific scripts -->

        <script type="text/javascript" src="/theme/assets/plugins/bootstrap/dist/js/bootstrap.min.js">//</script>
        <script type="text/javascript" src="/theme/assets/plugins/jquery-ui/1.12.1.custom/jquery-ui.min.js">//</script>
        <script type="text/javascript" src="/static/blockUI/2.70/jquery.blockUI.js">//</script>
        <script type="text/javascript" src="/static/perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js">//</script>
        <script type="text/javascript" src="/static/jquery.cookie/1.4.0/jquery.cookie.min-1.4.0.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-datetimepicker/4.17.37/bootstrap-datetimepicker.min.js" bottom="true">//</script>
        <script type="text/javascript" src="/theme/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js">//</script>
        <script type="text/javascript" src="/theme/assets/plugins/bootstrap-switch/3.3.3/dist/js/bootstrap-switch.min.js">//</script>
        <script type="text/javascript" src="/static/moment/2.17.1/moment.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js">//</script>
        <script type="text/javascript" src="/static/daterangepicker/2.0.11/daterangepicker.js">//</script>
        <script type="text/javascript" src="/static/jquery-colorbox/1.6.3/jquery.colorbox-min.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-tagsinput/1.0.0/bootstrap-tagsinput.js">//</script>
        <script type="text/javascript" src="/static/iCheck/1.0.2/icheck.min.js">//</script>
        <script type="text/javascript" src="/static/jquery.pageDatePicker/1.0.0/jquery.pageDatePicker-1.0.0.js">//</script>
        <script type="text/javascript" src="/static/uri/1.15.1/URI.js">//</script>
        <script type="text/javascript" src="/theme/assets/js/main.js">//</script>
        <script type="text/javascript" src="/theme/assets/js/kademi.js">//</script>

        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    </head>
    <body>
        <!-- Injected CSS sources -->
        #foreach($groupEntry in $templater.cssSources.entrySet())
            #foreach($cssFile in $groupEntry.value)
                <link rel="stylesheet" href="$cssFile" />
            #end
        #end
        <!-- End injected CSS sources -->

        <!-- Injected JS sources -->
        #foreach($groupEntry in $templater.jsSources.entrySet())
            #foreach($jsFile in $groupEntry.value)
                <script type="text/javascript" src="$jsFile">//</script>
            #end
        #end
        <!-- End injected CSS sources -->

        <div id="kademi-container" #if ($request.getCookie("admin-sidebar").value == "collapsed") class="navigation-small" #end >
            <div class="navbar navbar-inverse navbar-fixed-top">
                <!-- start: TOP NAVIGATION CONTAINER -->
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="clip-list-2"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/static/images/logo_admin.png" width="" height="" alt="Kademi" />
                            <img src="/static/images/kademi_loading.gif" width="" height="" alt="Loading..." id="mainSpinner" />
                        </a>
                    </div>
                    <div class="navbar-tools">
                        <!-- start: TOP NAVIGATION MENU -->
                        <ul class="nav navbar-right">
                            <!--<li class="">
                                <div style="padding: 9px; display: none" id="mainSpinner">
                                    <i class="fa fa-spinner fa-spin" style="font-size: 32px"></i>
                                </div>
                            </li>-->
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>

                                        <div class="search-wrapper">
                                            <input type="text" class="form-control search-input" placeholder="Search for..." id="top-nav-search-input" />
                                            <ul class="search-suggestions hide" id="top-nav-search-suggestions"></ul>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span><i class="fa fa-users"></i></span>
                                    <span class="org_name hidden-xs hidden-sm">Logged into: $page.organisation.formattedName</span>
                                    <i class="clip-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/edit"><i class="clip-pencil"></i> &nbsp; Organisation details</a>
                                    </li>
                                    #foreach($org in $page.organisations)
                                        <li>
                                            <a href="$org.href"><i class="clip-home-2"></i> &nbsp; $org.title</a>
                                        </li>
                                    #end
                                </ul>
                            </li>
                            <!-- start: USER DROPDOWN -->
                            <li class="dropdown current-user">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    #if( $profile.photoHash )
                                        <img src="/_hashes/files/$profile.photoHash" class="circle-img" alt="">
                                    #end
                                    <span class="username hidden-xs hidden-sm">
                                        $!formatter.firstNotNull($user.thisProfile.nickName, $user.thisProfile.firstName, $user.thisProfile.email, $user.thisProfile.name)
                                    </span>
                                    <i class="clip-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/manageUsers/$profile.userId">
                                            <i class="clip-user-2"></i> &nbsp;My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logout">
                                            <i class="clip-exit"></i> &nbsp;Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a target="_blank" href="http://docs.kademi.co/ref/screens${templateName}" class="btn-success">
                                    <span class="glyphicon glyphicon-question-sign"></span> Help
                                </a>
                            </li>
                            <!-- end: USER DROPDOWN -->
                        </ul>
                        <!-- end: TOP NAVIGATION MENU -->
                    </div>
                </div>
                <!-- end: TOP NAVIGATION CONTAINER -->
            </div>
            <!-- end: HEADER -->
            <!-- start: MAIN CONTAINER -->
            <div class="main-container">
                <!-- start: SIDEBAR -->
                <div class="main-navigation navbar-collapse collapse">
                    <div class="navigation-toggler">
                        <i class="fa fa-angle-double-left opened"></i>
                        <i class="fa fa-angle-double-right collapsed"></i>
                    </div>
                    <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu" id="main-navigation-menu">
                        #foreach($rootItem in $menu.items)

                            <li class="$formatter.ifTrue( $rootItem.active, "active open", "" )">
                                #set($href = "#")
                                #set($href = $rootItem.href)
                                <a href="$href" data-ordering="$rootItem.ordering">
                                    #if($rootItem.cssClass)
                                        <i class="menu-item-$rootItem.id $rootItem.cssClass fa-fw"></i>
                                    #end
                                    <span class="title">$rootItem.text</span>

                                    #if( !$rootItem.items.isEmpty() )
                                        <i class="icon-arrow"></i>
                                    #end

                                    #if( $rootItem.active )
                                        <!--<span class="selected"></span>-->
                                    #end
                                </a>

                                #set($subItems = $rootItem.items)
                                #if ($subItems && $subItems.size() > 0)
                                    <ul class="sub-menu">
                                        #foreach($sectionItem in $subItems)
                                            <li class="$formatter.ifTrue( $sectionItem.active, "active open", "" )" data-ordering="$sectionItem.ordering">
                                                <a href="$sectionItem.href">
                                                    #if($sectionItem.cssClass)
                                                        <i class="menu-item-$sectionItem.id $sectionItem.cssClass"></i>
                                                    #end
                                                    <span class="title">$sectionItem.text</span>
                                                    #if( $sectionItem.active )
                                                        <span class="selected"></span>
                                                    #end
                                                </a>
                                            </li>
                                        #end
                                    </ul>
                                #end
                            </li>
                        #end
                    </ul>
                    <!-- end: MAIN NAVIGATION MENU -->
                </div>
                <!-- end: SIDEBAR -->
                <!-- start: PAGE -->
                <div class="main-content">
                    <div class="container">
                        <!-- start: PAGE HEADER -->
                        <ol class="breadcrumb">
                            #if( $page.parent.title )
                                <li>
                                    <a href="$page.parent.href">
                                        $page.parent.title
                                    </a>
                                </li>
                            #end
                            <li class="active">
                                <a href="$page.href">$formatter.htmlEncode($page.title)</a>
                            </li>

                            <li class="pull-right" id="commonControlsRange"></li>
                        </ol>

                        <div style="padding-top: 15px">
                            #content
                        </div>
                    </div>
                    <div class="footer text-center clearfix">
                        <div class="footer-items">
                            <span class="go-top"><i class="clip-chevron-up"></i></span>
                        </div>
                        <div class="">
                            <div class="copyright">$formatter.getYear($formatter.now) &copy; Kademi Ltd</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: RIGHT SIDEBAR -->
            #portlets("kchatAdmin")
        </div>

        #set($useHash = $params.useHash)
        <script type="text/javascript">
            var useHash = "$!useHash";
            $(function () {
                Main.init('$page.organisation.id');
                initTheme(); // init the fuse extensions

                // Init page date picker at the end for make sure that when first time it triggers pageDateChanged event, all other js stuffs could listen!
                initPageDatePicker();

                try {
                    // https://github.com/Kademi/kademi-dev/issues/1397
                    CKEDITOR.timestamp = '0308201626';
                } catch (e) {
                    flog("Ckedior exception");
                }
            });
        </script>

        #if( !$request.hostHeader.contains(":") )
            <!--Start of Zopim Live Chat Script-->
            <script type="text/javascript">
                var ua = navigator.userAgent.toLowerCase();
                var platform = navigator.platform.toLowerCase();
                var platformName = ua.match(/ip(?:ad|od|hone)/) ? 'ios' : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0];
                var isMobile = /ios|android|webos/.test(platformName);
                if (!isMobile) {
                    window.$zopim || (function (d, s) {
                        var z = $zopim = function (c) {
                                    z._.push(c)
                                },
                                $ = z.s =
                                        d.createElement(s),
                                e = d.getElementsByTagName(s)[0];
                        z.set = function (o) {
                            z.set.
                                    _.push(o)
                        };
                        z._ = [];
                        z.set._ = [];
                        $.async = !0;
                        $.setAttribute('charset', 'utf-8');
                        $.src = '//v2.zopim.com/?2nKbRpXKUmYJXwm07KHHlZLNXFdpF9PE';
                        z.t = +new Date;
                        $.
                                type = 'text/javascript';
                        e.parentNode.insertBefore($, e)
                    })(document, 'script');
                }
            </script>
            <!--End of Zopim Live Chat Script-->
        #end
    </body>
    <!-- end: BODY -->
</html>
