<div class="row" id="auctions-list">
    #foreach($auction in $page.childrenWithPermission)
    #set($bg = "/theme/img/photo_holder.png")
    #if( $auction.bestSquareImageHash )
    #set($bg = "/_hashes/files/" + $auction.bestSquareImageHash + "/alt-600-400.png")
    #end

    <div class="col-sm-6 col-md-4 auction-item">
        <div class="thumbnail auction">
            <a href="$auction.href">
                <div class="embed-responsive embed-responsive-4by3">
                    <span class="embed-responsive-item" style="background-image: url('$bg');"></span>
                </div>
            </a>

            <div class="caption">
                <h3 class="auction-title" title="$auction.title"><a href="$auction.href">$auction.title</a></h3>

                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="$formatter.formatDateISO8601($auction.auctionEndDate)">$auction.auctionEndDate</abbr></p>

                <p class="auction-content">$!auction.description</p>

                <div class="auction-actions">
                    <a href="$auction.href" class="btn btn-primary btn-sm" role="button">Bid now</a>
                </div>
            </div>
        </div>
    </div>
    #end
</div>
