<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Versions</title>
        <link href="publish.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageBranches.js">//</script>
    </head>
    <body class="dashboard">
    	<p class="well">Manage versions for this repository.</p>
    	<div class="panel panel-default MainContent">
    		<div class="panel-body">
    			<table class="table table-hover" id="branch-wrapper">
	                <thead>
	                    <tr>
	                        <th>Name</th>
	                        <th>Created Date</th>
	                        <th>From</th>
	                        <th>Visibility</th>
	                        <th>Last modified</th>
	                        <th>Modified by</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    #foreach($branch in $folder.repository.branches)
	                    <tr>
	                        <td>$branch.name</td>
	                        <td>$!branch.createdDate</td>
	                        <td>$!branch.fromCommit.branch.name</td>
	                        <td>
	                            #if( $branch.hiddenBy )
                                <span class="label label-warning">Hidden</span>
	                               by $branch.hiddenBy.name (<a class="btn-unhide-branch" href="$branch.name">un-hide</a>)
	                            #else	                               
                                   #if( $branch.name == $branch.repository.liveBranch )
                                   <span class="label label-danger">LIVE</span>
                                   #else
                                   <span class="label label-default">Visible</span>
                                   (<a class="btn-hide-branch" href="$branch.name">hide</a>)
                                   #end
	                            #end
	                        </td>
	                        <td>$!branch.head.createdDate</td>
	                        <td>$!branch.head.editor.name</td>
	                        <td>
                                #if ( $branch.hiddenBy )
                                    <a title="" class="btn btn-xs btn-blue btn-block disabled">
                                        History <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                #else
                                    <a href="/repositories/$folder.repository.name/$branch.name/commits" class="btn btn-xs btn-blue btn-block">
                                        History <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                #end
                            </td>
	                    </tr>
	                    #end
	                </tbody>
	            </table>
    		</div>
    	</div>
        <script type="text/javascript">
            $(function () {
                initManageBranches();
            });
        </script>               
    </body>
</html>

