<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Versions</title>
        <link href="publish.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="publish.js">//</script>
    </head>
    <body class="dashboard">
    	<p class="well">Manage versions for this repository.</p>
    	<div id="publish" class="panel panel-default MainContent">
    		<div class="panel-body">
    			<table class="table table-hover">
	                <thead>
	                    <tr>
	                        <th>Name</th>
	                        <th>Created Date</th>
	                        <th>From</th>
	                        <th>Visibility</th>
	                        <th>Last modified</th>
	                        <th>Modified by</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    #foreach($branch in $folder.repository.branches)
	                    <tr>
	                        <td>$branch.name</td>
	                        <td>$!branch.createdDate</td>
	                        <td>$!branch.fromCommit.branch.name</td>
	                        <td>
	                            #if( $branch.hiddenBy )
	                            hidden by $branch.hiddenBy.name (<a class="unhide" href="$branch.name">un-hide</a>)
	                            #else
	                            visible (<a class="hide" href="$branch.name">hide</a>)
	                            #end
	                        </td>
	                        <td>$!branch.head.createdDate</td>
	                        <td>$!branch.head.editor.name</td>
	                        <td><a href="/repositories/$folder.repository.name/$branch.name/commits" class="btn btn-xs btn-blue btn-block">History <i class="fa fa-arrow-circle-right"></i></a></td>
	                    </tr>
	                    #end
	                </tbody>
	            </table>
    		</div>
    	</div>
        <script type="text/javascript">
            Bob.onDOMReady(function () {
                $("#publish form").forms({
                    callback: function() {
                        alert("Done!");
                    }
                });
                $(".hide").click(function(e) {
                    e.preventDefault();
                    var a = $(e.target).closest("a");
                    setVisibility(a, true);
                });
                $(".unhide").click(function(e) {
                    var a = $(e.target).closest("a");
                    e.preventDefault();
                    setVisibility(a, false);
                });
            });

            function setVisibility(link, hidden) {
                log("setVisibility", link, hidden);
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {
                        name: link.attr("href"),
                        hide: hidden
                    },
                    dataType: "json",
                    success: function(resp) {
                        if( resp && resp.status ) {
                            window.location.reload();                        
                        } else {
                            alert("Sorry, had an error - " + resp.messages)
                        }
                    },
                    error: function(resp) {
                        log("error", resp);
                        alert("Sorry couldnt set the visibility " + resp);
                    }
                });
            }
        </script>               
    </body>
</html>

