.btn-upload-photo {
	width: 160px;
	cursor: pointer;
}

.profile-photo img {
	width: 62px;
	height: 62px;
	float: left;
}

.profile-photo img + div {
	margin-left: 70px;
}

fieldset hr {
	margin: 5px 0 20px;
}

.memberships-list .membership {
	margin-bottom: 5px;
}

.modal-body .memberships-list .membership {
	display: block;
}

.modal-body .memberships-list .membership label {
	margin: 0;
}

.modal-body .memberships-list .membership .input[type="radio"] {
	margin: 0;
	vertical-align: text-top;
}

#org-search {
	margin: -1px 15px 0;
}

.modules-wrapper {
	padding: 0 0 0 15px;
}

.modules-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.modules-list li {
	padding: 0 15px 0 0;
	margin-bottom: 5px;
}

.modules-list li div {
	border-radius: 5px;
	background: #f0f0f0;
	padding: 5px;
	float: left;
	width: 100%;
	line-height: 23px;
}

.modules-list li div label {
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
    max-width: 220px;
}

.modules-list li div a {
	float: right;
}