<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="publish.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="publish.js">//</script>
    </head>
    <body class="dashboard">
        <div id="publish" class="MainContent">
            <p class="well">Use this page to make this branch live. That means this version will be seen when users go to this website's main address. You can change back to the previous version if you need to.</p>
            <p>
	            #set($repo = $page.closest("repository") )
	            #if( $repo.live )
	            Current version: <b>$page.closest("repository").live.name</b>
	                #if( $repo.is("website") )
	                    - <a href="$repo.externalUrl" target="_blank" class="btn btn-xs btn-info">View <i class="fa fa-arrow-circle-right"></i></a>
	                #end
	            #else
	            <b>There is currently no live version</b>
	            #end
            </p>
            <p>
                #set($newBranch = $page.closest("branch") )
                Change to version: <b>$newBranch.name</b>
                #if( $repo.is("website") )
                - <a href="$page.closest('branch').externalUrl" target="_blank" class="btn btn-xs btn-info">View <i class="fa fa-arrow-circle-right"></i></a>
                #end
            </p>

            <form action="$page.name" method="POST">
                <button class="btn btn-sm btn-primary">Publish $page.closest("branch").name Now</button>
            </form>
        </div>
        <script type="text/javascript">
            Bob.onDOMReady(function () {
                $("#publish form").forms({
                    callback: function() {
                        alert("Done!");
                    }
                });
            });
        </script>               
    </body>
</html>

