<div class="form-group">
    <label for="cardname">
        Name on card</label>
    <div class="input-group">
        <input type="text" class="form-control" id="cardname" name="cardname" placeholder="Name on card"
               required />
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    </div>
</div>
<div class="form-group">
    <label for="cardnumber">
        Card number</label>
    <div class="input-group">
        <input type="text" class="form-control" id="cardnumber" name="cardnumber" placeholder="Valid Card Number"
               required />
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-7 col-md-7">
        <div class="form-group">
            <label for="cardmonth">
                EXPIRY DATE</label>
            <div class="col-xs-6 col-lg-6 pl-ziro">
                <input type="text" class="form-control" id="cardmonth" name="cardmonth" placeholder="MM" required />
            </div>
            <div class="col-xs-6 col-lg-6 pl-ziro">
                <input type="text" class="form-control" id="cardyear" name="cardyear" placeholder="YY" required />
            </div>
        </div>
    </div>
    <div class="col-xs-5 col-md-5 pull-right">
        <div class="form-group">
            <label for="cardcvn">
                CV CODE</label>
            <input type="password" class="form-control" id="cardcvn" name="cardcvn" placeholder="CV" required />
        </div>
    </div>
</div>