/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2017, 9:55:48 PM
    Author     : m.elkhoudary
*/

.invoices-table {

}

.invoices-table tbody td {
    padding: 0 !important;
}

.invoices-table tbody td.last {
    width: 200px;
}

.invoices-table tbody td input, .invoices-table tbody td select {
    border: none !important;
    display: block;
    width: 100%;
}

.invoices-table tfoot td {
    border-color: transparent !important;
    text-align: right !important;
}

.invoices-table tfoot td:last-child {
    padding-right: 50px;
}

.invoices-table tfoot .gst td {
    border-bottom: 2px solid gray !important;
}

.invoices-table tfoot .total td {
    border-bottom: 4px solid gray !important;
    font-size: 180%;
    font-weight: bold;
}

.invoices-table tbody tr.template-row {
    display: none;
}

.invoices-table tbody tr.new-line-add {
    background-color: #f0f5f8 !important;
}

.invoices-table tbody tr:not(.new-line-add) td:last-child span {
    width: calc(100% - 50px);
    display: inline-block;
    background-color: white;
    padding: 8px 4px;
    text-align: right;
}

.invoices-table tbody tr:not(.new-line-add) td:last-child button {
    width: 50px;
    display: inline-block;
    padding: 8px 4px;
    border: none;
    background-color: white;
    border-left: 1px solid #ddd;
    outline: none;
}

.invoices-table tbody tr:not(.new-line-add) td:last-child button:hover {
    background-color: #fafafa;
}

.invoices-table tbody .new-line-add td {
    padding: 5px !important; 
    text-align: center;
    font-style: italic;
    color: gray;
    cursor: pointer;
}