<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="Stylesheet" type="text/css" href="/theme/apps/payment/invoices-table.css" />
    </head>
    <body>
        <section style="padding-top: 15px">

            <form class="form-horizontal" method="POST">
                <header>
                    <h2>
                        $page.title
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-sm btn-success">
                                <i class="fa fa-save"></i> Save
                            </button>

                            <a target="_blank" href="#" class="btn btn-sm btn-info">
                                <i class="fa fa-arrow-circle-right"></i> Send Now
                            </a>

                            <a href="#" class="btn btn-sm btn-info">
                                <i class="fa fa-eye"></i> Preview
                            </a>

                            <a href="#" class="btn btn-sm btn-info">
                                <i class="fa fa-print"></i> Print
                            </a>
                        </div>
                    </h2>                
                </header>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label" for="name">Vendor</label>

                                        <div class="input-group col-sm-12">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>

                                            <div class="search-wrapper">
                                                <input type="text" class="form-control search-input" placeholder="Search for Vendor" id="vendor-search-input" />
                                                <ul class="search-suggestions hide" id="vendor-search-input-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="control-label" for="name">Customer</label>

                                        <div class="input-group col-sm-12">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>

                                            <div class="search-wrapper">
                                                <input type="text" class="form-control search-input" placeholder="Search for Customer" id="customer-search-input" />
                                                <ul class="search-suggestions hide" id="customer-search-input-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="control-label" for="name">Issue Date</label>
                                        <div class="input-group col-sm-12"> 
                                            <input class="form-control date-pickers" value="$formatter.formatJodaDate($page.issuedDate, "dd/MM/yyyy HH:mm")" />
                                    </div> 
                                </div>

                                <div class="col-sm-2">
                                    <label class="control-label" for="name">Due Date</label>
                                    <div class="input-group col-sm-12"> 
                                        <input class="form-control date-pickers" value="$formatter.formatJodaDate($page.dueDate, "dd/MM/yyyy HH:mm")" />
                                </div> 
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="name">Invoice #</label>
                                <div class="input-group col-sm-12"> 
                                    <input class="form-control" value="$page.number" />
                                </div> 
                            </div>
                        </div>
                        <table id="line-items" class="table table-striped table-bordered col-sm-12 invoices-table" style="margin-top: 15px">
                            <thead>
                                <tr>
                                    <th class="description">Description</th>
                                    <th class="supplier">Account</th>
                                    <th class="supplier">Supplier</th>
                                    <th class="quantity">Quantity</th>
                                    <th class="price">Unit Price</th>
                                    <th class="discount">Discount %</th>
                                    <th class="tax-rate">Tax Rate</th>
                                    <th class="amount">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="template-row">
                                    <td>
                                        <input placeholder="Item Description" class="form-control" type="text" />
                                    </td>
                                    <td>
                                        <input placeholder="Account Name" class="form-control" type="text" />
                                    </td>
                                    <td>
                                        <div class="search-wrapper">
                                            <input type="text" class="form-control search-input supplier" placeholder="Search for Supplier" />
                                            <ul class="search-suggestions hide supplier-suggestions"></ul>
                                        </div>
                                    </td>
                                    <td>
                                        <input placeholder="Quantity Taken" class="quantity-field form-control" type="number" />
                                    </td>
                                    <td>
                                        <input placeholder="Price per Unit" class="price-field form-control" type="number" />
                                    </td>
                                    <td>
                                        <input placeholder="Discount if Applicable" class="discount-field form-control" type="number" />
                                    </td>
                                    <td>
                                        <select class="form-control last-field">
                                            <option>No Tax</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="total-field">0.00</span><button onclick="removeRow(event, this);"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tr class="new-line-add">
                                    <td colspan="8">Click to add a new line</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="subtotal">
                                    <td colspan="6" rowspan="3"></td>
                                    <td>Subtotal</td>
                                    <td class="subtotal-field">0.00</td>
                                </tr>

                                <tr class="gst">
                                    <td>GST</td>
                                    <td>0.00</td>
                                </tr>

                                <tr class="total">
                                    <td>Total</td>
                                    <td class="global-total-field">0.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

#macro(isActive $state)
#if($request.params.state == $state)
active            
#end
#end
<script type="text/javascript">
    Number.prototype.formatMoney = function (c, d, t) {
        var n = this,
                c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    var columnId = 0;

    $(document).ready(function () {
        initGenericSearch('vendor-search-input');
        initGenericSearch('customer-search-input');

        initDateTimePickers();

        $(".new-line-add").on("click", function () {
            $(".template-row").clone().removeClass("template-row").insertBefore(".new-line-add").find(".supplier").prop("id", "supplier-" + columnId).end().find(".supplier-suggestions").prop("id", "supplier-" + columnId + "-suggestions").end().find("input:eq(0)").focus();

            initGenericSearch('supplier-' + columnId);

            columnId++;
        });

        $("#line-items tbody").on("blur", ".last-field", function () {
            $(".new-line-add").click();
        });

        $("#line-items tbody").on("keydown", "input", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();

                return false;
            }
        });

        $("#line-items tbody").on("keyup", ".discount-field, .price-field, .quantity-field", function () {
            var parentRow = $(this).parents("tr");

            var quantity = Number(parentRow.find(".quantity-field").val());
            var price = Number(parentRow.find(".price-field").val());
            var discount = Number(parentRow.find(".discount-field").val());

            var amount = parentRow.find(".total-field");

            if (isNaN(quantity) || isNaN(price)) {
                amount.html((0).formatMoney(2, '.', ','));
                amount.data("total", 0);

                refreshTotals();

                return;
            }

            amount.data("total", (quantity * price) - (quantity * price * (isNaN(discount) ? 0 : (discount / 100))));
            amount.html(amount.data("total").formatMoney(2, '.', ','));

            refreshTotals();
        });

        $(".new-line-add").click();
    });

    function refreshTotals() {
        var total = 0;

        $("#line-items tbody tr:not(.template-row)").each(function () {
            var totalField = $(this).find(".total-field");

            if (totalField.length > 0) {
                total += totalField.data("total");
            }

            $(".subtotal-field").text(total.formatMoney(2, '.', ','));
            $(".global-total-field").text(total.formatMoney(2, '.', ','));
        });
    }

    function removeRow(event, caller) {
        $(caller).parents("tr").remove();

        if ($("#line-items tbody tr").size() === 2) {
            $(".new-line-add").click();
        }

        refreshTotals();
    }

    function initGenericSearch(inputId) {
        flog('initGenericSearch');

        var txt = $('#' + inputId);

        if (txt.length > 0) {
            var suggestionsWrapper = $('#' + inputId + '-suggestions');
            var backdrop = $('<div />', {
                id: '' + inputId + '-backdrop',
                class: 'hide search-backdrop'
            }).on('click', function () {
                backdrop.addClass('hide');
                suggestionsWrapper.addClass('hide');
            }).appendTo(document.body);

            txt.on({
                input: function () {
                    typewatch(function () {
                        var text = txt.val().trim();

                        if (text.length > 0) {
                            doTopNavSearch(text, suggestionsWrapper, backdrop);
                        } else {
                            suggestionsWrapper.addClass('hide');
                            backdrop.addClass('hide');
                        }
                    }, 500);
                },
                keydown: function (e) {
                    switch (e.keyCode) {
                        case keymap.ESC:
                            flog('Pressed ESC button');

                            suggestionsWrapper.addClass('hide');
                            backdrop.addClass('hide');

                            e.preventDefault();
                            break;

                        case keymap.UP:
                            flog('Pressed UP button');

                            var suggestions = suggestionsWrapper.find('.suggestion');
                            if (suggestions.length > 0) {
                                var actived = suggestions.filter('.active');
                                var prev = actived.prev();

                                actived.removeClass('active');
                                if (prev.length > 0) {
                                    prev.addClass('active');
                                } else {
                                    suggestions.last().addClass('active');
                                }
                            }

                            e.preventDefault();
                            break;

                        case keymap.DOWN:
                            flog('Pressed DOWN button');

                            var suggestions = suggestionsWrapper.find('.suggestion');
                            if (suggestions.length > 0) {
                                var actived = suggestions.filter('.active');
                                var next = actived.next();

                                actived.removeClass('active');
                                if (next.length > 0) {
                                    next.addClass('active');
                                } else {
                                    suggestions.first().addClass('active');
                                }
                            }

                            e.preventDefault();
                            break;

                        case keymap.ENTER:
                            flog('Pressed DOWN button');

                            var actived = suggestionsWrapper.find('.suggestion').filter('.active');

                            if (actived.length > 0) {
                                txt.val(actived.data('name')).data('selected-id', actived.data('user-id'));

                                suggestionsWrapper.addClass('hide');
                                backdrop.addClass('hide');
                            }

                            e.preventDefault();
                            break;

                        default:
                        // Nothing
                    }
                }
            });

            suggestionsWrapper.on({
                mouseenter: function () {
                    suggestionsWrapper.find('.suggestion').removeClass('active');
                    $(this).addClass('active');
                },
                mouseleave: function () {
                    $(this).removeClass('active');
                }
            }, '.suggestion');
        }
    }

    function doTopNavSearch(query, suggestionsWrapper, backdrop) {
        flog('doTopNavSearch', query, suggestionsWrapper, backdrop);

        $.ajax({
            url: '/manageUsers',
            type: 'POST',
            data: {
                omni: query
            },
            dataType: 'JSON',
            success: function (resp) {
                flog('Got search response from server', resp);

                var suggestionStr = '';

                if (resp && resp.hits && resp.hits.total > 0) {
                    for (var i = 0; i < resp.hits.hits.length; i++) {
                        var suggestion = resp.hits.hits[i];
                        if (suggestion.fields.userId) {
                            var userId = suggestion.fields.userId[0];
                            var userName = suggestion.fields.userName[0];
                            var email;
                            if (suggestion.fields.email) {
                                var email = suggestion.fields.email[0];
                            } else {
                                email = "";
                            }
                            var firstName = suggestion.fields.firstName ? suggestion.fields.firstName[0] : '';
                            var surName = suggestion.fields.surName ? suggestion.fields.surName[0] : '';

                            suggestionStr += '<li class="suggestion" data-user-id="' + userId + '" data-name="' + firstName + ' ' + surName + '">';

                            suggestionStr += '    <a href="/manageUsers/' + userId + '">';
                            suggestionStr += '        <span>' + userName + '</span> &ndash; <span class="email">' + email + '</span>';
                            if (firstName || surName) {
                                suggestionStr += '    <br /><small class="text-muted">' + firstName + ' ' + surName + '</small>';
                            }
                            suggestionStr += '    </a>';
                        } else if (suggestion.fields.entityId) {
                            var id = suggestion.fields.entityId[0];
                            var orgId = suggestion.fields.orgId[0];
                            var orgTitle = suggestion.fields.title[0];

                            suggestionStr += '<li class="suggestion" data-user-id="' + userId + '" data-name="' + orgTitle + '">';

                            var href = "/organisations/" + id + "/edit";
                            suggestionStr += "    <a href='" + href + "'>";
                            suggestionStr += '        <span>' + orgTitle + '</span>';
                            suggestionStr += '    <br /><small class="text-muted">OrgID: ' + orgId + '</small>';
                            suggestionStr += '    </a>';

                        }
                        suggestionStr += '</li>';
                    }
                } else {
                    suggestionStr = '<li class="search-no-result">No result.</li>';
                }

                suggestionsWrapper.html(suggestionStr).removeClass('hide');
                backdrop.removeClass('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                flog('Error when doTopNavSearch with query: ' + query, jqXHR, textStatus, errorThrown);
            }
        });
    }

    function initDateTimePickers() {
        var date = new Date();
        date.setDate(date.getDate() - 1);
        $('body').css('position', 'relative');
        var opts = {
            widgetParent: 'body',
            format: "DD/MM/YYYY HH:mm"
        };

        $('.date-pickers').datetimepicker(opts);

        $('.date-pickers').on('dp.show', function () {
            var datepicker = $('body').find('.bootstrap-datetimepicker-widget:last');
            if (datepicker.hasClass('bottom')) {
                var top = $(this).offset().top - $(this).outerHeight();
                var left = $(this).offset().left;
                datepicker.css({
                    'top': top + 'px',
                    'bottom': 'auto',
                    'left': left + 'px',
                    'z-index': 9999
                });
            } else if (datepicker.hasClass('top')) {
                var top = $(this).offset().top - datepicker.outerHeight() - 40;
                var left = $(this).offset().left;
                datepicker.css({
                    'top': top + 'px',
                    'bottom': 'auto',
                    'left': left + 'px',
                    'z-index': 9999
                });
            }
        });
    }
</script>
</body>
</html>