@ktoolbar-brand: #000;
@ktoolbar-z-index: 999999;
@ktoolbar-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
@ktoolbar-link-color: #fff;

#ktoolbar {
    position: fixed;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background: @ktoolbar-brand;
    z-index: @ktoolbar-z-index;
    transition: top ease-in-out 250ms;
    font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    &.show {
        top: 0;
        -webkit-box-shadow: @ktoolbar-box-shadow;
        box-shadow: @ktoolbar-box-shadow;
    }
    
    .btn-link {
        color: @ktoolbar-link-color;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }
    
    .ktoolbarToggle {
        border-radius: 0 0 3px 3px;
        background-color: @ktoolbar-brand;
        color: #fff;
        padding: 1px 5px;
        margin-top: -2px;
        -webkit-box-shadow: @ktoolbar-box-shadow;
        box-shadow: @ktoolbar-box-shadow;
        border: 0;
    }
    
    .ktoolbarToggleWrap {
        background-color: transparent;
        height: 0;
    }
}

@media (max-width: 767px) {
    #ktoolbar {
        display: none;
    }
}
