/* ---------------------------------------------------------------------- */
/*	Rows
/* ---------------------------------------------------------------------- */
.row {
    margin-left: -7.5px;
    margin-right: -7.5px;

    > [class*="col-"] {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

/* ---------------------------------------------------------------------- */
/*	XL screen
/* ---------------------------------------------------------------------- */
@media (min-width: $screen-xl-min) {
    @include make-grid(xl);
}