/* ---------------------------------------------------------------------- */
/*	HR
/* ---------------------------------------------------------------------- */
.hr-lg {
    margin: 30px 0;
}

.hr-md {
    margin: 20px 0;
}

.hr-sm {
    margin: 10px 0;
}

.hr-xs {
    margin: 5px 0;
}
