/* ---------------------------------------------------------------------- */
/*	Search Box
/* ---------------------------------------------------------------------- */
.search-box {
    float: right;

    &:before {
        content: " " !important;
    }

    .show-search {
        position: absolute;
        right: 15px;
        top: 12px;
        background: #D9D9D9;
        padding: 4px 10px;
        @include border-radius(5px);

        i {
            color: #999999;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.sidebar-search {
    margin: -3px 0 0 0;
    padding: 0 30px 0 5px;
    display: inline-block;
    background: #E4E5E6;
    border-radius: 5px;
    color: #555555;
    position: absolute;
    right: 10px;
    top: 15px;
    min-height: 28px;
    min-width: 28px;

    .form-group {
        margin: 0;
        padding: 0;

        input {
            background: none;
            border: none;
            width: 130px;

            &:focus {
                box-shadow: none;
            }
        }

        button {
            background: none;
            border: none;
            position: absolute;
            right: 4px;
            top: 5px;
            width: 28px;

            i {
                color: #999999;
            }
        }
    }
}

/* ---------------------------------------------------------------------- */
/*	Search input
/* ---------------------------------------------------------------------- */
.search-wrapper {
    position: relative;
    @include clearfix();
}

.search-input {
    position: relative;
    z-index: 2;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid $panel-border-color;
    padding: 0;
    min-width: 100%;
    list-style: none;
    z-index: 1;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    li {
        a {
            display: block;
            padding: 5px;
            color: #000 !important;
            text-decoration: none !important;
            white-space: normal;
        }

        &.active {
            a {
                &,
                &:hover {
                    background: $panel-bg;
                }
            }
        }

        &.no-result {
            padding: 5px;
        }

        + li {
            border-top: 1px solid $panel-border-color;
        }
    }
}
