
#if (!$badgesPerRow)
    #set ($badgesPerRow = 4)
#end
#if ($mostRecentBadge == "true")
    #set ($badgesPerRow = 1)
#end
#set ($badgesPerRow = $formatter.toInteger( $badgesPerRow ))

#if ($badgesPerRow == 1)
    #set ($badgeClass = "col-sm-12")
#elseif ($badgesPerRow == 2)
    #set ($badgeClass = "col-sm-6")
#elseif ($badgesPerRow == 3)
    #set ($badgeClass = "col-sm-4")
#elseif ($badgesPerRow == 4)
    #set ($badgeClass = "col-sm-3")
#elseif ($badgesPerRow == 6)
    #set ($badgeClass = "col-sm-2")
#elseif ($badgesPerRow == 12)
    #set ($badgeClass = "col-sm-1")
#end

#if ($topic && $topic != "")
    #set( $recognitionService = $applications.userApp.recognitionService )
    #set( $badges = $recognitionService.getAwardedBadges($topic) )

        <div class="kbadges-list row row-sm">
    #if( !$badges or $badges.empty)

        <div class="kbadge">You havent earned any badges yet.</div>

    #else
        #set ($badges = $formatter.sortByProperty($badges, "createdDate"))
        #set ($badges = $formatter.sortReverse($badges))
            #foreach($b in $badges)
                <div class="$badgeClass kbadge">
                    #if ($b.recognition.imageHash)
                        <img src="/_hashes/files/$b.recognition.imageHash" class="img-responsive kbadge-photo" alt="$b.recognition.title" />
                    #else
                        <img src="/static/images/photo_holder_squared.png" class="img-responsive kbadge-photo" alt="$b.recognition.title" />
                    #end
                    #if ($showBadgeTitle == true)
                        <div class="kbadge-title">$b.recognition.title</div>
                    #end
                </div>

                #if ($mostRecentBadge == "true")
                    #break
                #end
            #end
    #end
        </div>
#else
    #if (!$page)
        <p class="alert alert-warning">No topic selected</p>
    #end
#end