#if (!$levelNameTag)
    #set ($levelNameTag = "h3")
#end

#set( $recognitionService = $applications.userApp.recognitionService )
#set( $levelStatus = $recognitionService.getLevelStatus($topic) )
#set( $award = $levelStatus.currentLevel.title )
#set( $topicResource = $recognitionService.getTopic($topic) )

#set( $percent = $levelStatus.percentage )

<div class="panel-circle-sales panel-level-progress">
    <div class="circle-sales-wrapper text-center">
        <div class="circle-sales">
            <div class="circle-sales-knob-wrapper">
                <input class="circle-sales-knob" value="$formatter.formatCurrency($percent)" data-color="$formatter.ifNull($levelStatus.nextLevel.colour, $levelStatus.currentLevel.colour)" />
            </div>
            <div class="circle-sales-label">
                <label class="label label-achievement" style="background-color: ${levelStatus.currentLevel.colour};">$formatter.ifNull($levelStatus.currentLevel.title, "No level")</label>
                #if ($levelStatus.currentLevel)
                    <div class="current-level"><b>You've reached $levelStatus.currentLevel.title level</b></div>
                #else
                    <div class="current-level"><b>You have no level</b></div>
                #end
                #if ($levelStatus.nextLevel)
                    <div class="next-level">You're ${formatter.toInteger($percent)}% of the way to $levelStatus.nextLevel.title</div>
                #else
                    <div class="next-level">You have completed all levels</div>
                #end
                #if ($showTopicName == "true")
                    <span class="circle-sales-title">$topicResource.title</span>
                #end
            </div>
        </div>
    </div>
</div>
