#if (!$levelNameTag)
    #set ($levelNameTag = "h3")
#end

#if ($topic && $topic != "")
    #set( $recognitionService = $applications.userApp.recognitionService )
    #set($award = $recognitionService.getHighestLevelAward($topic) )
    #set( $topic = $recognitionService.getTopic($topic) )

    <div class="panel-level-achievement">
        #if( $award == $null )
            #if ($imgNoLevel)
                <p><img src="$imgNoLevel" class="img-responsive" /></p>
            #else
                <p>No awarded level found</p>
            #end
        #else
            #if ($showLevelName == 'true')
                <$levelNameTag>$award.recognition.title</$levelNameTag>
            #end
    
            <p><img src="/_hashes/files/$award.recognition.imageHash" class="img-responsive" alt="$award.recognition.title" /></p>
    
        #end
    </div>
#else
    <p class="alert alert-warning">No topic was selected</p>
#end


