<div class="form-horizontal">
    #set( $topics = $applications.userApp.recognitionService.allTopics )
    <div class="form-group">
        <label class="col-sm-12">Forum</label>
        <div class="col-sm-12">
            <select class="form-control select-topic">
                <option value="" selected="selected">- Please select -</option>
                #foreach($topic in $topics)
                <option value="$topic.name">$topic.title</option>
                #end
            </select>
        </div>
    </div>
</div>
