<link rel="stylesheet" type="text/css" href="reward-store.css" />
<script src="/static/reload-fragment/1.0.1/jquery.reload-fragment-1.0.1.js" >//</script>
<script type="text/javascript" src="/static/uri/1.15.1/URI.js">//</script>
<div class="">
    <div class="row">
        <div class="col-md-8">
            <h2>
                $page.title
            </h2>
            <div class="productNotes">$!page.description</div>
        </div>
        <div class="col-md-4">
            <div style="margin-left:15px;" class="well addToCartContainer">
                <div id="addToCartSection">
                    #if($page.variantImageHref)
                    <a onclick="" href="#">
                        <img style="width:100%" src="$page.variantImageHref/alt-400-600.png" />
                    </a>
                    #elseif( $page.primaryImageHref )
                    <a onclick="" href="#">
                        <img style="width:100%" src="$page.primaryImageHref/alt-400-600.png" />
                    </a>
                    #end
                            <span class="label label-success priceLabel">
                                #set( $opts = $page.selectedParameterOptions )
                                #set( $price = $page.getPurchaseAmount($opts) )
                                #if( $price )
                                $price.amount Points
                                #end
                            </span>
                </div>
                <br/>

                #foreach( $param in $page.parameters)
                #if( $param.options.size() > 0 )
                <div class='form-group'>
                    <label for="param-$param.name" class='col-sm-4 control-label'>$param.title</label>
                    <div class="col-sm-8">
                        <select name="param-$param.name" class='form-control productParameterSelect'>
                            <option value="">[ $param.title ]</option>
                            #foreach( $opt in $param.options)
                            <option value="$opt.name">$opt.title</option>
                            #end
                        </select>
                    </div>
                </div>
                #end
                #end
                <br style='clear: both'/>
                <div class='form-group' style="margin-top: 20px">
                    <a href="$page.href" class="pull-right btn-lg btn btn-primary cart-add">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Add to cart
                    </a>
                </div>
                <br style='clear: both'/>
            </div>
            #portlets("productDetailsSidebar")
        </div>
    </div>
    #if( $page.myOrders.size() gt 0 )
    <div class="row">
        <h4>My Past Orders</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Date</th>
                    #foreach($col in $page.extraColumns)
                    <td>$col</td>
                    #end
                </tr>
                </thead>
                <tbody>
                #foreach($order in $page.myOrders)
                <tr>
                    <td>$order.id</td>
                    <td>$order.product.name</td>
                    <td><abbr title="$formatter.formatDateISO8601($order.orderedDate)" class="info timeago">$order.orderedDate</abbr></td>
                    #foreach($col in $page.extraColumns)
                    <td>$!page.getExtraValue($order, $col)</td>
                    #end
                </tr>
                #end
                </tbody>
            </table>
        </div>
    </div>
    #end

    <script type="text/javascript">
        $(function () {
            $("abbr.timeago").timeago();
            $(".productParameterSelect").change(function (e) {
                var optSelect = $(this);
                flog("productParameterSelect changed", optSelect);
                var uri = URI(window.location);
                uri.setSearch(optSelect.attr("name"), optSelect.val());
                flog("New uri", uri.toString());
                history.pushState(null, null, uri.toString());
                $("#addToCartSection").reloadFragment({
                    url: uri.toString()
                });
            });
            $(".cart-add").click(function (e) {
                e.preventDefault();
                var target = $(e.target);
                var href = target.closest("a").attr("href");
                var params = target.closest(".addToCartContainer").find(".productParameterSelect").serialize();
                flog("params", params);
                href += "?" + params;
                flog("add item", href);
                doAddToCart(href);
            });
        });
        function doAddToCart(href) {
            $.ajax({
                type: 'POST',
                url: "/checkout",
                data: {
                    addItemHref: href
                },
                datatype: "json",
                success: function (data) {
                    Msg.info("Added item to shopping cart");
                    $("#cart-link").reloadFragment();
                },
                error: function (resp) {
                    Msg.error("An error occured adding the product to your shopping cart. Please check your internet connection and try again");
                }
            });
        }
    </script>
</div>