<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Sort by</label>

        <div class="col-sm-12">
            <select class="form-control select-sort">
                <option value="title" selected="selected">Title</option>
                <option value="finalPoints">Price</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Order</label>

        <div class="col-sm-12">
            <select class="form-control select-asc">
                <option value="true" selected="selected">Ascending</option>
                <option value="false">Descending</option>
            </select>
        </div>
    </div>
</form>