#if ($reward && $reward != "")
    #set ($rewardPath = "/" + $reward)
    #set ($rewardResource = $rootFolder.find($rewardPath))

<div class="row" id="cates-list">
    #foreach($cate in $rewardResource.children.ofType.category)
            #renderCate($cate)
    #end
</div>
#else
    #if ($page)
        #set ($rewardResource = $page.closest("store"))
    <div class="row" id="cates-list">
        #foreach($cate in $rewardResource.children.ofType.category)
            #renderCate($cate)
        #end
    </div>
    #else
    <div class="row" id="fake-cates-list">
        <div class="col-sm-6 col-md-4 product-item">
            #set($bg = "/theme/img/photo_holder.png")
            <a href="$cate.href" class="cate-item">
                <div class="thumbnail cate">
                    <div class="embed-responsive embed-responsive-4by3">
                        <span class="embed-responsive-item cate-image" style="background-image: url($bg);"></span>
                    </div>
                    <div class="caption h3 text-center cate-title" title="$cate.title">Example Category Title</div>
                </div>
            </a>
        </div>
    </div>
    #end
#end

#macro(renderCate $cate)
    #if ($cate.numProducts > 0)
    <div class="col-sm-6 col-md-4 product-item">
        #set($bg = "/theme/img/photo_holder.png")
        #if( $cate.imageHref )
            #set($bg = $cate.imageHref)
        #end
        <a href="$cate.href" class="cate-item">
            <div class="thumbnail cate">
                <div class="embed-responsive embed-responsive-4by3">
                    <span class="embed-responsive-item cate-image" style="background-image: url($bg);"></span>
                </div>
                <div class="caption h3 text-center cate-title" title="$cate.title">$cate.title</div>
            </div>
        </a>
    </div>
    #end

    #if ($showSubCate == "true")
        #if($cate.children.ofType.category.size() > 0)
            #set ( $subCates = $formatter.sortByProperty( $cate.children.ofType.category, "title" ) )
            #foreach($subCate in $subCates)
                #renderCate($subCate)
            #end
        #end
    #end
#end
