/* ============================================================================
   Quiz
   ============================================================================ */
.quiz > li {
	font-size: 24px;
	color: #428BCA;
	vertical-align: top;
	position: relative;
	font-weight: bold;
}

.quiz > li .delete {
	position: absolute;
	top: -1px;
	right: 3px;
	display: none;
	color: #fff;
	width: auto;
}

.quiz > li:hover .delete {
	display: block;
}

.quiz > li > * {
	margin: 5px 0 0;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;;
	width: 95%;
}

.quiz > li > *:first-child {
	margin-top: 0;
}

.quiz > li > h3 {
	font-size: 24px;
	color: #428BCA;
}

.quiz > li > ol > li {
	color: #5CB85C;
	clear: both;
}

.quiz > li > ol > li > * {
	color: #333;
}

.quiz input[type="text"] {
	margin: 0;
}

.quiz > li > h3,
.quiz > li > p,
.quiz > li > ol > li > label {
	border: 1px solid transparent;
	padding: 5px 4px;
	height: 30px;
	line-height: 17px;
}

.quiz > li > h3:hover,
.quiz > li > p:hover,
.quiz > li > ol > li > label:hover {
	border-color: #ddd;
	background: #fff;
}

.quiz > li > ol > li > label,
.quiz > li > ol > li > input[type="text"] {
	display: inline-block;
	width: 97%;
	float: right;
}

