@brand-primary: #272727;
@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-large: 0;

@font-family-base: 'Lato', @font-family-sans-serif;
@headings-font-family: 'Gruppo', @font-family-sans-serif;

@navbar-inverse-bg: #282828;

@navbar-inverse-border: #3c3c3c;
@navbar-inverse-link-active-color: #32a5c8;

@link-color: #32a5c8;

@text-color: #999;
