<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageScheduledEmails.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageScheduledEmails.js">//</script>
    </head>
    <body>
        <section id="manageEmail" class="MainContent">
            <div class="well">Here you can create schedule tasks which send emails at specified times and intervals</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-envelope-o"></i>Scheduled tasks
                </div>
                <div class="panel-body">
                    <header class="clearfix">
                        <a class="btn btn-sm btn-success Add" href="#modalCreateJob" data-toggle="modal">Create a scheduled task</a>
                    </header>
                    <br />
                    <div id="scheduledEmails" class="Content">
                        <table class="Summary table table-hover">
                            <thead>
                                <tr>
                                    <th width="200px">Start</th>
                                    <th width="200px">End</th>
                                    <th width="200px">Last ran</th>
                                    <th width="200px">Next due</th>
                                    <th width="">Title</th>
                                    <th width="50px">Enabled</th>
                                    <th width="120px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                #if( $page.children.isEmpty() )
                                <tr>
                                    <td colspan="5">No jobs</td>
                                </tr>
                                #else
                                #foreach($email in $page.children)
                                <tr class="emailStatus$!{email.job.enabled}" data-name="$email.name">
                                    <td class="Date">$formatter.formatDate($email.job.startDate, $page.organisation.timezone)</td>
                                    <td class="Date">$formatter.formatDate($email.job.endDate, $page.organisation.timezone)</td>
                                    <td class="Date">
                                        #if( $email.lastRunDate )
                                        <abbr class="timeago" title="$formatter.formatDateISO8601($email.lastRunDate)">$email.lastRunDate</abbr>
                                        #end
                                    </td>
                                    <td class="Date">
                                        $formatter.formatAge($email.nextRunTime)
                                    </td>
                                    
                                    <td class="Name">$formatter.htmlEncode($email.job.title)</td>
                                    <td>
                                        #if( $email.job.enabled ) 
                                        <span class="fa fa-check text-success fa-2x"></span>
                                        #else
                                        <span class="fa fa-stop-circle text-danger fa-2x"></span>
                                        #end
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="$email.name" class="btn btn-sm btn-info btn-sm">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button class="btn btn-sm btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a class="Edit EditEmail" title="Edit" href="$email.name"><i class="fa fa-edit"></i> Edit</a></li>
                                                <li class="divider"></li>
                                                <li><a class="Delete DeleteEmail" title="Delete" href="$email.name"><i class="fa fa-times"></i> Delete</a></li>                                                
                                            </ul>
                                        </div>
         
                                    </td>
                                </tr>                    
                                #end 
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <div id="modalCreateJob" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create email</h4>
                    </div>
                    <form method="POST" action="." class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-message alert alert-danger" style="display: none;"></div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Enter email name</label>
                                <div class="col-md-8">
                                    <input type="text" name="name" id="name" value="" placeholder="A name for the email job" class="simpleChars form-control required"/>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer BtnBar">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-sm btn-primary" type="submit">Save changes</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                initManageEmail();
            });
        </script>
    </body>
</html>