<html>
    <head>
        <title>Report</title>
        <link href="reports.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="reports.js">//</script>
    </head>
    <body class="report reportsPage">

        <a href="/repositories/queries/version1/contenteditor?fileName=myreport.html" class="btn btn-info pull-right">
            <i class="fa fa-pencil"></i>
        </a>

        <h2>$page.title</h2>
        <div>
            $page.content
        </div>


    </body>
</html>

