<div class="date-range pull-right">
    <a class="dropdown-toggle pageSelectedDate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        -
        <span class="caret"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="padding:15px">
        <ul class="list list-inline pageDatePicker">
            <li class="">
                <a href="24-hrs">
                    <span></span>
                    24 hrs
                </a>
            </li>
            <li>
                <a href="48-hrs">
                    <span></span>
                    48 hrs
                </a>
            </li>
            <li>
                <a href="7-days">
                    <span></span>
                    7 days
                </a>
            </li>
        </ul>
    </div>    
</div>


