<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Queries</title>
        <script type="text/javascript" src="/static/ace/1.2.0/src-noconflict/ace.js">//</script>
        <script type="text/javascript" src="/static/js/keymap.js">//</script>
        <script type="text/javascript" src="/static/jquery.fullscreen/0.4.1/jquery.fullscreen-0.4.1.min.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/textEditor.js">//</script>
        <script type="text/javascript" src="manageQuery.js">//</script>
        <link rel="stylesheet" type="text/css" href="/theme/apps/admin/textEditor.css" />
    </head>
    <body>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil"></i>
                Edit default page <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Select a site</a></li>
                <li role="separator" class="divider"></li>
                #foreach( $website in $rootFolder.websites )
                <li><a target="_blank" href="$page.href?contenteditor=&website=$website.name">$website.name</a></li>
                #end
            </ul>
        </div>

        <h2>Query: $page.name</h2>
        <p class="">
            <b>Indexes: </b>
            #foreach( $index in $page.indexes)
            <a href="/manageSearch/$index" class="label label-primary">$index</a>
            #end
        </p>
        <p style="line-height: 30px">
            <b>Fields: </b>
            #foreach($field in $page.allFieldNames)
            <span class="label label-info">$field</span>
            #end
        </p>
        <div id="query">
            #set( $resp = $page.records )

            <div id="queryText" style="width: 100%; height: 200px" name="query">$page.queryJson</div>
            <small class="pull-right">Use <b>$startDate</b> and <b>$endDate</b> for standard date range parameters; <b>$orgs</b> and <b>reportingOrgs</b> for related organisations</small>
            <button class="btn btn-success runQuery">Run</button>
            <button class="btn btn-primary saveQuery">Save</button>
            <hr/>
            <div id="queryResults">
                #if( $page.queryError )
                <div class="alert alert-warning">
                    $page.queryError
                </div>
                #end

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Item</td>
                            <th>Type</th>
                            #foreach( $field in $page.queryFieldNames )
                            <th>$field</th>
                            #end
                        </tr>
                    </thead>
                    <tbody>
                        #foreach($hit in $page.records.hits.hits)
                        <tr>
                            <td>$hit.id</td>
                            <td>$hit.type</td>
                            #foreach( $field in $page.queryFieldNames)
                            <td>$!hit.fields.get($field).value</td>
                            #end
                        </tr>
                        #end
                    </tbody>
                </table>

                <h2>Raw output</h2>
                <pre id="">
                        $page.records
                </pre>
            </div>
        </div>
    </body>
</html>