<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Queries</title>
        <script type="text/javascript" src="/static/ace/1.2.0/src-noconflict/ace.js">//</script>
        <script type="text/javascript" src="/static/js/keymap.js">//</script>
        <script type="text/javascript" src="/static/jquery.fullscreen/jquery.fullscreen-0.4.1.min.js">//</script>
        <script type="text/javascript" src="/theme/apps/admin/textEditor.js">//</script>
        <script type="text/javascript" src="manageQuery.js">//</script>
        <link rel="stylesheet" type="text/css" href="/theme/apps/admin/textEditor.css" />
    </head>
    <body>
        <h2>Query Table: $page.name</h2>
        <a href="${page.href}?as=json" class="btn btn-info">JSON</a> |
        <a href="${page.href}?as=csv" class="btn btn-info">CSV</a> |
        
        <div id="queryTable">
            #set( $resp = $page.records )

            <div id="queryResults">
                #set( $paginator = $formatter.paginator().pageSize(20).totalRecords($page.records.numRows) )
                #set($records = $paginator.records($page.records.rows))
                
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            #foreach( $field in $page.fieldNames )
                            <th>$field</th>
                            #end
                        </tr>
                    </thead>
                    <tbody>
                        #foreach($row in $records)
                        <tr>
                            #foreach( $field in $row )
                            <td>$field</td>
                            #end
                        </tr>
                        #end
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                $!paginator.html("records")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>