
#if (!$groups)
    #set ($groups = '')
#end
#set($selectedOrgId = "")
#foreach($cookie in $request.getCookies())
    #if ($cookie.getName() eq "selectedOrg")
        #set($selectedOrgId = $cookie.getValue())
    #end
#end
#if ($userResource)
    #set ($orgList = $formatter.newArrayList())
    #foreach($membership in $userResource.profile.allMemberships())
        #if ($groups.contains($membership.groupName) && !$orgList.contains($membership.org))
            #call($orgList.add($membership.org))
            #if ($selectedOrgId == $membership.org.orgId)
                #set ($selectedOrg = $membership.org)
            #end
        #end
    #end
<div class="org-selector">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuOrgSelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            #if( $selectedOrg )
                $selectedOrg.title
            #else
                [No organisation selected]
            #end
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu orgSelectorWrap" aria-labelledby="dropdownMenuOrgSelector">
            #if( $orgList.isEmpty() )
            <li>No selections available</li>
            #else
            #foreach( $m in $orgList)
                #if ($selectedOrg.orgId == $m.orgId)
                    <li><a href="javascript:void (0)"><i class="fa fa-check text-success"></i> $m.title</a></li>
                #else
                    <li><a data-orgId="$!m.orgId" href="javascript:void (0)"><i class="fa fa-check" style="visibility: hidden"></i> $m.title</a></li>
                #end
            #end
            #end
        </ul>
    </div>
</div>
#else
#end


#macro( call $foo )#if($foo)#**##end#end