#if( !$height )
    #set( $height = 200 )
#end

#if( !$title )
#set( $title = "Query Table" )
#end

#set ($queryTableId = "query-component-tbody-" + $formatter.randomGuid)
#set ($queryCompId = "query-component-" + $formatter.randomGuid)
#if ($params.from)
#set ($from = $params.from)
#else
#set ($from = 0)
#end

#set ($from = $formatter.toInteger($from))
#set ($itemsPerPage = $formatter.toInteger($itemsPerPage))

#set( $queryBean = $page.queryBean )
#set( $queryBean = $applications.Reporting.getQuery($query))
#set( $fields = $applications.Reporting.getQueryFieldNames($queryBean) )

<div class="panel panel-default panel-query-table" id="$queryCompId">
    <div class="panel-heading">
        <i class="fa fa-table"></i> $title

    </div>
    <div class="panel-body query-table">
        <div class="table-responsive" style="height: $!{height}px; min-height: 0;">
            <table class="table table-striped">
                #if( $formatter.toBool($headers) )
                <thead>
                    <tr>
                        #foreach( $field in $fields)
                        <th>$field</th>
                        #end
                    </tr>
                </thead>
                #end
                
                <tbody id="${queryTableId}">
                #set( $paginator = $formatter.paginator().pageSize($itemsPerPage).skipToStart(false) )
                #set( $results = $applications.Reporting.runQuery($queryBean, $paginator.start, $paginator.pageSize) )
                    #set ($r = $paginator.totalRecords($formatter.toInteger($results.hits.totalHits)))
                    #set ($hitList = $formatter.newArrayList())
                    #foreach($row in $results.hits.hits )
                        #set ($r = $hitList.add($row))
                    #end
                    #foreach($row in $paginator.records($hitList))
                    <tr>
                        #foreach( $field in $fields)
                        <td>$!row.fields.get($field).value</td>
                        #end
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        #if( $formatter.toBool($showpaginator) )
        <nav class="queryTablePaginator">
            $!paginator.html
        </nav>
        #end
    </div>
</div>


