#if( !$height )
    #set( $height = 200 )
#end
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart"></i> Query Table
        #set( $queryBean = $applications.Reporting.getQuery($query) )
        #set( $results = $applications.Reporting.runQuery($queryBean) )

    </div>
    <div class="panel-body">
        <div style="height: $!{height}px">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        #foreach($row in $results.hits.hits)
                        <tr>
                            <td>$row</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>