#if( !$height )
    #set( $height = 200 )
#end

#set ($queryTableId = "query-component-tbody-" + $formatter.randomGuid)
#set ($queryCompId = "query-component-" + $formatter.randomGuid)
#if ($params.from)
#set ($from = $params.from)
#else
#set ($from = 0)
#end

#set ($from = $formatter.toInteger($from))
#set ($itemsPerPage = $formatter.toInteger($itemsPerPage))

<div class="panel panel-default panel-query-table" id="$queryCompId">
    <div class="panel-heading">
        <i class="fa fa-table"></i> Query Table
        #set( $queryBean = $applications.Reporting.getQuery($query))
        #set( $fields = $applications.Reporting.getQueryFieldNames($queryBean) )
    </div>
    <div class="panel-body">
        <div class="table-responsive" style="height: $!{height}px; min-height: 0;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        #foreach( $field in $fields)
                        <th>$field</th>
                        #end
                    </tr>
                </thead>
                <tbody id="${queryTableId}">
                    #set( $paginator = $formatter.paginator().pageSize($itemsPerPage) )
                    #set( $results = $applications.Reporting.runQuery($queryBean, $paginator.start, $paginator.pageSize) )
                    #set ($r = $paginator.setTotalRecords($formatter.toInteger($results.hits.totalHits)))
                    #set ($hitList = $formatter.newArrayList())
                    #foreach($row in $results.hits.hits )
                        #set ($r = $hitList.add($row))
                    #end
                    #set ($r = $paginator.records($hitList))
                    #foreach($row in $results.hits.hits)
                    <tr>
                        #foreach( $field in $fields)
                        <td>$!row.fields.get($field).value</td>
                        #end
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <nav class="queryTablePaginator">
            $!paginator.html
        </nav>
    </div>
</div>

<script src="/static/reload-fragment/1.0.2/jquery.reload-fragment-1.0.2.js"></script>
<script>
    $(function(){
        $(document).on('click', '#$queryCompId a', function(e){
            e.preventDefault();

            var href = $(this).attr('href');
            if (href.indexOf('/_components/queryTable/') === -1){
                href = '/_components/queryTable'+ href;
            }
            var id = '#$queryCompId';
            var comp = $(id);
            var query = comp.parents('[data-type=component-queryTable]').attr('data-query');
            var perPage = comp.parents('[data-type=component-queryTable]').attr('data-items-per-page');
            var height = comp.parents('[data-type=component-queryTable]').attr('data-height');
            href += '&data-query='+encodeURI(query);
            href += '&data-items-per-page='+encodeURI(perPage);
            href += '&data-height='+encodeURI(height);
            comp.reloadFragment({
                url: href,
                whenComplete: function(resp){
                    comp.find('.panel-body').html($(resp).find('.panel-body').html());
                }
            });
        });
    });
</script>