<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageRepos.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageRepos.js">//</script>
    </head>
    <body class="manage-repos">
        <div class="well">
            <p>A repository is a container for files, you can think of it like a hard disk
                in the internet. There are different types of repositories for different functions. A <b>website</b>
                in Fuse is a repository which is connected to a domain name.</p>
            <p>Here you can upload files, create folders and create and edit web pages. But
                you should tread carefully - not all repositories are meant to be used this way!</p>
        </div>

        <p>
            <a href="#" class="btn btn-sm btn-success btn-add-repo"><i class="fa fa-plus"></i> Add new repository</a>
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-data "></i>
                Repositories
            </div>
            <div class="panel-body">
                <div class="">
                    <table id="table-repo" class="table table-striped table-hover">
                        <colgroup>
                            <col style="width: 50px" data-sort="false" />
                            <col />
                            <col />
                            <col style="width: 100px" />
                            <col style="width: 150px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Current branch</th>
                                <th>Public</th>
                                <th class="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($w in $page.repositories)
                            <tr>
                                <td class="icon text-info">
                                    #if( $w.repoType == "W" )
                                    <i class="fa fa-globe"></i>
                                    #elseif( $w.repoType == "B" )
                                    <i class="fa fa-quote-right"></i>
                                    #elseif( $w.repoType == "CA" )
                                    <i class="fa fa-calendar-o"></i>
                                    #elseif( $w.repoType == "AP" )
                                    <i class="fa fa-code"></i>
                                    #else
                                    <i class="fa fa-folder-o"></i>
                                    #end
                                </td>
                                <td>
                                    <h5><a href="/repositories/$w.name" class="repo">$w.name</a></h5>
                                </td>
                                <td>$w.liveBranch</td>
                                <td class="public">
                                    <div data-off="danger" data-on="success" class="make-switch switch-small btn-switch-public" data-link="../repositories/$w.nam">
                                        $formatter.checkbox($w.name, $w.publicContent)
                                    </div>
                                </td>
                                <td class="action">
                                    <div class="btn-group btn-group-sm">
                                        <a href="../repositories/$w.name" class="btn btn-sm btn-primary btn-sm"> <i class="fa fa-edit"></i> Files
                                        </a>
                                        <button class="btn btn-sm btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                        	<li><a name="$w.name" class="btn-update-repo">Rename</a></li>
                                            <li><a href="../repositories/$w.name/$w.liveBranch/commits" class="">History (Live)</a></li>
                                            <li><a href="../repositories/$w.name/manageBranches" class="">Branches and History</a></li>
                                            <li><a class="transfer-ownership" href="../repositories/$w.name">Transfer ownership</a></li>
                                            <li>
                                                <a class="btn-delete-repo" href="../repositories/$w.name"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="modal-new-repo" class="modal modal-sm fade" aria-hidden="true" tabindex="-1">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 id="repoModal" class="modal-title">Add new repository</h4>
            </div>
            <form method="POST" action="." class="form-horizontal">
                <div class="modal-body">
                	<input type="hidden" id="updateRepo" name="updateRepo"/>
                    <div class="form-message alert alert-danger" style="display: none;"></div>
                    <div class="form-group">
                        <label for="newName" class="col-md-3 control-label">Repository name</label>
                        <div class="col-md-8">
                            <input type="text" class="required simpleChars form-control" placeholder="Enter a simple name, eg MyFiles" id="newName" name="newName"/>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
            </form>
        </div>

        <script type="text/javascript">
            $(function () {
                initManageRepos();
            });
        </script>
    </body>
</html>