<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageRepos.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageRepos.js">//</script>
    </head>
    <body class="manage-repos">
        <a href="#" class="btn btn-sm btn-primary btn-add-repo"><i class="fa fa-plus fa-white"></i> Add new repository</a>
        
        <div class="panel panel-default">
	        <div class="panel-heading">
		        <i class="fa clip-data "></i>
		        Repositories
		        <div class="panel-tools">
			        <a href="#" class="btn btn-xs btn-link panel-collapse collapses">
			        </a>
			        <a href="#" class="btn btn-xs btn-link panel-close">
				        <i class="fa fa-times"></i>
			        </a>
		        </div>
	        </div>
	        <div class="panel-body">
                <table id="table-repo">
                    <tbody>
                        #foreach($w in $page.repositories)
                            <tr>
                                <td>
                                    <h5>$w.name</h5>
                                    <p>
                                        Current branch: $w.liveBranch, Public: 
                                        <span class="repoPublicAccess">$w.publicContent</span> 
                                        <a href="../repositories/$w.name" class="togglePublic togglePublic-$w.publicContent">(change)</a> 
                                    </p>
                                </td>
                                <th>
                                    <a href="../repositories/$w.name" class="btn btn-blue" target="_blank">View</a> 
                                    <a href="../repositories/$w.name/$w.liveBranch/commits" target="_blank" class="btn btn-blue">History</a> 
                                    <a class="btn btn-orange btn-delete-repo" href="../repositories/$w.name">Delete</a>
                                </th>                                        
                            </tr>
                        #end
                    </tbody>
                </table>
	        </div>
        </div>
        
        <div id="modal-new-repo" class="modal modal-xs fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">Add new repository</h4>
	        </div>
	        <div class="modal-body">
                <form method="POST" action=".">
                    <div class="form-group">
                        <label for="newName" class="col-md-4 control-label"></label>
                        <div class="col-md-8">
                            <input type="text" class="required simpleChars form-control" placeholder="Enter a simple name, eg MyFiles" id="newName" name="newName"/>
                        </div>
                    </div>
                </form>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
		        <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
	        </div>
        </div>        
        
        <script type="text/javascript">
            jQuery(function() {
                initManageRepositories();
                $("form.addOrg").forms({
                    callback: function(resp) {
                        log("done", resp);
                        window.location.reload();
                    }
                });                
                
            });
        </script>
    </body>
</html>