<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageRepos.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageRepos.js">//</script>
    </head>
    <body class="manage-repos">
        <p>
	        <a href="#" class="btn btn-primary btn-add-repo"><i class="fa fa-plus"></i> Add new repository</a>
        </p>
        
        <div class="panel panel-default">
	        <div class="panel-heading">
		        <i class="clip-data "></i>
		        Repositories
	        </div>
	        <div class="panel-body">
                <table id="table-repo" class="table table-striped table-hover table-bordered table-data">
	                <colgroup>
		                <col style="width: 60px" data-sort="false" />
		                <col />
		                <col />
		                <col style="width: 100px" />
		                <col style="width: 220px" />
	                </colgroup>
	                <thead>
		                <tr>
			                <th>Status</th>
			                <th>Name</th>
			                <th>Current branch</th>
			                <th>Public</th>
			                <th class="action">Action</th>
		                </tr>
	                </thead>
                    <tbody>
                        #foreach($w in $page.repositories)
                            <tr>
	                            <td class="icon">
		                            <i class="clip-checkmark-circle-2"></i>
	                            </td>
                                <td>
	                                <h5>$w.name</h5>
                                </td>
	                            <td>$w.liveBranch</td>
	                            <td class="public">
		                            <div data-off="danger" data-on="success" class="make-switch switch-small btn-switch-public" data-link="../repositories/$w.nam">
			                            $formatter.checkbox($w.name, $w.publicContent)
		                            </div>
                                </td>
                                <td class="action">
                                   <div class="btn-group">
	                                   <a href="../repositories/$w.name" class="btn btn-success" target="_blank">View</a>
	                                   <a href="../repositories/$w.name/$w.liveBranch/commits" target="_blank" class="btn btn-success">History</a>
	                                   <a class="btn btn-orange btn-delete-repo" href="../repositories/$w.name">Delete</a>
                                   </div>
                                </td>
                            </tr>
                        #end
                    </tbody>
                </table>
	        </div>
        </div>
        
        <div id="modal-new-repo" class="modal modal-xs fade" aria-hidden="true" tabindex="-1">
	        <div class="modal-header">
		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
		        <h4 class="modal-title">Add new repository</h4>
	        </div>
	        <div class="modal-body">
                <form method="POST" action="." class="form-horizontal">
                    <div class="form-group">
                        <label for="newName" class="col-md-4 control-label">Repository name</label>
                        <div class="col-md-8">
                            <input type="text" class="required simpleChars form-control" placeholder="Enter a simple name, eg MyFiles" id="newName" name="newName"/>
                        </div>
                    </div>
                </form>
	        </div>
	        <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
		        <button class="btn btn-primary" data-type="form-submit" type="button">Save</button>
	        </div>
        </div>        
        
        <script type="text/javascript">
            jQuery(function() {
                initManageRepos();
            });
        </script>
    </body>
</html>