<div class="softwareRego" style="width: 300px; float: right">
    <h2>Get a Registration</h2>
    <p>Please use the form below to generate registration files which will be sent to your email address</p>
    <p>$softwareProduct.description</p>
    <form method="POST" action="register" class="registerSoftware form-horizontal form-horizontal-narrower">
        <div class="alert alert-danger pageMessage">.</div>

        #if( $softwareProduct.validityDays )
        <div class="control-group">
            <label class="control-label" for="">Expiry Date</label>
            <div class="controls">
                <input type="date" disabled="true" value="$formatter.formatDate($formatter.addDays($formatter.now, $softwareProduct.validityDays.intValue()))"/>                
            </div>
        </div>            

        #end

        #foreach($propName in $softwareProduct.requiredPropertyNames)
        <div class="control-group">
            <label class="control-label" for="inputEmail">$propName</label>
            <div class="controls">
                <input type="text" class="required" name="$propName" />
            </div>
        </div>
        #end

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-sm btn-primary">Email my registration</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {

        jQuery("form.registerSoftware").forms({
            validate: function(form) {
                if (userUrl == null || userUrl.length == 0) {
                    log("no user");
                    showRegisterOrLoginModal(function() {
                        jQuery("form.registerSoftware button").click();
                    });
                    return false;
                } else {
                    log("current user is", userUrl);
                }
                return true;
            },
            onSuccess: function() {
                Msg.success("Thank you! Your registration files have been sent to your email address");
            }
        });
    });
</script>   