#set( $start = $formatter.addDays( $formatter.now, -7 ) )
<div class="ktile-wrapper">
    <div class="ktile ktile-md-h">
        <div class="ktile-inner">
            <div class="ktile-body">
                <div class="ktile-front bgm-blue">
                    <div class="ktile-content">
                        <div class="row" style="margin: 0">
                            <a href="/manageContacts" class="c-white">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$rootFolder.find("/manageContacts").dbCount($start)</div>
                                    <div>contacts in 7 days</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
