<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Contact Requests</title>
    </head>
    <body class="manageEmail">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-info"></i>
                Request infomation
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Contacted</th>
                                <td>$page.contactRequest.createdDate</td>
                            </tr>
                            <tr>
                                <th>Website</th>
                                <td>$page.contactRequest.website.name</td>
                            </tr>
                            <tr>
                                <th>Contact form</th>
                                <th>$page.contactRequest.contactForm</th>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>
                                    #if( $page.contactRequest.email )
                                    <a href="mailto:$page.contactRequest.email">$page.contactRequest.email</a>
                                    #end
                                </td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>$!page.contactRequest.phone</td>
                            </tr>
                            #if( $page.contactRequest.company )
                            <tr>
                                <th>Company</th>
                                <td>$page.contactRequest.company</td>
                            </tr>
                            #end
                            <tr>
                                <th>Browser</th>
                                <td>$!page.contactRequest.userAgent</td>
                            </tr>
                            <tr>
                                <th>IP Address</th>
                                <td>$!page.contactRequest.sourceIp</td>
                            </tr>
                            <tr>
                                <th>Message</th>
                                <td>$!page.contactRequest.message</td>
                            </tr>
                            #foreach($field in $page.contactRequest.fields )
                            #if( !$field.startsWith("attach.") )
                            <tr>
                                <th>$field.fieldName</th>
                                <td>$field.fieldValue</td>
                            </tr>
                            #end
                            #end

                            #if( $page.profile )
                            #set($memberships = $page.profile.memberships( $page.organisation ) )
                            #if( $memberships.isEmpty() )
                            <tr>
                                <th>Profile</th>
                                <td><b>$page.profile.formattedName</b> <small class="text-muted">(but does not have any memberships to your account)</small></td>
                            </tr>
                            #else
                            <tr>
                                <th>Profile</th>
                                <td>
                                    <a href="/manageUsers/$page.profile.id">$page.profile.formattedName</a>
                                    <a href="/manageUsers/$page.profile.id#webactivity-tab" class="btn btn-info pull-right">Browing history</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Member of</th>
                                <td>
                                    #foreach($gm in $memberships)
                                    <span class="label label-info">$gm.groupEntity.name</span>,
                                    #end
                                </td>
                            </tr>
                            #end
                            #end
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <a class="acknowledge btn btn-success" href="$page.contactRequest.id"><i class="glyphicon glyphicon-ok"></i> Hide</a>
                        <a href="#" class="btn btn-danger btn-delete-requests" role="button"><i class="fa fa-times"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>

        #if( !$page.contactRequest.attachments.isEmpty() )
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-clip "></i>
                Attachments
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($att in $page.contactRequest.attachments)
                            <tr>
                                <td><a href="/_hashes/files/$att.attachmentHash" download="$att.attachmentFilename">$att.attachmentFilename</a></td>
                                <td>$att.contentType</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        #end


        <script type="text/javascript">
            $(function () {
                $(".acknowledge").on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: e.currentTarget.href,
                        data: {
                            acknowledge: true
                        },
                        success: function (data) {
                            flog("success", data);
                            goBackToContactList();  
                        },
                        error: function (resp) {
                            Msg.error("There was an error: " + resp);
                        }
                    });
                });

                $(".btn-delete-requests").on('click', function (e) {
                    e.preventDefault();

                    var idToDelete = e.currentTarget.href;
                    deleteFile(idToDelete, function () {
                         goBackToContactList(); 
                    });
                });

                function goBackToContactList() {
                    var patt = new RegExp("(.*?)/[0-9]");
                    window.location = patt.exec(window.location)[1];
                }
            });
        </script>

    </body>
</html>
