<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Contact Requests</title>
    </head>
    <body>
        <section id="manageEmail" class="MainContent">
            <article class="Note">Below is a list of recently received contacts from your websites. Click on an item to see more information</article>
            <div class="Content">
                <table style='width: 100%' class='Summary'>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    #if( $page.recent.isEmpty() )
                    <tr>
                        <td colspan="3">No contact requests</td>
                    </tr>
                    #else
                    #foreach($cr in $page.recent)
                    <tr class="emailStatus$!{email.status}">
                        <td class="Date"><acronym title="$cr.createdDate">$formatter.formatDate($cr.createdDate)</acronym></td>
                        <td class="Name">$formatter.htmlEncode($cr.firstName) $formatter.htmlEncode($cr.surName)</td>
                        <td class="">$formatter.htmlEncode($cr.phone)</td>
                        <td class="">$!cr.email</td>
                        <td>
                            <aside>
                                <!--
                                <a class="Delete DeleteEmail" title="Delete" href="$cr.id">
                                    <span class="Hidden">Delete</span>
                                </a>
                                -->
                                <a class="View ViewEmail" title="View" href="$cr.id">
                                    <span class="Hidden">View</span>
                                </a>
                            </aside>
                        </td>
                    </tr>                    
                    #end 
                    #end
                    </tbody>
                </table>
            </div>
        </section>
        <div id="modalCreateJob" class="Modal">
            <header>
                <h3>Create email</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="POST" action=".">
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="name">Enter email name</label></th>
                            <td><input type="text" name="name" id="name" value="" placeholder="A name for the email job" class="required simpleChars" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="BtnBar">
                                <button class="Btn" type="submit">Save changes</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManageEmail();
            });
        </script>
    </body>
</html>