.kpoll-tile {
    .kpoll-question {
        font-size: @font-size-h3;
    }
    
    form {
        position: static;
    }
    
    .kpoll-point {
        position: absolute;
        top: 0;
        right: 0;
        background: @brand-primary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        font-size: 15px;
    }
    
    .kpoll-action {
        text-align: right;
    }
    
    .kpoll-anwsers {
        margin: 0;
    }
    
    .kpoll-anwser {
        display: inline-block;
        margin: 0 20px 10px 0 !important;
    }
    
    .kpoll-action {
        margin-top: 10px;
    }
    
    .kpoll-success{
        h3 {
            margin: 10px 0 0;
        }
        
        p.lead {
            margin: 0;
        }
    }
}
