<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Auction</title>
        <script type="text/javascript" src="manageAuction.js">//</script>
        <script type="text/javascript" src="/static/bootstrap-upcrop-image/1.0/bootstrap-upcrop-image.js">//</script>
        <style>
            .btn-upload-photo {
                width: 160px;
                cursor: pointer;
            }

            .del-image {
                position: absolute;
                top: 10px;
                right: 25px;
            }

            .mk-default {
                position: absolute;
                top: 0px;
                left: 15px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .group-list {
                margin-bottom: 5px;
                display: inline-block;
                border-radius: 5px;
                margin-right: 5px;
                padding: 5px 10px;
                padding-right: 5px;
            }
        </style>
    </head>
    <body>
        <form id="mainForm" action="" method="POST" role="form">
            <div id="manageAuction" class="MainContent tabbable">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                        <button class="btn btn-sm btn-warning Cancel" type="button">
                            Cancel
                        </button>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default article-preview" target="_blank" href="$page.href?goto=">Preview</a>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a>Select a version:</a></li>
                                <li class="divider"></li>
                                #foreach($version in $page.website.branches)
                                    <li><a target="_blank" href="$page.href?goto=$!version.name">$!version.name</a></li>
                                #end
                            </ul>
                        </div>
                    </div>
                    <ul class="TabNav nav nav-tabs tab-bricky pull-left">
                        <li class=""><a href="#details" data-toggle="tab">Details</a></li>
                        <li class=""><a href="#groups" data-toggle="tab">Groups</a></li>
                        <li class=""><a href="#organisations" data-toggle="tab">Organisations</a></li>
                        <li class=""><a href="#history" data-toggle="tab">History</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane Details" id="details">
                        <table class="Details form-horizontal">
                            <colgroup>
                                <col width="20%" />
                                <col width="80%" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Auction title</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" id="auctionTitle" name="title" placeholder="Enter a title here" value="$page.auctionTitle" class="form-control required" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auction name</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <input type="text" id="auctionName" name="name" placeholder="Enter a name here" value="$page.name" class="form-control required reallySimpleChars" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auction Type</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="auctionType" class="form-control">
                                                    #foreach($st in $page.auctionTypesMap.entrySet())
                                                    $formatter.option($st.key, $st.value, $page.auctionType)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="status" class="form-control">
                                                    #foreach($st in $page.statuses)
                                                    $formatter.option($st.name(), $st.name(), $page.status.name())
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="website" class="form-control">
                                                    #foreach($st in $page.organisation.websites())
                                                    $formatter.option($st.name, $st.name, $page.website.name)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Reward</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <select name="auctionReward" class="form-control">
                                                    <option value="">[None]</option>
                                                    #foreach($reward in $page.rewards)
                                                        $formatter.option($reward.name, $reward.title, $page.selectedReward.name)
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Product SKU</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" name="sku" value="$!page.sku" />
                                                <br />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Template</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" name="template" value="$!page.template" />
                                                <br />
                                                <i>Leave blank for default, otherwise a path to a template, eg /learner/competition.html</i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Start Value</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" name="auctionStartValue" value="$!page.auctionStartValue" />
                                                <br />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Choose a start date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" id="auctionStartDate" name="auctionStartDate" placeholder="Start date" data-provide="datetimepicker" value="$formatter.formatDateTime($page.auctionStartDate, $page.organisation.timezone)" class="form-control date-time" />
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Choose a end date</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="text" id="auctionEndDate" name="auctionEndDate" placeholder="End date" data-provide="datetimepicker" value="$formatter.formatDateTime($page.auctionEndDate, $page.organisation.timezone)" class="form-control date-time" />
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Pictures<br />
                                        <small><i>This image will sit next to the description</i></small>
                                    </td>
                                    <td>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="clip-pictures"></i>Product images
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-4 col-md-2">
                                                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-add-image">
                                                            <i class="fa fa-plus"></i> Add image
                                                        </button>
                                                    </div>
                                                    <div id="product-images">
                                                        #foreach($i in $page.images)
                                                            <div class="col-xs-6 col-md-3 product-image-thumb">
                                                                <a href="$formatter.percentEncode($i.name)" target="_blank" class="thumbnail">
                                                                    <img src="$formatter.percentEncode($i.name)/alt-150-150.png" />
                                                                </a>
                                                                <a class="del-image btn btn-xs btn-danger" href="$formatter.percentEncode($i.name)">
                                                                    <span class="fa fa-times"></span>
                                                                </a>
                                                                <span class="label label-default">
                                                                    #if( $i.orientation )
                                                                        $i.orientation
                                                                    #else
                                                                        Default
                                                                    #end
                                                                </span>
                                                            </div>
                                                        #end
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Description<br />
                                        <small><i>This copy will sit next to the image and tell the user about the auction</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group editor-wrapper">
                                            <div class="col-sm-12">
                                                <textarea cols="120" name="auctionDescription" rows="10" class="htmleditor toolbar-Lite" placeholder="">$!page.description</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Body<br />
                                        <small><i>This will be seen by users when viewing an auction</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group editor-wrapper">
                                            <div class="col-sm-12">
                                                <textarea cols="120" name="body" rows="10" class="htmleditor" placeholder="">$page.body</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Notes
                                        <br />
                                        <small><i>These notes are for internal purposes only.</i></small>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea cols="120" class="form-control" name="notes" rows="10" placeholder="Enter your notes here">$!page.notes</textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="history">
                        <table class="table table-striped">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Value</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Created</td>
                                <td><abbr title="$formatter.formatDateISO8601($page.createdDate)" class="timeago">$page.createdDate</abbr></td>
                                <td></td>
                                <td><a href="/manageUsers/$page.createdBy.userId">$page.createdBy.name</a></td>
                            </tr>
                            #foreach($c in $page.bidHistory)
                                <tr>
                                    <td>Bid</td>
                                    <td><abbr title="$formatter.formatDateISO8601($c.changeDate)" class="timeago">$c.changeDate</abbr></td>
                                    <td>$c.bidValue</td>
                                    <td>
                                        <a href="/manageUsers/$c.changedBy.userId">$c.changedBy.name</a>
                                        #foreach( $m in $c.changedBy.primaryMemberships() )
                                            #if( $m.org.id != $page.organisation.id )
                                                $m.org.title
                                            #end
                                        #end
                                    </td>
                                </tr>
                            #end
                            #if($page.winningBid)
                                <tr>
                                    <td>Winner</td>
                                    <td><abbr title="$formatter.formatDateISO8601($page.createdDate)" class="timeago">$page.winningBid.changeDate</abbr></td>
                                    <td>$page.winningBid.bidValue</td>
                                    <td><a href="/manageUsers/$page.createdBy.userId">$page.winningBid.changedBy.name</a></td>
                                </tr>
                            #end
                            #if($page.auctionClosed)
                                <tr>
                                    <td>Closed</td>
                                    <td><abbr title="$formatter.formatDateISO8601($page.auction.auctionProcessedDate)" class="timeago">$page.auction.auctionProcessedDate</abbr>
                                    </td>
                                    <td></td>
                                    <td><a href="/manageUsers/$page.createdBy.userId">$page.createdBy.name</a></td>
                                </tr>
                            #end
                        </table>
                    </div>

                    <div class="tab-pane" id="groups">
                        <button class="btn btn-sm btn-primary Add AddGroup" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus"></i> Add/remove groups</button>
                        <div class="well margin-top-10">Add user groups to auction to allow these users to directly access the auction.</div>
                        <div class="GroupList">
                            #foreach($g in $page.selectedGroups)
                                <!-- <button class="btn btn-sm btn-default reset-margin-bottom" type="button">$g.name</button> -->
                                #genGroup($g)
                            #end
                        </div>
                    </div>

                    <div class="tab-pane" id="organisations">
                        <button class="btn btn-sm btn-primary Add AddOrganisation" data-toggle="modal" data-target="#modalOrganisations">
                            <i class="fa fa-plus"></i> Add/remove organisations
                        </button>
                        <div class="well margin-top-10">Add organisations to auction to allow these users to directly access the auction.</div>
                        <div id="OrganisationList" class="OrganisationList">
                            #foreach($g in $page.selectedOrganisations)
                                <div class="btn btn-sm btn-default">
                                    <span> $g.formattedName </span>
                                    <a href="$g.orgId" name="$g.formattedName" class="btn btn-xs btn-danger" title="Delete"><i class="fa fa-times"></i></a>
                                </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="modalGroup" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose groups</h4>
                    </div>
                    <div class="modal-body">
                        <div class="ListItem">
                            #foreach($g in $page.allGroups)
                                <div class="panel panel-default">
                                    <div class="panel-body membership">
                                        <label for="$g.name">$g.name</label>
                                        <label class="pull-right" data-groupType="$!g.groupType">$formatter.checkbox($g.name, $page.isGroupSelected($g))</label>
                                    </div>
                                </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalOrganisations" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Organisation</h4>
                    </div>
                    <div class="modal-body">
                        #set($organisations = $page.organisations)
                        #if($organisations.isEmpty())
                        #else
                            <form method="POST" action="." class="form-horizontal">
                                <div class="groups">
                                    <p>Select an organisation that is allowed to access this auction.</p>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control required" autocomplete="off" name="orgTitle" id="orgTitle" value="$page.organisation.formattedName" />
                                            <input type="hidden" class="required" autocomplete="off" name="orgId" id="orgId" value="$page.organisation.id" />
                                        </div>
                                        <div id="org-search">

                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-condensed">
                                                    #if( $page.orgSearchResults.isEmpty() )
                                                        <tbody>
                                                            <tr>
                                                                <td>No matching organisations found</td>
                                                            </tr>
                                                        </tbody>
                                                    #else
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Title</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            #foreach($org in $page.orgSearchResults)
                                                                <tr>
                                                                    <td>$org.orgId</td>
                                                                    <td>$!org.formattedName</td>
                                                                    <td>$formatter.checkbox($org.orgId, $org.formattedName, $page.isOrgSelected($org))</td>
                                                                </tr>
                                                            #end
                                                        </tbody>
                                                    #end
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        #end
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-add-image" class="modal fade">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="upcrop-zone"></div>
                    <div class="edit-image-zone hide">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add new image</h4>
                        </div>
                        <form action="$page.href" method="POST" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-message alert alert-danger" style="display: none;"></div>
                                <input type="hidden" name="hash" />

                                <div class="form-group">
                                    <div class="errorHandler alert alert-danger no-display pageMessage">.</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="newTagName">Preview</label>

                                    <div class="col-sm-9">
                                        <p><img src="" class="img-responsive preview" /></p>
                                        <button class="btn btn-sm btn-success btn-add-other-img" type="button">Upload other image</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="newTagName">File name</label>

                                    <div class="col-sm-9">
                                        <input type="text" name="fileName" class="form-control required" required="true" />
                                    </div>
                                </div>
                                <input type="hidden" name="orientation" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm btn-close" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary btn-sm" type="submit">Save image</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        #macro(genGroup $group)
            #set($gc = "")
            #set($gIcon = "")
            #if( $group.groupType == "P" || !$group.groupType)
                #set($gc = "label label-success")
                #set($gIcon = "clip-users")
            #elseif( $group.groupType == "S" )
                #set($gc = "label label-info")
                #set($gIcon = "fa fa-trophy")
            #elseif( $group.groupType == "M" )
                #set($gc = "label label-info")
                #set($gIcon = "fa fa-envelope")
            #end
            <span id="group_$group.name" class="group-list $gc">
                <i class="$gIcon"></i>
                <span class="block-name" title="$group.name">$group.name</span>
                <a href="$group.name" class="btn btn-xs btn-danger btn-delete-group" title="Delete access for group $group.name"><i href="$group.name" class="fa fa-times"></i></a>
            </span>
        #end
        <script type="text/javascript">
            $(function () {
                initManageAuction();
            });
        </script>
    </body>
</html>