<h3 class="fb-title"><a class="pull-left btn-go-back" ui-sref="surveys.list" title="Back to surveys list"><i
        class="fa fa-arrow-left"></i></a>Analytic</h3>
<highchart id="chart-{{survey.slug}}" config="chartOption"></highchart>

<h3 class="mt3x fb-title">{{survey.name}}</h3>
<p><strong>Survey question</strong></p>
<p>{{survey.question}}</p>
<div class="mt3x"></div>
<div class="form-group">
    <label for="" class="control-label"><strong>Website url:</strong><code>{{survey.website}}</code></label>
    <input type="text" ng-model="website" class="form-control hide"/>
</div>
<div class="row mt" ng-repeat="option in survey.options">
    <div class="col-md-3">
        <img ng-src="{{option.emoji}}" width="40" alt="{{option.title}}"/>
        <span>{{option.title}}</span>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <input id="option-{{option.slug}}" type="text" class="form-control form-copied" value="{{survey.website}}{{kApp}}{{option.slug}}" />
            <span class="input-group-addon btn-copy" data-clipboard-target="#option-{{option.slug}}"><i class="fa fa-clipboard"></i></span>
        </div>
    </div>
</div>
<br> <br>
<div class="row mt3x">
    <div class="col-md-12 text-center">
        <h3>HTML template</h3>
        <textarea rows="5" class="form-control" id="htmlcode">{{htmlcode}}</textarea>
        <br>
        <a class="btn btn-large btn-primary btn-copy-template" data-clipboard-target="#htmlcode" href="javascript:;" ><i class="fa fa-clipboard"></i> Copy Survey to Email</a>
    </div>
</div>
<div class="mt3x"></div>